<div class="form-group row">
    <div class="col-md-4 justify-content-start justify-content-md-end">
        <label for="testPassword" class="text-left text-md-right control-label">
            Test
        </label>
    </div>

    <div class="col-md-4">
        <div class="input-group has-addon">
<!--            <form #testForm="ngForm" name="testForm" id="testForm" novalidate>-->
                <input id="testPassword" name="testPassword"
                       class="form-control"
                       required
                       minlength="8"
                       [(ngModel)]="value"
                       (keyup)="setValue(testPassword)"
                       (blur)="setValue(testPassword)"
                       #testPassword="ngModel">
<!--            </form>-->
        </div>
    </div>

    ctrl1 : {{testPassword.valid}} / {{testPassword.touched}} / {{testPassword.errors | json}}<br />
    ctrl2 : {{inputErrors.valid}} / {{inputErrors.touched}} / {{inputErrors.errors | json}}
</div>
