@use '../../../../../styles/theme_variables' as *;
@import '~bootstrap/scss/mixins/breakpoints';

img {
    max-height: 100%;
    max-width: 100%;
}

.camera-preview-offline {
    top: 0 !important;
}

.hm-camera-preview {
    color: var(--light10);
    font-size: 16px;
    opacity: 0.6;
    text-align: center;
}

.light-camera-preview {
    @extend .hm-camera-preview;
    font-family: $font-family-regular;
    color: var(--light10);
    padding: 16px;
}

.header {
    color: var(--dark9);
    font-size: 13px;
    height: 16px;
    margin-bottom: 8px;
}

.thumbnail-preview {
    background: var(--dark1);
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px !important;
    width: 210px !important;

    &.mini {
        height: 44px !important;
        width: 84px !important;
        margin-bottom: 8px;
    }
}

.light-thumbnail-preview {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 120px !important;
    background: var(--light2);
    @include media-breakpoint-down(xs) {
        height: 100% !important;
    }
}

.wide {
    width: 213px !important;
}

.normal {
    width: 160px !important;
}

.square {
    width: 120px !important;
}

.fill {
    width: 100% !important;
}

.motion-preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark1);
    img {
        width: 100%;
        height: auto;
    }
}

#preloader-wrapper {
    width: 100% !important;
    & > nx-pre-loader {
        z-index: 100;
        width: 100% !important;
    }
}

.image-unavailable-border {
    border: 1px solid var(--light4);
    background: var(--light2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
