<h1>Há uma nova versão para {{ message.asset }} ({{ message.asset_type }}) para revisar</h1>
<p>Clique no link para revisar o rascunho {{ message.id }} para {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Versão de Revisão</a>
<h4>Nesta página você pode</h4>
<ul>
	<li>Crie uma pré-visualização para ver as alterações mais recentes.</li>
	<li>Publique esta versão que atualizará todo o conteúdo.</li>
	<li>Edite contextos clicando no botão editar registro.<br>
		Para ver essas alterações você precisará criar uma nova versão</li>
</ul>
