<h1>Olá {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> compartilhou o acesso ao sistema de gerenciamento de vídeo "{{message.system_name}}" com você.

Para o ver e gerir, por favor crie uma conta em <a href="{{config.portal_url}}">%CLOUD_NAME%</a> usando o seu endereço de e-mail atual e siga as instruções.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Você recebeu acesso ao sistema de gerenciamento de vídeo "{{message.system_name}}".

Para visualizá-lo e gerenciá-lo, crie uma conta em <a href="{{config.portal_url}}">%CLOUD_NAME%</a> usando seu endereço de e-mail atual e siga as instruções adicionais.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/authorize/register/{{message.code}}">Criar conta</a>

