<h1>Er is een nieuwe versie voor {{ message.asset }} ({{ message.asset_type }}) om te beoordelen</h1>
<p>Klik op de link om de revisie te bekijken {{ message.id }} voor {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Revisie versie</a>
<h4>Op deze pagina kunt u</h4>
<ul>
	<li>Een voorbeeld maken om de meest recente wijzigingen te zien.</li>
	<li>Deze versie publiceren die alle inhoud zal updaten.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>
