<div class="state-container">
    <div
        class="state-container--title"
        style="margin-bottom: 1rem"
        translate
    >
        Merge failed!
    </div>
    <div class="state-container--body">
        <svg-icon
            nx-add-svg-src
            [src]="icons.dirConfirmations + 'error.svg'"
            [svgStyle]="{ 'width.px': '280', 'height.px': '120', 'margin-bottom': '2rem' }"
        >
        </svg-icon>

        <div>
            <button
                class="btn btn-default"
                (click)="retry()"
                translate
            >
                Try again
            </button>
            <button
                class="btn btn-default"
                (click)="skip()"
                translate
            >
                Setup a separate System
            </button>
        </div>
    </div>
</div>
