@use "../../styles/typography";
@use "../../styles/mixins";
@use "../../../styles/theme_variables_common" as *;

:host {
    background: $light1;
    position: absolute;
    bottom: 0;
    transform: translate(-100%, 100%);
    z-index: 100;
    box-shadow: 0 1rem 2rem 0 transparentize($dark15, 0.4);
}

section {
    padding: 8px;
    border-bottom: 1px solid $light4;

    &.shaded {
        background: $additional_light1;
    }

    &.selection-area {
        max-height: 216px;
        overflow-y: auto;
    }
}

button.btn.btn-default {
    &.active, &:active, &.active:hover {
        background: $light16 !important;
        color: $light1 !important;
    }
}

.sort-button-wrapper {
    display: flex;
    & > button:not(:first-child) {
        margin-left: 8px;
    }
}

.selection-wrapper {
    margin-right: 24px;
}
