@use "../../../styles/theme_variables_common" as *;

nx-radio {
    label {
        &.disabled {
            color: var(--radio-color) !important;
            opacity: 0.3 !important;
        }
        &:hover:not([disabled]) {
            color : var(--radio-hover-color);
        }
        
        &:active:not([disabled]) {
            color : var(--radio-color) !important;
        }
    }

    .disabled {
        .nx-radio {
            opacity : .3 !important;

            .check {
                cursor : default !important;
            }

            svg path.circle {
                fill : var(--radio-color) !important;
                opacity : 0.3 !important;
            }
        }
        .check {
            cursor: default !important;
        }
    }

    & + label {
        cursor : pointer;
    }

    .nx-radio {
        display : flex;
        margin  : 0;

        input[type="radio"] {
            position : absolute;
            opacity  : 0;
        }
    
        input ~ .check {
            svg path.circle {
                fill : var(--radio-color);
            }
        }

        input:hover ~ .check {
            svg path.circle {
                fill : var(--radio-hover-color);
            }
    
            svg circle {
                fill : var(--radio-hover-check-color);
            }
    
            & ~ .text {
                color : var(--radio-hover-color);
            }
        }

        input:active ~ .check {
            svg path.circle {
                fill : var(--radio-active-color) !important;
            }
    
            & ~ .text {
                color : var(--radio-active-color) !important;
            }
        }
    }
}

.text {
    font-family : $font-family-regular;
    cursor      : pointer;
    user-select : none;
}

.check {
    cursor                      : pointer;
    position                    : relative;
    margin                      : -2px 0 0 0;
    width                       : 20px;
    height                      : 20px;
    -webkit-tap-highlight-color : transparent;

    &.checked {
        svg {
            circle {
                fill    : var(--radio-check-color);
                display : block;
            }
        }
    }

    &.tristate {
        svg {
            circle {
                fill    : rgba(var(--brand-core--rgb), .5);
                display : block;
            }
        }
    }

    svg {
        height : 16px;
        width  : 20px;

        & circle {
            display : none;
        }
    }
}
