<h1>C'è una nuova versione per {{ message.asset }} ({{ message.asset_type }}) da revisionare</h1>
<p>Clicchi sul link per rivedere il progetto {{ message.id }} per {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Versione di revisione</a>
<h4>In questa pagina puoi</h4>
<ul>
	<li>Crea un'anteprima per vedere le modifiche più recenti.</li>
	<li>Pubblica questa versione che aggiornerà tutto il contenuto.</li>
	<li>Modifica i contesti facendo clic sul pulsante Modifica record. <br>
		Per visualizzare tali modifiche dovrai creare una nuova versione</li>
</ul>
