<div [formGroup]="searchForm">
    <nx-basic-search-input formControlName="search"></nx-basic-search-input>
    <cdk-virtual-scroll-viewport
        class="scroll-area"
        [itemSize]="50"
    >
        @for (org of visibleOrgs$$(); track org.id) {
            <div
                class="scroll-item"
                (click)="org.effectiveState === 'active' && selectedOrg$$.set(org)"
                [class]="{
                    'selected-scroll-item': selectedOrg$$()?.id === org.id,
                    disabled: org.effectiveState !== 'active'
                }"
            >
                @if (org.effectiveState === 'active') {
                    <nx-search-highlight
                        [text]="org.name"
                        [search]="search$$() ?? null"
                    ></nx-search-highlight>
                } @else {
                    {{
                        '{name} ({state})'
                            | translate
                                : {
                                      name: org.name,
                                      state: org.effectiveState | translate | uppercase
                                  }
                    }}
                }
            </div>
        }
    </cdk-virtual-scroll-viewport>
</div>
