<div
    class="dropdown"
    #dropdown
    [ngClass]="{ show: show }"
    (nxClickElsewhere)="show = false"
>
    <button
        class="inset btn-dropdown-toggle dropdown-toggle-transparent dropdown-toggle"
        [ngClass]="{ 'small-icon-overrides': small }"
        (resize)="buttonWidth.next($event.width)"
        (click)="show = !show"
        type="button"
        id="accountSettingsSelect"
        data-toggle="dropdown"
    >
        <div
            class="popup arrow up"
            [ngClass]="{ invisible: !dropdownWidth$.value, 'small-override': small }"
        ></div>
        <svg-icon
            nx-add-svg-src
            [src]="CONFIG.icons.dir + 'user.svg'"
            [svgStyle]="{ 'width.px': '24', 'height.px': '24', 'margin.px': small ? '8' : '10' }"
            [applyClass]="true"
        ></svg-icon>
        <span
            *ngIf="!small"
            class="username"
            [innerText]="environment.isLocal ? settings.name : settings.email"
        ></span>
    </button>
    <div
        class="dropdown-menu"
        [ngClass]="{ invisible: !show }"
        (resize)="dropdownWidth$.next($event.width)"
        [nxArrowNav]="show"
        [style.display]="'inline-block'"
        [style.right.px]="rightOffset$.value"
        aria-labelledby="accountSettingsSelect"
    >
        <ul class="dropdown-menu--list width-override">
            <li
                *ngIf="!environment.isLocal"
                class="dropdown-item-container"
            >
                <a
                    class="dropdown-item inset"
                    (click)="hide()"
                    routerLink="/account/"
                    ><span translate>Account Settings</span>
                </a>
            </li>
            <li
                *ngIf="!environment.isLocal"
                class="dropdown-item-container"
            >
                <a
                    class="dropdown-item inset"
                    (click)="hide()"
                    routerLink="/account/password/"
                    ><span translate>Change Password</span>
                </a>
            </li>
            <li
                *ngIf="!environment.isLocal"
                class="dropdown-item-container"
            >
                <a
                    class="dropdown-item inset"
                    (click)="hide()"
                    routerLink="/account/security/"
                    ><span translate>Security</span>
                </a>
            </li>
            <li class="dropdown-item-container">
                <a
                    class="dropdown-item inset"
                    (click)="show = false; logout()"
                >
                    <span translate>Log Out</span>
                </a>
            </li>
        </ul>
        <ul
            class="dropdown-menu--footer"
            *ngIf="settings.is_staff"
        >
            <li
                class="dropdown-divider"
                role="separator"
            ></li>

            <li class="dropdown-item-container">
                <a
                    class="dropdown-item inset"
                    (click)="this.show = false; (true)"
                    href="/admin/"
                    target="_blank"
                >
                    <span translate>Administration</span>
                </a>
            </li>
        </ul>
    </div>
</div>
