@use "../../../../styles/theme_variables_common";
@import "./account-settings.component.scss";

.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: theme_variables_common.$light1 !important;
}

#accountSettingsSelect {
    color: theme_variables_common.$light1 !important;
}

.popup {
    &.arrow {
        border-bottom-color : theme_variables_common.$dark11 !important;

        &.small-override {
            left: 12px !important;
        }
    }
}

.dropdown {
    & button {
        color: theme_variables_common.$light1 !important;
    }
    &:not(.show) {
        & > #accountSettingsSelect {
            background: theme_variables_common.$dark14 !important;
            color: theme_variables_common.$light1 !important;
            border: 1px solid transparent !important;
            &:hover {
                background: theme_variables_common.$dark15 !important;
            }
            &:active {
                background: theme_variables_common.$dark13 !important;
            }

        }
    }
    &.show {
        & > #accountSettingsSelect {
            color: theme_variables_common.$light1 !important;
            border: 1px solid theme_variables_common.$dark11 !important;
            background: theme_variables_common.$dark12 !important;

            &:hover {
                background: theme_variables_common.$dark13 !important;
                border: 1px solid theme_variables_common.$dark12 !important;
            }
            &:active {
                background: theme_variables_common.$dark12 !important;
                border: 1px solid theme_variables_common.$dark11 !important;
            }

        }
    }
}
