@use '../../../../styles/theme_variables' as *;

.st0 {
    fill: $dark9 !important;
}

.dropdown-menu {
    width          : auto !important;
    padding-bottom : 4px;
    left  : auto !important;
}

.dropdown {
    position: relative !important;
    height: 41px;
    margin: 3px 3px 3px 0px;
    &-menu {
        top: 42px !important;
    }
    .arrow {
        display : none;
    }

    & > button {
        border: 1px solid transparent;
        height: 100% !important;
        border-radius: 4px;
    }

    &.show {
        .arrow {
            display : block;
            transform: translateY(3px);
            &::after {
                border-bottom-color: #FAFBFB !important;
            }
        }
        & > button {
            height: 100% !important;
            border-radius: 4px;
            background: $light3 !important;
            border: 1px solid $light4;

                &:hover {
                    background: $light4 !important;
                    border: 1px solid $light5;
                }
                &:active {
                    background: $light5 !important;
                    border: 1px solid $light6;
                }
            }
    }
}

.popup {
    &.arrow {
        bottom              : 0 !important;
        position            : absolute !important;
        top                 : auto !important;
        left                : 16px !important;
        z-index             : 9999 !important;
        border-bottom-color : $light6 !important;

        &.small-override {
            left: 12px !important;
        }

        &::after {
            border-bottom-color : $light4 !important;
        }
    }
}

#accountSettingsSelect {
    padding-left: 0px !important;
    padding-right: 16px !important;
    min-width: 41px;
    flex-shrink: 0;

    &.small-icon-overrides {
        padding-right: 0px !important;
        width: 41px !important;
    }
}

.inset.btn-dropdown-toggle.dropdown-toggle-transparent.dropdown-toggle.arrow-padding {
    padding-right: 32px !important;
}
