<ng-template #editMode>
    <ng-template #saveButton>
        <button
            class="btn btn-primary"
            (click)="saveSettings()"
            translate
            >Save Settings</button
        >
    </ng-template>
    <nx-stepper
        [saveButton]="saveButton"
        [columns]="card.size.value.cols"
    >
        <cdk-step>
            <div class="h-100 p-3">
                <h4 translate>Select system</h4>
                <nx-select
                    [items]="systemsDropdownItems$ | async"
                    [selected]="selectedSystem$ | async"
                    [stillLoading]="!(selectedSystem$ | async)"
                    (onSelected)="updateSystem($event)"
                ></nx-select>
            </div>
        </cdk-step>
        <cdk-step>
            <div class="h-100 p-3">
                <h4 translate>Select server</h4>
                <nx-select
                    [items]="serversDropdownItems$ | async"
                    [selected]="selectedServer$ | async"
                    [stillLoading]="!(selectedServer$ | async)"
                    (onSelected)="updateServer($event)"
                ></nx-select>
            </div>
        </cdk-step>
        <cdk-step>
            <div class="h-100 p-3">
                <h4 translate>Auto update</h4>
                <nx-checkbox [(ngModel)]="card.config.autoRefresh"></nx-checkbox>
                <ng-container *ngIf="card.config.autoRefresh">
                    <h4 translate>Update interval in milliseconds</h4>
                    <nx-numeric [(ngModel)]="card.config.refreshInterval"></nx-numeric>
                </ng-container>
            </div>
        </cdk-step>
    </nx-stepper>
</ng-template>

<ng-template #preloader>
    <nx-pre-loader [minHeight]="144"></nx-pre-loader>
</ng-template>

<div
    *ngIf="
        !card.editMode && card.config.selectedSystem && card.config.selectedServer;
        else editMode
    "
    class="logger-wrapper"
>
    <ng-container *ngIf="system$ | async as system; else preloader">
        <ng-template #offlinePlaceholder>
            <h2
                class="mx-auto"
                translate
                >Unable to connect to selected system</h2
            >
        </ng-template>
        <logger
            *ngIf="isOnline; else offlinePlaceholder"
            [system]="system"
            [noFrame]="true"
            [refreshInterval]="card.config.autoRefresh ? card.config.refreshInterval || 1000 : 0"
            [selectedServerId]="card.config.selectedServer"
        ></logger>
    </ng-container>
</div>
