<form #resetServerForm="ngForm" name="resetServerForm" novalidate>
    <div class="modal-header">
        <h1 class="modal-title" 
            [translate]="'serversResetTitle'"
            [translateParams]="{ title: serverName }"></h1>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="activeModal.close()" *ngIf="closable">
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <div class="modal-paragraph">
                <p>{{LANG.servers.detachServerBody.line1}}</p>
                <p>{{LANG.servers.detachServerBody.line2}}</p>
                <p>{{LANG.servers.detachServerBody.line3}}</p>
                <br>
                <p>{{LANG.servers.detachServerBody.line4}}</p>
            </div>
            <input class="form-control"
                   [(ngModel)]="password"
                   id="password"
                   name="password" type="password"
                   required nxFocusMe>
            <p class="help-block"
               *ngIf="!resetServerForm.controls['password']?.valid && resetServerForm.controls['password']?.touched">
                    <span class="input-error"
                          translate>
                        Password is required
                    </span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button [process]="resetServer"
                           [form]="resetServerForm"
                           [actionType]="'danger'"
                           buttonText="{{ 'Reset' | translate }}"></nx-process-button>

        <button type="button" class="btn btn-default" (click)="close()" translate>Cancel</button>
    </div>
</form>
