<div class="state-container">
    <div
        class="state-container--title"
        style="margin-bottom: 1.5rem"
    ></div>
    <div class="state-container--body">
        <div class="wrapper">
            <div
                class="d-flex flex-row"
                *ngFor="
                    let setting of wizardService.systemAdvancedSettings
                        | as: stringBool
                        | keyvalue: originalOrder
                "
            >
                <nx-checkbox
                    [(ngModel)]="wizardService.systemAdvancedSettings[setting.key]['settingValue']"
                    [componentId]="setting.key"
                ></nx-checkbox>
                <label [for]="setting.key">{{
                    wizardService.systemAdvancedSettings[setting.key]['settingLabel'] | translate
                }}</label>
            </div>

            <div style="margin-left: 26px; margin-top: 8px">
                <label
                    class="d-block text-left"
                    translate
                    >Security level</label
                >
                <nx-select
                    [componentId]="'securityLevelSelect'"
                    id="ddSecurity"
                    name="ddSecurity"
                    [items]="itemsSecurity"
                    [(ngModel)]="selectedSecurity"
                    (ngModelChange)="onSecurityChange($event)"
                ></nx-select>

                <div class="form-text helper-block">
                    <ng-container *ngIf="selectedSecurity.value == 'standard'; else safe">
                        <span translate
                            >Provides compatibility and usability but general system security is
                            lower</span
                        >
                    </ng-container>
                    <ng-template #safe>
                        <span translate
                            >Highest security level but may lead to user experience and
                            compatibility issues</span
                        >
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
