<nx-search
    *ngIf="searchable"
    (ngModelChange)="modelChanged($event)"
    [ngModel]="menuModel.query"
    (onFocusOut)="resetNav()"
    (onFocus)="setNav()"
    class="d-block mb-2"
    layout="search"
    name="menuModel.query"
    instant
>
</nx-search>

<div
    class="nx-menu"
    [ngClass]="{ 'mb-3 searchable': searchMode }"
    #menuWrapper
    [ngStyle]="{ height: menuHeightFit, overflow: menuOverflow }"
>
    <div
        class="nx-menu-overlay"
        *ngIf="transition"
    ></div>

    <div
        class="nx-menu-placeholder"
        *ngIf="!menuContent.length"
        translate
    >
        Nothing found
    </div>
    <div
        class="nx-menu-section"
        *ngFor="let item of menuContent; let idx = index"
    >
        <div
            class="level-1-container"
            [class.selected]="selectedLevel1 === item.id"
            *ngIf="
                menuModel.query === '' ||
                (menuModel.query !== '' && item.level3 && item.level3.length)
            "
        >
            <nx-level-1-item
                class="position-relative"
                [searchMode]="searchMode"
                [item]="item"
                [base]="content.base"
                [selected]="selectedLevel1 === item.id || menuModel.query !== ''"
                (toggle)="toggleItem($event, item.id)"
                *ngIf="item.id"
            >
            </nx-level-1-item>

            <div *ngIf="selectedLevel1 === item.id && menuModel.query === ''">
                <div
                    class="container-buttons"
                    *ngIf="subLevelButtonsFor(item).length"
                >
                    <nx-menu-button
                        *ngFor="let button of subLevelButtonsFor(item)"
                        [system]="system"
                        [button]="button"
                    ></nx-menu-button>
                </div>

                <div
                    *ngFor="
                        let subItem of subLevelItemsFor(item);
                        last as isLast;
                        trackBy: trackItem
                    "
                >
                    <nx-level-2-item
                        [item]="subItem"
                        [ngClass]="{ 'last-level-2': isLast }"
                        [base]="content.base"
                        [selected]="selectedLevel2 === subItem.id"
                        *ngIf="menuModel.query === ''"
                    >
                    </nx-level-2-item>

                    <div class="level-3-items">
                        <div *ngFor="let details of subItem.level3; trackBy: trackItem">
                            <nx-level-3-item
                                [item]="details"
                                [base]="content.base"
                                [selected]="selectedLevel3 === details.id"
                            >
                            </nx-level-3-item>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="level-3-items"
                id="level3{{ item.id }}"
                *ngIf="
                    (selectedLevel1 === item.id || (menuModel.query !== '' && searchMode)) &&
                    item.level3?.length
                "
                [ngClass]="{
                    'min-height-level-3': item.level3 && item.level3.length > 4,
                    'toggle-level-3': item.toggle
                }"
            >
                <div class="top-shadow"></div>
                <div
                    class="scroll-area"
                    #scrollArea
                    [ngStyle]="{ height: scrollHeightFit }"
                >
                    <div
                        *ngFor="
                            let details of item.level3;
                            last as isLast;
                            first as isFirst;
                            trackBy: trackItem
                        "
                    >
                        <div
                            class="horizontal"
                            *ngIf="details.horizontal"
                        >
                            <hr />
                        </div>
                        <nx-level-3-item
                            *ngIf="!details.horizontal"
                            [item]="details"
                            [ngClass]="{ 'last-level-3': isLast }"
                            [base]="content.base"
                            [first]="isFirst"
                            [selected]="selectedLevel3 === details.id"
                        >
                        </nx-level-3-item>
                    </div>
                    <div class="bottom-shadow-cover"></div>
                </div>
                <div class="bottom-shadow"></div>
            </div>
        </div>
    </div>
</div>
