<div class="system-button card card-condensed hoverable">
    <div
        class="card-body"
        (click)="openGroup()"
    >
        <h2
            class="old-h12 d-block"
            [innerHTML]="group.name | unsafe | highlight: search"
        ></h2>
        <div class="system-list-bottom-bar">
            <span class="user-name">{{
                LANG.systemGroups.groupCount({ count: group.groups.length })
            }}</span>
            <span class="user-name">{{
                LANG.systemGroups.systemCount({ count: group.systemsCount })
            }}</span>
        </div>
    </div>
</div>
