@use "_theme_variables_common" as *;
@use "css-variables/legacy-theme-provider";
@use "theme_variables_common" as theme_variables_common;
@import "@angular/cdk/overlay-prebuilt.css";
@import "theme_variables_light";
@import "theme_variables_dark";
@import "theme_variables_dark_gray";
@import "theme_variables_light_gray";
@import "theme_variables_hsl";
@import "features/channel_partner_variables";

@include legacy-theme-provider.with-legacy-theme;

html {
    @include theme_variables_common.with-html;
}


nx-app {
    .mainContainer {
        background-color: var(--body-bg);
    }

    .altMainBackground {
        background-color: var(--alt-body-bg) !important;
    }

    .placeholder {
        background-color: transparent;

        &.page {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
