@use "../../../../styles/typography";
@use "../../../../../styles/theme_variables_common" as *;

.menu-level-two {
    position: relative;
    display: inline-flex;
    height: 58px;
    background-color: var(--header-level-two-bg);
    @include typography.regular14nocolor;
    color: var(--light4) !important;

    .login {
        margin : 14px 16px 13px auto;
        width: 75px !important;
        border-radius: 4px !important;
    }

    .menu-items {
        scroll-behavior: smooth;
        margin-left: 25px;
        display: flex;
        overflow-x: hidden;
        .outer-menu-item {
            white-space: nowrap;
            display: inline;
            width: auto;
            margin: 19px 32px 23px 0px;
            .inner-menu-item {
                color: var(--light6);
                &:hover {
                    cursor: pointer;
                    border-bottom: 2px solid var( --header-level-two-hover-border-color);
                }
                padding-bottom: 16px;
                &.active {
                    color: var(--light4);
                    border-bottom: 2px solid var(--brand_core);
                }
                &.disable {
                    color: var(--header-item-disabled);
                }
                svg-icon svg{
                    margin-bottom: 2px;
                }
            }
        }
    }

    .context-button-container {
        background-color: var(--header-level-two-bg);
        padding-left: 24px;
    }

    .nav-arrow-container {
        position: absolute;
        height: 100%;
        width: 48px;
        &:hover {
            cursor: pointer;
        }
        .nav-arrow {
            width: 24px;
            height: 100%;
            z-index: 2;
            background-color: var(--header-nav-arrow-bg);
            svg-icon {
                position: relative;
                top: 16px;
                left: 4px;
            }

            &.left svg-icon {
                left: initial;
                right: 4px;
                svg {
                    transform: rotate(180deg);
                }
            }

            &.right {
                position: relative;
                left: 24px;
            }
        }
    }
}
