<div class="authorize-main">
    <div class="dialog-window" [ngSwitch]="currentState">
        <nx-authorize-email-component
            *ngSwitchCase="AuthorizeState.email"
            [(loginEmail)]="loginEmail"
            [emailProcess]="checkEmailProcess"
            [errorCode]="emailErrorCode"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-email-component>
        <nx-authorize-password-component 
            *ngSwitchCase="AuthorizeState.password"
            [loginEmail]="loginEmail"
            [(loginPassword)]="loginPassword"
            [passwordProcess]="loginProcess"
            [errorCode]="passwordErrorCode"
        ></nx-authorize-password-component>
        <nx-authorize-create-account-component 
            *ngSwitchCase="AuthorizeState.create"
            [existingEmail]="existingEmail"
            [(accountInfo)]="accountInfo"
            [createAccountProcess]="createProcess"
            [errorCode]="createErrorCode"
        ></nx-authorize-create-account-component>
        <nx-authorize-activate-account-component 
            *ngSwitchCase="AuthorizeState.activate"
            [loginEmail]="loginEmail"
            (setCurrentState)="setCurrentState($event)"
            [checkActivationProcess]="checkEmailProcess"
            [loginProcess]="loginProcess"
            [activated$]="activated$"
            [fromEmail$]="fromEmail$"
        ></nx-authorize-activate-account-component>
        <nx-authorize-confirmation-component 
            *ngSwitchCase="AuthorizeState.confirm"
        ></nx-authorize-confirmation-component>
        <nx-authorize-reset-request-component
            *ngSwitchCase="AuthorizeState.request"
            [confirm]="confirmRequest"
            [(resetEmail)]="resetPasswordEmail"
            [loginProcess]="loginPostPasswordRequestProcess"
            [resetRequestProcess]="resetRequestProcess"
            [errorCode]="resetRequestErrorCode"
        ></nx-authorize-reset-request-component>
        <nx-authorize-reset-password-component
            *ngSwitchCase="AuthorizeState.reset"
            [confirm]="confirmReset"
            [loginEmail]="resetPasswordEmail"
            [(password)]="resetPassword"
            [newPasswordProcess]="resetPasswordProcess"
            [loginProcess]="loginPostNewPasswordProcess"
        ></nx-authorize-reset-password-component>

    </div>
    <div *ngIf="windowWideEnough">
        <div class="row">
            <ul class="">
                <li *ngFor="let item of footerItems">
                    <a href="item.url" target="_blank">{{ item.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>