<div class="authorize-main">
    <div class="dialog-window" [ngSwitch]="currentState">
        <nx-authorize-email-component
            *ngSwitchCase="AuthorizeState.email"
            [errorCode]="emailErrorCode"
            (sendEmailToParent)="getEmailFromChild($event)"
            [emailProcess]="emailProcess"
        ></nx-authorize-email-component>
        <nx-authorize-password-component 
            *ngSwitchCase="AuthorizeState.password"
            [authorizeEmail]="authorizeEmail"
            (sendPasswordToParent)="getPasswordFromChild($event)"
            [passwordProcess]="passwordProcess"
        ></nx-authorize-password-component>
        <nx-authorize-create-account-component 
            *ngSwitchCase="AuthorizeState.create"
        ></nx-authorize-create-account-component>
        <nx-authorize-activate-account-component 
            *ngSwitchCase="AuthorizeState.activate"
        ></nx-authorize-activate-account-component>
        <nx-authorize-confirmation-component 
            *ngSwitchCase="AuthorizeState.confirm"
        ></nx-authorize-confirmation-component>
        <!-- <router-outlet></router-outlet> -->

    </div>
    <div *ngIf="windowWideEnough">
        <div class="row">
            <ul class="">
                <li *ngFor="let item of footerItems">
                    <a href="item.url" target="_blank">{{ item.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>