<!-- <nx-pre-loader *ngIf=""></nx-pre-loader> -->
<header>
    <h3>{{LANG.authorize.loginCloudHeader()}}</h3>
    <ng-container *ngIf="existingEmail">
        <span class="sub-header" translate>For</span>
        <span class="account-password">{{existingEmail}}</span>
    </ng-container>
</header>
<main>
    <form #createAccountForm="ngForm" class="form">
        <div class="row" *ngIf="!existingEmail">
            <label for="createEmail" translate>Email</label>
            <nx-email-input
                name="email"
                componentId="email"
                [hideErrors]="false"
                [(ngModel)]="createEmail"
                [lockEmail]="false"
                [form]="createAccountForm"
                #createAccountEmail="ngModel"
            ></nx-email-input>
            <ng-container *ngIf="createAccountEmail.invalid && (createAccountEmail.dirty || createAccountEmail.touched)">
                <p *ngIf="createAccountEmail.errors.required" class="error-label" translate>Required</p>
                <p *ngIf="createAccountEmail.errors.pattern" class="error-label" translate>Invalid email</p>
                <p *ngIf="createAccountEmail.errors.alreadyExists" class="error-label" translate>Account already exists</p>
            </ng-container>
        </div>
        <div class="row">
            <div class="left">
                <label for="firstName" translate>First Name</label>
                <input
                    type="text"
                    id="firstName"
                    name="firstName"
                    [ngClass]="{ 'invalid-state': firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required }"
                    [(ngModel)]="createFirstName"
                    #firstName="ngModel"
                    autocomplete="given-name"
                    required
                    nxFocusMe>
                <p *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required" class="error-label" translate>Required</p>
            </div>
            <div class="right">
                <label for="lastName" translate>Last Name</label>
                <input
                    type="text"
                    id="lastName"
                    name="lastName"
                    [ngClass]="{ 'invalid-state': lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required }"
                    [(ngModel)]="createLastName"
                    #lastName="ngModel"
                    autocomplete="family-name"
                    required
                    nxFocusMe>
                <p *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required" class="error-label" translate>Required</p>
            </div>
        </div>
        <div class="row">
            <label for="password" translate>Password</label>
            <div class="col-12 col-md-7 pb-2 pb-md-0 pr-0 mr-2">
                <nx-password-input
                    name="createAccountPassword"
                    componentId="createAccountPassword"
                    [hideErrors]="false"
                    class="form-component"
                    [(ngModel)]="createPassword"
                    [form]="createAccountForm"
                    [component]="createAccountPassword"
                    #createAccountPassword="ngModel">
                </nx-password-input>
            </div>
            <div class="col-12 col-md-5 d-block d-md-flex ml-md-n2 align-items-center">
                <nx-password-input-validation
                    [forElement]="createAccountPassword"
                    [hideErrors]="hideErrors"
                    [value]="createPassword"
                    (updateWeakPassword)="weakPassword = $event">
                </nx-password-input-validation>
            </div>
        </div>
        <nx-checkbox
            name="termsAndConditions"
            required
            componentId="termsAndConditions">
        </nx-checkbox>
        <!-- [(ngModel)]="termsAndConditions"
        #termsAndConditions="ngModel"
        description="termsAndConditionsHelpBlock"> -->
    </form>
</main>
<footer>
    <button class="btn svg-icon" type="button">
        <!-- (click)="login()" -->
        <svg-icon nx-add-svg-src 
            [src]="CONFIG.icons.dir + 'login.svg'" 
            [svgStyle]="{'width.px': 24, 'height.px': 24}"
            [applyClass]="true"></svg-icon>
        <span translate>Log In</span>
    </button>
    <button class="btn svg-icon" type="button">
        <!-- (click)="goBack()"  -->
        <svg-icon nx-add-svg-src
            [src]="CONFIG.icons.dir + 'arrow_back_button.svg'"
            [svgStyle]="{'width.px': 24, 'height.px': 20}"
            [applyClass]="true"></svg-icon>
        <span translate>Back</span>
    </button>
    <nx-process-button
        [form]="createAccountForm"
        [clickFn]="onCreateSubmit"
        [process]="createAccountProcess"
        [svg]="{ src: 'plus', height: '24', width: '24', color: 'light1' }"
        buttonText="{{ 'Create Account' | translate }}">
    </nx-process-button>
    <!-- [process]="createAccountFactory(accountInfo)" -->
</footer>