<div
    class="bind-btn btn btn-default"
    [style.margin-right.px]="12"
    [class.active]="selectedBindType === bindType.account"
    (click)="setBind(bindType.account)"
>
    <svg-icon
        nx-add-svg-src
        [src]="icons.dirAuth + 'user_cloud.svg'"
        [svgStyle]="{ width: '64px', height: '64px' }"
    ></svg-icon>
    <div translate>My Account</div>
</div>
<div
    class="bind-btn btn btn-default"
    [class.disabled]="!orgCount$$()"
    [class.active]="selectedBindType === bindType.org"
    [style.pointer-events]="!orgCount$$() ? 'none' : 'unset'"
    (click)="setBind(bindType.org)"
>
    <svg-icon
        nx-add-svg-src
        [src]="icons.dir + 'organization.svg'"
        [svgStyle]="{ width: '64px', height: '64px' }"
    ></svg-icon>
    <ng-container [ngSwitch]="orgCount$$()">
        <div
            *ngSwitchCase="0"
            translate
        >
            No organizations
        </div>
        <div *ngSwitchCase="1">
            {{ orgs$$()[0].name }}
        </div>
        <div
            *ngSwitchDefault
            translate
        >
            Organizations
        </div>
    </ng-container>
</div>
