<div
    class="bind-btn btn btn-default"
    [style.margin-right.px]="12"
    [class.active]="selectedBindType === bindType.account"
    (click)="setBind(bindType.account)"
>
    <svg-icon
        nx-add-svg-src
        [src]="icons.dirAuth + 'user_cloud.svg'"
        [svgStyle]="{ width: '64px', height: '64px' }"
    ></svg-icon>
    <div translate>My Account</div>
</div>
<div
    class="bind-btn btn btn-default"
    [class.disabled]="!orgCount$$()"
    [class.active]="selectedBindType === bindType.org"
    [style.pointer-events]="!orgCount$$() ? 'none' : 'unset'"
    (click)="setBind(bindType.org)"
>
    <svg-icon
        nx-add-svg-src
        [src]="icons.dir + 'organization.svg'"
        [svgStyle]="{ width: '64px', height: '64px' }"
    ></svg-icon>
    @switch (orgCount$$()) {
        @case (0) {
            <div translate>No organizations</div>
        }
        @case (1) {
            @if (orgs$$()[0]; as org) {
                <div>{{ org.name }}</div>
                @if (org.effectiveState !== 'active') {
                    <nx-tag
                        class="pt-2"
                        [type]="org.effectiveState === 'suspended' ? 'warning' : 'danger'"
                        >{{ org.effectiveState | translate | uppercase }}</nx-tag
                    >
                }
            }
        }
        @default {
            <div translate>Organizations</div>
        }
    }
</div>
