<form
    #disconnectForm="ngForm"
    name="disconnectForm"
    novalidate
>
    <!-- [ngClass]="{'hide-errors': hideErrors}"
      (submit)="hideErrors = false"> -->
    <div class="modal-header">
        <h1
            class="modal-title"
            translate
            >Disconnect System from %CLOUD_NAME%</h1
        >
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="close()"
            *ngIf="closable"
        >
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>
    <div [ngStyle]="{ display: needsUpdate ? 'none' : 'unset' }">
        <div class="modal-body">
            <p
                *ngIf="system.userManager.currentUser.isCloud && environment.isLocal"
                translate
                >You will be logged out</p
            >
            <p translate>System will be accessible only via local network.</p>
            <p
                class="warning-label"
                translate
                >All cloud users will be deleted.</p
            >
        </div>
        <div class="modal-footer">
            <nx-process-button
                [process]="disconnect"
                [form]="disconnectForm"
                [actionType]="'danger'"
                [buttonDisabled]="needsUpdate"
                buttonText="{{ 'Disconnect' | translate }}"
            ></nx-process-button>
            <nx-cancel-button
                [process]="disconnect"
                [discardFn]="close"
            ></nx-cancel-button>
        </div>
    </div>
    <nx-update-webadmin-session
        *ngIf="needsUpdate"
        [bypassOauth]="true"
        (loginSuccess)="needsUpdate = false; disconnect.run()"
        [noConnectionMsg]="'Failed to disconnect system from %CLOUD_NAME%.' | translate"
        [dialogRef]="dialogRef"
        processAction="danger"
        [system]="system"
    ></nx-update-webadmin-session>
</form>
