<form #updateForm="ngForm" name="updateForm" novalidate>
    <div class="modal-header">
        <h1 class="modal-title" translate>Authentication Credentials</h1>
        <button type="button" class="close"
            data-dismiss="modal" aria-label="Close"
            (click)="activeModal.close()" *ngIf="closable">
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="loginName" translate>Login</label>
            <input class="form-control"
                [(ngModel)]="loginName"
                [placeholder]="currentCredentials.loginName && currentCredentials.loginName + ' - ' + 'current login' | translate"
                id="loginName"
                name="loginName" type="text"
                required nxFocusMe>
            <p class="help-block"
               *ngIf="!updateForm.controls['loginName']?.valid && updateForm.controls['loginName']?.touched">
                <span class="input-error" translate>Login name is required</span>
            </p>
        </div>
        <div class="form-group">
            <label for="password" translate>Password</label>
            <input class="form-control"
                [(ngModel)]="password"
                (focus)="clearExistingPassword()"
                id="password"
                name="password" 
                type="password"
                required>
            <p class="help-block"
               *ngIf="!updateForm.controls['password']?.valid && updateForm.controls['password']?.touched">
                <span class="input-error" translate>Password is required</span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button [process]="update"
            [form]="updateForm"
            [actionType]="'primary'"
            buttonText="{{ 'Save' | translate }}"></nx-process-button>
        <button type="button" class="btn btn-default" (click)="close()" translate>Cancel</button>
    </div>
</form>
