<form
    #moveSystemForm="ngForm"
    name="moveSystemForm"
    novalidate
>
    <div class="modal-header">
        <h1
            class="modal-title"
            translate
        >
            Move System
        </h1>
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="close()"
        >
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label
                for="targetSystem"
                translate
                >Target System</label
            >
            <nx-select
                id="targetSystem"
                name="targetSystem"
                [items]="systemNameOptions"
                [selected]="selectedSystem"
                [(ngModel)]="selectedSystem"
                (ngModelChange)="generateTargetGroupOptions($event.value)"
            ></nx-select>
        </div>
        <div class="form-group">
            <label
                for="targetGroup"
                translate
                >Target Group</label
            >
            <nx-select
                id="targetGroup"
                name="targetGroup"
                [items]="targetGroupOptions"
                [selected]="selectedGroup"
                [(ngModel)]="selectedGroup"
            ></nx-select>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button
            [form]="moveSystemForm"
            [process]="moveSystemProcess"
            [buttonText]="'Move' | translate"
        ></nx-process-button>
        <nx-cancel-button
            [process]="moveSystemProcess"
            [discardFn]="close"
        ></nx-cancel-button>
    </div>
</form>
