<div class="state-container">
    <div class="state-container--title"></div>
    <div class="state-container--body">
        <form
            #mergeForm="ngForm"
            name="mergeForm"
            novalidate
        >
            <div class="form-group">
                <nx-mat-like-type-ahead-select
                    name="mergeDropdown"
                    componentId="mergeDropdown"
                    [form]="mergeForm"
                    [items]="items"
                    [(ngModel)]="remoteSystem"
                    [label]="'Existing System URL (https://host:port)' | translate"
                    [noMatchMsg]="'No peers found' | translate"
                    [freeText]="true"
                    [validation]="urlRegex"
                    [setFocus]="true"
                    #mergeDropdown="ngModel"
                    [required]="true"
                ></nx-mat-like-type-ahead-select>
                <!--                <nx-searchable-select-->
                <!--                    name="mergeDropdown"-->
                <!--                    componentId="mergeDropdown"-->
                <!--                    [form]="mergeForm"-->
                <!--                    [items]="items"-->
                <!--                    [(ngModel)]="remoteSystem"-->
                <!--                    [placeholder]="'Existing System URL (https://host:port)' | translate"-->
                <!--                    [noMatchMsg]="'No peers found' | translate"-->
                <!--                    [freeText]="true"-->
                <!--                    [validation]="urlRegex"-->
                <!--                    #mergeDropdown="ngModel"-->
                <!--                    required-->
                <!--                ></nx-searchable-select>-->
            </div>
            <div class="form-group">
                <nx-mat-like-input
                    componentId="userField"
                    name="userField"
                    id="userField"
                    class="form-control"
                    value="admin"
                    readonly
                    disabled
                />
            </div>
            <div class="form-group">
                <nx-mat-like-password-input
                    name="passwordField"
                    componentId="passwordField"
                    class="fs-exclude"
                    [label]="'Password' | translate"
                    [(ngModel)]="password"
                    [form]="mergeForm"
                    [component]="passwordField"
                    #passwordField="ngModel"
                ></nx-mat-like-password-input>
                <!--                <input-->
                <!--                    name="passwordField"-->
                <!--                    id="passwordField"-->
                <!--                    class="form-control"-->
                <!--                    type="password"-->
                <!--                    [(ngModel)]="password"-->
                <!--                    [placeholder]="'Password' | translate"-->
                <!--                    #passwordField="ngModel"-->
                <!--                    required-->
                <!--                />-->
            </div>
            <div class="mt-2">
                <div
                    class="helper-block"
                    translate
                >
                    * all fields are required
                </div>
            </div>
        </form>
    </div>
</div>
