<div class="state-container">
    <div class="state-container--title"></div>
    <div class="state-container--body">
        <form
            #mergeForm="ngForm"
            name="mergeForm"
            novalidate
        >
            <div class="form-group">
                <nx-autocomplete-v2
                    name="mergeDropdown"
                    #mergeDropdown="ngModel"
                    [(ngModel)]="remoteSystem"
                    (select)="setRemoteSystem($event)"
                    [placeholder]="'Existing System URL (https://host:port)'"
                    [noMatchesContent]="'No peers found'"
                    requireSelection
                >
                    @for (item of items; track $index) {
                        <nx-autocomplete-item
                            [name]="item.value"
                            [value]="item"
                            >{{ item.name }}</nx-autocomplete-item
                        >
                    }
                </nx-autocomplete-v2>
            </div>
            <div class="form-group">
                <input
                    name="userField"
                    id="userField"
                    class="form-control"
                    value="admin"
                    readonly
                    disabled
                />
            </div>
            <div class="form-group">
                <input
                    name="passwordField"
                    id="passwordField"
                    class="form-control"
                    type="password"
                    [(ngModel)]="password"
                    [placeholder]="'Password' | translate"
                    #passwordField="ngModel"
                    required
                />
            </div>
            <div class="mt-2">
                <ng-container *ngIf="mergeForm.touched && mergeForm.dirty && mergeForm.invalid">
                    <div
                        class="input-error"
                        translate
                    >
                        All fields are required
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
</div>
