:host {
  box-sizing: border-box;
  background-color: var(--additional_light2);
  width: 40px;
  overflow: hidden;
  padding: 6px 1px;
  border-left: 1px solid var(--light4);
  border-top: 1px solid var(--light4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &.enabled {
    box-shadow: 2px 0 0 0 rgba(var(--dark1--rgb), 0.2);
    z-index: 5;
  }

  > .button {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    font-size: 25px;

    color: var(--light4);

    user-select: none;

    // transition: all .2s ease-in-out;

    &.enabled {
      cursor: pointer;
      color: var(--light16);

      &:hover {
        background-color: var(--light4);
      }

      &:hover {
        background-color: var(--additional_light3);
      }
      &:active {
        background-color: var(--light5) !important;
      }
    }
  }
}
