<style>
    .form-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .form-input {
        width: 100%;
        height: 32px;
        margin-bottom: 8px;
        padding: 0 8px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .form-button {
        width: 100%;
        height: 32px;
        background-color: #007BFF;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .form-button:hover {
        background-color: #0056b3;
    }

    .title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 16px;
    }

    .warning {
        color: red;
    }
</style>

<div class="form-container">
    <h2 class="title">Form to Grant Access</h2>
    <form method="post">
        {% csrf_token %}
        <input type="email"
               name="email"
               required pattern=".+@networkoptix.com"
               class="form-input"
               placeholder="Enter your email address">
        <button type="submit" class="form-button">Submit</button>
    </form>
</div>

{% if customizations %}
    <div class="form-container">
        <h3>Available Customizations</h3>
        <ul>
            {% for customization, hostname in customizations.items %}
                <li>{{ customization }} - {{ hostname }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if submitted %}
    {% if result %}
    <div class="form-container">
       <table style="width: 100%; border-collapse: collapse;">
       {% for customization in result %}
        <thead>
            <tr style="background-color: white; text-align: left;">
                <th style="padding: 8px; text-align: center" colspan="3">Customization: {{ customization.customization }}. Hostname: {{ customization.cloud_host }}</th>
            </tr>
            <tr style="background-color: #f2f2f2; text-align: left;">
                <th style="padding: 8px;">User Email</th>
                <th style="padding: 8px;">Channel Partner or Organization Name (Added to)</th>
                <th style="padding: 8px;">Channel Partner or Organization ID</th>
            </tr>
        </thead>
        <tbody>
            {% for user_relation in customization.users %}
            <tr style="background-color: #e6f2ff; border-bottom: 1px solid #ddd;">
                <td style="padding: 8px;">{{ user_relation.user.email }}</td>
                {% if user_relation.channel_partner_id %}
                    <td style="padding: 8px;">{{ user_relation.channel_partner.name }}</td>
                    <td style="padding: 8px;">{{ user_relation.channel_partner_id }}</td>
                {% else %}
                    <td style="padding: 8px;">{{ user_relation.organization.name }}</td>
                    <td style="padding: 8px;">{{ user_relation.organization_id }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
       {% endfor %}
       </table>
    </div>
    {%  else %}
        <div class="form-container">
            <h2 class="title warning">Nothing added. Please contact web development team.</h2>
        </div>
    {% endif %}
{% endif %}