<nx-page-placeholder *ngIf="!healthService.ready && !hasServerError && !outdatedVersion"
                     [condition]="systemReady && system && !system.isOnline"
                     type="OFFLINE"
                     preloader="true"
                     class="page-placeholder">
</nx-page-placeholder>

<nx-page-placeholder *ngIf="hasServerError"
                     type="500"
                     class="page-placeholder">
</nx-page-placeholder>

<nx-page-placeholder *ngIf="outdatedVersion"
                     type="NEW_VERSION"
                     class="page-placeholder">
</nx-page-placeholder>


<div class="mainGrid"
     [ngClass]="mediaLayoutClass"
     *ngIf="healthService.ready">

    <div class="gridMenu">
        <div class="gridMenuComponent">
            <nx-menu [content]="menu"></nx-menu>
            <hr/>
            <div class="menuLinks px-2">
                <nx-health-update *ngIf="!importedData.imported" (updateHealth)="updateValues()"></nx-health-update>
                <div *ngIf="importedData.imported" class="importInfo pb-2">
                    <p>System: {{importedData.system}}</p>
                    <p>Generated: {{importedData.time}}</p>
                </div>
                <div>
                    <a href="#" class="btn-text pl-1" (click)="exportReport()">
                        <svg-icon [src]="CONFIG.icons.dir + 'download.svg'"
                              [svgStyle]="{'width.px': '20'}"></svg-icon>Download Full Report</a>
                </div>
            </div>
            <div class="mt-3 px-2">
                <ngx-file-drop *ngIf="importShow" dropZoneLabel="Drop report here to import"
                               dropZoneClassName="importZone"
                               contentClassName="contentZone"
                               accept="json"
                               [directory]="false"
                               [multiple]="false"
                               [showBrowseBtn]="false"
                               (onFileLeave)="fileLeave()"
                               (onFileDrop)="fileDropped($event)">
                </ngx-file-drop>
            </div>
        </div>
    </div>
    <div class="gridContent">
        <div class="gridContentComponent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
