@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

nx-system-health-component {
  .error {
    font-family: $font-family-medium;
    color: $red_l2;
  }

  .warning {
    font-family: $font-family-medium;
    color: $yellow_d1;
  }

  .fixed-sidebar {
    hr {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      height: auto !important;
    }

    // replicate col-lg-3
    @include media-breakpoint-up(lg) {
      position: fixed;
      left: 0;
      width: calc((100% - (#{$grid-gutter-width} + #{$scrollbar-height})) / 12 * 3)
    }

    // replicate col-xl-2
    @include media-breakpoint-up(xl) {
      width: calc((100% - (#{$grid-gutter-width} + #{$scrollbar-height})) / 12 * 2);
    }
  }

  .menuLinks {
    a {
      svg-icon {
        padding-right: 2px;

        svg {
          cursor: pointer;
          margin-top: -2px;
        }
      }

      svg * {
        fill: $light16;
      }

      &:hover svg * {
        fill: $dark15;
      }

      &:focus, &:active {
        svg * {
          fill: $light16;
        }
      }
    }
  }

  .importZone {
    border: 2px dashed $light13;
    border-radius: 4px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contentZone, .importInfo p {
    font-size: $font-size-lg;
    color: $light16;
    font-family: $font-family-medium;
  }

  .importInfo {
    p {
      font-size: $font-size-base;
      color: $light16;
      font-family: $font-family-regular;
    }
  }
}
