<nx-page-placeholder *ngIf="!healthService.ready && !hasServerError && !outdatedVersion"
                     [condition]="systemReady && !system.isOnline"
                     type="OFFLINE"
                     preloader="true"
                     class="page-placeholder">
</nx-page-placeholder>

<nx-page-placeholder *ngIf="hasServerError"
                     type="500"
                     class="page-placeholder">
</nx-page-placeholder>

<nx-page-placeholder *ngIf="outdatedVersion"
                     type="NEW_VERSION"
                     class="page-placeholder">
</nx-page-placeholder>

<div *ngIf="healthService.ready" class="py-0 px-3 mw-100 mt-3">
    <div class="row">
        <div class="fixed-sidebar col-12 d-flex flex-column ml-lg-2 fill-screen-height"
             [ngStyle]="{'height': 'calc(100% - ('+ headerHeight + 'px + 32px))'}">
            <nx-menu [content]="menu"></nx-menu>
            <hr/>
            <div class="menuLinks px-2">
                <nx-health-update *ngIf="!importedData.imported" (updateHealth)="updateValues()"></nx-health-update>
                <div *ngIf="importedData.imported" class="importInfo pb-2">
                    <p>System: {{importedData.system}}</p>
                    <p>Generated: {{importedData.time}}</p>
                </div>
                <div>
                    <svg-icon [src]="CONFIG.icons.dir + 'download.svg'"
                              [svgStyle]="{'width.px': '20'}"></svg-icon>
                    <a href="#" class="pl-1" (click)="exportReport()">Download Full Report</a>
                </div>
            </div>
            <div class="mt-3 px-2">
                <ngx-file-drop *ngIf="importShow" dropZoneLabel="Drop report here to import"
                               dropZoneClassName="importZone"
                               contentClassName="contentZone"
                               accept="json"
                               [directory]="false"
                               [multiple]="false"
                               [showBrowseBtn]="false"
                               (onFileLeave)="fileLeave()"
                               (onFileDrop)="fileDropped($event)">
                </ngx-file-drop>
            </div>
        </div>

        <div class="col-12 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pt-lg-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
