<!-- Issue with "Unable to preventDefault inside passive event listener invocation." caused by monitoring? -->
<!-- https://github.com/angular/components/issues/24979#issuecomment-1203583528 -->
<div class="row">
    <div
        *ngFor="let group of groups; trackBy: trackItem"
        class="col-sm-12 mb-3 mb-lg-0 col-lg-4 col-xl-3 col-md-6"
        cdkDropList
        cdkDropListSortingDisabled
        [cdkDropListData]="group"
        (cdkDropListDropped)="onDrop($event)"
    >
        <div
            cdkDrag
            [cdkDragData]="group"
        >
            <div *cdkDragPlaceholder></div>
            <nx-group-card [group]="group"></nx-group-card>
        </div>
    </div>
    <div
        *ngFor="let system of systems; trackBy: trackItem"
        class="system-card col-sm-12 mb-3 mb-lg-0 col-lg-4 col-xl-3 col-md-6"
        cdkDropList
        cdkDropListSortingDisabled
        [cdkDropListData]="system"
        (cdkDropListDropped)="onDrop($event)"
    >
        <div
            cdkDrag
            [cdkDragData]="system"
        >
            <div *cdkDragPlaceholder></div>
            <system-card
                [system]="system"
                [search]="''"
                [account]="account"
            ></system-card>
        </div>
    </div>
</div>
