build_scripts/language_pack
build_scripts/stage
build_scripts/*.ts

subinclude:robot_tests/.hgignore

.idea
*.pyc
*.pid
*.log
*.sql
*.deb
*.sqlite3

.env.webadmin.*

env
env_*
nenv
nenv_*
venv
.venv
cloud/.idea
cloud/static
cloud/node_modules
cloud/coverage.xml
cloud/report.xml
cloud/notifications/static/templates/*.mustache
cloud/notifications/static/templates/email_logo.png
.DS_Store
.vscode
etc/rabbitmq
cloud/.coverage
node_modules
quart_env/
.python-version
cloud/requirements.txt
cloud/requirements-license.json
**/migrations.json
PythonRobot/letsencrypt-stg.crt
PythonRobot/chromedriver

# Local Netlify folder
.netlify
PythonRobot/qr_code.png
PythonRobot/NoptixLibrary/letsencrypt-stg.crt
PythonRobot/error.png
/cloud_portal.iml
/common/python/python.iml
