[Backend]
/cloud/ @rbarsegian @nhartleb

[Frontend]
/front_end/ @nhartleb @ttsolov @rbarsegian

[Build/CI]
/ci/ @rbarsegian @nhartleb
/deploy/ @rbarsegian @nhartleb
/build_scripts/ @rbarsegian @nhartleb
/webadmin/ @rbarsegian @nhartleb
