
@use '../../../../../styles/typography';
@use '../../../../../../styles/theme_variables' as *;

.edit-mode {
    width: 100%;

    & #editable-title {
        width: 100%;
    }
}

.server-info {
    font-family : typography.$font-family-regular;
    font-size   : typography.$font-size-base;
    color: $dark9;
    .header-top-bar {
        display: flex;
        align-items: center;
        .header-title {
            display: flex;
            align-items: center;
            flex-grow: 1;
            h2 {
                font-family : typography.$font-family-regular;
                height: 32px;
                font-weight: bold;
                font-size: 24px;
            }
            .tag {
                @include typography.medium11;
                margin-left: 8px;
                color: $light1;
                padding: 4px 8px;
                text-transform: uppercase;
                border-radius: 2px;
            }
            .online {
                background-color: typography.$brand_core;
            }
            .offline {
                background-color: $error;
            }
            .checking {
                background-color: $light16 !important;
            }
        }
        .server-buttons {
            &:hover {
                color: $dark15;
                svg-icon {
                    svg {
                        g, path {
                            fill: $dark15 !important;
                        }
                    }
                }
            }
            @include typography.regular13;
            background-color: inherit;
            color: $light16;
            display: flex;
            align-items: center;
            white-space: nowrap;
            svg-icon {
                svg {
                    height: 20px;
                    g, path {
                        fill: $light16 !important;
                    }
                }
            }
            .animate-rotation {
                animation-name: rotate;
                animation-duration: 1.8s;
                animation-iteration-count: infinite;
                transform-origin: 50% 50%;
            }
            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .server-setting-buttons {
        display: flex;
        justify-content: space-between;
        .setting-buttons {
            display: flex;
            button:first-child {
                margin-right: 8px;
            }
        }
    }

    @media (max-width: 870px) {
        .server-setting-buttons {
            flex-direction: column;
            .left button:not(:first-child) {
                margin-top: 16px;
            }
            .right button {
                margin-top: 16px;
            }
            .setting-buttons {
                flex-direction: column;
                button {
                    max-width: 100%;
                }
                button:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.server-settings {
    display: grid;
    gap: 8px;
    grid-template-columns: min-content auto;
    align-items: center;
    .text-column {
        text-align: right;
    }
    .port-input {
        height: 30px;
        width: 80px;
        border-radius: 2px;
        border: 1px solid $light6;
        &:disabled {
            background-color: $light2;
            border: 1px solid $light4;
        }
    }
    nx-select {
        width: 240px;
    }
}
