
@use '../../../../../styles/typography';
@use '../../../../../../styles/theme_variables' as *;

.server-info {
    font-family : typography.$font-family-regular;
    font-size   : typography.$font-size-base;
    color: $dark9;
    .header-top-bar {
        display: flex;
        align-items: center;
        .header-title {
            min-width: 0;
            h2 {
                @include typography.medium24;
                font-weight: bold;
                line-height: 40px;
                height: 40px;
                margin: 0 8px 0 0;
            }
        }
        .edit-button {
            width: 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .buttons {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            .server-buttons {
                &:hover {
                    color: $dark15;
                    svg-icon {
                        svg {
                            g, path {
                                fill: $dark15 !important;
                            }
                        }
                    }
                }
                @include typography.regular13;
                background-color: inherit;
                color: $light16;
                display: flex;
                align-items: center;
                white-space: nowrap;
                svg-icon {
                    svg {
                        height: 20px;
                        g, path {
                            fill: $light16 !important;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    .server-setting-buttons {
        display: flex;
        justify-content: space-between;
        .setting-buttons {
            display: flex;
            button:first-child {
                margin-right: 8px;
            }
        }
    }

    @media (max-width: 870px) {
        .server-setting-buttons {
            flex-direction: column;
            .left button:not(:first-child) {
                margin-top: 16px;
            }
            .right button {
                margin-top: 16px;
            }
            .setting-buttons {
                flex-direction: column;
                button {
                    max-width: 100%;
                }
                button:first-child {
                    margin-right: 0;
                }
            }
        }
    }

    .port-input {
        height: 32px;
        width: 80px;
        border-radius: 2px;
        border: 1px solid $light6;
        &:disabled {
            background-color: $light2;
            border: 1px solid $light4;
        }
    }
}

