<div class="row auth-visible">
    <nx-page-placeholder class="sectional-div server-placeholder" type="NO_SETTINGS" *ngIf="isOffline && !selectedServer"></nx-page-placeholder>
    <div *ngIf="serverOffline || selectedServer?.internalStatus === CONFIG.servers.status.restarting || checking" class="col-12">
        <nx-alert-block
            *ngIf="serverOffline"
            type="error"
            id="server-offline"
            [iconSrc]="CONFIG.icons.dirNonStandard + 'error.svg'"
            [line1]="'Server offline' | translate"
            [btnIconSrc]="CONFIG.icons.dirNonStandard + 'reload.svg'"
            [btnCaption]="'Check Status' | translate"
            (onAction)="checkStatus()">
        </nx-alert-block>
        <nx-alert-block
            *ngIf="selectedServer.internalStatus === CONFIG.servers.status.restarting"
            type="info"
            id="restarting"
            [iconSrc]="CONFIG.icons.dirNonStandard + 'info.svg'"
            [line1]="'Restarting' | translate"
            [btnIconSrc]="CONFIG.icons.dirNonStandard + 'reload.svg'"
            [btnCaption]="'Check Status' | translate"
            (onAction)="checkStatus()">
        </nx-alert-block>
        <nx-alert-block
            *ngIf="checking"
            type="info"
            id="checking-active"
            [iconSrc]="CONFIG.icons.dirNonStandard + 'info.svg'"
            [line1]="'Checking' | translate"
            (onAction)="checkStatus()">
        </nx-alert-block>
    </div>
    <div class="col-12 sectional-div server-loader" *ngIf="!isOffline && !serverLoaded">
        <nx-pre-loader type="wrapper"></nx-pre-loader>
    </div>
    <div class="col-12 server-info" *ngIf="selectedServer && serverLoaded">
        <nx-block header-style="extended">
            <header>
                <div class="header-top-bar d-flex justify-content-start">
                    <div *ngIf="renameDisabled; else editableTitle" class="header-title">
                        <h2>{{ selectedServer.name }}</h2>
                    </div>
                    <ng-template #editableTitle >
                        <div class="header-title" [ngClass]="{ 'w-100': editMode }">
                            <h2 NxEditable
                                #editTitle
                                class="w-100"
                                [(content)]="serverName"
                                (contentChange)="handleNameChange($event)"
                                (blur)="handleBlur()"
                                (focus)="handleFocus()"
                                [hasError]="!serverName || emptyName"
                                id="editable-title"></h2>
                            <span *ngIf="!serverName" class="input-error" translate>Server name is required</span>
                            <span *ngIf="emptyName" class="input-error" translate>Please enter a valid name</span>
                        </div>
                        <div class="edit-button" [ngClass]="{ 'd-none' : editMode }" (click)="editTitle.focus()">
                            <img [src]="CONFIG.icons.dirNonStandard + 'edit.png'" width="20" height="20"/>
                        </div>
                    </ng-template>
                    <div class="buttons" [ngClass]="{ 'd-none' : editMode }">
                        <button *ngIf="canSeeInfo" class="server-buttons pr-0"
                            [routerLink]="fullInfoPath"
                            [queryParams]="{id: parsedServerId}">
                                <span>
                                    <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirNonStandard + 'info.svg'"
                                        [applyCss]="true"></svg-icon>
                                </span>
                                <span class="ml-1" translate>Detailed Info</span>
                        </button>
                    </div>
                </div>
                <div class="col-4">
                    <nx-info-block [sectionsOrColumns]="[serverDetails] "></nx-info-block>
                </div>
            </header>
            <nx-section>
                <div class="server-setting-buttons">
                    <div class="left setting-buttons">
                        <button
                            class="btn btn-default"
                            (click)="restartServer()"
                            [disabled]="restartDisabled || serverUnavailable"
                        >
                            <span class="ellipsis" translate>Restart</span>
                        </button>
                    </div>
                    <div class="right setting-buttons">
                        <button
                            class="btn btn-default"
                            (click)="detachServer()"
                            [disabled]="detachDisabled || serverUnavailable"
                            *ngIf="system.servers.length > 1 && betaMode"
                        >
                            <span class="ellipsis" translate>Detach from the System</span>
                        </button>
                        <button
                            *ngIf="betaMode"
                            class="btn btn-default"
                            (click)="resetServer()"
                            [disabled]="resetDisabled || serverUnavailable"
                        >
                            <span class="ellipsis" translate>Reset to Defaults</span>
                        </button>
                    </div>
                </div>
            </nx-section>
        </nx-block>
        <nx-block type="mt-3">
            <header>
                <h4 translate>Settings</h4>
            </header>
            <nx-section class="pl-3">
                <div class="d-flex align-items-center">
                    <span class="ellipsis mr-2" translate>Port</span>
                    <input
                        class="port-input pl-2"
                        type="number"
                        [min]="CONFIG.servers.port.min"
                        [max]="CONFIG.servers.port.max"
                        [(ngModel)]="ipPortWatcher.value"
                        (keydown)="storePreviousValue($event)"
                        (keyup)="validationCheckForInput()"
                        [disabled]="portChangeDisabled || serverUnavailable"
                        (change)="onPortChange()"
                    >
                </div>
            </nx-section>
        </nx-block>
    </div>
</div>
