<div class="row auth-visible">
    <nx-page-placeholder class="placeholder-section" type="NO_SETTINGS" *ngIf="isOffline && !selectedServer"></nx-page-placeholder>
    <div *ngIf="serverOffline || selectedServer?.internalStatus === CONFIG.servers.status.restarting || checking" class="col-12">
        <ng-container *ngIf="!checking">
            <nx-alert-block
                *ngIf="serverOffline"
                type="error"
                id="server-offline"
                [iconSrc]="CONFIG.icons.dirNonStandard + 'error.svg'"
                [line1]="'Server offline' | translate"
                [btnIconSrc]="CONFIG.icons.dirNonStandard + 'reload.svg'"
                [btnCaption]="'Check Status' | translate"
                (onAction)="checkStatus()">
            </nx-alert-block>
            <nx-alert-block
                *ngIf="selectedServer.internalStatus === CONFIG.servers.status.restarting"
                type="info"
                id="restarting"
                [iconSrc]="CONFIG.icons.dirNonStandard + 'info-alerts.svg'"
                [line1]="'Restarting' | translate"
                [btnIconSrc]="CONFIG.icons.dirNonStandard + 'reload.svg'"
                [btnCaption]="'Check Status' | translate"
                (onAction)="checkStatus()">
            </nx-alert-block>
        </ng-container>
        <nx-alert-block
            *ngIf="checking"
            type="info"
            id="checking-active"
            [iconSrc]="CONFIG.icons.dirNonStandard + 'info-alerts.svg'"
            [line1]="'Checking' | translate"
            (onAction)="checkStatus()">
        </nx-alert-block>
    </div>
    <ng-template #preloader>
        <ng-template #offlinePlaceholder>
            <nx-page-placeholder *ngIf="system.isAvailable" class="placeholder-section" type="SERVER_OFFLINE"></nx-page-placeholder>
        </ng-template>
        <div *ngIf="system.isAvailable && !serverOffline; else offlinePlaceholder" class="col-12 placeholder-section">
            <nx-pre-loader ></nx-pre-loader>
        </div>
    </ng-template>
    <div class="col-12 server-info" *ngIf="selectedServer && serverLoaded; else preloader">
        <nx-block header-style="extended">
            <header>
                <div class="header-top-bar">
                    <nx-editable-settings-heading
                        [nameWatcher]="serverNameWatcher"
                        (editModeState)="editMode = $event"
                        [editEnabled]="system.permissions.isAdmin && !renameDisabled"></nx-editable-settings-heading>
                    <!-- <div class="section-server-buttons d-flex flex-column flex-lg-row align-items-start align-items-lg-center"> -->
                    <div *ngIf="!editMode" class="d-flex pb-2">
                        <button *ngIf="system.canViewInfo()" class="server-buttons"
                            [routerLink]="fullInfoPath"
                            [queryParams]="{id: parsedServerId}">
                                <span>
                                    <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirNonStandard + 'info.svg'"
                                        [applyCss]="true"></svg-icon>
                                </span>
                                <span class="ml-1 header-button-span" translate>Detailed Info</span>
                        </button>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <nx-info-block [sectionsOrColumns]="[serverDetails] "></nx-info-block>
                </div>
            </header>
            <nx-section>
                <div class="server-setting-buttons">
                    <div class="left setting-buttons">
                        <button
                            class="btn btn-default"
                            (click)="restartServer()"
                            [disabled]="restartDisabled || serverUnavailable"
                        >
                            <span class="ellipsis" translate>Restart</span>
                        </button>
                    </div>
                    <div class="right setting-buttons">
                        <button
                            class="btn btn-default"
                            (click)="detachServer()"
                            [disabled]="detachDisabled || serverUnavailable"
                            *ngIf="(CONFIG.isLocal || betaMode) && system.servers.length > 1"
                        >
                            <span class="ellipsis" translate>Detach from the System</span>
                        </button>
                        <button
                            *ngIf="CONFIG.isLocal || betaMode"
                            class="btn btn-default"
                            (click)="resetServer()"
                            [disabled]="resetDisabled || serverUnavailable"
                        >
                            <span class="ellipsis" translate>Reset to Defaults</span>
                        </button>
                    </div>
                </div>
            </nx-section>
        </nx-block>
        <nx-block type="my-3">
            <header>
                <h4 translate>Settings</h4>
            </header>
            <nx-section class="pl-3">
                <div class="server-settings">
                    <span class="ellipsis text-column" translate>Port</span>
                    <div style="width: 85px;">
                        <nx-numeric
                                [class]="'pl-2'"
                                [min]="CONFIG.servers.port.min"
                                [max]="CONFIG.servers.port.max"
                                [disabled]="portChangeDisabled || serverUnavailable"
                                [(ngModel)]="ipPortWatcher.value"
                                (onChange)="onPortChange($event)"></nx-numeric>
                    </div>
                    <ng-container *ngIf="showAnalytics && dropdownStorages.length && !storagesLoading || storagesLoading">
                        <span class="ellipsis text-column" translate>Analytics DB Storage</span>
                        <nx-select
                            id="system"
                            class="{{storagesLoading ? 'storages-loading' : ''}}"
                            [ellipsisMargin]="true"
                            [stillLoading]="checkingForDataAnalytics || storagesLoading"
                            [items]="dropdownStorages"
                            [selected]="selectedStorage"
                            (onSelected)="changeAnalyticsStorage($event)"></nx-select>
                        <ng-container *ngIf="systemStorageChosen">
                            <span></span>
                            <div class="error-label">
                                <p class="mb-0" translate>Analytics data can take up large amounts of space.</p>
                                <p class="mb-0" translate>We recommend to choose another location for it instead of the system partition.</p>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </nx-section>
        </nx-block>
    </div>
</div>
