<!-- keep false until cookieBanner reimplemented -->
<div
    class="banner"
    *ngIf="false && !cookieBannerReviewed"
>
    <!-- eslint-disable prettier/prettier -->
    <p translate>
        We used cookies to improve your experience on our site. They also help us to understand how our site is being used. Find out more and set your cookies preferences <a routerLink="/">here</a>. By continuing to use our site you consent to use our cookies.
    </p>
    <!-- eslint-enable prettier/prettier -->
    <svg-icon
        nx-add-svg-src
        (click)="onCookieBannerClose()"
        [src]="CONFIG.icons.dirTextButtons + 'close.svg'"
        [svgStyle]="{ 'width.px': '20', 'height.px': '20' }"
        [applyClass]="true"
    >
    </svg-icon>
</div>
