<!-- Initial State -->
<nx-block *ngIf="!cloudStorageSystemEnabled" type="mt-3 mb-3">
    <header><h4 translate>Cloud Storage</h4></header>
    <div class="header-svg">
        <svg-icon [src]="CONFIG.icons.dir + 'city' + '.svg'"></svg-icon>
    </div>
    <div class="initial-state">
        <h2 translate>Enhance your data storage experience</h2>
        <p translate>Avoid the hassle of local storage and start using our convenient and secure cloud storage service.</p>
        <p translate>We are offering 50 GB of complimentary cloud storage per system to get you started.</p>
        <nx-process-button [actionType]="'default'" [process]="enableCloudStorage" [buttonText]="'Enable Cloud Storage'"></nx-process-button>
    </div>
</nx-block>

<!-- Empty and Regular State -->
<nx-block *ngIf="cloudStorageSystemEnabled" type="mt-3 mb-3">
    <header class="normal-state-header">
        <h4 translate>Cloud Storage</h4>
    </header>
    <div class="normal-state">
        <h2>{{ cloudCapacity }}</h2>
        <div class="details" (click)="toggleCloudState()">
            <div class="details-section">
                <div class="details-section-keys">
                    <p translate>Current recordings</p>
                    <p translate>When fully used</p>
                    <p translate>Amount used</p>
                </div>
                <div class="details-section-values">
                    <p>{{ msFriendlyTime(usageStats.currentRecordings) }}</p>
                    <p>{{ msFriendlyTime(usageStats.whenFullyUsed) }}</p>
                    <p>{{ cloudStorageUsed }}</p>
                </div>
            </div>
            <div class="details-section">
                <div class="details-section-keys">
                    <p translate>Archive from</p>
                    <p translate>Recording Bitrate</p>
                    <p translate>Delay from live</p>
                </div>
                <div class="details-section-values">
                    <p>{{ numberOfCameras }}</p>
                    <p>{{ bitrate }}</p>
                    <p>{{ msFriendlyTime(usageStats.delayFromLive, true) }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="normal-state-footer">
        <p [translate]="'dialogs.cloudStorage.available'"
            [translateParams]="{ vmsName: CONFIG.vmsName }"></p>
        <div class="pt-3">
            <button class="btn btn-default" (click)="moveCloudStorageDialog()">Move to Another System</button>
            <button class="btn btn-default" (click)="deleteCloudStorageDialog()">
                <svg-icon 
                    [src]="CONFIG.icons.dir + 'delete.svg'" 
                    [svgStyle]="{'width.px': '24', 'height.px': '24', 'pointer-events': 'none'}"
                    class="ml-n2 mr-1"></svg-icon>
                <span translate>Delete Cloud Storage</span>
            </button>
        </div>
    </div>
</nx-block>
