@import '../../../../styles/theme/variables';
@import '../../../../styles/typography';

.initial-state {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    h2 {
        @extend #medium24;
        margin: 16px;
    }

    p {
        @extend #regular13;
        max-width: 400px;
    }

    button {
        margin-top: 24px;
    }
}

.normal-state {
    padding: 16px;
    background-color: $additional_light1;
    border-bottom: 1px dotted $light3;
    
    h2 {
        @extend #medium24;
        text-align: left;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &-footer {
        padding: 16px;
        div {
            display: flex;
            justify-content: space-between;
        }
    }
}

.details {
    display: flex;
    justify-content: flex-start;
    margin: 8px 0 16px 0;

    &-section {
        margin-right: 40px;
        display: flex;
        div {
           display: flex;
           flex-direction: column;
        }
        &-keys {
            padding-right: 20px;
        }
        &-values {

        }
    }
}

.server-buttons {
    height: 18px;
    padding: -1px inherit; // This is kind of hacky, need to figure out what's going on
    &:hover {
        color: $dark15;
        fill: $dark15;
    }
    @extend #regular13;
    background-color: inherit;
    color: $light16;
    display: flex;
    align-items: center;
    fill: $light16;
    white-space: nowrap;
    svg-icon {
        svg {
            height: 20px;
            g {
                fill: inherit;
            }
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}