<h1>Det finns en ny version för {{ message.asset }} ({{ message.asset_type }}) för att granska</h1>
<p>Klicka på länken för att se utkast {{ message.id }} för {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Granska versionen</a>
<h4>På den här sidan kan du</h4>
<ul>
	<li>Skapa en förhandsgranskning för att se de senaste ändringarna.</li>
	<li>Publicera den här versionen som uppdaterar allt innehåll.</li>
	<li>Redigera sammanhang genom att klicka på redigeringsknappen. <br>
		För att se de ändringar du behöver för att skapa en ny version</li>
</ul>
