<span *ngIf="forElement.valid && LANG.passwordRequirements">
    <nx-tag type="success"
            *ngIf="forElement.control && !forElement.control.fairPassword">{{LANG.passwordRequirements.good}}</nx-tag>
    <nx-tag type="warning"
            *ngIf="forElement.control && forElement.control.fairPassword"
            title="{{ LANG.passwordRequirements.fairMessage}}">{{LANG.passwordRequirements.fair}}</nx-tag>
</span>

<span *ngIf="!forElement.valid && !forElement.touched">
    <nx-tag type="danger"
            *ngIf="forElement.errors &&
                 forElement.errors.weak &&
                 !forElement.errors.common &&
                 !forElement.errors.pattern &&
                 !forElement.errors.minlength"
            title="{{ LANG.passwordRequirements.weakMessage}}">{{LANG.passwordRequirements.weak}}</nx-tag>
    <nx-tag type="danger"
            *ngIf="forElement.errors &&
                 forElement.errors.common &&
                 !forElement.errors.pattern &&
                 !forElement.errors.minlength &&
                 !forElement.errors.required"
            title="{{ LANG.passwordRequirements.commonMessage}}">{{LANG.passwordRequirements.common}}</nx-tag>
    <nx-tag type="danger"
            *ngIf="forElement.errors &&
                 forElement.errors.minlength &&
                 !forElement.errors.pattern"
            title="{{ LANG.passwordRequirements.minLengthMessage}}">{{LANG.passwordRequirements.minLength}}</nx-tag>
    <nx-tag type="danger"
            *ngIf="forElement.errors &&
                 forElement.errors.pattern &&
                 !forElement.errors.minlength"
            title="{{ LANG.passwordRequirements.requiredMessage}}">{{LANG.passwordRequirements.required}}</nx-tag>
</span>

<span *ngIf="!forElement.valid && forElement.touched">
    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.weak &&
                 !forElement.errors.common &&
                 !forElement.errors.pattern &&
                 !forElement.errors.required &&
                 !forElement.errors.minlength">{{ LANG.passwordRequirements.weakMessage}}</span>

    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.common &&
                 !forElement.errors.required">{{ LANG.passwordRequirements.commonMessage}}</span>

    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.minlength">{{ LANG.passwordRequirements.minLengthMessage}}</span>
    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.pattern &&
                 !forElement.errors.minlength">{{ LANG.passwordRequirements.requiredMessage}}</span>
    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.required">{{ LANG.passwordRequirements.missingMessage}}</span>
</span>
