
<span *ngIf="!forElement.valid && forElement.touched">
    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.weak &&
                 !forElement.errors.common &&
                 !forElement.errors.pattern &&
                 !forElement.errors.required &&
                 !forElement.errors.minlength">{{ LANG.passwordRequirements.weakMessage}}</span>

    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.common &&
                 !forElement.errors.required">{{ LANG.passwordRequirements.commonMessage}}</span>

    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.minlength">{{ LANG.passwordRequirements.minLengthMessage}}</span>
    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.pattern &&
                 !forElement.errors.minlength">{{ LANG.passwordRequirements.requiredMessage}}</span>
    <span class="input-error"
          *ngIf="forElement.errors &&
                 forElement.errors.required">{{ LANG.passwordRequirements.missingMessage}}</span>
</span>
