@use "typography";
@use "mixins";
@use "theme_variables_common" as *;


main form {
    .create-row {
        display: flex;

        .email,
        .first-name,
        .last-name,
        .password {
            &:not(.hasError) {
                margin-bottom: 16px;
            }

            &.hasError {
                margin-bottom: 8px;
            }

            width: 100%;

            input {
                width: 100%;
                height: 32px !important;
            }
        }
    }
}