<div
    class="mb-3 row m-0 p-3"
    style="border: 1px solid lightgray"
>
    <div class="col-4">
        <h2 translate>Section 1</h2>
        <input
            type="text"
            [(ngModel)]="section1Input"
        />
        <div class="section-apply-wrapper">
            <ng-container #section1apply></ng-container>
        </div>
    </div>

    <div class="col-4">
        <h2 translate>Section 2</h2>
        <input
            type="text"
            [(ngModel)]="section2Input"
        />
        <div>
            <h3>{{ section2InputWatcher.additionalProperty1 }}</h3>
            <input
                type="text"
                [(ngModel)]="section2InputWatcher.additionalProperty1"
            />
        </div>
        <div>{{ section2InputWatcher.additionalProperty2 }}</div>
        <div class="section-apply-wrapper">
            <ng-container #section2apply></ng-container>
        </div>
    </div>

    <div class="col-4">
        <h2 translate>Section 3</h2>
        <input
            type="text"
            [(ngModel)]="section3Input"
        />
        <div class="section-apply-wrapper">
            <ng-container #section3apply></ng-container>
        </div>
    </div>
</div>
<ng-container #pageApply></ng-container>
