<h1>NGRX Demo :: System Groups</h1>

<h2>Groups</h2>
<ngrx-demo-group-list
    class="group-list"
    [groups]="groupList$ | async"
    (nameChangeRequested)="changeGroupName($event)"
    (parentIdChangeRequested)="changeGroupParent($event)"
></ngrx-demo-group-list>

<button (click)="reset()">Reset</button>

<br /><br />
<hr />
<br /><br />

<h2>Under the hood:</h2>
<div
    style="
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    "
>
    <div>
        <h3>State (full, reactive)</h3>
        <pre>{{ state$ | async | json }}</pre>
    </div>

    <div>
        <h3>Group List (a reactive computable projection)</h3>
        <pre>{{ groupList$ | async | json }}</pre>
    </div>

    <div>
        <h3>Group Forest (a reactive computable projection)</h3>
        <pre>{{ groupForest$ | async | json }}</pre>
    </div>
</div>
