.nx-timeline-hover {
  position: absolute;
  left: 100px;
  height: 45px;
  width: 140px;
  top: 5px;
  padding-left: 5px;
  pointer-events: none;
  background: rgba(205,215,220, 0.9);
  color: rgb(43, 56, 63);

  > span {
    text-align: center;
    display: block;

    &.date-label {
      padding-top: 2px;
      font-size: 13px;
      line-height: 1.5em;
    }

    &.time-label {
      font-weight: bold;
      font-size: 16px;
      line-height: 1.0em;
      font-family: 'robotobold', Roboto, Helvetica, sans-serif;
    }
  }

  > .indicating-arrow {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 60px; // to be overriden by the micro-state offset

    background: transparent;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(205,215,220, 0.9);

    &:after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: -20px;
      width: 1px;
      height: 20px;
      background-color: rgba(205,215,220, 0.9);
    }
  }
}
