<div class="camera-details">

  <div class="close-camera-details-button" (click)="emitClose()">
    <svg viewBox="0 0 20 20">
      <line x1="4.5" y1="4.5" x2="15.5" y2="15.5"></line>
      <line x1="4.5" y1="4.5" x2="15.5" y2="15.5" transform="translate(10, 10) rotate(90) translate(-10, -10) "></line>
    </svg>
  </div>

  <h6>Camera Details</h6>

  <ul class="params">
    <li class="param">
      <span class="key">Name</span>
      <span class="value">{{ camera.name }}</span>
    </li>

    <li class="param">
      <span class="key">CameraID</span>
      <span class="value">{{ camera.id }}</span>
    </li>

    <li class="param">
      <span class="key">IP (URL)</span>
      <span class="value"><a [href]="camera.url" target="_blank">{{ camera.ip }}</a></span>
    </li>

    <!-- <li class="param" *ngFor="let (transport, resolutions) of ">

    </li> -->

    <li class="param">
      <span class="key">View</span>
      <span class="value">Web</span>
    </li>

    <li class="param transport" *ngFor="let t of camera.availableTransportsAndResolutions | keyvalue">
      <span class="key">{{ t.key }}</span>
      <span class="value">
        <a
          *ngFor="let r of t.value | keyvalue"
          [href]="camera.getVideoUrl(t.key, r.value)"
          target="_blank"
        >{{ r.key }}</a>
      </span>
    </li>

    <!-- <li class="param">
      <span class="key">High Stream</span>
      <span class="value">
        <a
          *ngIf="camera.availableTransportsAndResolutions.rtsp['high']"
          [href]="camera.getVideoUrl('rtsp', 'high')"
          target="_blank"
        >RTSP</a>
        <a
          *ngIf="camera.availableTransportsAndResolutions.hls['high']"
          [href]="camera.getVideoUrl('hls', 'high')"
          target="_blank"
        >HLS</a>
      </span>
    </li>

    <li class="param">
      <span class="key">Low Stream</span>
      <span class="value">
        <a
          *ngIf="camera.availableTransportsAndResolutions.rtsp['low']"
          [href]="camera.getVideoUrl('rtsp', 'low')"
          target="_blank"
        >RTSP</a>
        <a
          *ngIf="camera.availableTransportsAndResolutions.hls['low']"
          [href]="camera.getVideoUrl('hls', 'low')"
          target="_blank"
        >HLS</a>
      </span>
    </li> -->

    <!-- <li class="param">
      <span class="key">Transcoding</span>
      <span class="value">RTSP / MJPEG / WEBM</span>
    </li>

    <li class="param">
      <span class="key">Download</span>
      <span class="value">HIGH / LOW / PREVIEW</span>
    </li> -->
  </ul>

  <!-- <h6>Link Settings</h6>
  <label><input type="checkbox"> Use temporary key</label>
  <label><input type="checkbox"> Use credentials</label> -->
  <!-- TODO: Duration: (input:sec), resolution (input:640p), playing position: live -->
</div>