<span *ngIf="forElement.valid && LANG.passwordRequirements">
    <nx-tag static type="success-bright"
            *ngIf="forElement.control && !forElement.control.fairPassword">{{LANG.passwordRequirements.good | uppercase}}</nx-tag>
    <nx-tag static type="warning-bright"
            *ngIf="forElement.control && forElement.control.fairPassword"
            title="{{ LANG.passwordRequirements.fairMessage}}">{{LANG.passwordRequirements.fair | uppercase}}</nx-tag>
</span>

<span *ngIf="!forElement.valid && !forElement.touched">
    <nx-tag static type="danger-bright"
            *ngIf="weak && !forElement.errors.pattern"
            title="{{ LANG.passwordRequirements.weakMessage}}">{{LANG.passwordRequirements.weak | uppercase}}</nx-tag>
    <nx-tag static type="danger-bright"
            *ngIf="forElement.errors &&
                 forElement.errors.pattern &&
                 !forElement.errors.minlength"
            title="{{ LANG.passwordRequirements.requiredMessage}}">{{LANG.passwordRequirements.required | uppercase}}</nx-tag>
</span>
