<span id="successMessages" *ngIf="forElement.valid && LANG.passwordRequirements && forElement.control">
    <nx-tag static type="success-bright"
            *ngIf="!forElement.control.fairPassword">{{LANG.passwordRequirements.good()  | uppercase}}</nx-tag>
    <nx-tag static type="warning-bright"
            *ngIf="forElement.control.fairPassword"
            [nxTooltip]="LANG.passwordRequirements.fairMessage()"
    >{{LANG.passwordRequirements.fair()  | uppercase}}</nx-tag>
</span>

<span id="failMessages" *ngIf="!forElement.valid && (!forElement.touched || forElement.dirty)">
    <nx-tag static type="danger-bright"
            *ngIf="forElement.errors?.minlength"
            [nxTooltip]="LANG.passwordRequirements.minLengthMessage()"
    >{{LANG.passwordRequirements.minLength()  | uppercase}}</nx-tag>

    <nx-tag static type="danger-bright"
            *ngIf="forElement.errors?.common"
            [nxTooltip]="LANG.passwordRequirements.commonMessage()"
    >{{LANG.passwordRequirements.common()  | uppercase}}</nx-tag>

    <nx-tag static type="danger-bright"
            *ngIf="forElement.errors?.weak"
            [nxTooltip]="LANG.passwordRequirements.weakMessage()"
    >{{LANG.passwordRequirements.weak()  | uppercase}}</nx-tag>

    <nx-tag static type="danger-bright"
            *ngIf="forElement.errors?.pattern && !forElement.errors?.minlength"
            [nxTooltip]="LANG.passwordRequirements.requiredMessage()"
    >{{LANG.passwordRequirements.required()  | uppercase}}</nx-tag>
</span>
