<h1>Hei, {{message.userFullName}}</h1>

<p>Du har mottatt denne meldingen fordi du eller noen andre ba om å tilbakestille passordet for en %CLOUD_NAME% konto.</p>
<p>Hvis du ikke ba om det, vennligst gi oss beskjed umiddelbart ved å kontakte supporten.</p>

<a class="btn" href="{{config.portal_url}}/authorize/restore_password/{{message.code}}">Tilbakestille passord</a>

<p class='disclaimer'>
Denne koblingen for tilbakestilling av passord er gyldig i 24 timer. <br>
Del ikke meldingen eller lenken til noen.
</p>
