<h1>Hei, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> har delt tilgang til videohåndteringssystemet "{{message.system_name}}" med deg.

For å se og administrere, vennligst opprett en konto på <a href="{{config.portal_url}}">%CLOUD_NAME%</a>, bruk din nåværende e-postadresse og følg ytterligere instruksjoner.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Du har fått tilgang til videohåndteringssystem "{{message.system_name}}".

For å se og administrere det, vennligst opprett konto på <a href="{{config.portal_url}}">%CLOUD_NAME%</a> bruker din nåværende e-postadresse og følg ytterligere instruksjoner.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/authorize/register/{{message.code}}">Opprett konto</a>

