<div class="row auth-visible">
    <div class="col-12 server-info" *ngIf="selectedServer">
        <nx-block header-style="extended">
            <header>
                <h2>{{ selectedServer.name }}</h2>
                <div>
                    <span>IP</span>
                    <span>{{ selectedServer.ip }}</span>
                </div>
                <div>
                    <span>OS</span>
                    <span>{{ selectedServer.osName }}</span>
                </div>
                <div>
                    <span>Version</span>
                    <span>{{ selectedServer.version }}</span>
                </div>
            </header>
            <nx-section>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <button 
                            class="btn btn-default mr-2"
                            (click)="renameServer()"
                        >
                            <span class="ellipsis" translate>Rename</span>
                        </button>
                        <button 
                            class="btn btn-default"
                            (click)="restartServer()"    
                        >
                            <span class="ellipsis" translate>Restart</span>
                        </button>
                    </div>
                    <div class="d-flex">
                        <button 
                            class="btn btn-default mr-2"
                            (click)="detachServer()"
                        >
                            <span class="ellipsis" translate>Detach from the System</span>
                        </button>
                        <button 
                            class="btn btn-default"
                            (click)="resetServer()"
                        >
                            <span class="ellipsis" translate>Reset to Defaults</span>
                        </button>
                    </div>
                </div>
            </nx-section>
        </nx-block>
        <nx-block type="mt-3">
            <header>
                <h4 translate>Settings</h4>
            </header>
            <nx-section class="pl-3">
                <div class="d-flex align-items-center">
                    <span class="ellipsis mr-2" translate>Port</span>
                    <input 
                        class="port-input pl-2" 
                        type="number"
                        [min]="CONFIG.servers.port.min"
                        [max]="CONFIG.servers.port.max"
                        [(ngModel)]="ipPortWatcher.value"
                        (keydown)="storePreviousValue($event)"
                        (keyup)="validationCheckForInput()"
                        [disabled]="!system.permissions.editAdmins"
                        (change)="onPortChange()"
                    >
                </div>
            </nx-section>
        </nx-block>
    </div>
</div>