<div class="state-container">
    <div class="state-container--title"></div>
    <div class="state-container--body">
        <div class="d-flex flex-column align-items-lg-center justify-content-center mb-3">
            <div translate>Server address</div>
            <h4>{{ address }}</h4>
        </div>
        <div class="d-flex flex-column align-items-lg-center justify-content-center">
            <div translate>Administrator login</div>
            <h4>{{ username }}</h4>
        </div>
    </div>
</div>
