@use 'typography' as *;

:host {
    display: block;
    padding-bottom: 70px;
    
    svg-icon {
        margin: 12px 0;
    }
    
    div, h4 {
        @include medium15nocolor;
        margin: 0;
        line-height: 1;
    }
}
