<h1>Istnieje nowa wersja {{ message.asset }} ({{ message.asset_type }}) do przejrzenia</h1>
<p>Kliknij link, aby przejrzeć opis wersji {{ message.id }} dla {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Przejrzyj opis wersji</a>
<h4>Na tej stronie możesz</h4>
<ul>
	<li>Przejrzeć najnowsze zmiany.</li>
	<li>Opublikować tę wersję i zaktualizować całą zawartość.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>
