# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
dist

# don't lint nyc coverage output
coverage

# Don't lint tsconfig
tsconfig.json

# Don't lint deprecated files/folders
*.bak.*
**/*.bak/**/*
*.spec-jest.ts

# Don't lint example file
vendor.ts

# Don't lint environment files
environments

# 64k lines!!
libs/features/sandbox/webgl/webgl.component.ts
