/.angular/cache
node_modules**
.angular**

node_modules
dist
config.json
.tmp
.idea
.sass-cache
src/customization/webadmin_logo.png
src/customization/webadmin_config.json
test/visual
yarn.lock
pnpm-lock.yaml
src/images/promo
src/images/favicon.ico
src/images/logo.png
src/images/dark_logo.png
src/images/logo_small.png
src/styles/custom
src/styles/*.css
**/*.js.map
src/app/**/*.js
src/supported_languages.json
coverage
reports
src/scripts/services/{language,dialogs,systems,process,nx-config,cloud_api,account,angular-uuid2,authorizationCheckService}.js
src/scripts/downgraded-providers.js
src/{main,polyfills,vendor,overrides.d,app.module,app.component,ajs-upgraded-providers}.js