/.angular/cache
node_modules**
.angular**

node_modules
dist
config.json
.tmp
.idea
.sass-cache
common/customization/webadmin_logo.png
common/customization/webadmin_config.json
test/visual
yarn.lock
pnpm-lock.yaml
common/images/promo
common/images/favicon.ico
common/images/logo.png
common/images/dark_logo.png
common/images/logo_small.png
common/styles/custom
common/styles/*.css
language_hash
**/*.js.map
src/**/*
src/supported_languages.json
coverage
junit
reports
env_**
common/scripts/services/{language,dialogs,systems,process,nx-config,cloud_api,account,angular-uuid2,authorizationCheckService}.js
common/scripts/downgraded-providers.js
src/{main,polyfills,vendor,overrides.d,app.module,app.component,ajs-upgraded-providers}.js
common/environments/environment.local.ts
common/environments/environment.dev.ts
inline-wizard/customization/custom/_custom_palette.scss
.angular/cache

.angular/cache

.angular/cache
