@use '../../_theme_palette' as palette;

/* pages/systems/settings/cameras/cameras.component.scss */
$cameras-sensitivity-color-0: palette.$light1;
$cameras-sensitivity-color-1: #627CD6;
$cameras-sensitivity-color-2: #23A4CB;
$cameras-sensitivity-color-3: #31BAA2;
$cameras-sensitivity-color-4: #79BC66;
$cameras-sensitivity-color-5: #B8BC37;
$cameras-sensitivity-color-6: #FBA405;
$cameras-sensitivity-color-7: #E97119;
$cameras-sensitivity-color-8: #D24729;
$cameras-sensitivity-color-9: palette.$red_main;
