<div class="media-server-list">
  MSL
  <!-- <nx-media-server-list-header
    (ipVisibilityStateChange)="updateShowIP($event)"
    (filterTokenChange)="updateFilteredList($event)"
  ></nx-media-server-list-header> -->

  <!-- <div class="server-list">
    <div
      class="server"
      *ngFor="let server of filteredMediaServers"
      [ngClass]="{
        'show-ip': showIP,
        'expanded': isServerExpanded[server.id],
        'online': server.status === 'Online',
        'offline': server.status === 'Offline',
        'unauthorized': server.status === 'Unauthorized',
        'empty': !server.cameras.length
      }"
    >
      <div class="server-name" (click)=changeServerVisibility(server.id)>
        <span class="name">{{ server.name }}</span>
        <span class="ip-info">{{ server.url | ip_info }}</span>
      </div>
      <div class="cameras">
        <a
          class="camera"
          *ngFor="let camera of server.cameras"
          [routerLink]="'/systems/' + systemId + '/view/' + camera.id"
          [ngClass]="{
            online: camera.status === 'Online',
            recording: camera.status === 'Recording',
            offline: camera.status === 'Offline',
            unauthorized: camera.status === 'Unauthorized'
          }"
        >
          <div class="preview">
            <img *ngIf="(camera.status === 'Online' || camera.status === 'Recording') && cameraThumbnailUrls && cameraThumbnailUrls[camera.id]" [src]="cameraThumbnailUrls[camera.id]">
          </div>
          <span class="name">{{ camera.name }}</span>
          <span class="ip-info">{{ camera.url | ip_info }}</span>
        </a>
      </div>
    </div>
  </div> -->
</div>