@use '../../styles/typography';
@use '../../../styles/theme_variables_common' as *;
@use '../../styles/mixins';

.menu-level-3 {
    @include typography.medium13nocolor;
    position: relative;
    background-color: var(--left-menu-l3-bg);
    color: var(--left-menu-l3-color);
    opacity: var(--left-menu-l3-opacity);
    border-radius: 0;
    text-decoration: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px;
    cursor: pointer;

    .menu-level-3-content .menu-level-3-svg-icon {
        svg {
            .icon-with-fill {
                fill: var(--left-menu-l3-color);
            }

            .st0 {
                stroke: var(--left-menu-l3-color);
            }
        }
    }

    &.alternative {
        &.focus {
            &,
            * {
                // overwrite whatinput's focus outline
                background-color: var(--left-menu-l3-bg) !important;
                outline: none !important;
                box-shadow: none !important;
            }
        }
        &:focus {
            &,
            * {
                // overwrite whatinput's focus outline
                background-color: var(--left-menu-l3-bg);
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }

    &.selected:hover {
        &,
        * {
            color: $light1 !important;
            fill: $light1 !important;
            background-color: $light16 !important;
            min-height: auto;
        }
    }

    &.selected {
        &,
        * {
            color: var(--left-menu-l3-selected-color) !important;
            background-color: var(--left-menu-l3-selected-bg) !important;
            min-height: auto;
            opacity: 1;
        }

        .menu-level-3-content .menu-level-3-svg-icon {
            svg {
                .icon-with-fill {
                    fill: var(--left-menu-l3-selected-color) !important;
                }
                .st0 {
                    stroke: var(--left-menu-l3-selected-color) !important;
                }
            }
        }

        .menu-level-3-additional {
            font-family: $font-family-regular;
        }
    }

    &:hover {
        &,
        * {
            background-color: var(--left-menu-l3-hover-bg) !important;
            color: var(--left-menu-l3-hover-color);
        }

        .menu-level-3-svg-icon {
            svg {
                .icon-with-fill {
                    fill: var(--left-menu-l3-hover-color) !important;
                }
                .st0 {
                    stroke: var(--left-menu-l3-hover-color) !important;
                }
            }
        }
    }

    &:active {
        &,
        * {
            background-color: var(--left-menu-l3-hover-bg) !important;
        }
    }

    & > div {
        line-height: 26px;
    }

    .top-shadow-cover {
        left: 0;
        position: absolute;
        background: var(--left-menu-l3-shadow);
        width: 100%;
        height: 4px;
        z-index: 2;
    }

    &-icon {
        float: left;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 26px;
    }

    &-svg-icon {
        float: left;
        margin-right: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -2px;
    }

    &.item-disabled {
        @include typography.medium13nocolor;
        opacity: 0.35;

        &:hover,
        &.selected {
            opacity: 1;
        }

        .menu-level-3-icon {
            background-position: -99px -135px;
        }
    }

    .ellipsis {
        @include mixins.ellipsis;
        line-height: inherit;
    }

    .menu-level-3-svg-icon {
        svg {
            width: 26px;
            height: 26px;
            pointer-events: none;

            .st0 {
                stroke: var(--left-menu-l3-color);
            }
        }
    }
}

.menu-level-3-additional {
    color: var(--left-menu-l3-additional-color);
    font-family: $font-family-regular;
}

.indent {
    margin-left: 28px;
}
