svg-icon {
    margin-top: 10px;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.animate-rotation {
    animation-name: rotate;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}    