@use '../../../../styles/typography';
@use '../../../../styles/mixins';
@use '../../../../../styles/theme_variables' as *;

.user-name {
    @include mixins.ellipsis;
    @include typography.regular13;
}

.heading-style {
    font-family: $font-family-medium;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
    font-size: 24px;
}

.header-title {
    text-align: left !important;
    position: relative;
    h2 {
        @extend .heading-style;
    }
}

.edit-button {
    width: 40px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-role {
    @include mixins.ellipsis;
    max-width : 120px;
}

.button-cell {
    padding-right : 6px !important;
    padding-left  : 6px !important;
    text-align    : center;
}

.help-block {
    display          : block;
    background-color : transparent;
    color            : $light16;
    padding          : .5rem 0 0;
}

.user-settings-form {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    padding: 6px 0 6px 8px;
    .user-form-labels {
        width: 1px;
        margin-right: 0.5rem;
        color: $dark9;
    }
    input:disabled {
        background-color: $light2;
        border: 1px solid $light6;
    }
}

.edit-padding {
    padding-left: 6px !important;
}

.user-status-switch-wrappper {
    padding-top: 10px;
}