<nx-pre-loader *ngIf=" !system || !system.users || !selectedUser"></nx-pre-loader>

<div *ngIf="system" class="row d-flex align-items-start auth-visible">
    <div class="col-12">
        <nx-block *ngIf="selectedUser" header-style="extended">
            <header>
                <div class="float-right d-flex">
                    <span *ngIf="!selectedUser.isEnabled"
                          class="text-danger" [ngClass]="{'pr-2': selectedUser.canBeEdited}"
                          translate>User disabled</span>
                    <nx-switch *ngIf="systemAvailable && selectedUser.canBeEdited && !editMode"
                            [ngModel]="selectedUser.isEnabled"
                            (ngModelChange)="updateEnabled($event);"
                            componentId="user-active-status"
                    ></nx-switch>
                </div>
                <div *ngIf="selectedUser.isCloud || !selectedUser.canBeEdited; else editableTitle">
                    <h2 class="user-email" [ngClass]="{ 'mb-2': selectedUser.isCloud }"
                        >{{ selectedUser.isCloud ? email.originalValue : selectedUser.name }}</h2>
                    <span *ngIf="selectedUser.isCloud" class="user-name">{{selectedUser.fullName}}</span>
                </div>
                <ng-template #editableTitle>
                    <div class="d-flex align-items-center">
                        <div class="header-title" [ngClass]="{'w-100': editMode}">
                            <h2 NxEditable
                                #editTitle
                                [(content)]="localUserName" 
                                (contentChange)="handleNameChange($event)"
                                (blur)="handleBlur()"
                                (focus)="handleFocus()"
                                [hasError]="!localUserName || emptyName"
                                id="editable-title"></h2>
                            <span *ngIf="!localUserName" class="input-error" translate>Login cannot be empty</span>
                            <span *ngIf="emptyName" class="input-error" translate>Please enter a valid name</span>
                        </div>
                        <div class="edit-button" [ngClass]="{ 'd-none': editMode }" (click)="editTitle.focus()">
                            <img [src]="CONFIG.icons.dirNonStandard + 'edit.png'" width="20" height="20"/>
                        </div>
                    </div>
                </ng-template>
            </header>

            <nx-section>
                <div *ngIf="selectedUser.canBeEdited; else roleName;"
                     class="mr-2 my-2" style="width: 300px">
                    <label for="permissionsSelect" translate>Access level</label>
                    <nx-permissions-select
                            id="permissionsSelect"
                            [disabled]="!systemAvailable"
                            [user]="selectedUser"
                            [system]="system"
                            [roles]="system.accessRoles"
                            [selected]="selectedUser.role"
                            (onSelected)="setPermission($event);">
                    </nx-permissions-select>
                </div>
                <ng-template #roleName>
                    <h4 #roleName>{{ !selectedUser.isCloud && selectedUser.name === 'admin' ? 'Owner' : selectedUser.role.name }}</h4>
                </ng-template>
                <div>
                    <span class="help-block pt-0" [innerHtml]="accessDescription"></span>
                </div>
            </nx-section>
            <nx-section *ngIf="!selectedUser.isCloud" type="no-spacing">
                <form #userSettingsForm="ngForm"
                    name="userSettingsForm"
                    class="d-table user-settings-form form inputs w-100 mw-100 col-lg-7 col-m-8"
                    novalidate>
                    <div class="form-group d-md-table-row d-flex flex-column">
                        <label for="fullName"
                            class="control-label d-md-table-cell text-nowrap user-form-labels text-right"
                            translate>Name</label>
                        <input type="text" class="form-control mx-0 w-100 mx-md-2 d-md-table-cell col-md-7"
                            [(ngModel)]="fullName.value"
                            (change)="updateForm($event)"
                            name="fullName" id="fullName"
                            [disabled]="!selectedUser.canBeEdited"
                            maxlength="255">
                    </div>
                    <div class="form-group d-md-table-row d-flex flex-column">
                        <label for="email"
                            class="control-label d-md-table-cell text-nowrap user-form-labels text-right"
                            translate>Email</label>
                        <input type="email" class="form-control mx-0 w-100 mx-md-2 d-md-table-cell col-md-7"
                            [(ngModel)]="email.value"
                            (change)="updateForm($event)"
                            name="email" id="email" #emailInput="ngModel"
                            pattern="{{ CONFIG.credentialsValidation.emailRegex }}"
                            [disabled]="!selectedUser.canBeEdited"
                            maxlength="255">
                        <span class="input-error" *ngIf="emailInput.invalid && emailInput.touched"
                            translate>Email format incorrect</span>
                    </div>
                </form>
            </nx-section>
            <nx-section *ngIf="(selectedUser.isCloud && selectedUser.isMe)
                || selectedUser.canBeEdited">
                <div *ngIf="selectedUser.isCloud && selectedUser.isMe" class="float-left">
                    <button class="btn btn-default"
                        id="accountSettingsButton"
                        (click)="routeToAccountSettings()"
                        translate>Account Settings</button>
                </div>
                <div *ngIf="!selectedUser.isCloud && selectedUser.canBeEdited"
                    class="float-left">
                    <button class="btn btn-default" (click)="changePassword()" translate>Change Password</button>
                </div>
                <div class="float-right"
                    *ngIf="selectedUser.canBeEdited">
                    <button class="btn btn-default"
                            [disabled]="!systemAvailable"
                            (click)="removeUser()">
                        <svg-icon nx-add-svg-src [src]="CONFIG.icons.dir + 'delete.svg'"
                            [applyCss]="true"
                            [svgStyle]="{'width.px': '24', 'height.px': '24', 'pointer-events': 'none'}"
                            class="ml-n2 mr-1"></svg-icon>
                        <ng-container>{{deleteMessage}}</ng-container>
                    </button>
                </div>
            </nx-section>
        </nx-block>
    </div>
</div>
