@use "../styles/typography";
// @import '../../styles/custom/custom_palette';
// @import '../../styles/theme_palette';
@use "../../styles/theme_variables" as *;
@use "../styles/mixins";
@forward "../../styles/theme_variables";
@import "~bootstrap/scss/mixins";

@mixin button {
    font-family     : $font-family-medium;
    color           : $font-color-medium;
    font-size       : $h6-font-size !important;
    height          : 2rem !important;
    border-radius   : $border-radius-base !important;
    font-weight     : inherit !important;
    padding         : 0 1rem !important;
    border          : none !important;
    display         : flex !important;
    align-items     : center !important;
    transition      : none !important;
    max-width       : 278px;
    text-overflow   : ellipsis;
    overflow        : hidden;
    line-height     : 1rem !important;
    justify-content : center;
    text-decoration : none;
    box-shadow      : none !important;

    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
        box-shadow : none;
    }

    &:disabled {
        opacity : 0.3;

        & * {
            pointer-events : none;
        }
    }
}

// Overwrite Boostrap section ************
button, .btn {
    @include button;
}

.btn.btn-big {
    height : 40px !important;
}

.btn.btn-default {
    color            : $dark9 !important;
    background-color : $light4 !important;
    box-shadow       : inset 0 -1px 0 0 $light7 !important;
    font-family      : $font-family-medium;
    
    &.has-icon {
        position     : relative;
        padding-left : 36px !important;
    
        svg-icon {
            position : absolute;
            left     : 6px;
        }
    }

    &:hover:not([disabled]):not(.disabled) {
        background-color : $light5 !important;
        box-shadow       : inset 0 -1px 0 0 $light8;
    }

    &:active,
    &.active {
        background-color : $light6 !important;
        box-shadow       : inset 0 1px 0 0 $light9 !important;
    }
}

.btn.btn-dropdown-toggle {
    color            : $dark9 !important;
    background-color : $light4;
    box-shadow       : inset 0 -1px 0 0 $light7;
    font-family      : $font-family-medium;

    &:hover:not([disabled]):not(.disabled) {
        background-color : $light5;
        box-shadow       : inset 0 -1px 0 0 $light8;
    }

    &:active,
    &.active {
        background-color : $light6;
        box-shadow       : inset 0 1px 0 0 $light8 !important;
    }
}

.btn.btn-primary {
    color            : $light1 !important;
    background-color : var(--brand-core) !important;
    border-color     : transparent !important;
    box-shadow       : inset 0 -1px 0 0 var(--brand-d2) !important;

    &:hover:not([disabled]):not(.disabled) {
        background-color : var(--brand-d1) !important;
        box-shadow       : inset 0 -1px 0 0 var(--brand-d3);
    }

    &:focus,
    &.focus {

    }

    &:active,
    &.active {
        background-color : var(--brand-d2) !important;
        box-shadow       : inset 0 1px 0 0 var(--brand-d4) !important;
    }
    
    &.disabledInProgress {
        opacity: 1;
    }
}

.btn.btn-lg {
    padding       : 10px 16px;
    font-size     : 15px;
    line-height   : 1.3333333;
    border-radius : 4px;
}

.btn.btn-toggle {
    color            : $dark9;
    background-color : $light4;
    max-width        : 180px;
    display          : flex;
    align-content    : center;
    justify-content  : center;

    input {
        position : absolute;
        opacity  : 0;
    }

    &:hover:not([disabled]):not(.disabled) {
        background-color : $light5;
    }

    &:active,
    &.active {
        background-color : $light6 !important;
    }

    &.selected {
        color            : $light1;
        background-color : $light16 !important;
    }
}

.btn.btn-menu {
    height           : 28px;
    color            : $dark9;
    border           : 1px solid $light10 !important;
    background-color : transparent;
    max-width        : 180px;
    display          : flex;
    align-content    : center;
    justify-content  : center;
    border-radius    : $border-radius-base !important;
}

.btn.btn-clear {
    color            : $dark9;
    background-color : transparent;
    max-width        : 215px;
    display          : flex;
    align-content    : center;
    justify-content  : center;
    border-radius    : $border-radius-base !important;

    input {
        position : absolute;
        opacity  : 0;
    }

    .glyphicon-close {
        opacity : 1 !important;
    }

    &:hover:not([disabled]):not(.disabled) {
        background-color : rgba($light16, .1);
    }

    &:active,
    &.active {
        background-color : rgba($light16, .15) !important;
    }
}

// (END) Overwrite Boostrap section ******

.btn-back {
    padding-left : 0 !important;

    .back-arrow {
        width               : 20px;
        height              : 20px;
        background-image    : url("/static/images/tutorial_arrow.png") !important;
        background-repeat   : no-repeat;
        background-size     : 20px 20px;
        background-position : center;
        transform           : scaleX(-1);
        float               : left;
        margin-left         : .5rem;
        margin-right        : .5rem;

        @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
            background-image : url("/static/images/tutorial_arrow@2x.png") !important;
        }
    }
}

.btn-next {
    svg-icon {
        width       : 24px;
        margin-left : 8px;
        
        svg .st0 {
            stroke : $light1;
            fill   : $light1;
        }
    }
}

.btn-dropdown-toggle {
    background-color : transparent;
}

.btn-tag {
    @include typography.regular13light;
    font-weight      : 400;
    white-space      : nowrap;
    background-color : $light4;
    max-width        : none;

    &:hover {
        color            : $light16;
        background-color : $light5;
    }

    &:active {
        color            : $light16;
        background-color : $light6;
    }
}

.btn-tag-selected {
    @include typography.regular13dark9;
    @include mixins.badge-selected($light16, $light17, $light18);
    padding   : 0 40px 0 12px !important;
    position  : relative;
    max-width : none;
    cursor    : default !important;

    & > span {
        margin  : 0;
        padding : 0;
    }

    &:hover {
        color : $light1;
    }

    .close-button {
        position        : absolute;
        right           : 0;
        bottom          : 0;
        border-radius   : 2px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        height          : 40px;
        width           : 40px;
        cursor          : pointer;

        .tag-close-icon {
            margin : 0 !important;
        }
    }
}

.btn.btn-danger {
    color : $light1 !important;
}

.btn.btn-arrow {
    position      : relative;
    padding-left  : 40px !important;
    padding-right : 12px !important;
    max-width     : none;

    &.has-icon {
        padding-left : 20px;
    }

    & > span {
        margin  : 0;
        padding : 0 1px; // flex messes up caption width
    }

    &.selected {
        @include mixins.badge-selected($light16, $light17, $light18);
    }
}

.btn-text {
    text-decoration : none;

    svg-icon svg {
        width  : 20px;
        height : 20px;
    }

    &.has-icon {
        padding-left : 25px !important;
        position     : relative;

        svg {
            path {
                fill : $light16;
            }
        }
    }

    span {
        @include typography.regular13light;

        &.close {
            left   : 4px;
            width  : 16px;
            height : 16px;

            &:before, &:after {
                background-color : $light16;
            }
        }
    }

    &:hover {
        text-decoration : none;

        span {
            color           : $dark15 !important;
            text-decoration : none;

            &.close {
                &:before, &:after {
                    background-color : $dark15;
                }
            }
        }
    }

    &:active {
        span {
            color : $light16 !important;

            &.close {
                &:before, &:after {
                    color : $light16 !important;
                }
            }
        }
    }
}

.btn-collapse {
    @include media-breakpoint-down(md) {
        padding : 0 .75rem;
    }

    .glyphicon {
        display : block;
        margin  : 0;
        @include media-breakpoint-up(md) {
            display : none;
        }
    }

    .btn-caption {
        display : none;
        @include media-breakpoint-up(md) {
            display : block;
        }
    }
}

