.alert-top{
    position: fixed;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;

    @include media-breakpoint-down(sm) {
        min-width: 100%;
    }

    @include media-breakpoint-up(sm) {
        min-width: 600px;
    }

    &.ng-animate {
        transition: 0.5s linear all;

        &.ng-enter {
            opacity: 0;
        }

        &.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave {
            opacity: 1;
        }

        &.ng-leave-active {
            opacity: 0;
        }
    }
}

@include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    .modal-dialog .alert-top {
        top: -74px;
    }
}
