@use "./typography";
@use "../../styles/theme_variables_common" as *;
@use "./mixins";

.form-control {
    display          : block !important;
    width            : 100% !important;
    height           : 32px !important;
    font-size        : rem(14px) !important;
    line-height      : 1.428571429 !important;
    color            : var(--input-color) !important;
    background-color : var(--input-bg) !important;
    background-image : none !important;
    border           : 1px solid var(--input-border-color) !important;
    border-radius    : 1px !important;
    transition       : none !important;
    box-shadow       : none !important;
    padding          : $padding-base-vertical $padding-input-horizontal !important;

    @include mixins.placeholder ();
    
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color : var(--input-color);
        -webkit-box-shadow      : 0 0 0 40px var(--input-bg) inset !important;
    }

    &[disabled], &[readonly],
    fieldset[disabled] & {
        opacity : .3;

        &:hover, &:focus {
            border-color : var(--input-border-color) !important;
        }
    }

    &[type="password"] {
        font-family: "Roboto", "Helvetica", sans-serif; // reset font to show dots and not Japanese currency
    }

    &:hover {
        border-color : var(--input-hover-border-color);
    }

    &:focus {
        background-color: var(--input-active-bg) !important;
        color : var(--input-active-color) !important;
        border-color : var(--input-active-border-color) !important;
        box-shadow   : none;
    }

    &[class*="ng-invalid"]:not(.ng-untouched):not(.notYetSubmitted):not(.hide-errors) {
        border-color : var(--input-error-border-color) !important;
        color        : var(--input-error-color) !important;

        + .input-group-addon {
            border-color     : transparent;
            background-color : transparent;
        }
    }
}

.form-component {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color : var(--input-color);
        -webkit-box-shadow      : 0 0 0 40px var(--input-bg) inset !important;
    }
    
    &.ng-untouched {
        input {
            border-color : var(--input-border-color) !important;
            color        : var(--input-color) !important;
        }
    }

    &[class*="ng-invalid"]:not(.ng-untouched) {
        input {
            border-color : var(--input-error-border-color) !important;
            color        : var(--input-error-color) !important;

            + .input-group-addon {
                border-color     : transparent;
                background-color : transparent;
            }
        }
    }
}

.input-error {
    @include typography.regular13error;
    line-height : 1rem;

    @include media-breakpoint-down(sm) {
        margin-top : .5rem;
    }
}

.form-control-row {
    height : 32px;
}

.form-control-static {
    min-height : 32px;
}

.btn.form-control {
    text-align : left !important;
    .caret {
        float      : right;
        margin-top : 8px;
    }
}

select.form-control {
    -webkit-appearance : none;
    -moz-appearance    : none;
    background-color   : transparent;
}


// This is used to implement updated validation handling where errors aren't shown until submit
// See register.component for implementation example.
.override-error-style {
    border-color: var(--input-border-color) !important;
    color: var(--input-color) !important;
}
input.hide-errors {
    @extend .override-error-style;
}
.hide-errors {
    & .input-error {
        display: none;
    }
    & .ng-invalid , & > input {
        @extend .override-error-style;
    }
}

.text-area-input {
    display          : block !important;
    width            : 100% !important;
    font-size        : rem(14px) !important;
    line-height      : 1.428571429 !important;
    color            : var(--input-color) !important;
    background-color : var(--input-bg) !important;
    background-image : none !important;
    border           : 1px solid var(--input-border-color) !important;
    border-radius    : 1px !important;
    transition       : none !important;
    box-shadow       : none !important;
    padding          : $padding-base-vertical $padding-input-horizontal !important;
    @include mixins.placeholder ();
    
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color : var(--input-color);
        -webkit-box-shadow      : 0 0 0 40px var(--input-bg) inset !important;
    }

    &[class*="ng-invalid"]:not(.ng-untouched):not(.notYetSubmitted):not(.hide-errors) {
        border-color : var(--input-error-border-color) !important;
        color        : var(--input-error-color) !important;

        + .input-group-addon {
            border-color     : transparent;
            background-color : transparent;
        }
    }
}
