@use './typography';
// @import '../../styles/custom/custom_palette';
// @import '../../styles/theme_palette';
@use '../../styles/theme_variables' as *;
@use './mixins';

.form-control {
    display          : block !important;
    width            : 100% !important;
    height           : 32px !important;
    font-size        : rem(14px) !important;
    line-height      : 1.428571429 !important;
    color            : $dark9 !important;
    background-color : $light1 !important;
    background-image : none !important;
    border           : 1px solid $light6 !important;
    border-radius    : 2px !important;
    transition       : none !important;
    box-shadow       : none !important;
    padding          : $padding-base-vertical $padding-input-horizontal !important;

    @include mixins.placeholder ();

    &[disabled], &[readonly],
    fieldset[disabled] & {
        background-color : $additional_light2;

        &:hover, &:focus {
            border-color : $light6 !important;
        }
    }

    &:hover {
        border-color : $light8;
    }

    &:focus {
        border-color : $brand_core;
        box-shadow   : none;
    }

    &[class*="ng-invalid"]:not(.ng-untouched) {
        border-color : $error;
        color        : $error;

        + .input-group-addon {
            border-color     : transparent;
            background-color : transparent;
        }
    }
}

.form-component {
    &[class*="ng-invalid"]:not(.ng-untouched) {
        input {
            border-color : $error;
            color        : $error;

            + .input-group-addon {
                border-color     : transparent;
                background-color : transparent;
            }
        }
    }

    &.ng-untouched {
        input {
            border-color : $light6 !important;
            color        : $dark9 !important;
        }
    }
}

.input-error {
    @include typography.regular13;
    color       : $error !important;
    line-height : 1rem;

    @include media-breakpoint-down(sm) {
        margin-top : .5rem;
    }
}

.form-control-row {
    height : 32px;
}

.form-control-static {
    min-height : 32px;
}

.btn.form-control {
    text-align : left !important;
    .caret {
        float      : right;
        margin-top : 8px;
    }
}

select.form-control {
    -webkit-appearance : none;
    -moz-appearance    : none;
    background-color   : transparent;
}
