@use '../styles/typography';

label {
    @include typography.regular13dark9;
    line-height   : 16px;
    margin-bottom : 8px;

    &[disabled] {
        opacity : .3;
        cursor  : default;
    }
}
