@use '../styles/typography';
@import '../../styles/custom/custom_palette';
@import '../../styles/theme_palette';
@import '../../styles/theme_variables';

label {
    @extend #regular13;
    line-height   : 16px;
    margin-bottom : 8px;

    &[disabled] {
        opacity : .3;
        cursor  : default;
    }
}
