@use '../../styles/theme_variables' as *;

.popover {
    border : none;
    border-radius: 2px !important;
    box-shadow : 0 1rem 2rem 0 transparentize($dark15, 0.4);

    &.bs-popover-bottom {
        margin-top : 1px;

        & > .arrow {
            top : calc(-1rem - 1px); // move it closer to the size bar
            margin-left : -.5rem !important;
            transform   : translateX(-50%);
        }
    }
}

.tooltip {
    pointer-events: none !important;

    &.bs-tooltip-top {
        & > .arrow {
            left : calc(50% - 1rem); // move it to the center
        }

        & > .tooltip-inner {
            text-align: left;
        }
    }
}
