// @import '../../styles/custom/custom_palette';
// @import '../../styles/theme_palette';
@import '../../styles/theme_variables';

@mixin font-source($fontfamily: $font-family-regular, $size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: $fontfamily;
    @if $size {
        font-size: $size !important;
    }
    @if $colour {
        color: $colour !important;
    }
    @if $weight {
        font-weight: $weight !important;
    }
    @if $lh {
        line-height: $lh !important;
    }
}

h1, h2 {
    @include font-source($font-family-medium, $h1-font-size, $font-color-medium);
    margin-top    : $line-height-computed;
    margin-bottom : $line-height-computed;
    padding       : 0;
    display       : flex;
    align-items   : center;
}

.old-h12 {
    @include font-source($font-family-light, rem(22px), $font-color-medium);
    line-height: rem(26px);
}

h2 {
    @include font-source($font-family-medium, $h2-font-size, $font-color-medium);
    margin      : 0;
    padding     : 0;
}

h3 {
    @include font-source($font-family-regular, $h3-font-size, $font-color-regular);
    margin-top    : ($line-height-computed / 2);
    margin-bottom : ($line-height-computed / 4);
}

h4 {
    @include font-source($font-family-medium, $h4-font-size, $font-color-medium);
}

h5 {
    @include font-source($font-family-medium, $h5-font-size, $font-color-medium);
}

h6 {
    @include font-source($font-family-medium, $h6-font-size, $font-color-medium);
}

.h7 {
    @include font-source($font-family-regular, $h6-font-size, $font-color-regular);
}

h1 > .label {
    font-size      : 60%;
    vertical-align : 33%;
}

// Font mixins work like so family(size)(color modifier)
@mixin light11 {
    @include font-source($font-family-light, $font-size-ssm, $font-color-light);
}

@mixin medium11 {
    @include font-source($font-family-medium, $font-size-ssm, $font-color-medium);
}

@mixin medium11light1 {
    @include font-source($font-family-medium, $font-size-ssm, $light1);
}

@mixin regular11 {
    @include font-source($font-family-regular, $font-size-ssm, $font-color-regular);
}

@mixin regular11light {
    @include font-source($font-family-regular, $font-size-ssm, $font-color-light);
}

@mixin light12 {
    @include font-source($font-family-light, $font-size-sm, $font-color-light);
}

@mixin medium12 {
    @include font-source($font-family-medium, $font-size-sm, $font-color-regular);
}

@mixin regular12 {
    @include font-source($font-family-regular, $font-size-sm, $font-color-regular);
}

@mixin regular12light {
    @include font-source($font-family-regular, $font-size-sm, $font-color-light);
}

@mixin regular12light12 {
    @include font-source($font-family-regular, $font-size-sm, $light12);
}

@mixin regular12nocolor {
    @include font-source($font-family-regular, $font-size-sm);
}

@mixin bold13 {
    @include font-source($font-family-bold, $font-size-base, $font-color-medium);
}

@mixin light13 {
    @include font-source($font-family-light, $font-size-base, $font-color-light);
}

@mixin medium13 {
    @include font-source($font-family-medium, $font-size-base, $font-color-medium);
}

@mixin medium13dark15 {
    @include font-source($font-family-medium, $font-size-base, $dark15);
}

@mixin medium13light {
    @include font-source($font-family-medium, $font-size-base, $font-color-light);
}

@mixin medium13light1 {
    @include font-source($font-family-medium, $font-size-base, $light1);
}

@mixin medium13nocolor {
    @include font-source($font-family-medium, $font-size-base);
}

@mixin regular13 {
    @include font-source($font-family-regular, $font-size-base, $font-color-regular);
}

@mixin regular13light {
    @include font-source($font-family-regular, $font-size-base, $font-color-light);
}

@mixin regular13light1 {
    @include font-source($font-family-regular, $font-size-base, $light1);
}

@mixin regular13light8 {
    @include font-source($font-family-regular, $font-size-base, $light8);
}

@mixin regular13light10 {
    @include font-source($font-family-regular, $font-size-base, $light10);
}

@mixin regular13nocolor {
    @include font-source($font-family-regular, $font-size-base);
}

@mixin light14 {
    @include font-source($font-family-light, $h6-font-size, $font-color-light);
}

@mixin medium14 {
    @include font-source($font-family-medium, $h6-font-size, $font-color-medium);
}

@mixin regular14 {
    @include font-source($font-family-regular, $h6-font-size, $font-color-regular);
}

@mixin regular14dark10 {
    @include font-source($font-family-regular, $h6-font-size, $dark10);
}

@mixin regular14light {
    @include font-source($font-family-regular, $h6-font-size, $font-color-light);
}

@mixin light15 {
    @include font-source($font-family-light, $h4-font-size, $font-color-light);
}

@mixin medium15 {
    @include font-source($font-family-medium, $h4-font-size, $font-color-medium);
}

@mixin medium15dark17 {
    @include font-source($font-family-medium, $h4-font-size, $dark17);
}

@mixin regular15 {
    @include font-source($font-family-regular, $h4-font-size, $font-color-regular);
}

@mixin regular15light {
    @include font-source($font-family-regular, $h4-font-size, $font-color-light);
}

@mixin regular15nocolor {
    @include font-source($font-family-regular, $h4-font-size);
}

@mixin regular16 {
    @include font-source($font-family-regular, rem(16px), $font-color-regular);
}

@mixin regular16light1 {
    @include font-source($font-family-regular, rem(16px), $light1);
}

@mixin medium17 {
    @include font-source($font-family-medium, $h3-alt-size, $font-color-medium);
}

@mixin light18 {
    @include font-source($font-family-light, $h3-font-size, $font-color-light);
}

@mixin medium18 {
    @include font-source($font-family-medium, $h3-font-size, $font-color-medium);
}

@mixin regular18 {
    @include font-source($font-family-regular, $h3-font-size, $font-color-regular);
}

@mixin medium20 {
    @include font-source($font-family-medium, $font-size-20, $font-color-medium);
}

@mixin regular20 {
    @include font-source($font-family-regular, $font-size-20, $font-color-regular);
}

@mixin regular20light {
    @include font-source($font-family-regular, $font-size-20, $font-color-light);
}

@mixin medium24 {
    @include font-source($font-family-medium, $font-size-xlg, $font-color-medium);
}

@mixin medium24light1 {
    @include font-source($font-family-medium, $font-size-xlg, $light1);
}

@mixin medium24nocolor {
    @include font-source($font-family-medium, $font-size-xlg);
}

@mixin regular24 {
    @include font-source($font-family-regular, $font-size-xlg, $font-color-regular);
}

@mixin regular32 {
    @include font-source($font-family-regular, $font-size-xxlg, $font-color-regular);
}

@mixin medium32 {
    @include font-source($font-family-medium, $font-size-xxlg, $font-color-medium);
}

p {
    margin-bottom : 0.5rem;
}

@mixin placeholder {
    @include font-source($font-family-regular, $font-size-base, $light17);
}
