@import '../../styles/custom/custom_palette';
@import '../../styles/theme_palette';
@import '../../styles/theme_variables';

@mixin font-source($fontfamily: $font-family-regular, $size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: $fontfamily;
    @if $size {
        font-size: $size;
    }
    @if $colour {
        color: $colour;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $lh {
        line-height: $lh;
    }
}

h1, h2 {
    @include font-source($font-family-medium, $h1-font-size, $font-color-medium);
    margin-top    : $line-height-computed;
    margin-bottom : $line-height-computed;
    padding       : 0;
    display       : flex;
    align-items   : center;
}

h2 {
    @include font-source($font-family-medium, $h2-font-size, $font-color-medium);
    margin      : 0;
    padding     : 0;
}

h3 {
    @include font-source($font-family-regular, $h3-font-size, $font-color-regular);
    margin-top    : ($line-height-computed / 2);
    margin-bottom : ($line-height-computed / 4);
}

h4 {
    @include font-source($font-family-medium, $h4-font-size, $font-color-medium);
}

h5 {
    @include font-source($font-family-medium, $h5-font-size, $font-color-medium);
}

h6 {
    @include font-source($font-family-medium, $h6-font-size, $font-color-medium);
}

.h7 {
    @include font-source($font-family-regular, $h6-font-size, $font-color-regular);
}

h1 > .label {
    font-size      : 60%;
    vertical-align : 33%;
}

.regular14 {
    @include font-source($font-family-regular, $h6-font-size, $font-color-regular);
}

.medium13 {
    @include font-source($font-family-medium, $font-family-base, $font-color-medium);
}

.regular13 {
    @include font-source($font-family-regular, $font-family-base, $font-color-regular);
}

.light13 {
    @include font-source($font-family-light, $font-family-base, $font-color-light);
}

.light12 {
    @include font-source($font-family-light, $font-size-sm, $font-color-light);
}

p {
    margin-bottom : 0.5rem;
}

