@use "../../styles/theme_variables_common" as *;

[data-whatintent="mouse"] *:focus {
    outline : none !important;
}

[data-whatintent="keyboard"] button:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] a:focus:not([disabled]):not(.disabled):not(.alternative) {
    outline : none !important;
    @include outline;

    &.inset {
        @include inset-outline;
    }
}

[data-whatinput="keyboard"] input:focus,
[data-whatinput="keyboard"] input:active {
    outline : none !important;
    @include outline;

    &.inset {
        @include inset-outline;
    }
}

[data-whatinput="keyboard"] input[type=checkbox]:focus:not([disabled]):not(.disabled) {
    & + .checkmark {
        outline : none !important;
        @include outline;
    }

    & + .check {
        outline : none !important;
        @include outline;
    }

    & + .tick {
        outline : none !important;
        @include outline;
    }
}

[data-whatinput="keyboard"] input[type=radio]:focus:not([disabled]):not(.disabled) {
    & + .checkmark {
        outline : none !important;
        @include outline;
    }

    & + .check {
        outline : none !important;
        @include outline;
    }
}

[data-whatintent="keyboard"] .nav-tabs .nav-item a:focus {
    @include inset-outline;
}

[data-whatintent="keyboard"] .tab-list .tab-item a:focus {
    @include inset-outline;
}
