[data-whatintent='mouse'] *:focus {
    outline : none !important;
}

[data-whatintent='keyboard'] button:focus:not([disabled]):not(.disabled),
[data-whatintent='keyboard'] a:focus:not([disabled]):not(.disabled):not(.alternative) {
    outline : none !important;
    @extend #outline;

    &.inset {
        @extend #inset-outline;
    }
}

[data-whatinput='keyboard'] input:focus,
[data-whatinput='keyboard'] input:active {
    outline : none !important;
    @extend #outline;

    &.inset {
        @extend #inset-outline;
    }
}

[data-whatinput='keyboard'] input[type=checkbox]:focus:not([disabled]):not(.disabled) {
    & + .checkmark {
        outline : none !important;
        @extend #outline;
    }

    & + .check {
        outline : none !important;
        @extend #outline;
    }

    & + .tick {
        outline : none !important;
        @extend #outline;
    }
}

[data-whatinput='keyboard'] input[type=radio]:focus:not([disabled]):not(.disabled) {
    & + .checkmark {
        outline : none !important;
        @extend #outline;
    }

    & + .check {
        outline : none !important;
        @extend #outline;
    }
}

[data-whatintent='keyboard'] .nav-tabs .nav-item a:focus {
    @extend #inset-outline;
}
