@use "../../styles/theme_variables_common" as *;

[data-whatintent="mouse"] *:focus {
    outline : none !important;
}

[data-whatintent="keyboard"] .btn.btn-primary:focus:not([disabled]):not(.disabled) {
    border         : 2px solid var(--alt-body-bg) !important;
    outline        : 2px solid rgba(var(--btn-primary-focus-outline-rgb), 0.3) !important;
    outline-offset : 2px;
    box-shadow     : 0 0 0 2px var(--btn-primary-focus-shadow) !important;
}

[data-whatintent="keyboard"] .btn.btn-danger:focus:not([disabled]):not(.disabled) {
    border         : 2px solid var(--alt-body-bg) !important;
    outline        : 2px solid rgba(var(--btn-danger-focus-outline-rgb), 0.3) !important;
    outline-offset : 2px;
    box-shadow     : 0 0 0 2px var(--btn-danger-focus-shadow) !important;
}

[data-whatintent="keyboard"] .btn.btn-dropdown-toggle:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-default:focus:not([disabled]):not(.disabled) {
    border         : 2px solid var(--alt-body-bg) !important;
    outline        : 2px solid rgba(var(--btn-default-focus-outline-rgb), 0.3) !important;
    outline-offset : 2px;
    box-shadow     : 0 0 0 2px var(--btn-default-focus-shadow) !important;
}

[data-whatintent="keyboard"] a:focus:not([disabled]):not(.btn):not(.disabled):not(.alternative) {
    outline : none !important;
    @include outline;

    &.inset {
        @include inset-outline;
    }
}

[data-whatinput="keyboard"] input:focus,
[data-whatinput="keyboard"] input:active {
    outline : none !important;
    @include outline;

    &.inset {
        @include inset-outline;
    }
}

[data-whatinput="keyboard"] input[type=checkbox]:focus:not([disabled]):not(.disabled) {
    & + .checkmark {
        outline : none !important;
        @include outline;
    }

    & + .check {
        outline : none !important;
        @include outline;
    }

    & + .tick {
        outline : none !important;
        @include outline;
    }
}

[data-whatinput="keyboard"] input[type=radio]:focus:not([disabled]):not(.disabled) {
    & + .checkmark {
        outline : none !important;
        @include outline;
    }

    & + .check {
        outline : none !important;
        @include outline;
    }
}

[data-whatintent="keyboard"] .nav-tabs .nav-item a:focus {
    @include inset-outline;
}

[data-whatintent="keyboard"] .tab-list .tab-item a:focus {
    @include inset-outline;
}
