<div class="wrapper">

    <aside>

        <div class="d-flex">
            <button
                class="btn btn-default mr-2"
                (click)="refresh()"
                translate
            >Refresh</button>
            <button
                class="btn btn-default mr-2"
                (click)="initNewGroupDialog()"
                translate
            >New group</button>
            <a [routerLink]="'/systems/groups/'">/</a>
        </div>

        <nx-system-group-tree
            [forest]="forest$ | async"
            (parentIdChangeRequested)="changeGroupParent($event)"
            [activeItemId]="activeItemId$ | async"
        ></nx-system-group-tree>
    </aside>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>
