@use "../../../../styles/typography";
@use "../../../../../styles/theme_variables_common" as *;
@use "app/src/styles/_bootstrap_utils" as bootstrap;

.heading-non-link {
    @include typography.regular24dark9;
}

.heading-link {
    @extend .heading-non-link;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}


.capabilities {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 84px auto;
    padding: 0 16px;
    max-width: 896px;
    color: $dark10;

    @include bootstrap.media-breakpoint-down(xs) {
        margin-bottom: 24px !important;
    }
}

.detail-blocks {
    margin: 30px -16px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include bootstrap.media-breakpoint-down(xs) {
        margin: 8px -16px 0 0;
    }
}

.capability-card {
    height: 280px;
    flex: 1 0 30%;
    min-width: 228px;
    margin: 0 16px 16px 0;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(199, 199, 199, 0.2);
    }
    &:active {
        box-shadow: 0 0 14px 0 rgba(199, 199, 199, 0.5);
    }
    & header {
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 16px;
        min-height: 115px;
        & > svg-icon > svg {
            height: 30px;
            & > .st0{
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: $light1;
            }
        }
        & > .intro-line {
            @include typography.medium14light1-50;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            flex-grow: 0;
            margin-bottom: 3px;
        }
        & > h3 {
            @include typography.medium24light1;
            margin: 0;
        }
    }
    & > .capability-detail {
        padding: 16px;
    }
}
