<a
    class="menu-level-3 alternative"
    [ngClass]="{
        'selected': selected,
        'item-disabled': !isEnabled,
        'focus': menuNavItemId === item.id
    }"
    tabindex="{{ selected ? '-1': undefined }}"
    [id]="item.id"
    [routerLink]="[itemPath]"
    [queryParams]="queryParams"
    (mouseover)="setNavIdx(item)"
>
    <div *ngIf="first" class="top-shadow-cover"></div>
    <div class="menu-level-3-content ellipsis">
        <span
            *ngIf="item.icon"
            class="menu-level-3-icon glyphicon"
            [ngClass]="item.icon"
        ></span>
        <svg-icon
            *ngIf="item.svgIcon"
            nx-add-svg-src
            [src]="CONFIG.icons.dir + item.svgIcon + '.svg'"
            [applyClass]="true"
            class="menu-level-3-svg-icon"
        ></svg-icon>
        <span
            class="menu-level-3-label user"
            [innerHTML]="item.label | safe: 'html'"
            [ngClass]="{
                'indent': item.indent && !item.icon && !item.svgIcon,
                'disabled': item.disabled
            }"
        ></span>
        <span
            class="menu-level-3-additional"
            *ngIf="item.additionalText"
            [innerHTML]="(
                '<span class=\'ml-1 mr-1\'>&ndash;</span>' +
                item.additionalText
            ) | safe: 'html'"
            [ngClass]="{ 'disabled': item.disabled }"
        ></span>
    </div>
</a>
