<a class="menu-level-3 alternative"
   [ngClass]="{'selected': selected, 'item-disabled': !isEnabled, 'focus': menuNavItemId === item.id}"
   tabindex="{{ selected ? '-1': undefined }}"
   [id]="item.id"
   [routerLink]="itemPath"
   [queryParams]="item.query">
    <div *ngIf="first" class="top-shadow-cover"></div>
    <div class="ellipsis">
        <span *ngIf="item.icon" class="menu-level-3-icon glyphicon" [ngClass]="item.icon"></span>
        <svg-icon *ngIf="item.svgIcon"
                [src]="CONFIG.icons.dir + item.svgIcon + '.svg'"
                [applyClass]="true"
                class=" ml-n1 menu-level-3-svg-icon"></svg-icon>
        <span [innerHTML]="item.label" class="user" [ngClass]="{'indent': item.indent && !item.icon && !item.svgIcon}"></span>
        <span class="menu-level-3-additional"
              *ngIf="item.additionalLabel"
              [innerHTML]="'<span class=\'ml-1 mr-1\'>&ndash;</span>' + item.additionalLabel"></span>
    </div>
</a>
