<nx-pre-loader *ngIf="accountInfo.activateCode && activate.processing"></nx-pre-loader>

<nx-page-placeholder *ngIf="activationSuccess" [type]="'ACCOUNT_ACTIVATED'">
    <button class="btn btn-primary btn-collapse login btn-caption" (click)="login()" translate>
        Log In
    </button>
</nx-page-placeholder>

<div *ngIf="!activationSuccess" class="container">
    <div *ngIf="accountInfo.activateCode && !activate.processing">
        <h1 class="process-success" translate>
            Account is already activated or confirmation code is incorrect
        </h1>
    </div>

    <div *ngIf="reactivating" class="text-center">
        <div *ngIf='accountInfo.email'>
            <h1><span translate>You have registered in</span> {{CONFIG.cloudName}}</h1>
            <p>
                <span translate>We've sent you a letter with activation link to</span> {{accountInfo.email}}.<br>
                <span translate>Please activate your account by visiting this link.</span>
            </p>
        </div>
        <h1 *ngIf="!accountInfo.email" translate>Activate your account</h1>
        <form name="reactivateAccount"
              class="form-horizontal"
              *ngIf="!reactivate.success"
              novalidate
              #reactivateAccount="ngForm">

            <div class="form-group" *ngIf="!accountInfo.email">
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="reactivateAccountEmail" class="control-label" translate>Email</label>
                </div>
                <div class="col-sm-4">
                    <nx-password-input
                            class="form-component"
                            name="reactivateAccountEmail"
                            componentId="reactivateAccountEmail"
                            [(ngModel)]="accountInfo.email"
                            [form]="reactivateAccount"
                            #reactivateAccountEmail="ngModel">
                    </nx-password-input>
                </div>
                <div class="col-sm-4">
                    <span class="help-block" *ngIf="!reactivateAccountEmail.valid && !reactivateAccountEmail.touched">
                        <nx-tag type="danger"
                              *ngIf="reactivateAccountEmail.errors &&
                                     reactivateAccountEmail.errors.weak &&
                                     !reactivateAccountEmail.errors.common &&
                                     !reactivateAccountEmail.errors.pattern &&
                                     !reactivateAccountEmail.errors.minlength"
                              title="{{ LANG.passwordRequirements.weakMessage}}">{{LANG.passwordRequirements.weak}}</nx-tag>
                        <nx-tag type="danger"
                              *ngIf="reactivateAccountEmail.errors &&
                                     reactivateAccountEmail.errors.common &&
                                     !reactivateAccountEmail.errors.pattern &&
                                     !reactivateAccountEmail.errors.minlength &&
                                     !reactivateAccountEmail.errors.required"
                              title="{{ LANG.passwordRequirements.commonMessage}}">{{LANG.passwordRequirements.common}}</nx-tag>
                        <nx-tag type="danger"
                              *ngIf="reactivateAccountEmail.errors &&
                                     reactivateAccountEmail.errors.minlength &&
                                     !reactivateAccountEmail.errors.pattern"
                              title="{{ LANG.passwordRequirements.minLengthMessage}}">{{LANG.passwordRequirements.minLength}}</nx-tag>
                        <nx-tag type="danger"
                              *ngIf="reactivateAccountEmail.errors &&
                                     reactivateAccountEmail.errors.pattern &&
                                     !reactivateAccountEmail.errors.minlength"
                              title="{{ LANG.passwordRequirements.requiredMessage}}">{{LANG.passwordRequirements.incorect}}</nx-tag>
                    </span>

                    <span class="help-block" *ngIf="!reactivateAccountEmail.valid && reactivateAccountEmail.touched">
                    <span class="input-error"
                          *ngIf="reactivateAccountEmail.errors &&
                                 reactivateAccountEmail.errors.weak &&
                                 !reactivateAccountEmail.errors.common &&
                                 !reactivateAccountEmail.errors.pattern &&
                                 !reactivateAccountEmail.errors.required &&
                                 !reactivateAccountEmail.errors.minlength">{{ LANG.passwordRequirements.weakMessage}}</span>

                    <span class="input-error"
                          *ngIf="reactivateAccountEmail.errors &&
                                 reactivateAccountEmail.errors.common &&
                                 !reactivateAccountEmail.errors.required">{{ LANG.passwordRequirements.commonMessage}}</span>

                    <span class="input-error"
                          *ngIf="reactivateAccountEmail.errors &&
                                 reactivateAccountEmail.errors.minlength">{{ LANG.passwordRequirements.minLengthMessage}}
                    </span>
                    <span class="input-error"
                          *ngIf="reactivateAccountEmail.errors &&
                                 reactivateAccountEmail.errors.pattern &&
                                 !reactivateAccountEmail.errors.minlength">{{ LANG.passwordRequirements.incorectMessage}}
                    </span>
                    <span class="input-error"
                          *ngIf="reactivateAccountEmail.errors &&
                                 reactivateAccountEmail.errors.required">{{ LANG.passwordRequirements.missingMessage}}</span>
                </span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-center w-100">
                    <nx-process-button
                            [process]="reactivate"
                            [form]="reactivateAccount"
                            buttonText="{{'Resend activation link' | translate}}"></nx-process-button>
                </div>
            </div>
        </form>
    </div>
</div>
