<div class="camview col-12"
     *ngIf="activeCamera" #nxCamView nxScrollMechanics
     [ngClass]="{'view-scroll-fixed-top':viewScrollFixedTop, 'view-scroll-fixed-bottom':viewScrollFixedBottom}">

    <nx-block type='gray' >

        <header>
            <div class="camera-vendor-model">
                <span>{{ activeCamera.vendor }}</span>
                <span class="ml-1">{{ activeCamera.model }}</span>
            </div>
            <span class="glyphicon close-icon detailsClose"
                  (click)="closeView()">
            </span>
        </header>

        <nx-section>
            <div [hidden]="!activeCamera.notes">
                <pre class="no-padding" style="border:0;">{{ activeCamera.notes }}</pre>
            </div>

            <div class="camview-link">
                <a class="blue" target="_blank"
                   href="https://www.google.com/search?q={{ activeCamera.vendor }}+{{ activeCamera.model }}"
                    translate>Search in google</a>
            </div>

            <div class="active-camera-info">
                <div class="row">
                    <div class="col-7" translate>Resolution(max)</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="maxResolution"
                                [value]="activeCamera.maxResolution"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>FPS(max)</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="maxFps"
                                [value]="activeCamera.maxFps"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Codec</div>
                    <div class="col-5">{{ activeCamera.primaryCodec }}</div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Audio</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isAudioSupported"
                                [value]="activeCamera.isAudioSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>2-Way Audio</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isTwAudioSupported"
                                [value]="activeCamera.isTwAudioSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>PTZ</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isPtzSupported"
                                [value]="activeCamera.isPtzSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Advanced PTZ</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isAptzSupported"
                                [value]="activeCamera.isAptzSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Motion Detection</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isMdSupported"
                                [value]="activeCamera.isMdSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Fisheye</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="</nx-bool-icon>"
                                [value]="activeCamera.isFisheye"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>I/O</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isIoSupported"
                                [value]="activeCamera.isIoSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Dual Streaming</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isDualStreamingSupported"
                                [value]="activeCamera.isDualStreamingSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Secondary Stream</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="sndResolution"
                                [value]="activeCamera.sndResolution"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7" translate>Multi Sensor</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isMultiSensor"
                                [value]="activeCamera.isMultiSensor"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
                <div class="row" *ngIf="showAnalytics">
                    <div class="col-7" translate>Analytics</div>
                    <div class="col-5">
                        <nx-bool-icon
                                param="isAnalyticsSupported"
                                [value]="activeCamera.isAnalyticsSupported"
                                align="left">
                        </nx-bool-icon>
                    </div>
                </div>
            </div>
        </nx-section>

        <nx-section *ngIf="showCameraAnalytics">
            <div class="row">
                <div class="col-7 card--body-heading">
                    <h4>
                        <span *ngIf="activeCamera.analyticsEvents.length">{{activeCamera.analyticsEvents.length}}&nbsp;</span>
                        <span *ngIf="activeCamera.analyticsEvents.length == 0 || activeCamera.analyticsEvents.length > 1" translate>Analytics Events</span>
                        <span *ngIf="activeCamera.analyticsEvents.length == 1" translate>Analytics Event</span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="analytics-label col-7" *ngFor="let event of activeCamera.analyticsEvents  | slice:0:analyticsToShow">
                    <ng-container>{{event}}</ng-container>
                </div>
            </div>

            <div class="row" *ngIf="!showAllEvents && activeCamera.analyticsEvents.length > analyticsToShow">
                <div class="col-12">
                    <a href (click)="showAllEvents = true; analyticsToShow = activeCamera.analyticsEvents.length; false"
                        translate>Show All</a>
                </div>
            </div>

            <div class="row mt-2" *ngIf="showAllEvents">
                <div class="col-12 mb-2 info-label" translate>
                    Actual number of events supported by this camera may be bigger.
                </div>
                <div class="col-12">
                    <a href (click)="showAllEvents = false; analyticsToShow = CONFIG.ipvd.analyticsToShow; false"
                        translate>Collapse</a>
                </div>
            </div>

            <div class="row" *ngIf="!activeCamera.analyticsEvents.length">
                <div class="info-label col-12" translate>
                    This device has reported to support some analytics events, but we don't have exact information about them.
                </div>
            </div>
        </nx-section>

        <nx-section *ngIf="firmwares.length">
            <div class="firmware-info">
                <div class="row">
                    <div class="col-7 card--body-heading"><h4 class="m-0" translate>Firmware version</h4></div>
                    <div class="col-5 card--body-heading"><h4 class="m-0" translate>Popularity</h4></div>
                </div>

                <ng-container *ngFor="let firmware of firmwares | slice:0:firmwaresToShow">
                    <div class="row" *ngIf="firmware.name">
                        <div class="col-7 no-linewrap" title="{{ firmware.name }}">{{ firmware.name }}</div>
                        <div class="col-5" title="{{ firmware.percentage }}">
                            <div class="icon w-100" role="img" >
                                <canvas class="icon-canvas" height="4"></canvas>
                                <svg class="img-responsive icon-svg" height="4">
                                    <line x1="0" y1="8"
                                          [attr.x2]="firmware.barLength"
                                          y2="8" class="firmware-line"
                                          stroke-dasharray="8, 2"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="row" *ngIf="!showAllFirmware && firmwares.length > firmwaresToShow">
                    <div class="col-12">
                        <a href (click)="showAllFirmware = true; firmwaresToShow = firmwares.length; false"
                           translate>Show All</a>
                    </div>
                </div>

                <div class="row" *ngIf="showAllFirmware">
                    <div class="col-12">
                        <a href (click)="showAllFirmware = false; firmwaresToShow = CONFIG.ipvd.firmwaresToShow; false"
                           translate>Collapse</a>
                    </div>
                </div>
            </div>
        </nx-section>

        <nx-section>
            <div class="camview-link">
                <a href translate (click)="sendFeedback()">Send feedback about this device</a>
            </div>
            <div style="color: gray;"><ng-container translate>Updated</ng-container> {{ activeCamera.timestamp | date:'fullDate'}}</div>
        </nx-section>
    </nx-block>
</div>

