<div class="intro-section">
    <ng-container
        *ngIf="
            (landingService.scrollPosition$ | async) < landingService.scrollBreakpoints.showGraphics
        "
    >
        <nx-background-graphic
            *ngIf="landingService.maskFinishedLoading$ | async"
            [scrollPosition]="landingService.scrollPosition$ | async"
        >
        </nx-background-graphic>
        <nx-mask [scrollPosition]="landingService.scrollPosition$ | async"></nx-mask>
    </ng-container>
    <nx-intro-text *ngIf="landingService.backgroundGraphicFinishedLoading$ | async"></nx-intro-text>
</div>
<nx-learn-more
    [scrollPosition]="landingService.scrollPosition$ | async"
    [screenHeight]="(landingService.screenSize$ | async)?.height"
>
</nx-learn-more>
<nx-content-container [screenWidth]="(landingService.screenSize$ | async)?.width">
</nx-content-container>
<nx-footer [center]="true"></nx-footer>
