<div class="state-container">
    <div
        class="state-container--title"
        style="margin-bottom: 2rem"
        translate
    >
        The System cannot be configured.
    </div>
    <div class="state-container--body">
        <svg-icon
            nx-add-svg-src
            [src]="icons.dirConfirmations + 'error.svg'"
            [svgStyle]="{ 'width.px': '280', 'height.px': '120', 'margin-bottom': '2rem' }"
        >
        </svg-icon>

        <button
            class="btn btn-primary"
            (click)="retry()"
            translate
        >
            Try Again
        </button>
    </div>
</div>
