@use '../../../styles/theme_variables' as *;

:host {
	&.ng-invalid:not(.ng-untouched) {
		input {
			border-color : $error !important;
		}
	}

	input:disabled::-webkit-outer-spin-button,
	input:disabled::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
