<div
    *ngIf="(currentIndexes$ | async) !== null"
    id="groups"
    cdkDropListGroup
>
    <div class="sidebar">
        <div class="buttons">
            <button
                class="btn btn-default mr-2"
                (click)="newGroupDialog()"
                translate
            >
                New group
            </button>
            <!-- eslint-disable-next-line nx/template/no-untranslated -->
            <!-- <button (click)="__crash()">Crash!</button> -->
        </div>
        <div
            class="group-drop-list"
            cdkDropList
            (cdkDropListDropped)="moveToRoot($event)"
        >
            <h3>
                <a
                    routerLink="/systems/groups/"
                    translate
                    >(root)</a
                >
            </h3>
        </div>
        <nx-sidebar-level
            [groups]="rootGroups$ | async"
            [systems]="rootSystems$ | async"
        ></nx-sidebar-level>
    </div>
    <div
        class="cards"
        *ngIf="!!(currentIndexes$ | async)"
    >
        <div class="crumbs">
            <a
                routerLink="/systems/groups/"
                translate
                >(root)</a
            >
            <ng-container *ngFor="let crumb of crumbs$ | async; trackBy: trackItem">
                {{ ' / ' }}
                <a [routerLink]="'/systems/groups/' + crumb.id">{{ crumb.name }}</a>
            </ng-container>
        </div>
        <nx-groups-cards
            [groups]="currentGroups$ | async"
            [systems]="currentSystems$ | async"
        ></nx-groups-cards>
    </div>
    <!-- TODO: Replace with actual placeholder -->
    <!-- eslint-disable-next-line nx/template/no-untranslated -->
    <div *ngIf="(currentIndexes$ | async) === undefined">No group found</div>
</div>
<nx-pre-loader
    *ngIf="(currentIndexes$ | async) === null"
    type="page"
></nx-pre-loader>
