@use 'components/sidebar-level/sidebar-level.component.scss' as *;

#groups {
  display: flex;
  max-height: 100%;

  .sidebar {
    overflow-y: auto;
    padding: 1rem;

    @include sidebar-level();

    min-width: 20rem;
  }

  .cards {
    flex: 1;
    padding: 1rem;
  }
}
