@use '../../../styles/typography';
@use '../../../../styles/theme_variables' as *;
@use '../../../styles/bootstrap_utils' as bootstrap;

:host {
    width: 100%;
    height: 100%;
    display: block;
}
