// @import '../../../styles/native-theme/_theme_palette';
// @import '../../../styles/_theme_palette';
// @import '../../../styles/custom/_custom_palette';
@import '../../../styles/_theme_variables';

nx-password-input {
    width : 100%;
}

.addons {
    position     : absolute;
    top          : 0;
    right        : 0;
    padding-left : 6px;
}

nx-password-input-tag-validation {
    position : relative !important;
    top      : auto !important;
    right    : auto !important;
}

.input-group-addon {
    position : relative;
    right    : 0;
}
