<div class="form-group row">
    <div class="col-md-4 justify-content-start justify-content-md-end">
        <label for="registerPassword" class="text-left text-md-right control-label" translate>
            Password
        </label>
    </div>

    <div class="col-md-4">
        <div class="input-group has-addon">
            <input id="registerPassword" name="registerPassword"
                   type="{{passwordToggle ? 'password' : 'text'}}"
                   class="form-control"
                   required
                   autocomplete="new-password"
                   pattern="{{CONFIG.passwordRequirements.requiredRegex}}"
                   [(ngModel)]="value"
                   (keyup)="setValue(registerPassword)"
                   (blur)="setValue(registerPassword)"
                   [attr.minlength]="CONFIG.passwordRequirements.minLength"
                   [attr.maxlength]="CONFIG.passwordRequirements.maxLength"
                   #registerPassword="ngModel">

            <span class="input-group-addon" (click)="passwordToggle=!passwordToggle">
                <span class="glyphicon glyphicon-eye-close" *ngIf="passwordToggle"></span>
                <span class="glyphicon glyphicon-eye-open" *ngIf="!passwordToggle"></span>
            </span>
        </div>
    </div>

    <div class="col-md-4">
        <span class="help-block" *ngIf="registerPassword.valid">
            <span class="badge badge-success" *ngIf="!fairPassword">{{LANG.passwordRequirements.good}}</span>
            <span class="badge badge-warning" *ngIf="fairPassword"
                  title="{{ LANG.passwordRequirements.fairMessage}}">{{LANG.passwordRequirements.fair}}</span>
        </span>

        <span class="help-block" *ngIf="!registerPassword.valid && registerPassword.dirty">

            <span class="badge badge-danger"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.weak &&
                         !registerPassword.errors.common &&
                         !registerPassword.errors.pattern &&
                         !registerPassword.errors.minlength"
                  title="{{ LANG.passwordRequirements.weakMessage}}">{{LANG.passwordRequirements.weak}}</span>
            <span class="badge badge-danger"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.common &&
                         !registerPassword.errors.pattern &&
                         !registerPassword.errors.minlength &&
                         !registerPassword.errors.required"
                  title="{{ LANG.passwordRequirements.commonMessage}}">{{LANG.passwordRequirements.common}}</span>
            <span class="badge badge-danger"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.minlength &&
                         !registerPassword.errors.pattern"
                  title="{{ LANG.passwordRequirements.minLengthMessage}}">{{LANG.passwordRequirements.minLength}}</span>
            <span class="badge badge-danger"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.pattern &&
                         !registerPassword.errors.minlength"
                  title="{{ LANG.passwordRequirements.requiredMessage}}">{{LANG.passwordRequirements.required}}</span>
        </span>

        <span class="help-block" *ngIf="!registerPassword.valid && registerPassword.touched">
            <span class="input-error"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.weak &&
                         !registerPassword.errors.common &&
                         !registerPassword.errors.pattern &&
                         !registerPassword.errors.required &&
                         !registerPassword.errors.minlength">{{ LANG.passwordRequirements.weakMessage}}</span>

            <span class="input-error"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.common &&
                         !registerPassword.errors.required">{{ LANG.passwordRequirements.commonMessage}}</span>

            <span class="input-error"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.minlength">{{ LANG.passwordRequirements.minLengthMessage}}
            </span>
            <span class="input-error"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.pattern &&
                         !registerPassword.errors.minlength">{{ LANG.passwordRequirements.requiredMessage}}
            </span>
            <span class="input-error"
                  *ngIf="registerPassword.errors &&
                         registerPassword.errors.required">{{ LANG.passwordRequirements.missingMessage}}</span>
        </span>
    </div>
    ctrl : {{registerPassword.valid}} / {{registerPassword.touched}} / {{registerPassword.errors | json}}
</div>
