<div
    class="position-relative"
    [ngClass]="{ 'hide-errors': hideErrors }"
>
    <input
        [id]="componentId"
        [name]="componentId"
        [ngClass]="{ 'hide-errors': hideErrors, 'has-error': hasError, 'form-control': !authorize }"
        type="{{ passwordToggle ? 'password' : 'text' }}"
        required
        [readonly]="readonly"
        autocomplete="new-password"
        pattern="{{ CONFIG.credentialsValidation.passwordRequirements.requiredRegex }}"
        [(ngModel)]="value"
        [ngStyle]="{ 'padding-right': tagWidth + 'px' }"
        (keyup)="setValue()"
        (blur)="onTouchedCallback()"
    />

    <div
        class="addons d-flex align-items-center"
        #addons
    >
        <nx-password-input-tag-validation [forElement]="component">
        </nx-password-input-tag-validation>

        <span
            class="input-group-addon"
            (click)="passwordToggle = !passwordToggle"
            style="cursor: pointer"
        >
            <svg-icon
                nx-add-svg-src
                *ngIf="passwordToggle"
                [src]="CONFIG.icons.dirTextButtons + 'eye_closed.svg'"
                [svgStyle]="{ 'width.px': '20', 'height.px': '20' }"
                [applyClass]="true"
            ></svg-icon>
            <svg-icon
                nx-add-svg-src
                *ngIf="!passwordToggle"
                [src]="CONFIG.icons.dirTextButtons + 'eye.svg'"
                [svgStyle]="{ 'width.px': '20', 'height.px': '20' }"
                [applyClass]="true"
            ></svg-icon>
        </span>
    </div>
</div>
