/* You can add global styles to this file, and also import other style files */
@use "theme_variables_common" as *;
@import "@angular/cdk/overlay-prebuilt.css";

* {
    .mainContainer {
        background-color: var(--body-bg);
    }

    .altMainBackground {
        background-color: var(--alt-body-bg) !important;
    }

    .desktopBackground,
    .desktopBackground .auth-overlay {
        background-color: var(--dark5)  !important;
    }

    .mobileBackground,
    .mobileBackground .auth-overlay {
        background-color: var(--dark4)  !important;
    }

    .placeholder {
        background-color: transparent;

        &.page {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
