@import 'styles/_theme_palette';
$green-border: #51D22A;
$green-fill: #56E829;

:host {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  > .is-live {
    opacity: 0.0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: $additional_light2;
    color: $dark9;
    border-left: 1px solid $light6;
    border-right: 1px solid $light4;

    > .line {
      display: block;

      > .icon {
        display: inline-block;
        border: 1px solid $light10;
        background: $light7;
        transition: all 0.2s ease-in-out;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-right: 4px;
      }

      > .text {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    &.playing {
      > .line {
        > .icon {
          border: 1px solid $green-border;
          background: $green-fill;
        }
      }
    }

    // &.recording {
    //   > .line {
    //     > .icon {
    //       border-color: $red_main;
    //     }
    //   }
    //   &.playing {
    //     > .line {
    //       > .icon {
    //         background: $red_main;
    //       }
    //     }
    //   }
    // }

    &.active {
      opacity: 1.0;
      cursor: pointer;
      background: $light5;
      border-left: 1px solid $light8;
      border-right: 1px solid $light7;

      &:hover {
        background: $light4;
        border-left: 1px solid $light7;
        border-right: 1px solid $light6;
      }
    }

    &:hover {
      background: $light3;
      border-left: 1px solid $light6;
      border-right: 1px solid $light5;
    }

    &:active {
      background: $light5 !important;
      border-left: 1px solid $light8 !important;
      border-right: 1px solid $light7 !important;
    }
  }
}
