:host
  display block
  position relative
  > video
    height 100%
    width 100%
    object-fit contain
  > .overlay
    position absolute
    left 0
    top 0
    bottom 0
    right 0
    background #000a
    color white
    display flex
    flex-direction column
    justify-content center
    align-items center
    pointer-events none
    opacity 0.0
    transition opacity .2s ease-in-out

    &.buffering
      opacity 1.0
      // &:after
      //   content 'buffering'
