<div *ngIf="!showOverlay && (errorEncryption || errorPlayback); else player">
    <nx-player-placeholder
            *ngIf="errorEncryption"
            svgFileName="camera_archive_encrypted"
            [heading]="LANG.errorCodes.archiveEncrypted()"
            [description]="LANG.errorCodes.archiveEncryptedMessage()">
    </nx-player-placeholder>

    <nx-player-placeholder
            *ngIf="errorPlayback"
            svgFileName="alert"
            [heading]="LANG.common.cameraStates.error()"
            [description]="errorPlaybackDescription">
    </nx-player-placeholder>
</div>

<ng-template #player>
    <div
        *ngIf="showOverlay"
        class="overlay"
        [ngClass]="{ 'active': showOverlay }"
        (click)="onClick($event)"
        (dblclick)="onDblClick($event)">
        <nx-pre-loader></nx-pre-loader>
    </div>

    <player-native
        *ngIf="useNativePlayer"
        (bufferingChange)="onBufferingChange($event)"
        [rotation]="rotateDeg"
    >
    </player-native>

    <player-js
        *ngIf="useJsPlayer"
        (bufferingChange)="onBufferingChange($event)"
        [rotation]="rotateDeg"
    >
    </player-js>

    <player-hls
        *ngIf="useHlsPlayer"
        [rotation]="rotateDeg"
        (bufferingChange)="onBufferingChange($event)"
    >
    </player-hls>
</ng-template>
