:host {
  overflow: hidden;

  > .overlay {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(var(--dark1--rgb), 0.67);
    color: var(--light1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.0;
    transition: opacity .2s ease-in-out;

    &.active {
      opacity: 1.0;
    }
  }

  * {
    width: 100%;
  }
}
