/* This file is deprecated, new components should use the bootstrap reset and element escapes */

@mixin button {
    outline: none;
    border: none;
    color: inherit;
    padding: 0;

    &:focus {
        outline: none;
    }
}

@mixin anchor {
    color: unset;
    text-decoration: unset;
    &:hover {
        color: unset;
        text-decoration: unset;
    }
    &.disabled {
        color: unset;
        pointer-events: unset;
    }
}

@mixin horizontal-rule {
    margin-top: unset;
    margin-bottom: unset;
}

@mixin paragraph {
    margin-bottom: unset;
}

@mixin label {
    margin-bottom: unset;
}
