@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';

$_theme-names: 'dark', 'dark_gray', 'light_gray', 'light';

$_invert-map: (
    'dark': 'light',
    'dark_gray': 'light_gray',
    'light_gray': 'dark_gray',
    'light': 'dark'
);
@function _invert-theme($theme-name) {
    @return map.get($_invert-map, $theme-name);
}

@function _theme-color($theme-name, $theme-value) {
    @if meta.type-of($theme-value) == string {
        @return $theme-value;
    }

    $theme-prefix: $theme-name;
    $abs-value: $theme-value;
    @if $theme-value < 0 {
        $theme_prefix: _invert-theme($theme_prefix);
        $abs-value: -1 * $theme-value;
    } @else {
        $theme_prefix: $theme_prefix;
    }

    // light1 but light_gray_1
    @if $theme-prefix == 'dark_gray' or $theme-prefix == 'light_gray' {
        $theme-prefix: $theme-prefix + '_';
    }

    @return $theme-prefix + $abs-value;
}

$_case-map: (
    'dark': 'dark',
    'dark_gray': 'dark-gray',
    'light_gray': 'light-gray',
    'light': 'light',
);

/** A helper function to generate CSS variables for themes.

@param `$variables` A Sass map with variable names as keys and two possible value types.

The variables names must start with `--`.

1. A number
This will generate variables corresponding to the palette variable.
Example: 1 => dark: dark1, dark-gray: dark_gray_1...

If the number is negative then the variables will be inverted.
Example: -1 => dark: light1, dark-gray: light_gray_1...

2. A map with theme names as keys and numbers or existing variables as values
The map specifies the colors for each theme individually. If values for
light/dark gray themes are not provided, the values for light/dark will be used.

@param `$selector` Element with [data-theme] attribute.

Defaults to html (global).

Use :host with theme attribute directive if limiting to single component
*/
@mixin generate-theme-vars($variables, $selector: 'html') {
    $themes: (
        'dark': (),
        'dark_gray': (),
        'light_gray': (),
        'light': (),
    );

    @each $variable-name, $variable-raw-value in $variables {
        $values: (
            'dark': 0,
            'dark_gray': 0,
            'light_gray': 0,
            'light': 0,
        );

        @if meta.type-of($variable-raw-value) == number {
            @each $theme-name in $_theme-names {
                $values: map.set($values, $theme-name, $variable-raw-value);
            }
        } @else {
            $values: map.merge($values, $variable-raw-value);

            @if map.get($values, 'dark_gray') == 0 {
                $values: map.set($values, 'dark_gray', map.get($values, 'dark'))
            }

            @if map.get($values, 'light_gray') == 0 {
                $values: map.set($values, 'light_gray', map.get($values, 'light'))
            }
        }

        @each $theme-name in $_theme-names {
            $theme-value: map.get($values, $theme-name);
            $color: _theme-color($theme-name, $theme-value);
            $theme-variables: map.get($themes, $theme-name);
            $theme-variables: map.set($theme-variables, $variable-name, $color);
            $themes: map.set($themes, $theme-name, $theme-variables);
        }
    }

    @each $theme-name in $_theme-names {
        $dashed: map.get($_case-map, $theme-name);
        $theme-variables: map.get($themes, $theme-name);

        #{string.unquote($selector)}[data-theme="#{$dashed}"],
        [data-theme-override="#{$dashed}"] {
            @each $variable-name, $variable-value in $theme-variables {
                #{$variable-name}: var(--#{$variable-value});
            }
        }
    }
}
