@use "utils" as *;
@import "@vime/core/themes/light.css";
@import "./native-theme/theme_palette";
@import "theme_palette";

html[data-theme="light"], .theme-override[data-theme="light"] {
    body {
        background-color: #{$additional_light2};
        color: #{$dark9};
    }

    --test-bg : #{$additional_light2};
    --body-bg : #{$additional_light2};
    --alt-body-bg : #{$light1};
    --body-text-color : #{$dark9};

    --anchor-color : var(--brand-core);
    --anchor-hover-color : var(--brand-l1);

    --alt-tile-color : #{$dark9};

    --header-bg : #{$light1};
    --header-border-color : #{$light4};
    --header-webadm-bg : #{$dark14};
    --header-webadm-border-color : transparent;

    --ribbon-bg : var(--bluez-light);
    --ribbon-border : var(--bluez-light);
    --ribbon-color : #{$dark9};

    --ribbon-alert-bg : #{$yellow_l2};
    --ribbon-alert-border : #{$yellow_l1};
    --ribbon-alert-color : #{$dark9};

    --image-box-border-color : #{$light6};
    --image-box-selected-border-color : var(--brand-l1);

    --storage-size-available : #{$additional_light1};
    --storage-size-reserved : repeating-linear-gradient(-45deg,
        #{$light3},
        #{$light3} 4.25px,
        #{$light4} 4.25px,
        #{$light4} 9px);
    --storage-size-reserved-border : #{$light5};

    --search-link-color : #{$dark9};
    --search-link-hover-color : #{$dark15};
    --search-link-visited-color : #{$dark19};
    --search-link-visited-hover-color : #{$light14};
    --search-highlight-color : rgba(var(--yellow_main--rgb), 0.5);

    --user-selected-highlight-color : rgba(var(--brand-d1--rgb), 0.5);

    --spot-gradient : radial-gradient(
        ellipse farthest-corner at center center,
        #A5B7C0 0,
        #AFBFC7 3%,
        #B9C7CE 5%,
        #C3CFD5 10%,
        #CDD7DC 15%,
        #D7DFE3 20%,
        #E1E7EA 23%,
        #EBEFF1 25%,
        #F5F7F8 30%,
        #FFFFFF 40%
    );

    --h1 : #{$dark9};
    --h2 : #{$dark9};
    --h3 : #{$dark9};
    --h4 : #{$dark9};
    --h5 : #{$dark9};
    --h6 : #{$dark9};
    --h7 : #{$dark9};

    --elements-disabled : #{$light10};

    --svg-info-fill: #{$info_icon};
    --svg-info-elm-fill: #{$info_icon_dark};

    --svg-warning-fill: #{$warning_icon};
    --svg-warning-elm-fill: #{$info_icon_dark};

    --svg-std-icon-fill : #{$light16};
    --svg-path-light-color: #{$light4};
    --svg-path-accent-color : #{$light10};
    --svg-path-dark-color: #{$dark9};

    --svg-confirmations-color: #{$light10};

    --svg-placeholder-elm1-color : #2B383F; // $dark9
    --svg-placeholder-elm2-color : #A5B7C0; //$light10;

    --svg-table-button: #698796; //$light14

    --text-placeholder-color : #{$light16};

    --scrollbar-color : var(--light16);
    --scrollbar-thumb-bg : var(--light10);
    --scrollbar-thumb-border-color : var(--additional-light1);
    --menu-scrollbar-thumb-border-color : var(--light6);

    --tooltip-shadow-color : #{$dark15};
    --tooltip-bg : #{$dark1};
    --tooltip-color : #{$light1};
    --tooltip-box-shadow-color: rgba(var(--dark4--rgb), 0.2);

    --validation-popover-shadow-color : none;
    --validation-popover-bg           : #{$light1};
    --validation-popover-color        : #{$dark9};

    --popover-shadow-color : 0 1rem 2rem 0 #{$light15};
    --popover-bg : #{$light1};
    --popover-color : #{$dark9};

    --popover-shadow-dark-color : none;
    --popover-dark-bg           : #3F545F; //$dark13;
    --popover-dark-color        : #E1E7EA; //$light4;

    --popover-shadow-light-color : 0 1rem 2rem 0 #{$light15};
    --popover-light-bg : #{$light1};
    --popover-light-color : #{$dark9};

    --radio-color : #{$dark11};
    --radio-check-color : var(--brand-core);
    --radio-hover-color : #{$dark3};
    --radio-hover-check-color : var(--brand-core);
    --radio-active-color : #{$dark11};
    --radio-active-check-color : var(--brand-core);
    --radio-active-hover-color : #{$dark3};

    --checkbox-color : #{$dark9};
    --checkbox-check-color : var(--brand-core);
    --checkbox-hover-color : #{$dark1};
    --checkbox-hover-check-color : var(--brand-core);
    --checkbox-active-color : #{$dark9};
    --checkbox-active-check-color : var(--brand-core);
    --checkbox-active-hover-color : #{$dark1};

    --auth-header-bg : #{$additional_light1};
    --auth-header-color : #{$dark9};
    --auth-subheader-color : #{$dark9};
    --auth-body-bg : #{$light1};
    --auth-pill-bg : #{$light3};

    --border-color : #{$light4};
    --border-hover-color : #{$light8};
    --border-active-color : #{$light10};
    --horizontal-sep-color : #{$light7};

    --label-color : #{$dark9};
    --label-disabled-color : #{$dark10};

    --placehoder-cloud-color : var(--brand-core);
    --placehoder-cloud-opacity : .1;
    --placeholder-accent-color : #{$dark7};
    --placeholder-light-color : #{$light1};
    --placeholder-light2-color : #{$light2};
    --placeholder-accent2-color : #{$dark7};
    --placehoder-title-color : #{$dark9};
    --placehoder-body-color : #{$dark9};
    --placeholder-description-text: #{$light10};
    --placeholder-bookmarks-bg-color: #{$light4};

    --placehoder-v2-title-color   : #{$dark9};
    --placehoder-v2-message-color    : #{$dark9};
    --placeholder-v2-description-color: #{$dark9};

    --progress-bar-color : #{$light4};
    --progress-bar-border-color : #{$light6};
    --progress-bar-reindex-color : var(--brand-core);
    --progress-bar-heder-title-color : var(--brand-core);
    --progress-bar-heder-persentage-color : #{$dark9};

    --switch-slider-bg : #{$light8};
    --switch-slider-hover-bg : #{$light7};
    --switch-disabled-color : #{$light8};
    --switch-disabled-hover-color : #{$light7};
    --switch-selected-color : #{$green_main};
    --switch-selected-hover-color : #{$green_l1};
    --switch-button-color : #{$light1};
    --switch-bar-color : #{$green_l2};
    --switch-bar-hover-color : #{$green_l2};
    --switch-bar-disable-color : #{$light12};

    --switch-warning-color : #{$red_l1};
    --switch-warning-hover-color : #{$red_l2};
    --switch-warning-circle-color : #{$red_d2};
    // --switch-circle-off-color
    // --switch-circle-off-hover-color
    // --switch-circle-off-disable-color

    --switch-circle-color : #{$light12};
    --switch-circle-hover-color : #{$light12};
    --switch-circle-disable-color : #{$light12};

    --developer-menu-bg : #{$additional_light2};
    --developer-menu-base-color : #{$dark10};

    // *** arch svg ***********************
    --arch-svg-dash-stroke : var(--brand-l4);
    --arch-svg-solid-path-arrow-fill : #{$dark1};
    --arch-svg-level1-fill : #{$light10};
    --arch-svg-level1-color : #{$dark9};
    --arch-svg-level2-fill : #{$light6};
    --arch-svg-level3-fill : #{$light1};
    --arch-svg-spacer-fill : #{$light1};
    --arch-svg-cloud-fill : rgba(var(--brand-l4--rgb), 0.3);
    --arch-svg-cloud-color : #{$dark9};
    --arch-svg-cloud-relay-fill : rgba(var(--brand-l2--rgb), 0.3);
    --arch-svg-cloud-relay-color : #{$dark9};
    --arch-svg-third-party-fill : #{$light4};
    --arch-svg-built-in-fill : #{$light1};
    --arch-svg-built-in-color : #{$dark9};
    --arch-svg-rest-streaming-api-fill : #{$light1};
    --arch-svg-rest-streaming-api-color : #{$dark9};
    --arch-svg-server-fill : #{$light4};
    --arch-svg-server-hover-fill : #{$light4};
    --arch-svg-transparent-tile-stroke : #{$light18};
    // ***************************************

    --left-menu-bg : #{$additional_light3};
    --left-menu-border-color : transparent;
    --left-menu-l1-bg : transparent;
    --left-menu-l1-bg-hover : #{$additional_light3};
    --left-menu-l1-bg-active : #{$light5};
    --left-menu-l1-color : #{$dark9};
    --left-menu-l1-selected-bg : #{$light5};
    --left-menu-l1-selected-hover-bg : #{$light6};
    --left-menu-l3-scroll : #{$light5};
    --left-menu-l3-shadow : transparent;
    --left-menu-l3-bg : #{$light5};
    --left-menu-l3-color : #{$dark9};
    --left-menu-l3-accent-color : #{$dark13};
    --left-menu-l3-additional-color : #{$light16};
    --left-menu-l3-hover-bg : #{$light6};
    --left-menu-l3-hover-color : #{$dark9};
    --left-menu-l3-opacity : 1;
    --left-menu-l3-selected-bg : #{$light16};
    --left-menu-l3-selected-color : #{$light1};
    --left-menu-disabled-item-color : #{$light13};
    --left-menu-disabled-item-addtitional-color : #{$light10};

    // New header ******************************
    --header-level-one-color : #{$light13};
    --header-level-one-bg : #{$dark4};
    --header-level-one-active-bg : #{$dark5};
    --header-level-one-active-color : #{$light4};
    --header-level-one-hover-color : #{$light10};
    --header-level-two-bg : #{$dark6};
    --header-item-disabled : #{$dark13};
    --header-level-two-hover-border-color : #{$dark11};
    --header-arrow-hover : #{$dark8};
    --header-nav-arrow-bg : #{$dark7};
    --header-logout-action-color : #{$light16};
    --header-active-border-bg : var(--brand-core);

    // Logo;
    --header-logo-text-color : #{$light4};
    --header-logo-border : #{$dark11};

    // Mobile header
    --mobile-header-bg : #{$dark4};
    --mobile-level-one-color : #{$dark15};
    --mobile-level-two-color : #{$light6};
    --mobile-header-svg-color : #{$light1};
    --mobile-header-border-one : #{$dark2};
    --mobile-header-border-two : #{$dark5};
    --mobile-header-border-three : #{$dark3};
    --mobile-header-item-nav-arrow : #{$dark13};
    --mobile-header-logout-btn-bg : #{$dark12};
    --mobile-header-logout-btn-color : #{$light2};

    // Header profile dropdown
    --header-profile-bg : #{$dark7};
    --header-profile-color : #{$light13};
    --header-profile-hover-bg : #{$dark9};
    --header-profile-hover-color : #{$light10};
    --header-profile-active-color : #{$light4};
    --header-profile-active-bg : #{$dark9};

    // Header lang
    --header-lang-bg   : #{$light4};
    --header-lang-code : #{$light16};
    --header-lang-code-text: #{$light1};

    // Footer
    --footer-bg : #{$light3};
    --footer-text-color : #{$light16};
    --footer-link-color : #{$light16};
    --footer-mobile-bottom-bg: #{$light1};

    // View tab ********************************
    --view-bg : #{$additional_light2};
    --view-search-bg : #{$additional_light2};
    --view-search-color : #{$dark9};
    --view-search-hover-bg : #{$light2};
    --view-search-hover-color : #{$dark9};
    --view-search-active-bg : #{$light1};
    --view-search-active-color : #{$dark9};

    --control-color : #{$light4};
    --control-enabled-color : #{$light16};
    --control-hoved-bg : #{$additional_light3};
    --control-active-bg : #{$light5};

    --left-menu-view-hover-bg : #{$additional_light3};
    --left-menu-view-selected-bg : #{$light5};
    // end View tab ****************************

    --sidebar-toggling-ear-color : #{$light16};

    --time-under-mouse-bg : var(--light8);
    --timeline-date-color : #{$dark9};
    --timeline-time-color        : #{$dark4};
    --timeline-bg : #{$light1};
    --timeline-tick-color: #{$light10};
    --timeline-major-color: #{$dark4};
    --timeline-manor-color: #{$dark10};
    --timeline-scrollbar-bg : #{$light16};
    --timeline-scrollbar-hover-bg : #{$light14};
    --timeline-scrollbar-stripe-bg : #{$dark12};
    --timeline-scrollbutton-bg : rgba(var(--dark9--rgb), 0.5);
    --timeline-scrollbutton-hover-bg : rgba(var(--dark9--rgb), 0.9);
    --timeline-playback-indicator-bg : var(--light10);
    --timeline-selection-panel-bg : var(--brand-core);
    --timeline-selection-panel-hover-bg : var(--brand-l1);
    --timeline-selection-panel-active-bg : var(--brand-d1);
    --timeline-selection-panel-color : #{$light1};
    --timeline-selection-picker : light;
    --timeline-selection-panel-delimiter-color : rgba(var(--light4--rgb), 0.25);
    --timeline-selection-panel-close-bg : var(--brand-d2);
    --timeline-selection-panel-close-hover-bg : var(--brand-d1);
    --timeline-selection-panel-close-active-bg : var(--brand-d4);
    --timeline-control-color : #{$dark9};
    --timeline-chunk-color : var(--green_l2);
    --timeline-background : rgba(var(--green_l2--rgb), 0.1);

    // Timeline actions (for now) --TT
    --button-action-bg: var(--light3);
    --button-action-border-color: var(--light15);
    --button-action-icon-fill: var(--light10);

    --paginator-bg : #{$light4};
    --paginator-color : #{$light16};
    --paginator-hover-bg : #{$light5};
    --paginator-hover-color : #{$light16};
    --paginator-active-bg : #{$light16};
    --paginator-active-color : #{$light1};

    --btn-download-hover-bg : #{$light5};

    --btn-close-hover-bg : #{$additional_light2};
    --btn-close-hover-color : #{$light10};
    --btn-close-active-bg : #{$additional_light3};
    --btn-close-active-color : #{$light17};

    --btn-text-color : #{$light16};
    --btn-text-hover-color : #{$dark15};
    --btn-text-active-color : #{$light16};

    --btn-clear-bg : transparent;
    --btn-clear-color : #{$dark9};
    --btn-clear-hover-bg : transparent;
    --btn-clear-hover-color : #{$dark9};
    --btn-clear-active-bg : transparent;
    --btn-clear-active-color : #{$dark9};

    --btn-dropdown-toggle-bg : #{$light4};
    --btn-dropdown-toggle-color : #{$dark9};
    --btn-dropdown-toggle-selected-color : #{$light1};
    --btn-dropdown-toggle-shadow-color : inset 0px -1px 0px #{$light7};
    --btn-dropdown-toggle-hover-bg : #{$light5};
    --btn-dropdown-toggle-hover-shadow : inset 0 -1px 0 0 #{$light8};
    --btn-dropdown-toggle-active-bg : #{$light6};
    --btn-dropdown-toggle-active-shadow : inset 0 1px 0 0 #{$light8};

    --btn-tag-bg : #{$light4};
    --btn-tag-color : #{$light16};
    --btn-tag-selected-bg : #{$light16};
    --btn-tag-selected-hover-bg : #{$light17};
    --btn-tag-selected-active-bg : #{$light18};
    --btn-tag-selected-color : #{$light1};

    --btn-arrow-bg : #{$light4};
    --btn-arrow-color : #{$light16};
    --btn-arrow-hover-bg : #{$light5};
    --btn-arrow-hover-color : #{$light16};
    --btn-arrow-selected-bg : #{$light6};
    --btn-arrow-selected-color : #{$light16};

    --btn-default-bg                : #{$light4};
    --btn-default-color             : #{$dark9};
    --btn-default-shadow            : inset 0 -1px 0 0 #{$light7};
    --btn-default-hover-bg          : #{$light5};
    --btn-default-hover-color       : #{$dark9};
    --btn-default-hover-shadow      : inset 0 -1px 0 0 #{$light8};
    --btn-default-active-bg         : #{$light6};
    --btn-default-active-color      : #{$dark9};
    --btn-default-active-shadow     : inset 0 1px 0 0 #{$light9};
    --btn-default-focus-shadow      : var(--brand-d1);
    --btn-default-focus-outline-rgb : rgba(var(--brand-d1--rgb), 0.3);

    --btn-primary-bg : var(--brand-core);
    --btn-primary-color : #{$light1};
    --btn-primary-shadow : inset 0 -1px 0 0 var(--brand-d2);
    --btn-primary-hover-bg : var(--brand-d1);
    --btn-primary-hover-color : #{$light1};
    --btn-primary-hover-shadow : inset 0 -1px 0 0 var(--brand-d3);
    --btn-primary-active-bg : var(--brand-d2);
    --btn-primary-active-color : #{$light1};
    --btn-primary-active-shadow : inset 0 1px 0 0 var(--brand-d4);
    --btn-primary-focus-shadow : var(--brand-d1);
    --btn-primary-focus-outline-rgb : rgba(var(--brand-d1--rgb), .3);

    --btn-danger-bg                : #{$red_main};
    --btn-danger-color             : #{$light1};
    --btn-danger-shadow            : #{$red_d2};
    --btn-danger-hover-bg          : #{$red_d1};
    --btn-danger-hover-color       : #{$light1};
    --btn-danger-hover-shadow      : #{$red_d3};
    --btn-danger-active-bg         : #{$red_d2};
    --btn-danger-active-color      : #{$light1};
    --btn-danger-active-shadow     : #{$red_d4};
    --btn-danger-focus-shadow      : var(--brand-d1);
    --btn-danger-focus-outline-rgb : rgba(var(--brand-d1--rgb), .3);

    --btn-header-saparator-color : #{$light4};
    --btn-header-main-bg : #{$light4};
    --btn-header-main-color : #{$dark9};
    --btn-header-main-hover-bg : #{$light2};

    --btn-header-webadm-main-bg : #{$dark14};
    --btn-header-webadm-main-color : #{$additional_light1};
    --btn-header-webadm-main-hover-bg : #{$dark15};
    --btn-header-webadm-main-active-bg : #{$dark13};
    --btn-disabled-opacity: 0.3;

    --dialog-bg : #{$light1};
    --dialog-border-color : #{$additional_light8};
    --dialog-header-bg : #{$additional_light1};
    --dialog-header-color: var(--dark17);
    --dialog-overlay-bg: rgba(var(--dark15--rgb), 0.2);
    --dialog-box-shadow: 0px 16px 32px rgba(var(--dark15--rgb), 0.2);

    --svg-legend-bg : #{$additional_light1};
    --svg-legend-border-color : #{$additional_light8};

    --light-text-color : #{$light16};
    --light-text-opacity : 1;

    --tab-link-hover-bg : #{$light3};
    --tab-link-hover-bottom-color : #{$light6};
    --tab-link-active-bg : #{$light3};
    --tab-link-active-bottom-color : #{$light6};
    --tab-link-selected-color : var(--brand-core);

    --tab-link-webadm-color : #{$additional_light1};
    --tab-link-webadm-hover-bg : #{$dark15};
    --tab-link-webadm-active-bg : #{$dark13};

    --dropdown-menu-arrow-color : #{$light4};
    --dropdown-menu-arrow-fill-color : #{$additional_light1};

    --dropdown-menu-border : none;
    --dropdown-menu-top-border : none;
    --dropdown-menu-shadow : 0 1rem 2rem 0 #{$light15};
    --dropdown-menu-shadow-upper : 1rem 0 2rem 0 #{$light15};
    --dropdown-menu-bg : #{$additional_light1};
    --drop-menu-systems-bg : #{$additional_light1};
    --drop-menu-navigation-bg : #{$light1};
    --dropdown-placeholder-color: #{$light15};

    --dropdown-item-color: #{$dark9};
    --dropdown-item-active-bg : #{$light4};
    --dropdown-item-active-color : #{$dark9};
    --dropdown-item-hover-bg : #{$light3};
    --dropdown-item-hover-color : #{$dark9};
    --dropdown-item-selected-bg : #{$light16};
    --dropdown-item-selected-color : #{$light1};
    --dropdown-item-error-color : #{$red_l2};

    // part of drop-menu
    --system-tile-icon-offline-color : #{$red_l2};
    --system-tile-name-color : #{$dark9};
    --system-tile-owner-color : #{$dark9};
    --system-tile-hover-bg : #{$light3};
    --system-tile-active-bg : #{$light4};
    --system-tile-selected-bg : #{$light5};
    --system-tile-nav-link-color : #{$dark9};
    --system-tile-nav-link-icon-color : #{$light13};
    --system-tile-nav-link-hover-bg : #{$light3};
    --system-tile-nav-link-hover-color : #{$dark9};
    --system-tile-nav-link-active-bg : #{$light5};
    --system-tile-nav-link-active-border-color : #{$light6};
    // *****************

    --swagger-get-bg : #{$blue9};
    --swagger-put-bg : #{$orange_l1};
    --swagger-delete-bg : #{$red_l1};
    --swagger-patch-bg  : #{$cyan400};
    --swagger-post-bg   : #{$green_l1};
    --swagger-btn-execute-bg : var(--brand-core);
    --swagger-btn-execute-color : #{$light1};
    --swagger-btn-value-text-color : #{$dark9};
    --swagger-btn-key-text-color : #{$purple500};
    --swagger-btn-value-number-color : #{$green_main};
    --swagger-textarea-color : #{$light12};
    --swagger-required-color : rgba(var(--red_main--rgb), .6);
    --swagger-input-disabled: #{$light2};
    --swagger-input-disabled-border: #{$light6};
    --swagger-table-header-color: #{$dark1};
    --api-tool-section-header: #{$light1};
    --media-type-bg: #{$light2};
    --media-type-border: #{$light4};

    --tabset-bg : #{$light1};
    --tabset-hover-bg : #{$light3};
    --tabset-color : #{$dark12};

    --footer-color : #{$light16};

    --table-alt-row-bg : #{$additional_light1};
    --table-row-hover-bg : rgba(var(--brand-core--rgb), .1);
    --table-row-selected-bg : #{$light16};
    --table-row-selected-color : #{$light1};

    --dynamic-table-row-hover-bg : var(--light16) !important;

    --promo-tile-bg : #{$light3};
    --promo-tile-h4-color : #{$dark9};
    --promo-tile-img-1-path : url("/static/images/promo/landing_promo_1.svg");
    --promo-tile-img-2-path : url("/static/images/promo/landing_promo_2.svg");
    --promo-tile-img-3-path : url("/static/images/promo/landing_promo_3.svg");

    --toast-danger-bg : #f8d7da;
    --toast-danger-color : #721c24;
    --toast-danger-border-color : #f5c6cb;
    --toast-success-bg : #d4edda;
    --toast-success-color : #155724;
    --toast-success-border-color : #c3e6cb;
    --toast-warning-bg : #fff3cd;
    --toast-warning-color : #856404;
    --toast-warning-border-color : #ffeeba;
    --toast-info-bg : #d1ecf1;
    --toast-info-color : #0c5460;
    --toast-info-border-color : #bee5eb;

    --card-shadow: 0 2px 5px 0 #{$light4};
    --card-active-shadow: 0 2px 5px 0 #{$light10};
    --card-header-bg : #{$additional_light1};
    --card-header-text : #{$dark9};
    --card-header-disabled : #{$light8};
    --card-body-bg : #{$light1};
    --card-hover-bg : #{$light1};

    --card-simple-info-bg : var(--bluez-light);
    --card-simple-info-border-color : var(--bluez-light-dim);
    --card-simple-info-color : #{$dark9};
    --card-simple-info-svg-color : var(--bluez-bright);

    --card-simple-warning-bg : var(--yellow-l2);
    --card-simple-warning-border-color : var(--yellow-l1);
    --card-simple-warning-color : #{$dark9};
    --card-simple-warning-svg-color : var(--yellow-main);

    --card-simple-error-bg : #{$red2_dim};
    --card-simple-error-border-color : #{$red2_dimmer};
    --card-simple-error-color : #{$dark9};
    --card-simple-error-svg-color : #{$red_main};
    --card-simple-error-svg-ornament-color : #{$light1};

    --card-simple-default-bg : #{$red2};
    --card-simple-default-color : #{$dark9};
    --card-simple-default-border-color : #{$red1};

    --card-support-bg : #{$light1};
    --card-support-color : #{$dark9};
    --card-support-svg-elem-bg : #{$dark9};

    --card-capability-header-bg : #{$dark11};
    --card-capability-intro-color : #{$light10};
    --card-capability-icon : var(--brand-core);

    --support-lang-wrapper-bg : #{$light4};
    --support-lang-wrapper-color : #{$light16};
    --support-tech-apple-color : #{$dark1};

     --success-label : var(--green_main);

    --error-label : #{$red-l2};
    --error : #{$red-l2};

    --input-bg : #{$light1};
    --input-hover-bg : #{$additional_light2};
    --input-color : #{$dark9};
    --input-border-color : #{$light6};
    --input-error-color : #{$red_l2};
    --input-error-border-color : #{$red_l2};
    --input-hover-color : #{$dark9};
    --input-hover-border-color : #{$light8};
    --input-focus-color : #{$dark9};
    --input-focus-border-color : var(--brand-core);
    --input-focus-shadow-color : rgba(var(--brand-l1--rgb), .3);
    --input-active-bg : #{$light1};
    --input-active-color : #{$dark9};
    --input-active-border-color : #{$light6};
    --input-color-placeholder : #{$light16};

    --input-disabled-color : #{$light16};
    --input-disabled-border-color : #{$light6};

    --input-numeric-arrow-bg : #{$light1};
    --input-numeric-arrow-color : #{$dark9};

    --badge-opacity : 1;
    --badge-base-bg : #{$light4};
    --badge-base-hover-bg : #{$light5};
    --badge-base-color : #{$light16};
    --badge-base-selected-bg : #{$light16};
    --badge-base-selected-color : #{$light1};
    --badge-base-selected-hover-bg : #{$light17};
    --badge-base-selected-active-bg : #{$light18};

    --badge-default-bg : #{$light8};
    --badge-color : #{$light1};
    --badge-selected-color : #{$light1};
    --badge-danger-bg : #{$red_main};
    --badge-danger-bright-bg : #{$red_l2};
    --badge-danger-bright-color : #{$light1};
    --badge-warning-bg : #{$yellow_d1};
    --badge-warning-bright-bg : #{$yellow_main};
    --badge-warning-bright-color : #{$light1};
    --badge-success-bg : #{$green_main};
    --badge-success-bright-bg : #{$green_l2};
    --badge-brand-bg : var(--brand-d2);
    --badge-info-bg : var(--brand-core);
    --badge-integration-bg : #{$light4};
    --badge-integration-color : #{$light16};

    --grey-section-bg: var(--light4);
    --grey-section-sep-color: var(--light6);

    --dashboard-add-widget-color : var(--brand-core);
    --dashboard-widget-hover-color : var(--brand-l4);
    --dashboard-settings-menu-bg : #{$light4};
    --dashboard-settings-menu-shadow : 6px 0 6px -6px #{$light7};

    --active-license-text: var(--green_main);
    --inactive-license-text: var(--yellow_d2);

    /* Tabs component */
    --tabs-border-color: var(--light5);
    --tabs-active-color: var(--blue10);
    --tabs-color: var(--light16);

    // System groups
    --groups-sidebar-bg: var(--light2);
    --groups-sidebar-border: var(--light5);
    @include generateVarAndRgb(--groups-sidebar-highlight, $light5);
    --groups-sidebar-highlight-color: var(--light1);
    --groups-sidebar-triangle-icon-fill: var(--dark17);
    --groups-sidebar-triangle-icon-highlight-fill: var(--light4);
    --groups-sidebar-folder-icon-body-fill: var(--light10);
    --groups-sidebar-folder-icon-tab-fill: var(--light16);
    --groups-sidebar-folder-icon-highlight-fill: var(--light1);
    --groups-sidebar-intro-text-color: var(--light16);

    --group-card-folder-icon-body-fill: var(--light10);
    --group-card-folder-icon-tab-fill: var(--light13);
    --group-card-bg: var(--light4);
    --group-card-bg-hover: var(--light6);
    --group-card-border-color: var(--light5);

    --channel-partner-card-status-background: var(--light10);

    --subchannel-partner-card-id-background: var(--light16);
    --subchannel-partner-card-id-color: var(--light2);
    --subchannel-partner-card-org-fill: var(--light16);
    --subchannel-partner-card-color: var(--light16);

    @include generateVarAndRgb(--system-card-bg-grad0, $light1);
    @include generateVarAndRgb(--system-card-bg-grad100, $light3);
    --system-card-bg: var(--light2);
    --system-card-offline-color: var(--light16);
    --system-card-border-color: var(--light7);
    --system-card-owner-color: var(--light16);

    --card-subtext-color: var(--light16);
    --card-menu-dots-fill: var(--light16);
    --card-placeholder-shadow: inset 0 0.25rem 0.5rem rgba(var(--dark15--rgb), 0.2);
    --card-drag-shadow: 0 1rem 2rem rgba(var(--dark15--rgb), 0.2);
    --card-border-color: var(--light6);
    --card-context-bg: var(--light4);
    --card-context-shadow: 0 1rem 2rem rgba(var(--dark15--rgb), 0.4);

    --CP-pane-background: var(--light2);
    --CP-pane-border: var(--light3);
    --CP-pane-header-background: var(--light1);
    --CP-pane-header-border: var(--light4);
    --CP-pane-input: var(--light10);
    --CP-state-button: var(--light3);
    --CP-state-button-selected: var(--light7);
    --CP-state-color: var(--dark9);

    --change-state-dialog-error-txt-color: var(--red_l1);
    --change-state-dialog-btn-bg: initial;
    --change-state-dialog-color: var(--dark9);
    --change-state-dialog-btn-checked-bg: #e0e0e0;
    --change-state-dialog-btn-checked-color: var(--dark9);
    --change-state-dialog-shutdown-btn-bg: var(--red_main);
    --change-state-dialog-shutdown-btn-color: var(--light1);

    --add-user-dialog-color: #{$light16};
    --add-partner-dialog-color: var(--light16);

    /*  */
    --new-feature-gradient: linear-gradient(242.24deg, var(--light2) 0.43%, var(--brand-l4) 122.68%);
    --cloud-storage-spot-gradient: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, #A8E1FE 0.01%, rgba(255, 255, 255, 0) 98.65%);
    --cloud-storage-focus: var(--light3);
    --cloud-storage-focus-2: var(--light7);
    // --cloud-storage-info-text

    /* Bookmarks */
    --bookmarks-background-color: #{$additional_light2};
    --bookmarks-calendar-today-border: rgba(0, 0, 0, 0.38);
    --bookmarks-calendar-today-highlight-shadow: var(--light1);
    --bookmarks-calendar-cell-highlight-bg: var(--light3);
    --bookmarks-calendar-month-text: var(--dark12);
    --bookmarks-input-border-color: var(--light10);
    --bookmarks-time-input-active-bg: var(--light3);
    --bookmarks-filter-header-bg: var(--light6);
    --bookmarks-filter-header-color: var(--dark9);
    --bookmarks-filter-clear-btn-bg: var(--light3);
    --bookmarks-filter-clear-btn-stroke: var(--light16);
    --bookmarks-filter-body-bg: var(--light5);
    --bookmarks-filter-button-bg: var(--light4);
    --bookmarks-filter-button-text: var(--dark12);
    --bookmarks-filter-filled-text: var(--light2);
    --bookmarks-filter-tag-color: var(--btn-default-bg);
    --bookmarks-text-highlight-bg: var(--light3);
    --bookmarks-duration-bg: rgba(0, 0, 0, 0.5);
    --bookmarks-card-background-color: var(--light1);
    --bookmarks-card-background-color-hover: none;
    --bookmarks-card-shadow-color-hover: rgba(var(--dark4--rgb), 0.2);
    --bookmarks-card-video-background-color: var(--dark1);
    --bookmarks-card-thumbnail-error-description: var(--light12);
    --bookmarks-card-thumbnail-error-background: var(--light4);
    --bookmarks-card-border-color: var(--light4);
    --bookmarks-card-title-gradient: linear-gradient(
        to right,
        rgba(var(--light1--rgb), 0),
        rgba(var(--light1--rgb), 1)
    );
    --bookmarks-card-title-gradient-hover: var(--bookmarks-card-title-gradient);
    --bookmarks-card-video-bg: inherit;
    --bookmarks-share-header-title-color: var(--dark9);
    --bookmarks-share-url-background-color: var(--brand-core);
    --bookmarks-share-url-text-color: var(--light1);
    --bookmarks-share-details-text-color: var(--dark16);
    --bookmarks-share-delete-text-color: var(--light16);
    --bookmarks-share-password-container-border-color: var(--light6);
    --bookmarks-share-password-container-background-color: var(--additional-light3);
    --bookmarks-share-input-header-text-color: var(--dark8);
    --bookmark-sharing-viewer-text-color: var(--dark13);

    --tour-background: rgba(var(--dark9--rgb), 0.4);

    /* System Admin */
    --system-admin-info-text: #2B383F; //$dark9;

    /* Ellipsis */
    --ellipsis-gradient: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 255, 255, 1) 85%);

    /* Layouts */
    --svg-toggle-arrow-color: var(--dark17);
    --svg-tab-arrow-color: var(--dark5);
    --placeholder-background: var(--light5);
    --placeholder-error-color: var(--attention-red_dark);
    --placeholder-info-color: var(--dark11);
    --no-camera-placeholder-color: var(--dark10);
    --no-layouts-body-color: var(--dar17);
    --sidebar-background: var(--light5);
    --sidebar-tab-hover: var(--light6);
    --sidebar-tab-closed: var(--light8);

    --tree-locked-icon: var(--dark4);
    --tree-editable-selection-override: var(--light3);
    --tree-renaming-layout-background: var(--light6);
    --tree-new-layout-background: var(--light4);

    --context-menu-bg: var(--drop-menu-navigation-bg);
    --context-menu-shadow: rgba(var(--dark15-rgb), 0.2);
    --context-menu-hr: var(--light7);
    --context-menu-item-text: var(--btn-text-color);
    --context-menu-item-icon: var(--svg-path-dark-color);
    --context-menu-item-text-hover: var(--dark17);
    --context-menu-item-icon-hover: var(--dark17);
    --context-menu-item-bg-hover: var(--brand-core);
    --context-menu-item-expanded-bg: var(--light3);

    --grid-new-layout-text: var(--dark17);
    --grid-new-layout-text-highlight: var(--dark12);

    --overlay-action-bg: rgba(var(--light2--rgb), 0.6);
    --overlay-action-bg-active: rgba(var(--light2--rgb), 0.5);
    --overlay-action-bg-hover: rgba(var(--light2--rgb), 0.7);
    --overlay-action-svg: rgba(var(--dark17--rgb), 0.8);
    --overlay-action-text: var(--dark17);
    --overlay-text: var(--dark17);
    --overlay-status-title: var(--dark12);
    --other-sites-title: var(--dark12);
    --other-sites-heading-background: var(--light6);
    --other-sites-expand-stroke: var(--dark16);

    --no-systems-description-color: var(--dark17);

	/* Merge */
    --merge-unmerged-error-text: unset;
    --merge-unmerged-system-message: var(--dark17);
}
