<form
    #transferOwnershipForm="ngForm"
    name="transferOwnershipForm"
    novalidate
    [ngClass]="{ 'hide-errors': hideErrors }"
>
    <div class="modal-header">
        <h1 class="modal-title" translate>Transfer Ownership</h1>
        <button
            *ngIf="closable"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="close()"
        >
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>
    <ng-container *ngIf="!transferComplete else transferSuccessTemplate">
        <div class="modal-body">
            <div class="form-group">
                <label for="newOwnerEmail" translate>New owner email</label>
                <nx-email-input
                    class="form-component"
                    id="newOwnerEmail"
                    name="newOwnerEmail"
                    componentId="newOwnerEmail"
                    [(ngModel)]="newOwner"
                    [form]="transferOwnershipForm"
                    [setFocus]="true"
                    #newOwnerEmail="ngModel"
                ></nx-email-input>
                <div class="col-12 ml-n2 d-flex">
                    <ng-container *ngIf="newOwnerEmail.errors">
                        <ng-container *ngIf="newOwnerEmail.touched">
                            <span
                                *ngIf="newOwnerEmail.errors.required"
                                class="input-error"
                                translate
                            >Email is required</span>
                            <span
                                *ngIf="newOwnerEmail.errors.pattern"
                                class="input-error"
                                translate
                            >Please enter a valid Email</span>
                            <span
                                *ngIf="newOwnerEmail.errors.accountDoesNotExist"
                                class="input-error"
                                translate
                            >User not found</span>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <label for="permissionsSelect" translate>Your new role in the current system</label>
                <nx-permissions-select
                    id="permissionsSelect"
                    name="permissionsSelect"
                    [system]="system"
                    [roles]="system.accessRoles"
                    [(ngModel)]="newRole"
                ></nx-permissions-select>
                <!-- <span class="help-block" [innerText]="accessDescription"></span> -->
            </div>
        </div>
        <div class="modal-footer">
            <nx-process-button
                [process]="transferOwnership"
                [form]="transferOwnershipForm"
                [buttonText]="'Transfer' | translate"
            ></nx-process-button>
            <nx-cancel-button
                [process]="transferOwnership"
                [discardFn]="close"
            ></nx-cancel-button>
        </div>
    </ng-container>
</form>

<ng-template #transferSuccessTemplate>
    <div id="successBody" class="modal-body d-flex flex-column align-items-center">
        <svg-icon
            nx-add-svg-src
            class="mt-1 mb-2"
            [svgStyle]="{ 'height.px': '79' }"
            [src]="CONFIG.icons.dirSectionPlaceholder + 'success_placeholder.svg'"
        ></svg-icon>
        <h2 class="mt-1" translate>Owner changed</h2>
        <span class="mt-1" translate>New system owner:</span>
        <div class="d-flex align-items-center">
            <svg-icon
                nx-add-svg-src
                [svgStyle]="{ 'height.px': '25' }"
                [src]="CONFIG.icons.dir + 'user.svg'"
            ></svg-icon>
            <span id="newOwner">// TODO</span>
        </div>
        <button
            class="btn btn-primary min-w-100 mt-4 mb-4"
            (click)="close()"
            translate
        >OK</button>
    </div>
</ng-template>
