<form
    #transferOwnershipForm="ngForm"
    name="transferOwnershipForm"
    novalidate
    [ngClass]="{ 'hide-errors': hideErrors }"
>
    <div class="modal-header">
        <h1 class="modal-title" translate>Transfer Ownership</h1>
        <button
            *ngIf="closable"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="close()"
        >
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>
    <ng-container *ngIf="!transferComplete else transferSuccessTemplate">
        <div class="modal-body mb-4">
            <div class="form-group">
                <label for="newSystemOwner" translate>New system owner email</label>
                <input
                    #newSystemOwner="ngModel"
                    class="form-control"
                    id="newSystemOwner"
                    name="newSystemOwner"
                    [(ngModel)]="newOwnerEmail"
                    list="system-emails"
                    [placeholder]="'Email' | translate"
                    [pattern]="CONFIG.credentialsValidation.emailRegex"
                    [disabled]="noUsers"
                    autofocus
                    required
                >
                <datalist id="system-emails">
                    <option
                        *ngFor="let user of system.userManager.users"
                        [value]="user.email"
                        [disabled]="user.email === system.userManager.currentOwner.email"
                    >{{ user.email }}</option>
                </datalist>
                <div class="col-12 ml-n2 d-flex">
                    <ng-container *ngIf="newSystemOwner.errors">
                        <ng-container *ngIf="newSystemOwner.touched">
                            <span
                                *ngIf="newSystemOwner.errors.required"
                                class="input-error"
                                translate
                            >Email is required</span>
                            <span
                                *ngIf="newSystemOwner.errors.pattern"
                                class="input-error"
                                translate
                            >Please enter a valid Email</span>
                            <span
                                *ngIf="newSystemOwner.errors.accountDoesNotExist"
                                class="input-error"
                            >{{ LANG.dialogs.transferOwnership.userNotFound({ newOwnerEmail }) }}</span>
                            <span
                                *ngIf="newSystemOwner.errors.selfTransfer"
                                class="input-error"
                                translate
                            >You already own this system</span>
                            <span
                                *ngIf="newSystemOwner.errors.duplicateTransfer"
                                class="input-error"
                                translate
                            >Transfer to this user is already in process</span>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <p *ngIf="noUsers; else transferWarning" class="input-error" translate>
                    There are no users on the system to transfer ownership to.
                </p>
                <ng-template #transferWarning>
                    <p
                        class="input-error"
                        translate
                    >Once the ownership transfer is completed you will be removed from the system.</p>
                </ng-template>
            </div>
        </div>
        <div class="modal-footer">
            <nx-process-button
                [process]="transferOwnership"
                [form]="transferOwnershipForm"
                [buttonText]="'Send Request' | translate"
                [buttonDisabled]="noUsers"
            ></nx-process-button>
            <nx-cancel-button
                [process]="transferOwnership"
                [discardFn]="close"
            ></nx-cancel-button>
        </div>
    </ng-container>
</form>

<ng-template #transferSuccessTemplate>
    <div class="modal-body d-flex flex-column align-items-center mb-4">
        <svg-icon
            nx-add-svg-src
            class="mt-1 mb-2"
            [svgStyle]="{ 'height.px': '79' }"
            [src]="CONFIG.icons.dirSectionPlaceholder + 'mail_placeholder.svg'"
        ></svg-icon>
        <p id="request-sent" class="mt-1" translate>Request has been sent</p>
        <p class="subtext mt-1" translate>Ownership change will occur as soon as the new owner accepts the request</p>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-primary min-w-100 mt-4 mb-4"
            (click)="close()"
            translate
        >OK</button>
    </div>
</ng-template>
