<div
    class="footer"
    *ngIf="visible$ | async"
>
    <ul class="nav navbar-nav flex-row">
        <li
            *ngFor="let item of footerItems"
            class="item"
        >
            <a
                *ngIf="item.new_window; else internalLink"
                [href]="item.url | safe: 'url'"
                [target]="item.new_window ? '_blank' : '_self'"
                >{{ item.display_name | translate }}</a
            >
            <ng-template #internalLink>
                <a [routerLink]="item.url">{{ item.display_name | translate }}</a>
            </ng-template>
        </li>
        <div class="copyright">
            <span>{{ copyright }}</span>
            <div
                class="return-to-top"
                *ngIf="returnToTopVisible$ | async"
                (click)="scrollToTop()"
            >
                <svg-icon [src]="CONFIG.icons.dirHeader + 'footer_arrow.svg'"></svg-icon>
            </div>
        </div>
    </ul>
</div>
