.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 32px;
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    z-index: 4;
    .navbar-nav {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 6px 0px 0px 16px;
        .item {
            margin-right: 24px;
            a {
                color: var(--footer-link-color);
            }
        }
    }
    .copyright {
        display: flex;
        white-space: nowrap;
        margin-left: auto;
        margin-right: 10px;
        .return-to-top {
            width: 20px;
            margin-left: 22px;
            position: relative;
            bottom: 1px;
            transition-property: width, margin-left;
            transition-duration: 500ms, 500ms;
            &:hover {
                cursor: pointer;
            }
            svg-icon {
                transition: opacity 500ms linear;
            }

            &.invisible {
                width: 0px;
                margin-left: 0px;
                svg-icon {
                    opacity: 0;
                }
              }
        }
    }
}