<ng-template #preloader>
    <div class="wide-section">
        <nx-pre-loader></nx-pre-loader>
    </div>
</ng-template>

<!-- Card Templates - Add additional card variants here, should be compatible with node structure -->

<ng-template #normalCard let-node="node">
    <div [ngClass]="{'narrow-section': node.cardClass === 'normal'}">
        <div [innerHTML]="node.content | safe:'html'" class="article-content"></div>
    </div>
</ng-template>

<ng-template #contentCard let-node="node">
    <div [ngClass]="{'narrow-section': node.cardClass === 'normal'}">
        <div [innerHTML]="node.content | safe:'html'" class="article-content"></div>
    </div>
</ng-template>

<!--<ng-template #outlinedCard let-node="node">-->
<!--    <nx-block type="mt-3">-->
<!--        <header>{{node.title}}</header>-->
<!--        <nx-section>-->
<!--            <h2>{{node.title}}</h2>-->
<!--            <div [innerHTML]="node.content | safe:'html'"></div>-->
<!--        </nx-section>-->
<!--    </nx-block>-->
<!--</ng-template>-->

<ng-template #sideCard let-node="node">
    <nx-block type="mt-3" header-style="side">
        <header>
            <div *ngIf="node.cardIcon" class="heading-icon">
                <svg-icon nx-add-svg-src 
                    [src]="CONFIG.icons.dir + node.cardIcon"
                    [svgStyle]="{'width.px': 20, 'height.px': 20}"
                ></svg-icon>
            </div>
            <p>{{node.cardLead}}</p>
            <h3>{{node.title}}</h3>
        </header>
        <nx-section>
            <div [innerHTML]="node.content | safe:'html'"></div>
        </nx-section>
    </nx-block>
</ng-template>

<ng-template #articleBlock>
    <h1>{{pageNode.title}}</h1>
    <div [innerHTML]="pageNode.content | safe:'html'"></div>
</ng-template>

<!-- End of Card Templates -->

<!-- Search Results Templates, Need to update once spec is updated -->
<ng-template #moreLoading>
    <ng-container *ngIf="loadingNext">
        <nx-pre-loader type="results-pre-loader"></nx-pre-loader>
    </ng-container>
</ng-template>

<ng-template #resultBlock let-doc="doc">
    <div class=" narrow-section my-2">
        <h3 (click)="navigateSearch(doc)" [innerHTML]="doc.title" class="doc-link"></h3>
        <p *ngIf="doc.snippet as content" [innerHTML]=" content | safe:'html'"></p>
    </div>
</ng-template>

<ng-template #searchResultsTemplate let-results="results">
    <h2 class="results-heading">{{results.length ? ('Search Results:' | translate) : ('No Matching Search Results' | translate)}}</h2>
    <ng-container *ngFor="let doc of results">
        <ng-container *ngTemplateOutlet="resultBlock;context{doc:doc}"></ng-container>
    </ng-container>
    <div *ngIf="currentSearchResultPage < totalSearchResultPages" class="more-results">
        <div *ngIf="!loadingNext;else moreLoading"
            (click)="fetchNext()"
            (nxOnIntersect)="fetchNext()"
            [intersectionDebounce]="CONFIG.search.debounceTime"></div>
    </div>
</ng-template>
<!-- End of Search Results Templates -->

<div class="page-wrapper">
    <nx-left-menu [menuName]="menuName"
        [baseRoute]="'/docs/' + basePath + '/' + this.kbName + '/'"
        (onClick)="clearSearch()"
        [ignoreQuery]="true"
        (relatedLinks)="relatedLinks$.next($event)"
        (handlePrefetch)="prefetchDocument($event)"></nx-left-menu>
    <div class="knowledge-base">
        <nx-search [ngModel]="search"
            (ngModelChange)="updateSearchQuery($event)"
            [placeholder]="'Knowledge Base Search' | translate"
            layout="compact"></nx-search>
        <ng-container *ngIf="!loading; else preloader">
            <ng-container *ngIf="pageNode.cardClass !== 'article';else articleBlock">
                <ng-container *ngIf="searchMode; else displayContent">
                    <ng-container *ngIf="!searchLoading; else preloader">
                        <ng-container *ngTemplateOutlet="searchResultsTemplate;context{results:(searchResults$ | async)}"></ng-container>
                    </ng-container>
                </ng-container>
                <ng-template #displayContent>
                    <ng-container *ngFor="let node of pageNode.nodes">
                        <ng-container *ngTemplateOutlet="node.cardClass === CardClasses.NORMAL ? normalCard: undefined;context{node:node}"></ng-container>
                        <ng-container *ngTemplateOutlet="node.cardClass === CardClasses.SIDE ? sideCard: undefined;context{node:node}"></ng-container>
                        <ng-container *ngTemplateOutlet="node.cardClass === CardClasses.CONTENT ? contentCard: undefined;context{node:node}"></ng-container>
                    </ng-container>
                    <div #scriptDiv></div>
                    <div class="related-section" *ngIf="(relatedLinksFiltered$ | async).length">
                        <h4>{{ (relatedLinks$ | async).type === 'next' ? 'NEXT ARTICLE:' : 'RELATED TOPICS' }}</h4>
                        <a *ngFor="let link of (relatedLinksFiltered$ | async)" [routerLink]="link.url">
                            {{link.display_name || link.name}}
                        </a>
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
</div>
