@use '../../../../styles/theme_variables' as *;
@use '~bootstrap/scss/bootstrap';

.page-wrapper {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: $grid-menu-width $grid-content-width;
    padding: 1rem;
    height: 100%;
   
    @include bootstrap.media-breakpoint-up(xl) {
        grid-template-columns: $grid-wide-menu-width $grid-wide-content-width;
    }

    @media (min-width : 1920px) {
        grid-template-columns : $grid-super-wide-menu-width $grid-super-wide-content-width;
    }
}