<input *ngIf="!lockEmail"
       class="fs-mask"
       [ngModel]="value"
       (ngModelChange)="setValue($event)"
       (blur)="onTouchedCallback()"
       [id]="componentId" [name]="componentId"
       [ngClass]="{'hide-errors': hideErrors, 'form-control': !authorize}"
       type="email"
       [readonly]="readonly"
       required
       autocomplete="off"
       maxlength="255"
       nxFocusMe
       [setFocus]="setFocus">

<input *ngIf="lockEmail"
       type="text"
       name="registerEmailLocked"
       class="fs-mask form-control"
       [readonly]="readonly"
       [ngClass]="{'hide-errors': hideErrors}"
       [(ngModel)]="value"
       readonly>
