@import '../../../../styles/theme_palette';
@import '../../../../styles/theme_variables';
@import '~bootstrap/scss/mixins/breakpoints';

.card-container {
    min-width: 135px;
    max-width: 165px;
    @include media-breakpoint-down (lg) {
        min-width: 165px;
    }
    // If grid-breakpoint sm is used at a width of 567px the bottom card takes entire row
    @media (max-width: 566px) {
        flex-grow: 1;
        max-width: unset;
    }
}
