<div class="row">
    <div *ngIf="tableHeaders && alarms"
         class="col-12 col-md-7 col-xl-9">
        <nx-dynamic-table
                [tableHeader]="alertsCount + ' alerts'"
                [headers]="tableHeaders"
                [elements]="alertsValues"
                (onRowClick)="setActiveEntity($event)"
                [activeEntity]="activeTableEntity"></nx-dynamic-table>
    </div>

    <div class="col-12 col-md-5 col-xl-3"
         *ngIf="activePanelEntity">

        <nx-dynamic-table-panel-component
                [activeEntity]="activePanelEntity"
                [panelParams]="selectedPanelData"
                (onCloseView)="resetActiveEntity()">
        </nx-dynamic-table-panel-component>
    </div>
</div>
