<div class="row">
    <div class="col-12">
        <div class="d-flex flex-wrap p-0">
            <div *ngFor="let alert of alertCards" class="col-2 mr-3 mb-2 px-0 card-container">
                <nx-system-alert-card-component [data]="alert"></nx-system-alert-card-component>
            </div>
        </div>
        <hr>
    </div>

    <div class="col-12" *ngIf="!mobileDetailMode">
        <nx-search
                name="filterModel"
                [ngModel]="filterModel"
                (ngModelChange)="modelChanged($event)"
                layout="selectors"
                ngDefaultControl>
        </nx-search>
    </div>

    <div class="d-flex w-100">
        <div *ngIf="tableHeaders && healthService.alertsValues && !mobileDetailMode"
            class="px-2 overflow-auto">
            <nx-dynamic-table
                    [tableHeader]="alertsCount + ' alerts'"
                    [headers]="tableHeaders"
                    [showGroups]="false"
                    [elements]="alerts"
                    (onRowClick)="setActiveEntity($event)"
                    [activeEntity]="activeTableEntity"></nx-dynamic-table>
        </div>

        <div class="col-12 col-md-5 col-xl-4 col-xxl-3"
             *ngIf="activePanelEntity">

            <div class="row pl-3 pb-3"
                 [style.display]="!mobileDetailMode ? 'none' : 'block'">

                <button class="btn btn-default btn-back" (click)="resetActiveEntity()">
                    <span class="back-arrow"></span>
                    <span translate>All results</span>
                </button>
            </div>

            <nx-dynamic-table-panel-component
                    [activeEntity]="activePanelEntity"
                    [panelParams]="activePanelParams"
                    (onCloseView)="resetActiveEntity()">
            </nx-dynamic-table-panel-component>
        </div>
    </div>
</div>
