<ng-template #regular>
    <h2 class="heading-style">{{name}}</h2>
</ng-template>

<div *ngIf="editEnabled; else regular" 
    class="header-title"
    [ngClass]="{'w-100': editMode}">
    <h2 NxEditable
    #editTitle
    [(content)]="name" 
    (blur)="handleBlur()" 
    (focus)="handleFocus()"
    [hasError]="!name"
    [ngClass]="{'has-edit-icon': !editMode}"
    id="editable-title"></h2>
    <div *ngIf="!editMode" class="edit-button" (click)="editTitle.focus()">
        <img alt="pencil icon button to edit camera name" [src]="CONFIG.icons.dirNonStandard + 'edit.png'" width="20" height="20"/>
    </div>
</div>