@use '../../../styles/typography';

#opacity {
    opacity : .6;
}

:host {
    .player-placeholder {
        height          : 100%;
        width           : 100%;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        margin          : 0 !important;

        svg {
            @extend #opacity;
        }

        .heading {
            @include typography.light40light10;
            text-align     : center;
            line-height    : 48px;
            margin-top     : 24px;
            text-transform : uppercase;
            @extend #opacity;
        }

        .description {
            @include typography.light18light10;
            text-align  : center;
            line-height : 24px;
            margin-top  : 16px;
            @extend #opacity;
        }
    }
}
