@use "../../../../styles/theme_variables_common";

nx-header-language-select {
    .dropdown {
        position: relative !important;
        height: 41px;
        margin: 3px 3px 3px 0;
        display: flex;
        color: theme_variables_common.$additional_light1 !important;
        & > button#dropdownMenuButton {
            color: theme_variables_common.$additional_light1 !important;
            background : theme_variables_common.$dark14 !important;
            border     : 1px solid transparent !important;

            &:hover {
                background : theme_variables_common.$dark15 !important;
            }

            &:active {
                background : theme_variables_common.$dark13 !important;
            }
        }

        &.dropdown-show {
            & > button#dropdownMenuButton {
                color: theme_variables_common.$additional_light1 !important;
                border: 1px solid theme_variables_common.$dark11 !important;
                background: theme_variables_common.$dark11 !important;

                &:hover {
                    background: 1px theme_variables_common.$dark11 !important;
                    border: 1px solid theme_variables_common.$dark11 !important;
                }
                &:active {
                    background: theme_variables_common.$dark11 !important;
                    border: 1px solid theme_variables_common.$dark11 !important;
                }

            }
        }

        button#dropdownMenuButton.btn.btn-dropdown-toggle.dropdown-toggle {
            padding: 5px 27px 5px 8px !important;
            height: 41px !important;
            width: auto !important;
            box-shadow: none !important;
            & > .arrow-flip {
                bottom: 10px !important;
                background: theme_variables_common.$additional_light1 !important;
            }

            & > .lang-sm {
                margin-right: 4px !important;
            }

        }

        &.short.alt-style {
            width: auto !important;
        }
    }

    svg-icon {
        bottom: 10px !important;
        #Path-2-Copy {
            stroke: theme_variables_common.$additional_light1 !important;
        }
    }
}
