@use '../../../../../styles/theme_variables' as *;
@use '../../../../styles/typography';
@use '~bootstrap/scss/bootstrap';

.get-started-heading {
    font-family: $font-family-light;
    font-size: 56px;
    color: $dark10;
    margin: 106px 16px 45px 16px;
    justify-content: center;
    @include bootstrap.media-breakpoint-down(xs) {
        font-size: 36px !important;
        margin-top: 36px !important;
    }
}

.get-started-blocks{
    background: $light1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 48px 16px 0 16px;
    @include bootstrap.media-breakpoint-down(xs) {
        padding-top: 36px !important;
    }
}

.detail-wrapper {
    flex: 1 0 232px;
    max-width: 376px;
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    min-height: 246px;
    @include bootstrap.media-breakpoint-down(xs) {
        min-height: 0 !important;
    }
}

.detail-block {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    @include bootstrap.media-breakpoint-down(xs) {
        width: 100% !important;
    }

    .step {
        position: absolute;
        top: 0;
        left: 0;
        font-family: $font-family-bold;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        @include bootstrap.media-breakpoint-down(xs) {
            left: 16px;
            top: 50% !important;
            transform: translateY(-50%);
        }
    }

    .step-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 100%;
        @include bootstrap.media-breakpoint-down(xs) {
            display: none !important;
        }

        svg-icon {
            transition: all ease-out 0.25s;
            z-index: 2;
            & > svg {
                width: 140px;
                height: 140px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 48px;
            background: radial-gradient(ellipse farthest-corner at center center, rgba($light16, 0.5), transparent 60%);
            transition: all ease-out 0.25s;
        }
    }

    .step-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include bootstrap.media-breakpoint-down(xs) {
            align-items: flex-start !important;
            margin-left: 72px !important;
        }

        & > h3 {
            @include typography.medium20;
            &:hover {
                cursor: pointer;
                color: $brand_core !important;
            }
        }

        & > span {
            @include typography.regular14;
            color: $brand_core !important;
        }
    }
}

.slide-up {
    & > svg-icon {
        transform: translate3d(0, -20px, 0);
    }

    &:after {
        filter: opacity(.75) brightness(1.25);
    }
}