
node_modules
dist
config.json
.tmp
.idea
.sass-cache
bower_components
app/bower_components
test/visual
yarn.lock
app/images/promo
app/images/favicon.ico
app/images/logo.png
app/images/logo_small.png
app/styles/custom
**/*.js.map
inline-wizard/customization/custom/_custom_palette.scss

.DS_Store
