
node_modules
dist
config.json
.tmp
.idea
.sass-cache
test/visual
yarn.lock
app/images/promo
app/images/favicon.ico
app/images/logo.png
app/images/logo_small.png
app/styles/custom
**/*.js.map
customization/**/*.*

.DS_Store
