@use "../../../../../styles/typography";
@use "../../../../../styles/mixins" as *;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins/breakpoints';

form.form-horizontal {
    overflow: auto auto !important;
}

.storage-container {
    table {
        display               : grid;
        border-collapse       : collapse;
        width: 100%;
        min-width: 648px;
        grid-template-columns : 40% fit-content(100%) auto;

        &.hasAction {
            grid-template-columns : 40% fit-content(100%) auto fit-content(100%);
        }
    }

    .table-row-spacer {
        height          : .5rem;
        grid-column-end : span 3;
        display         : grid;

        &.hasAction {
            grid-column-end : span 4;
        }
    }

    thead,
    tbody,
    tr {
        display : contents;
    }

    th,
    td {
        overflow      : hidden;
        text-overflow : ellipsis;
        white-space   : nowrap;
    }

    th {
        @include typography.medium13dark9;
        padding          : 5px 0 5px 16px;
        background-color : var(--additional_light1);
        border-bottom    : 1px solid var(--light3);
        height: 32px !important;

    }

    th:last-child {
        border : 0;
    }

    td {
        @include typography.regular13dark9;
        max-height: 24px !important;
        padding          : 5px 0 5px 16px;
        background-color : var(--light1);
        display          : flex;
        align-items      : center;

        &:last-of-type {
            padding-right: 16px;
        }

        &.size-chart {
            padding-top    : 2px !important;
            padding-bottom : 2px !important;
        }

        &.disabled-label, div.disabled-label {
            color : var(--light10) !important;

            svg-icon {
                svg {
                    height: 20px;
                    width: 20px;
                    path {
                        fill : var(--light10) !important;
                    }
                }
            }
        }

        .btn-text {
            padding : 0 !important;
            height  : 20px !important;
        }
    }

    tr:hover td {
        background : var(--brand-core-t90);
    }
}

.header-top-bar {
    display        : flex;
    flex-direction : column;
    align-items    : flex-start;

    @include media-breakpoint-up(lg) {
        flex-direction : row;
        align-items    : center;
    }

    .header-title {
        display     : flex;
        align-items : center;
        flex-grow   : 1;
    }

    .server-buttons {
        @include details-buttons;

        @include media-breakpoint-down(md) {
            padding-left : 0 !important;
            margin-top : 8px;
        }
    }
}

.header-table {
    font-size    : typography.$font-size-base;
    padding-left : 0;

    .header-table-cell {
        display     : flex;
        height      : 20px;
        align-items : flex-end;

        .cell-title {
            @include typography.regular13dark9;
        }

        .cell-ellipsis {
            margin-bottom : 2px;
            border-bottom : 1px dotted var(--light6);
            flex-grow     : 1;
        }
    }
}

.reindex-container {
    p {
        @include typography.regular13dark9;
    }

    .tooltip-text {
        color: var(--light1) !important;
    }

    .reindex-section {
        display: flex;
        .progress-bar-section {
            flex-grow: 1;
            padding-top: 2px;
            .progress-bar-header {
                display: flex;
                justify-content: space-between;
                div {
                    @include typography.medium12brand;
                }
                span {
                    @include typography.medium12dark9;
                }
            }
            .reindex-progress-container {
                height: 4px;
                background-color: var(--light3) !important;
                border-radius: 2px;
                .reindex-progress {
                    background-color: var(--brand-core) !important;
                }
            }
        }
    }
}

svg-icon.archive-warning {
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translateY(-22px);
}

.animate-rotation path{
    @include rotate;
    transform-origin: center center !important;
}

svg-icon:not(.animate-rotation) .st0 {
    display: block;
}

.changing {
    padding-left: 16px;
}

.disabled-action {
    pointer-events: none;
}

.header-button-span {
    color: var(--light16) !important;
}

button.btn.btn-dropdown-toggle.dropdown-toggle {
    border-style: none !important;
}

nx-storage-size-component {
    height: auto !important;
}

::ng-deep .show.tooltip {
    pointer-events: none;
}
