@use "../../../../../styles/typography";
@use '../../../../../../styles/theme_variables' as *;
@use "../../../../../styles/mixins" as *;

form.form-horizontal {
    overflow: auto auto !important;
}

.storage-container {
    table {
        display               : grid;
        border-collapse       : collapse;
        width: 100%;
        min-width: 648px;
        grid-template-columns : 40% fit-content(100%) auto;

        &.hasAction {
            grid-template-columns : 40% fit-content(100%) auto fit-content(100%);
        }
    }

    .table-row-spacer {
        height          : .5rem;
        grid-column-end : span 3;
        display         : grid;

        &.hasAction {
            grid-column-end : span 4;
        }
    }

    thead,
    tbody,
    tr {
        max-height: 24px !important;
        display : contents;
    }

    th,
    td {
        max-height: 24px !important;
        overflow      : hidden;
        text-overflow : ellipsis;
        white-space   : nowrap;
    }

    th {
        @include typography.medium13;
        padding          : 5px 0 5px 16px;
        background-color : $additional_light1;
        border-bottom    : 1px solid $light3;
        color            : $dark9;
    }

    th:last-child {
        border : 0;
    }

    td {
        @include typography.regular13;
        padding          : 5px 0 5px 16px;
        background-color : $light1;
        display          : flex;
        align-items      : center;

        &:last-of-type {
            padding-right: 16px;
        }

        &.size-chart {
            padding-top    : 2px !important;
            padding-bottom : 2px !important;
        }

        &.disabled-label, div.disabled-label {
            color : $light10 !important;

            svg-icon {
                svg {
                    height: 20px;
                    width: 20px;
                    path {
                        fill : $light10 !important;
                    }
                }
            }
        }

        .btn-text {
            padding : 0 !important;
            height  : 20px !important;
        }
    }

    tr:hover td {
        background : transparentize($brand_core, 0.9);
    }
}

.header-top-bar {
    display     : flex;
    align-items : center;

    .header-title {
        display     : flex;
        align-items : center;
        flex-grow   : 1;
    }

    .server-buttons {
        @include details-buttons;
    }
}

.header-table {
    font-size    : typography.$font-size-base;
    padding-left : 0;

    .header-table-cell {
        display     : flex;
        height      : 20px;
        align-items : flex-end;

        .cell-title {
            @include typography.regular13;
        }

        .cell-ellipsis {
            margin-bottom : 2px;
            border-bottom : 1px dotted $light6;
            flex-grow     : 1;
        }
    }
}

.reindex-container {
    p {
        @include typography.regular13;
    }

    .tooltip-text {
        color: white !important;
    }

    .reindex-section {
        display: flex;
        .progress-bar-section {
            flex-grow: 1;
            padding-top: 2px;
            .progress-bar-header {
                @include typography.medium12;
                display: flex;
                justify-content: space-between;
                div {
                    color: $brand_core;
                }
                span {
                    color: $dark9;
                }
            }
            .reindex-progress-container {
                height: 4px;
                background-color: $light3 !important;
                border-radius: 2px;
                .reindex-progress {
                    background-color: $brand_core !important;
                }
            }
        }
    }
}

svg-icon.archive-warning {
    position: absolute;
    height: 20px;
    width: 20px;
    transform: translateY(-22px);
}

.animate-rotation path{
    @include rotate;
    transform-origin: center center !important;
}

svg-icon:not(.animate-rotation) .st0 {
    display: block;
}

.changing {
    padding-left: 16px;
}

.disabled-action {
    pointer-events: none;
}

.no-storages-sizing {
    height: 138px !important;
}

.header-button-span {
    color: $light16 !important;
}

button.btn.btn-dropdown-toggle.dropdown-toggle {
    border-style: none !important;
}

nx-storage-size-component {
    height: auto !important;
}
