<nx-section-placeholder
        *ngIf="!loading && !storage.length"
        svgFileName="system_settings_placeholder"
        width="64"
        [translatedMessage]="LANG.system.settings.notAbleToLoadStorageInfo">
</nx-section-placeholder>

<nx-block type="mt-3 storage-info" *ngIf="!loading && storage.length">
    <header>
        <div class="header-top-bar d-flex justify-content-between">
            <h4 translate>Storage Locations</h4>
            <div class="buttons">
                <button class="server-buttons pr-0">
                    <span>
                        <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirNonStandard + 'info.svg'"
                                  [applyCss]="true"></svg-icon>
                    </span>
                    <span class="ml-1" translate>Detailed Info</span>
                </button>
            </div>
        </div>
    </header>
    <nx-section nonPadded>
        <div class="storage-container">
            <form class="form form-horizontal" role="form" name="storageSettings" novalidate>
                <table>
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Mode</th>
                            <th>Space</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row-spacer"></tr>
                        <tr *ngFor="let store of storage">
                            <td>{{store.url}}</td>
                            <td class="px-0" [style.width.px]="ddWidth">
                                <div class="position-absolute" [style.width.px]="ddWidth">
                                    <nx-select [type]="'clear-fit'"
                                        [items]="modes"
                                        [selected]="selectMode(store)"
                                        (onSelected)="changeMode(store, $event)">
                                    </nx-select>
                                </div>
                            </td>
                            <td class="size-chart">
                                <nx-storage-size-component [store]="store"></nx-storage-size-component>
                            </td>
                        </tr>
                        <tr class="table-row-spacer"></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </nx-section>
    <nx-section>
        <button class="btn btn-default" translate>Add External Storage</button>
    </nx-section>
</nx-block>
