<nx-block type="mt-3 storage-info">
    <header>
        <div class="header-top-bar d-flex justify-content-between">
            <h2 translate>Storage Locations</h2>
            <div class="buttons">
                <button class="server-buttons pr-0">
                    <span>
                        <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirNonStandard + 'info.svg'"
                                  [applyCss]="true"></svg-icon>
                    </span>
                    <span class="ml-1" translate>Detailed Info</span>
                </button>
            </div>
        </div>
    </header>
    <nx-section nonPadded>
        <div class="storage-container">
            <nx-pre-loader *ngIf="loading"></nx-pre-loader>
            <nx-section-placeholder
                    *ngIf="!loading && !storage.length"
                    svgFileName="system_settings_placeholder"
                    width="64"
                    [translatedMessage]="LANG.system.settings.notAbleToLoadStorageInfo">
            </nx-section-placeholder>
            <form class="form form-horizontal" role="form" name="storageSettings" novalidate>
                <table *ngIf="showStorage">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Total space</th>
                            <th>Free space</th>
                            <th>Reserved space</th>
                            <th>Type</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row-spacer"></tr>
                        <tr *ngFor="let store of storage; index as i">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-row-spacer"></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </nx-section>
</nx-block>
