@use "../../../../../styles/typography";
@use '../../../../../../styles/theme_variables' as *;

.storage-container {
    table {
        display               : grid;
        border-collapse       : collapse;
        min-width             : 100%;
        grid-template-columns : 35% 20% auto;
    }

    .table-row-spacer {
        height          : .5rem;
        grid-column-end : span 3;
        display         : grid;
    }

    thead,
    tbody,
    tr {
        display : contents;
    }

    th,
    td {
        overflow      : hidden;
        text-overflow : ellipsis;
        white-space   : nowrap;
    }

    th {
        @include typography.medium13;
        padding          : 5px 15px;
        background-color : $additional_light1;
        border-bottom    : 1px solid $light3;
        color            : $dark9;
    }

    th:last-child {
        border : 0;
    }

    td {
        padding          : 5px 15px;
        background-color : $light1;
        color            : $dark9;
        display          : flex;
        align-items      : center;
    }

    td:first-child {
        display : block;
        padding-top : 12px;
    }

    tr:hover td {
        background : transparentize(typography.$brand_core, 0.9);
    }
}

.header-top-bar {
    display     : flex;
    align-items : center;

    .header-title {
        display     : flex;
        align-items : center;
        flex-grow   : 1;
    }

    .server-buttons {
        &:hover {
            color : $dark15;

            svg-icon {
                svg {
                    g, path {
                        fill : $dark15 !important;
                    }
                }
            }
        }

        @include typography.regular13;
        background-color : inherit;
        color            : $light16;
        display          : flex;
        align-items      : center;
        white-space      : nowrap;

        svg-icon {
            svg {
                height : 20px;

                g, path {
                    fill : $light16 !important;
                }
            }
        }

        a {
            text-decoration : none;
            color           : inherit;
        }
    }
}

.header-table {
    font-size    : typography.$font-size-base;
    padding-left : 0;

    .header-table-cell {
        display     : flex;
        height      : 20px;
        align-items : flex-end;

        .cell-title {
            @include typography.regular13;
        }

        .cell-ellipsis {
            margin-bottom : 2px;
            border-bottom : 1px dotted $light6;
            flex-grow     : 1;
        }
    }
}
