/* You can add global styles to this file, and also import other style files */
@use "typography" as typography;
@use "_theme_variables_common" as *;
@use "buttons" as *;
@use "css-variables/native-theme/theme_palette" as *;
@import "theme_variables_light";
@import "theme_variables_dark";
@import "~@angular/cdk/overlay-prebuilt.css";

a {
    color: var(--brand-core) !important;
    text-decoration: none !important;
    cursor: pointer;
}

.card-wizard {
    box-shadow : var(--popover-shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .header {
        h2 {
            @include typography.regular30nocolor;
            padding: 0 1rem;
            text-align: center;
        }
    }

    .body {
        height: 55%;

        .additional-action-link {
            position: absolute;
            bottom: 70px;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        form {
            width: 100%;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 0 0.75rem;
    }
}

.state-container {
    height: 100%;
    width: 280px;

    & > div {
        display        : flex;
        flex-direction : column;
        align-items: center;
        justify-content: center;
    }

    &--title {
        margin-bottom: 4rem;
    }
}

nx-checkbox {
    & + label {
        margin-left : 2px;
        margin-top  : 4px;
    }
}

.helper-block {
    @include typography.regular12light;
    margin: 8px 0 8px 1px;
    line-height: 16px;
}

.dropdown-item {
    color : var(--dropdown-item-color) !important;
}
