/* You can add global styles to this file, and also import other style files */
@use "typography" as typography;
@use "_theme_variables_common" as *;
@use "buttons" as *;
@use "css-variables/native-theme/theme_palette" as *;
@import "theme_variables_light";
@import "theme_variables_dark";
@import "~@angular/cdk/overlay-prebuilt.css";

a {
    color: var(--brand-core) !important;
    text-decoration: none !important;
    cursor: pointer;
}

.card-wizard {
    box-shadow : var(--popover-shadow-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 0 45px !important;
    
    &.centered {
        align-items: center;
    }

    .header {
        h2 {
            @include typography.medium24nocolor;
            text-align: left;
        }
    }

    .body {
        width: 100%;

        .additional-action-link {
            display: block;
            margin: 1rem auto 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        form {
            width: 100%;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 45px 45px;
        
        &.centered:not(.normal) {
            display: flex;
            align-items: center;
            justify-content: center;
            
            & > .btn {
                min-width: 210px;
            }
        }
    }
}

.state-container {
    height: 100%;
    width: 100%;

    & > div {
        display        : flex;
        flex-direction : column;
        align-items: flex-start;
        justify-content: center;
    }
    
    &.centered {
        & > div {
            align-items: center;
        }
    }

    &--title {
        margin-bottom: 3rem;
    }
}

nx-checkbox {
    & + label {
        margin-left : 2px;
        margin-top  : 4px;
    }
}

.helper-block {
    @include typography.regular12light;
    margin: 8px 0 8px 1px;
    line-height: 16px;
}

.btn-helper-block {
    @include typography.regular11nocolor;
    line-height: 16px;
}

.dropdown-item {
    color : var(--dropdown-item-color) !important;
}
