<div class="modal-header">
    <h3 class="modal-title">O servidor está off-line</h3>
</div>
<form class="form" role="form" id="restartDialog">
    <div class="modal-body">
        <p>O servidor não pode lidar com solicitações agora. Tentando alcançá-lo novamente.</p>
        <uib-progressbar class="progress-striped active" type="info" value="100" id="restartingProgress">{{state}}</uib-progressbar>
        <p>Se nada acontecer por um tempo - você pode verificar a condição do servidor manualmente ou atualizar a página</p>
    </div>
</form>
