<div class="state-container">
    <div class="state-container--title"></div>
    <div class="state-container--body">
        <form
            name="setAdminPasswordForm"
            #setAdminPasswordForm="ngForm"
        >
            <div class="form-group">
                <input
                    id="adminName"
                    name="adminName"
                    class="form-control"
                    value="admin"
                    readonly
                    disabled
                />
            </div>
            <div class="form-group">
                <nx-password-input
                    name="createPassword"
                    componentId="createPassword"
                    class="form-component"
                    [(ngModel)]="password"
                    [placeholder]="'Password' | translate"
                    [component]="createPassword"
                    [form]="setAdminPasswordForm"
                    #createPassword="ngModel"
                    [setFocus]="true"
                ></nx-password-input>
            </div>
            <div class="form-group">
                <input
                    name="confirmPassword"
                    id="confirmedPassword"
                    class="form-control"
                    type="password"
                    [(ngModel)]="confirmedPassword"
                    [placeholder]="'Repeat Password' | translate"
                    (blur)="checkPasswords()"
                    #confirmPassword="ngModel"
                    required
                />

                <div class="mt-2">
                    <nx-password-input-validation
                        [forElement]="createPassword"
                        [value]="password"
                    >
                    </nx-password-input-validation>
                    <ng-container
                        *ngIf="
                            confirmPassword.invalid &&
                            ((confirmPassword.dirty && !confirmPassword.errors?.pattern) ||
                                confirmPassword.touched)
                        "
                    >
                        <div
                            class="input-error"
                            *ngIf="confirmPassword.errors.required"
                            translate
                        >
                            Password confirmation is required
                        </div>
                        <div
                            class="input-error"
                            *ngIf="confirmPassword.errors?.dontMatch"
                            translate
                        >
                            Passwords do not match
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
</div>
