<div class="state-container">
    <div class="state-container--title"></div>
    <div class="state-container--body">
        <form
            name="setAdminPasswordForm"
            #setAdminPasswordForm="ngForm"
        >
            <div class="form-group">
                <input
                    id="adminName"
                    name="adminName"
                    class="form-control"
                    value="admin"
                    readonly
                    disabled
                />
            </div>
            <div class="form-group">
                <nx-mat-like-password-input
                    name="createPassword"
                    componentId="createPassword"
                    class="fs-exclude"
                    [label]="'Password' | translate"
                    [confirmation]="true"
                    [validation]="true"
                    [(ngModel)]="password"
                    [form]="setAdminPasswordForm"
                    [component]="createPassword"
                    [setFocus]="true"
                    #createPassword="ngModel"
                ></nx-mat-like-password-input>
            </div>
        </form>
    </div>
</div>
