<div class="no-camera-selected" *ngIf="!camera">No camera selected</div>

<header *ngIf="camera">
  <span class="name">{{ camera.name }}</span>
  <span class="indicator" *ngIf="!camera.isOnline">OFFLINE</span>
  <span class="indicator" *ngIf="camera.isOnline">ONLINE</span>
  <span class="indicator" *ngIf="camera.isLive">LIVE</span>
  <span class="indicator" *ngIf="camera.isRecording">REC</span>
  <span class="indicator" *ngIf="camera.hasArchive">ARCH</span>
</header>

<player *ngIf="camera && showPlayer else noPlayer"></player>
<ng-template #noPlayer><div class="no-player-message">No Player</div></ng-template>

<div *ngIf="camera" class="controls">
  <playback-controls></playback-controls>
  <zoom-controls></zoom-controls>
  <timeline *ngIf="showTimeline else noArchiveYet" (dblclick)="onTimeLineDoubleClick($event)"></timeline>
  <ng-template #noArchiveYet>
    <!-- Commented out to make strict templates work, this component is part of a view used only for testing/prototyping -->
    <!-- <div class="loading-archive-indicator" *ngIf="getRecordsInProgress else noArchive">Loading...</div> -->
    <ng-template #noArchive>
      <div class="no-archive-message">No Archive</div>
    </ng-template>
  </ng-template>
  <playback-state-indicator></playback-state-indicator>
</div>

