@use '../../styles/theme_variables' as *;

.editable-directive {
    &-initial {
        position: relative;
        cursor: pointer;
        text-align: left !important;
        display: block !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        &:hover {
            background: $additional_light2;
            border-radius: 2px;
            padding-left: 4px;
            margin-left: -4px;
        }
    }
    &-edit {
        position: relative;
        border-radius: 2px;
        padding: 0px;
        background: $additional_light5;
        border: 1px solid $blue1;
        background: $additional_light6;
        text-align: left !important;
        overflow: hidden;
        white-space: nowrap !important;
        margin-left: -1px !important;
        outline: none;
    }

    &-error {
        border: 1px solid $red_l2;
    }
}
