<h1>Привіт, {{message.userFullName}}</h1>

<p>Ви отримали це повідомлення, тому що Ви або хтось інший відправив запит на відновлення паролю до облікового запису %CLOUD_NAME%.</p>
<p>Якщо Ви цього не робили, будь ласка, повідомте нас негайно, звернувшись до служби підтримки.</p>

<a class="btn" href="{{config.portal_url}}/restore_password/{{message.code}}">Відновити пароль</a>

<p class='disclaimer'>
This password reset link is valid for 24 hours.<br>
Do not share the message or the link with anyone.
</p>
