<h1>Існує нова версія для перегляду {{ message.asset }} ({{ message.asset_type }})</h1>
<p>Натисніть на посилання, щоб переглянути чернетку {{ message.id }} для {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Огляд версії</a>
<h4>На цій сторінці ви можете</h4>
<ul>
	<li>Створити попередній перегляд, щоб переглянути останні зміни.</li>
	<li>Опублікувати цю версію, яка оновить весь контент.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>
