@use "../../../styles/typography";
@use "../../../../styles/theme_variables_common" as *;
@use "src/app/styles/_bootstrap_utils" as bootstrap;

.heading {
    @include typography.regular24nocolor;
    color : var(--body-text-color);
    margin-bottom: 48px;
}

.heading-link {
    @extend .heading;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.dev-tools {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 96px auto 0 auto;
    max-width: 1440px;
    padding: 0 16px;

    @include bootstrap.media-breakpoint-down(xs) {
        margin-top: 36px !important;
        padding: 0 21px;
    }
}

.detail-blocks {
    gap: 16px;
    width: 100%;
    @include bootstrap.media-breakpoint-down(xs) {
       gap: 8px;
    }
}

.tool-card {
    cursor: pointer;
    min-height: 242px;
    & > header {
        background-color: var(--card-header-bg);
        padding: 16px 0 18px 16px;
        & > svg-icon > svg {
            height: 48px;
        }
    }

    @include bootstrap.media-breakpoint-down(xs) {
        flex: 0 1 100% !important;
    }
}

.tool-detail {
    padding: 8px 16px;
    h3 {
        line-height: 32px;
    }
    p {
        line-height: 16px;
    }
}

.stand-alone-blocks {
    $cardWidth: 291px;
    margin: 16px auto;
    padding-left: 16px;
    justify-content: start;
    width: calc(100vw - 16px);
    @for $columns from 2 through 6 {
        @media screen and (min-width: $cardWidth * $columns + 32px) {
            width: $cardWidth * $columns;
            @if $columns is 2 {
                padding-left: 0;
                & > .tool-card {
                    max-width: 275px;
                }
            }
        }
    }
}
