<div class="modal-header">
    <h1 class="modal-title" translate>Merge Systems</h1>
    <button type="button" class="close"
            data-dismiss="modal" aria-label="Close"
            (click)="activeModal.close()" *ngIf="closable">
        <div class="close-content"><span class="close-icon"></span></div>
    </button>
</div>
<form *ngIf="machine.currentState === 'thisSystemHasOutdatedServerError'">
    <div class="modal-body">
        <p translate>Some of the servers in this System have outdated software versions and can not be merged.</p>
        <p translate>Update them to the <a routerLink="/download" target="_blank" translate>latest build</a></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary m-0" (click)="activeModal.close()" translate>OK</button>
    </div>
</form>
<form *ngIf="machine.currentState === 'checkMerge'" name="checkMergeForm">
    <div class="modal-body">
        <p *ngIf="machine.state.show.mergeSystemText" translate>Merge current system with:</p>
        <nx-select 
            *ngIf="machine.state.show.systemDropdown"
            class="mb-2"
            id="system"
            merge="true"
            [items]="processedSystems" 
            [selected]="targetSystemDropdown" 
            (onSelected)="setTargetSystem($event)"
            required></nx-select>
        <p *ngIf="machine.state.show.noSystemText" translate>
            Enter address of any server in the system you want to merge with this one.
        </p>
        <p *ngIf="machine.state.show.ownerCanMergeText" 
            class="light-text"
            translate>
            You can only merge Systems where you are the owner.
        </p>
        <p *ngIf="machine.state.show.checkingText" class="light-text help-block-no-height" translate>
            Checking...
        </p>
        <div *ngIf="machine.state.show.serverUrlInput" class="d-flex flex-column server-url add-specificity">
            <label class="server-url-label" for="serverUrl" translate>
                Server URL
            </label>
            <input 
                class="mb-2 form-control"
                #serverUrlInput="ngModel"
                name="serverUrl"
                id="serverUrl"
                type="url"
                placeholder="host:port"
                (ngModelChange)="serverUrlChange(serverUrlInput)"
                [(ngModel)]="machine.state.template.serverUrlInputValue"
                (blur)="serverUrlChange(serverUrlInput)"
                nxUrlValidator
                required/>
            <label 
                *ngIf="machine.state.show.serverUrlInputValidationErrorText" 
                [innerHTML]="machine.state.template.serverUrlInputValidationErrorText" 
                class="error-label"
                for="serverUrl">
            </label>
        </div>
        <p *ngIf="machine.state.show.checkingErrorText"
            [ngClass]="{ 'mt-2': machine.state.show.serverUrlInput }"
            [innerHTML]="machine.state.template.checkingErrorText" 
            class="error-label">
        </p>
    </div>
    <div class="modal-footer float-right next-button">
        <nx-process-button
            [process]="checkMergeabilityProcess"
            [form]="checkMergeForm"
            actionType="primary"
            [svgSrc]="{ src: 'arrow_right', height: '24', color: 'light1' }"
            buttonText="{{ 'Next' | translate}}"></nx-process-button>
    </div>
</form>
<form *ngIf="machine.currentState === 'choosePrimary'" name="choosePrimaryForm">
    <div class="modal-body">
        <p translate>Take system name and settings from</p>
        <div>
            <div class="radio-group">
                <nx-radio name="firstSystem" [value]="system"
                    [label]="system.name || system.info && system.info.name"
                    componentId="firstSystem" [(ngModel)]="primarySystem"
                    (ngModelChange)="setSystems()"></nx-radio>
            </div>
            <div class="radio-group">
                <nx-radio name="secondSystem" [value]="targetSystem"
                    [label]="targetSystem.name || targetSystem.info && targetSystem.info.name"
                    componentId="secondSystem" [(ngModel)]="primarySystem"
                    (ngModelChange)="setSystems()"></nx-radio>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <button class="btn btn-default svg-icon" (click)="machine.goBack()">
            <svg-icon [src]="CONFIG.icons.dir + 'arrow_left.svg'" [applyCss]="true"></svg-icon>
        </button>
        <button class="btn btn-primary svg-icon next-button" (click)="machine.transition('confirmMerge')">
            {{ 'Next' | translate }}
            <svg-icon [src]="CONFIG.icons.dir + 'arrow_right.svg'"
                class="white-svg ml-2" [applyCss]="true"></svg-icon>
        </button>
    </div>
</form>
<form *ngIf="machine.currentState === 'confirmMerge'" #confirmMergeForm="ngForm" name="confirmMergeForm">
    <div class="modal-body">
        <p [innerHTML]="'dialogs.merge.mergeConfirmation'| translate: {
                primarySystem: primarySystem.name || primarySystem.info && primarySystem.info.name,
                secondarySystem: secondarySystem.name || secondarySystem.info && secondarySystem.info.name
            }"></p>
        <div *ngIf="machine.state.maxServerWarningText">
            <p [innerHTML]="'dialogs.merge.warning'| translate: { maxServers: CONFIG.maxServers }"></p>
            <p translate>Systems of such size can work, but may be unstable and have troubles with updates and synchronization.</p>
            <p>
                {{LANG.dialogs.merge.recommendSupport.a_recommend}} 
                <a [href]="CONFIG.supportLink" target="_blank">{{LANG.dialogs.merge.recommendSupport.b_support}}</a> 
                {{LANG.dialogs.merge.recommendSupport.c_proceeding}}
            </p>
        </div>
        <div class="form-group">
            <label for="mergePassword" translate>Enter password for your account to continue</label>
            <input class="form-control"
                    [(ngModel)]="password" #mergePassword="ngModel"
                    id="mergePassword" autocomplete="new-password"
                    name="mergePassword" type="password" required
                    nxFocusMe>
            <div *ngIf="canShowRequired(mergePassword)">
                <label class="input-error" translate>Password is required</label>
            </div>
            <div *ngIf="canShowWrong(mergePassword)">
                <label class="input-error" translate>Wrong password</label>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between next-button">
        <button class="btn btn-default svg-icon" (click)="machine.goBack()">
            <svg-icon [src]="CONFIG.icons.dir + 'arrow_left.svg'" [applyCss]="true"></svg-icon>
        </button>
        <nx-process-button
            [process]="mergingProcess"
            [form]="confirmMergeForm"
            actionType="primary"
            [svgSrc]="{ src: 'arrow_right', height: '24', color: 'light1' }"
            buttonText="{{ 'Next' | translate}}"></nx-process-button>
    </div>
</form>
<!-- <form #mergeForm="ngForm" name="mergeForm" novalidate>
    <div *ngIf="state == 'select'">
        <div class="modal-body">
            <div *ngIf="checking; else notChecking">
                <label class="help-block-no-height mb-2 light-text" translate>Checking...</p>
            </div>
            <ng-template #notChecking>
                <p *ngIf="systemMergeable == 'unavailable'" class="help-block-no-height warning-label mb-2">
                    <span [innerHTML]="'dialogs.merge.systemUnavailable' | translate: { targetSystem: targetSystem.name || targetSystem.info.name }"></span>
                    <span>&nbsp;<a [href]="CONFIG.supportLink" target="_blank" translate>support</a>.</span>
                </p>
                <p *ngIf="systemMergeable == 'primaryUnavailable'" class="help-block-no-height warning-label mb-2">
                    <span [innerHTML]="'dialogs.merge.systemUnavailable' | translate: { targetSystem: system.name || system.info.name}"></span>
                    <span>&nbsp;<a [href]="CONFIG.supportLink" target="_blank" translate>support</a>.</span>
                </p>
                <p *ngIf="systemMergeable == 'offline'"
                    class="help-block-no-height warning-label mb-2"
                    [innerHTML]="'dialogs.merge.systemOffline' | translate: {
                        targetSystem: targetSystem.name || targetSystem.info.name
                        }">
                </p>
                <p *ngIf="systemMergeable == 'primaryOffline'"
                    class="help-block-no-height warning-label mb-2"
                    [innerHTML]="'dialogs.merge.primarySystemOffline' | translate: {
                        primarySystem: system.info.name, targetSystem: targetSystem.name || targetSystem.info.name
                        }">
                </p>
                <p *ngIf="systemMergeable == 'secondaryCannotMerge'" class="help-block-no-height warning-label mb-2"
                    [innerHTML]="'dialogs.merge.secondaryCannotMerge' | translate: {
                        targetSystem: targetSystem.name || targetSystem.info.name
                    }">
                </p>
                <p *ngIf="systemMergeable == 'primaryCannotMerge'" class="help-block-no-height warning-label mb-2"
                    [innerHTML]="'dialogs.merge.primaryCannotMerge' | translate: {
                        targetSystem: targetSystem.name || targetSystem.info.name
                        }">
                </p>
                <p *ngIf="systemMergeable == ''" class="help-block-no-height mb-2 light-text" translate>
                    You can only merge Systems where you are the owner.
                </p>
            </ng-template>
            <div>
                <div class="bold-text" translate>Take the name and settings from</div>
                <div>
                    <div class="radio-group">
                        <nx-radio name="firstSystem" [value]="system"
                                    [label]="system.name || system.info && system.info.name"
                                    componentId="firstSystem" [(ngModel)]="primarySystem"
                                    (ngModelChange)="setSystems()"></nx-radio>
                    </div>
                    <div class="radio-group">
                        <nx-radio name="secondSystem" [value]="targetSystem"
                                    [label]="targetSystem.name || targetSystem.info && targetSystem.info.name"
                                    componentId="secondSystem" [(ngModel)]="primarySystem"
                                    (ngModelChange)="setSystems()"></nx-radio>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <nx-process-button [process]="checkMergeabilityProcess"
                                [form]="mergeForm"
                                actionType="primary"
                                buttonText="{{ 'OK' | translate}}"></nx-process-button>
            <button class="btn btn-default" (click)="activeModal.close()" translate>Cancel</button>
        </div>
    </div>
    <div *ngIf="state == 'warning'">
        <div class="modal-body">
            <p [innerHTML]="'merge.warning'| translate: {maxServers: CONFIG.maxServers}"></p>
            <p translate>Systems of such size may work but will be unstable and have troubles with updates and synchronisation.</p>
            <p>{{LANG.dialogs.merge.recommendSupport.a_recommend}} <a [href]="CONFIG.supportLink" target="_blank">{{LANG.dialogs.merge.recommendSupport.b_support}}</a> {{LANG.dialogs.merge.recommendSupport.c_proceeding}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" (click)="updateState()" translate>Ok</button>
            <button class="btn btn-default" (click)="activeModal.close()" translate>Cancel</button>
        </div>
    </div>
    <div *ngIf="state == 'confirm'">
        <div class="modal-body">
            <p class="mb-3" [innerHTML]="'dialogs.merge.mergeConfirmation' | translate: {
                primarySystem: primarySystem.name || primarySystem.info && primarySystem.info.name,
                secondarySystem: secondarySystem.name || secondarySystem.info && secondarySystem.info.name
            }">
            </p>
            <div class="form-group">
                <label for="mergePassword" translate>Enter password for your account to continue</label>
                <input class="form-control"
                        [(ngModel)]="password" #mergePassword="ngModel"
                        id="mergePassword" autocomplete="new-password"
                        name="mergePassword" type="password"
                        nxFocusMe>
                <div *ngIf="canShowRequired(mergePassword)">
                    <label class="input-error" translate>Password is required</label>
                </div>
                <div *ngIf="canShowWrong(mergePassword)">
                    <label class="input-error" translate>Wrong password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <nx-process-button [process]="mergingProcess"
                                [form]="mergeForm"
                                actionType="primary"
                                buttonText="{{ 'Merge Systems' | translate}}"></nx-process-button>
            <button class="btn btn-default" (click)="activeModal.close()" translate>Cancel</button>
        </div>
    </div>
</form> -->
