<div
    class="process-button"
    [ngClass]="customClass"
>
    <div
        *ngIf="!textOnly && (process?.processing || buttonDisabledInProgress)"
        [ngClass]="{ disabledInProgress: buttonDisabledInProgress }"
        class="btn active focus loading {{ buttonClass }} {{ customButtonClass }} {{
            process?.processing && 'disabled'
        }}"
    >
        <div> <span class="dot1"></span><span class="dot2"></span><span class="dot3"></span> </div>
    </div>

    <button
        *ngIf="!textOnly; else textButton"
        class="btn {{ buttonClass }} {{ customButtonClass }} on-keypress-enter"
        [ngClass]="{
            processing: process && process.processing,
            'reverse-order': reverseButton,
            'min-w-120': !removeMinWidth
        }"
        [ngStyle]="{ cursor: buttonDisabled ? 'not-allowed' : 'pointer' }"
        [disabled]="buttonDisabled"
        type="submit"
        (click)="clickHandler($event)"
    >
        <ng-container>{{ buttonText }}</ng-container>
        <ng-container *ngIf="svg">
            <svg-icon
                nx-add-svg-src
                [src]="CONFIG.icons.dir + svg.src + '.svg'"
                [ngClass]="{ 'white-svg': svg.color === 'light1', 'ml-2': !reverseButton, 'mr-2': reverseButton }"
                [svgStyle]="{ 'height.px': svg.height }"
                [ngStyle]="{ 'minWidth.px': svg.width, 'minHeight.px': svg.height }"
                [applyClass]="true"
            ></svg-icon>
        </ng-container>
    </button>
    <ng-template #textButton>
        <span class="header-button-span">
            <svg-icon
                [src]="CONFIG.icons.dirTextButtons + 'external.svg'"
                [svgStyle]="{ 'margin-right': '2px', 'width.px': '20' }"
            ></svg-icon>
            <span
                (click)="clickHandler($event)"
                translate
                >Open in %VMS_NAME%</span
            >
        </span>
    </ng-template>
</div>
