<div class="process-button" [ngClass]="customClass">
    <div class="btn active focus loading {{customButtonClass}} {{process && process.processing && 'disabled'}}" [ngClass]="buttonClass" *ngIf="process && process.processing">
        <div>
            <span class="dot1"></span><span class="dot2"></span><span class="dot3"></span>
        </div>
    </div>

    <button class="btn {{buttonClass}} {{customButtonClass}}"
            [ngClass]="{'processing' : process && process.processing}"
            [disabled]="buttonDisabled"
            type="submit"
            (click)="clickFn(); checkForm(); $event.stopPropagation();">
        <ng-container>{{buttonText}}</ng-container>
        <ng-container *ngIf="svg"><svg-icon nx-add-svg-src [src]="CONFIG.icons.dir + svg.src + '.svg'"
            [ngClass]="{ 'white-svg': svg.color === 'light1', 'ml-2': true }"
            [svgStyle]="{ 'height.px': svg.height }"
            [applyClass]="true"></svg-icon>
        </ng-container>
    </button>
</div>
