<div *ngFor="let toast of toastService.toasts;" @fadeInOut>
    <ngb-toast
            *ngIf="toast.inset == inset"
            class="alert alert-{{toast.classname}} {{!inset && 'fade'}}"
            [ngClass]="{'alert-dismissible': !toast.autohide}"
            [autohide]="toast.autohide"
            [delay]="toast.delay"
            (hide)="remove(toast)">
        <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
            <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
        </ng-template>
        <ng-template #text>
            <svg-icon *ngIf="inset" [svgStyle]="{'width.px': '20', 'margin-left.px': '10', 'margin-right.px': '10'}" [src]="toast.classname === 'inset-unauthorized' ? errorSvgPath : warningSvgPath"></svg-icon>
            <span class="toast-content" [innerHTML]="toast.textOrTpl"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    *ngIf="!toast.autohide && !inset" (click)="remove(toast)">
                <span aria-hidden="true">&times;</span>
            </button>
            <button *ngIf="toast.action" type="button" class="edit-credentials" (click)="toast.action.callback()">
                <svg-icon *ngIf="inset" [svgStyle]="{'width.px': '20', 'margin-left.px': '10', 'margin-right.px': '10'}" [src]="toast.action.icon"></svg-icon>
                <span aria-hidden="true">{{toast.action.text}}</span>
            </button>
        </ng-template>
    </ngb-toast>
</div>