.toast {
    transition : .5s linear all;
    max-width  : 600px;
    opacity    : 1;
    
    &.hide {
        opacity : 0;
        display : block;
    }
    
    &-body {
        padding : 0;
        
        .close {
            height : 100% !important;
            width  : auto;
            
            span {
                line-height : .5;
            }
        }
    }
}

.close-button {
    position : absolute;
    right    : 1rem;
    top      : .5rem;
}

.alert {
    margin-bottom : 8px;
}

// TODO: Add these colors to a variables
.alert-success {
    color            : #155724;
    background-color : #d4edda;
    border-color     : #c3e6cb;
}

.alert-warning {
    color            : #856404;
    background-color : #fff3cd;
    border-color     : #ffeeba;
}

.alert-danger {
    color            : #721c24;
    background-color : #f8d7da;
    border-color     : #f5c6cb;
}

.alert-info {
    color            : #0c5460;
    background-color : #d1ecf1;
    border-color     : #bee5eb;
}

