@import 'styles/theme_variables';
@import '~bootstrap/scss/mixins/breakpoints';

nx-app {
    .headerPadding {
        padding-top : $navbar-height;
    }

    .headerAndRibbonPadding {
        padding-top : $navbar-height + 32px;
    }

    .placeholder {
        background-color : transparent;

        &.page {
            @include media-breakpoint-up(lg) {
                position : fixed;
            }
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
            z-index   : -1;
        }
    }
}
