@use 'styles/_theme_variables' as *;

nx-app {
    .mainContainer {
        background-color: $additional_light2;
    }

    .altMainBackground {
        background-color: $light1 !important;
    }

    .desktopBackground {
        background-color: $dark5 !important;
    }

    .mobileBackground {
        background-color: $dark4 !important;
    }

    .placeholder {
        background-color : transparent;

        &.page {
            position  : absolute;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
        }
    }
}
