<div class="hm-camera-section">
    <nx-pre-loader *ngIf="!liveLoaded || !midnightLoaded || !noonLoaded" class="w-100"></nx-pre-loader>
    <div [ngClass]="{ 'd-none': !liveLoaded || !midnightLoaded || !noonLoaded}">
        <div class="mr-3 mb-2">
            <nx-health-image (loaded)="liveLoaded = $event"
                             [state]="cameraState"
                             [time]="'now'"
                             [isPrimary]="true"
                             [url]="livePreview"></nx-health-image>
        </div>
        <div class="d-flex flex-wrap">
            <div class="mr-3">
                <nx-health-image (loaded)="midnightLoaded = $event"
                                 [state]="cameraState"
                                 [time]="midnightTime | date: 'MM/dd/yyyy, HH:mm'"
                                 [url]="midnightPreview"></nx-health-image>
            </div>
            <div>
                <nx-health-image (loaded)="noonLoaded = $event"
                                 [state]="cameraState"
                                 [time]="noonTime | date: 'MM/dd/yyyy, HH:mm'"
                                 [url]="noonPreview"></nx-health-image>
            </div>
        </div>
    </div>
</div>
