<!-- <nx-pre-loader *ngIf=""></nx-pre-loader> -->
<header
    #resetPasswordHeader
    [ngClass]="{ 'header-d': viewType === 'desktop', 'header-m': viewType === 'mobile' }"
>
    <h3 class="authorize-header">{{ LANG.authorize.newPassHeader() }}</h3>
    <div class="authorize-subheader">
        <span
            class="sub-header"
            translate
            >For</span
        >
        <span
            class="fs-mask for-account"
            (click)="setCurrentState.emit('email')"
            >{{ loginEmail }}</span
        >
    </div>
</header>
<main
    [ngClass]="{
        'main-w': viewType === 'web',
        'main-d': viewType === 'desktop',
        'main-m': viewType === 'mobile'
    }"
    *ngIf="resetPasswordHeader"
    [ngStyle]="{ height: 'calc(100% - ' + resetPasswordHeader.offsetHeight + 'px)' }"
>
    <form
        #resetForm="ngForm"
        name="resetForm"
    >
        <ng-container *ngIf="!confirm; else setNewPassword">
            <div class="reset-row">
                <div
                    class="password"
                    [ngClass]="{
                        hasError:
                            resetPassword.invalid && (resetPassword.dirty || resetPassword.touched)
                    }"
                >
                    <label
                        for="resetPassword"
                        translate
                        >Password</label
                    >
                    <nx-password-input
                        name="resetPassword"
                        componentId="resetPassword"
                        [hasError]="weakPassword"
                        class="form-component"
                        [(ngModel)]="password"
                        [disabled]="newPasswordProcess.processing"
                        [form]="resetForm"
                        [component]="resetPassword"
                        [authorize]="true"
                        #resetPassword="ngModel"
                    >
                    </nx-password-input>
                    <div class="mt-2">
                        <nx-password-input-validation
                            [forElement]="resetPassword"
                            [value]="resetPassword.value"
                            (updateWeakPassword)="weakPassword = $event"
                        >
                        </nx-password-input-validation>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #setNewPassword>
            <div class="password-set">
                <svg-icon
                    nx-add-svg-src
                    [src]="
                        CONFIG.icons.dirSectionPlaceholder +
                        'success' +
                        (viewType === 'web' ? '' : '_desktop') +
                        '_placeholder.svg'
                    "
                    [svgStyle]="{ 'width.px': '280', 'height.px': '120' }"
                    [applyClass]="true"
                ></svg-icon>
                <h3
                    class="authorize-header mt-3 mb-2"
                    translate
                >
                    Password is set!
                </h3>
                <p translate>Now you may continue to log in to %CLOUD_NAME% here or elsewhere.</p>
            </div>
        </ng-template>
    </form>
    <footer
        [ngClass]="{
            'footer-w': viewType === 'web',
            'footer-d': viewType === 'desktop',
            'footer-m': viewType === 'mobile'
        }"
    >
        <div class="d-flex justify-content-end w-100">
            <nx-process-button
                buttonText="{{ (confirm ? 'Log In' : 'Next') | translate }}"
                [clickFn]="sendPassword"
                [form]="confirm ? undefined : resetForm"
                [process]="confirm ? loginProcess : newPasswordProcess"
                [svg]="confirm ? null : { src: 'arrow_right' }"
            >
            </nx-process-button>
        </div>
    </footer>
</main>
