<!-- <nx-pre-loader *ngIf=""></nx-pre-loader> -->
<form #resetForm="ngForm" name="connectErrorForm">
    <main>
        <svg-icon nx-add-svg-src
            [src]="CONFIG.icons.dirSectionPlaceholder + 'error_placeholder.svg'" 
            [svgStyle]="{'width.px': 320, 'height.px': 80}"
            [applyClass]="true"></svg-icon>
        <h3 translate>Cannot connect to %CLOUD_NAME%</h3>
        <p [innerHTML]="additionalText"></p>
    </main>
    <footer>
        <button *ngIf="clientType === 'setupWizard'" class="btn svg-icon" (click)="setupNonCloudSystem()" type="button">
            <span translate>Setup Non-cloud System</span>
        </button>
        <button *ngIf="!['renewSessionWeb', 'renewSessionDesktop'].includes(clientType)" class="btn svg-icon" type="button">
            <!-- (click)="goBack()"  -->
            <svg-icon nx-add-svg-src
                [src]="CONFIG.icons.dir + 'arrow_back_button.svg'"
                [svgStyle]="{'width.px': 24, 'height.px': 20}"
                [applyClass]="true"></svg-icon>
            <span translate>Back</span>
        </button>
        <nx-process-button
            buttonText="{{ 'Try Again' | translate }}"
            [process]="processTryAgain">
        </nx-process-button>
    </footer>
</form>