<div
    *ngFor="let item of forest"
    class="system-group"
>
    <div
        class="system-group-card"
        [class]="item.type + ' ' + (item.id === activeItemId ? 'active' : '')"
    >
        <h3
            class="system-group-name"
            (dragstart)="onDragStart($event, item.id, item.type)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, item.id)"
        >
            <a
                [routerLink]="(item.type === 'group' ? '/systems/groups/' : '/systems/') + item.id"
                >{{ item.name }}</a
            >
        </h3>
    </div>

    <div *ngIf="item.type === 'group'">
        <!-- <h4 *ngIf="item.groups.length">"{{ item.name }}" subGroups ({{ item.groups.length }})</h4> -->
        <nx-system-group-tree
            *ngIf="item.groups.length"
            [forest]="item.groups"
            [activeItemId]="activeItemId"
            (parentIdChangeRequested)="reemitParentIdChangeRequested($event)"
        >
        </nx-system-group-tree>

        <!-- <h4 *ngIf="item.systems.length">"{{ item.name }}" subSystems ({{ item.systems.length }})</h4> -->
        <nx-system-group-tree
            *ngIf="item.systems.length"
            [forest]="item.systems"
            [activeItemId]="activeItemId"
            (parentIdChangeRequested)="reemitParentIdChangeRequested($event)"
        >
        </nx-system-group-tree>
    </div>
</div>
