<h1>Танд {{ message.asset }} ({{ message.asset_type }}) шинэ хувилбарыг санал болгож байна</h1>
<p>Доорх холбоосоор орж {{ message.id }} {{ message.asset }}-тай танилцана уу</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Шинэ хувилбар</a>
<h4>Та доорх үйлдлүүдийг хийх боломжтой</h4>
<ul>
	<li>Шинэчлэл, өөрчлөлтийн талаарх мэдээлэлүүд.</li>
	<li>Publish this version which will update all content.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>
