<div
    class="oauth-redirect"
    [ngClass]="{
        'container-w': viewType === 'web',
        'container-d': viewType === 'desktop',
        'container-m': viewType === 'mobile'
    }"
>
    <nx-pre-loader *ngIf="!state"></nx-pre-loader>
    <div
        class="container"
        *ngIf="state"
    >
        <button
            class="oauth-redirect-btn"
            *ngIf="state === 'readyToLogin'"
            (click)="redirectToOAuth()"
            translate
        >
            Log In
        </button>
        <div
            class="oauth-text oauth-error"
            *ngIf="state === 'noNativeClient'"
        >
            <p translate>Desktop client connection required</p>
        </div>
    </div>
</div>
