@use '../../../styles/theme_variables' as *;
@use '../../styles/typography';

.activated-highlight {
    background: $light16 !important;
    color: $light1 !important;
    &:hover {
        cursor: unset;
    }

    & + div.left-menu-arrow > svg-icon > svg > g > polyline {
        stroke: $light1 !important;
    }
}

.down > svg-icon {
    transform: rotate(0) !important;
}

.base-level {
    @include typography.regular14dark10;
    position: relative;
    cursor: pointer;
    user-select: none;
    & > .menu-link {
        padding: 5px 5px 5px 0 ;
        height: 100% !important;
        width: 100% !important;
        display: flex;
        align-items: center;
    }
    &:hover {
        background: $light4;
    }

    & >.left-menu-arrow {
            position: absolute;
            top: calc(50% - 16px);
            height: 32px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            svg-icon {
                transform: rotate(-90deg);
            }
    }
}

.child-level {
    @extend .base-level;
    & > .menu-link {
        padding: 4px 5px 3px 0;
        font-size: 13px !important;
    }

}

.menu-level-1 {
    @extend .base-level;
    @include typography.medium15dark9;

    & > .menu-link {
        padding-left: 26px;
        &.arrow-padding {
            padding-left: 26px;
        }
    }
    & > .left-menu-arrow {
        padding-left: 4px;
    }
    .has-state {
        padding-left: 42px !important;
    }
}

.menu-level-2 {
    @extend .child-level;
    & > .menu-link {
        padding-left: 42px;
    }
    & > .left-menu-arrow {
        left: 22px;
    }
    .has-state {
        padding-left: 68px !important;
    }
}

.menu-level-3 {
    @extend .child-level;
    & > .menu-link {
        padding-left: 68px;
    }
    & > .left-menu-arrow {
        left: 46px;
    }
    .has-state {
        padding-left: 84px !important;
    }
}

.menu-level-4 {
    @extend .child-level;
    & > .menu-link {
        padding-left: 94px;
    }
    & > .left-menu-arrow {
        left: 70px;
    }
    .has-state {
        padding-left: 120px !important;
    }
}

.menu-level-5 {
    @extend .child-level;
    & > .menu-link {
        padding-left: 120px;
    }
    & > .left-menu-arrow {
        left: 94px;
    }
    .has-state {
        padding-left: 146px !important;
    }
}

.menu-link > a {
    // Forces link click area to take full with without breaking parent padding
    margin-left: -432px;
    padding-left: 432px;
    display: block;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}