@use '../../../styles/theme_variables' as *;
@use '../../styles/typography';

.activated-highlight {
    background: $light16 !important;
    color: $light1 !important;
    &:hover {
        cursor: unset;
    }

    & + div.left-menu-arrow > svg-icon > svg > g > polyline {
        stroke: $light1 !important;
    }
}

.down > svg-icon {
    transform: rotate(0) !important;
}

.base-level {
    @include typography.regular14dark10;
    position: relative;
    cursor: pointer;
    user-select: none;
    & > .menu-link {
        padding: 5px 5px 5px 0 ;
        height: 100% !important;
        width: 100% !important;
        display: flex;
        align-items: center;
    }
    &:hover {
        background: $light4;
    }

    & >.left-menu-arrow {
            position: absolute;
            top: calc(50% - 16px);
            left: 8px;
            height: 32px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            svg-icon {
                transform: rotate(-90deg);
            }
    }
}

.menu-level-1 {
    @extend .base-level;
    @include typography.medium15dark9;

    & > .menu-link {
        padding-left: 40px;
        &.arrow-padding {
            padding-left: 40px;
        }
    }
    & > .left-menu-arrow {
        padding-left: 8px;
        &.arrow-padding {
            padding-left: 40px;
        }
    }
}

.menu-level-2 {
    @extend .base-level;
    & > .menu-link {
        padding-left: 48px;
        &.arrow-padding {
            padding-left: 80px;
        }
    }
    & > .left-menu-arrow {
        left: 52px;
    }
}

.menu-level-3 {
    @extend .base-level;
    & > .menu-link {
        padding-left: 88px;
        &.arrow-padding {
            padding-left: 120px;
        }
    }
    & > .left-menu-arrow {
        left: 92px;
    }
}

.menu-level-4 {
    @extend .base-level;
    & > .menu-link {
        padding-left: 128px;
        &.arrow-padding {
            padding-left: 160px;
        }
    }
    & > .left-menu-arrow {
        left: 132px;
    }
}

.menu-level-5 {
    @extend .base-level;
    & > .menu-link {
        padding-left: 168px;
        &.arrow-padding {
            padding-left: 200px;
        }
    }
    & > .left-menu-arrow {
        left: 172px;
    }
}

.has-state {
    padding-left: 60px !important;
}

.menu-link > a {
    // Forces link click area to take full with without breaking parent padding
    margin-left: -432px;
    padding-left: 432px;
    display: block;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}