@import '../../../../styles/native-theme/theme_palette';
@import '../../../../styles/custom/custom_palette';
@import '../../../../styles/theme_variables';
@import '../../../styles/typography';

.plugin {
    text-decoration : none;
    color           : inherit;
}

.card {
    &--header {
        &-info {
            position        : absolute;
            right           : 16px;
            top             : 12px;
            bottom          : 12px;
            display         : flex;
            flex-direction  : column-reverse;
            align-items     : flex-end;
            justify-content : space-between;

            > div {
                @extend #regular12;
                color       : $light12;
                line-height : 1rem;
            }

            .platforms {
                display         : flex;
                justify-content : flex-end;

                img {
                    height      : 1rem;
                    width       : 1rem;
                    margin-left : .25rem;
                }
            }
        }
    }

    &--body {
        &-name {
            h3 {
                margin      : 0;
                line-height : 24px;
            }
        }

        &-by {
            color     : $light16;
            font-size : $font-size-ssm;
        }

        &-descr {
            @extend #regular13;
            margin-top  : .5rem;
        }
    }
}

.text-placeholder {
    @extend #regular20;
    color  : $light16;
    height : 32px;
}

.row {
    max-width : 1600px;
}
