<nx-pre-loader *ngIf="!list"></nx-pre-loader>

<div class="col text-placeholder d-flex align-items-center"
     *ngIf="list && !list.length"
     translate>
    Nothing Found
</div>

<div class="row p-0 m-0" *ngIf="list && list.length">
    <div *ngFor="let plugin of list" class="list col-12 col-md-6 col-lg-4 col-xxl-3 p-2">

        <a class="plugin m-0"
           [href]="plugin.link">

            <nx-block fixed-height hoverable header-style="extended">
                <header>
                    <div class="card--header-logo"
                         [style.backgroundImage]="'url(' + plugin.information.logo + ')'">
                    </div>
                    <div class="card--header-info" *ngIf="plugin.requirementsAndCompatibility">
                        <div class="platforms">
                            <div *ngFor="let icon of plugin.requirementsAndCompatibility.platforms.icons">
                                <img [src]="icon.src">
                            </div>
                        </div>

                        <div class="version"
                             *ngIf="plugin.requirementsAndCompatibility.testedVersionsString"
                             [innerHTML]="plugin.requirementsAndCompatibility.testedVersionsString"></div>

                        <div class="label"
                             *ngIf="CONFIG && plugin.requirementsAndCompatibility.testedVersionsString"
                            translate>Works with:</div>
                    </div>
                </header>

                <nx-section>
                    <div class="card--body-name"><h3 [innerHtml]="plugin.information.name"></h3></div>
                    <div class="card--body-descr">{{plugin.information.shortDescription}}</div>
                </nx-section>

                <footer>
                    <div class="float-left m-0 mt-1 mr-1" *ngIf="plugin.pending">
                        <nx-tag type="danger" translate>In Review</nx-tag>
                    </div>
                    <div class="float-left m-0 mt-1 mr-1" *ngIf="plugin.draft">
                        <nx-tag type="danger" translate>Draft</nx-tag>
                    </div>
                    <div *ngFor="let type of plugin.information.type">
                        <div class="float-left m-0 mt-1 mr-1" *ngIf="type.id != 'mine'">
                            <nx-tag>{{type.label}}</nx-tag>
                        </div>
                    </div>
                    <div class="float-left m-0 mt-1 mr-1" *ngIf="plugin.mine">
                        <nx-tag type="brand" translate>Mine</nx-tag>
                    </div>
                </footer>
            </nx-block>
        </a>
    </div>
</div>

<div class="row px-4">
    <nx-footer></nx-footer>
</div>
