@use "typography";
@use "theme_variables_common" as *;
@use "src/app/styles/_bootstrap_utils" as bootstrap;

:host {
    .header-non-link {
        @include typography.regular24nocolor;
        color: var(--body-text-color);
        margin-bottom: 24px;
    }

    .header-link {
        @extend .header-non-link;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .supported-tech {
        background: var(--alt-body-bg);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 52px 16px 32px 16px;
        margin: 84px auto;
        color: var(--body-text-color);

        @include bootstrap.media-breakpoint-down(xs) {
            padding: 48px 16px 12px 16px;
            margin: 24px auto;
        }

        .heading-link {
            margin-bottom: 10px;
        }

        .tech-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 85vw;
            margin: 24px -72px -44px 16px;

            @include bootstrap.media-breakpoint-down(xs) {
                margin: 24px -24px -32px 16px;
            }

            &>.tech-block {
                margin: 0 78px 78px 0;
                cursor: pointer;
                height: 56px;

                @include bootstrap.media-breakpoint-down(xs) {
                    margin: 0 32px 32px 0;
                }

                &>img {
                    height: 100%;

                    @include bootstrap.media-breakpoint-down(xs) {
                        height: 40px;
                    }
                }

                svg-icon svg {
                    #logo-apple {
                        fill: var(--support-tech-apple-color);
                    }
                }
            }
        }

        .language-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 24px 8px 16px 16px;

            @include bootstrap.media-breakpoint-down(xs) {
                margin: 24px 8px 16px 16px;
            }

            &>.language-block {
                margin: 0 8px 8px 0;

                @include bootstrap.media-breakpoint-down(xs) {
                    margin: 0 16px 16px 0;
                }

                background : var(--support-lang-wrapper-bg);
                color : var(--support-lang-wrapper-color);
                padding : 3px 8px;
                cursor : pointer;

                &>svg-icon>svg {
                    height: 60px;
                }
            }
        }
    }
}