@import '../../../styles/theme_palette';

.placeholder-text {
    height : 48px;
    color  : $light13;
    
    &-no-changes {
        height      : 32px;
        display     : flex;
        align-items : center;
    }
}
