@import '../../../styles/theme_palette';

.placeholder-text {
    color  : $light13;
    
    &-no-changes {
        display     : flex;
        align-items : center;
    }
}

.warning-text {
    color : $red-l2;
}

