@use '../../styles/typography';
@use '../../../styles/theme_variables' as *;

.ribbon {
    @include typography.regular13light1;
    background-color : var(--brand-d1);
    line-height      : 1rem;
    //border-top       : 1px solid $brand_d2;
    border-bottom    : 1px solid var(--brand-d2);
    padding          : .5rem 1rem;
    display          : flex;
    align-items      : center;

    .message {
        flex : 70%;
        &-content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &-wrapper {
                position: relative;
            }
        }
    }

    .action {
        flex       : 30%;
        text-align : right;

        a {
            @include typography.regular13light1;
            text-decoration : underline;

            &:hover {
                opacity : .8;
            }
        }

        & > * {
            margin-left: 1rem;
        }
    }
}

.alert-ribbon {
    border-bottom: 1px solid $warning-message-border;
    background-color: $warning-message-bg !important;

    .message {
        color: $dark9;
        text-align: center;
        .larger {
            @include typography.regular18dark9;
        }
    }

    a:hover {
        opacity: .8;
    }
}

.message-content-wrapper {
    display: flex;
    align-items: center;
    .action-link {
        display: flex;
        align-items: center;
        margin-left: 32px;
        cursor: pointer;

        span {
            text-decoration: underline;
            margin-left: 2px;
            color: $blue10;
            cursor: pointer;
        }

        &:hover {
            span {
                color: $blue9;
            }
            svg * {
                fill: $blue9;
            }
        }

        svg * {
            fill: $blue10;
        }
    }
}
