@import '../../../styles/custom/custom_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '../../styles/typography';

.ribbon {
    @extend #regular13;
    color            : $light1;
    background-color : $brand_d1;
    line-height      : 1rem;
    //border-top       : 1px solid $brand_d2;
    border-bottom    : 1px solid $brand_d2;
    padding          : .5rem 1rem;
    display          : flex;
    align-items      : center;

    .message {
        flex : 70%;
        &-content {
            position: relative
        }
    }

    .action {
        flex       : 30%;
        text-align : right;

        a {
            @extend #regular13;
            color           : $light1;
            text-decoration : underline;

            &:hover {
                opacity : .8;
            }
        }
    }
}

.alert-ribbon {
    //border-top: 1px solid #EEDC9E;
    border-bottom: 1px solid #EEDC9E;
    background-color: #FFEEB5 !important;

    .message {
        color: $dark9;
        text-align: center;
        .larger {
            @extend #regular18;
        }
    }

    a:hover {
        opacity: .8;
    }
}

.action-link {
    position: absolute;
    right: 0;
    transform: translateX(calc(100% + 32px));
    cursor: pointer;

    span {
    position: relative;
    color: $blue10;
    cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 4px;
            border-bottom: 1px solid $blue10;
        }
    }

    &:hover {
        span {
        color: $blue9;
            &:after {
                border-bottom: 1px solid $blue9;
            }
        }
        svg * {
            fill: $blue9;
        }
    }

    svg * {
        fill: $blue10;
    }
}
