<nx-pre-loader *ngIf="!ready"></nx-pre-loader>

<div class="container" *ngIf="ready">
    <div class="reset-section" *ngIf="restoringSuccess">
        <h1 class="heading large-margin">
            <span translate>Password reset instructions are sent to the provided email</span>
        </h1>
        <button class="btn btn-primary" (click)="loginRedirect()" translate>
            Log In
        </button>
    </div>
    <div *ngIf="restoring" class="reset-section">
        <h1 class="heading small-margin" translate>Reset Password</h1>
        <form name="restorePassword" #restorePassword="ngForm" class="form" novalidate>
            <label for="email" class="" translate>Email</label>
            <nx-email-input
                class="form-component form-input"
                name="email"
                componentId="email"
                [(ngModel)]="data.email"
                [form]="restorePassword"
                #email="ngModel"></nx-email-input>

            <span
                class="input-error errors"
                *ngIf="email.touched && email.errors && email.errors.required"
                translate>
                Email is required
            </span>
            <span
                class="input-error errors"
                *ngIf="email.touched && email.errors && email.errors.pattern"
                translate>
                Please enter a valid Email</span>
            <nx-process-button
                [customButtonClass]="'full-width'"
                [customClass]="'full-width'"
                [process]="restore"
                [form]="restorePassword"
                [buttonText]="LANG.activeActions.resetPassword"></nx-process-button>
        </form>
    </div>

    <div *ngIf="data.restoreCode || changeSuccess" class="reset-section">
        <div *ngIf="change.success || changeSuccess">
            <h1 class="heading large-margin" translate>New password saved</h1>
            <div class="process-success d-flex justify-content-center">
                <a
                    class="btn btn-primary"
                    href
                    (click)="login(); (false)"
                    translate>
                    Log In
                </a>
            </div>
        </div>

        <h1 *ngIf="!change.success && !changeSuccess" class="heading small-margin" translate>
            Set New Password
        </h1>
        <form
            name="restorePasswordWithCode"
            #restorePasswordWithCode="ngForm"
            class="form"
            *ngIf="!change.success && !changeSuccess"
            novalidate>
            <label for="newPassword" class="" translate>New Password</label>
            <nx-password-input
                class="form-input"
                name="newPassword"
                componentId="newPassword"
                [(ngModel)]="data.newPassword"
                [form]="restorePasswordWithCode"
                #newPassword="ngModel"></nx-password-input>

            <nx-password-input-validation
                class="test"
                *ngIf="newPassword.errors && !newPassword.errors.required"
                [forElement]="newPassword"></nx-password-input-validation>
            <nx-process-button
                [customButtonClass]="'full-width'"
                [customClass]="'full-width'"
                [process]="change"
                [form]="restorePasswordWithCode"
                [buttonText]="'OK' | translate"></nx-process-button>
        </form>
    </div>

    <nx-footer></nx-footer>
</div>
