<nx-pre-loader *ngIf="!ready"></nx-pre-loader>

<div class="container" *ngIf="ready">
    <div class="reset-section" *ngIf="restoringSuccess">
        <h1 class="heading large-margin">
            <span translate>Password reset instructions are sent to the provided email</span>
        </h1>
        <button class="btn btn-primary" (click)="loginRedirect()" translate>
            Log In
        </button>
    </div>
    <div *ngIf="restoring" class="reset-section">
        <h1 class="heading mb-4" translate>Reset Password</h1>
        <form name="restorePassword" #restorePassword="ngForm" class="form" novalidate>
            <label for="email" class="" translate>Email</label>
            <nx-email-input
                class="form-component mb-3"
                name="email"
                componentId="email"
                [(ngModel)]="data.email"
                [form]="restorePassword"
                #email="ngModel"></nx-email-input>

            <span
                class="input-error mb-3"
                *ngIf="email.touched && email.errors && email.errors.required"
                translate>
                Email is required
            </span>
            <span
                class="input-error mb-3"
                *ngIf="email.touched && email.errors && email.errors.pattern"
                translate>
                Please enter a valid Email</span>
            <nx-process-button
                [customButtonClass]="'full-width'"
                [customClass]="'full-width'"
                [process]="restore"
                [form]="restorePassword"
                [buttonText]="LANG.activeActions.resetPassword"></nx-process-button>
        </form>
    </div>

    <div *ngIf="data.restoreCode || changeSuccess" class="reset-section">
        <div *ngIf="change.success || changeSuccess">
            <h1 class="heading large-margin" translate>New password saved</h1>
            <div class="process-success d-flex justify-content-center">
                <a
                    class="btn btn-primary"
                    href
                    (click)="login(); (false)"
                    translate>
                    Log In
                </a>
            </div>
        </div>

        <form name="restorePasswordWithCode" #restorePasswordWithCode="ngForm"
              class="form-horizontal" *ngIf="!change.success && !changeSuccess"
              novalidate>

            <h1 translate>Set New Password</h1>

            <div class="form-group row">
                <div class="col-md-4 justify-content-start justify-content-md-end">
                    <label for="newPassword" class="text-left text-md-right control-label" translate>New Password</label>
                </div>
                <div class="col-md-4">
                    <nx-password-input
                            class="form-component"
                            name="newPassword"
                            componentId="newPassword"
                            [(ngModel)]="data.newPassword"
                            [form]="restorePasswordWithCode"
                            #newPassword="ngModel">
                    </nx-password-input>
                    <nx-password-input-tag-validation
                            [forElement]="newPassword"
                            [value]="data.newPassword">
                    </nx-password-input-tag-validation>
                </div>

                <div class="col-md-4">
                    <nx-password-input-validation
                            [forElement]="newPassword"
                            [value]="data.newPassword">
                    </nx-password-input-validation>
                </div>
            </div>

            <nx-process-button
                [customButtonClass]="'full-width'"
                [customClass]="'full-width'"
                [process]="change"
                [form]="restorePasswordWithCode"
                [buttonText]="LANG.dialogs.buttons.ok">
            </nx-process-button>
        </form>
    </div>

    <nx-footer center="true"></nx-footer>
</div>
