@import '../../styles/buttons';
@import '../../styles/typography';

.reset-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.heading {
    @extend #medium24;
    line-height: 40px;
}

.small-margin {
    margin-bottom: 24px;
}

.large-margin {
    margin-bottom: 40px
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 16px;
    width: 392px;
    @media screen and (max-width: 500px) {
        width: calc(100vw - 32px);
    }
    // check if correct
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(225, 231, 234, 1);
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #303F47;
}

.errors {
    margin-bottom: 16px;
}

.form-input {
    margin-bottom: 16px;
}

.test {
    margin-bottom: 16px;
}

