<div
    class="dropdown dropdown-menu"
    [nxArrowNav]="headerService.showSubject | async"
    [ngClass]="(headerService.showSubject | async) ? 'visible' : 'invisible'"
    aria-labelledby="systemsDropdown"
>
    <ul class="dropdown-menu--list">
        <li
            *ngIf="(systems$ | async).length > 1"
            class="systems-grid"
            (resize)="handleResize($event)"
        >
            <nx-system-tile
                *ngFor="let system of systems$ | async"
                [system]="system"
                [active]="
                    system &&
                    headerService.lastActive$.value &&
                    system.id === headerService.lastActive$.value.id
                "
                [width]="columnWidth"
                (click)="updateURI(system.id, undefined)"
            ></nx-system-tile>
            <nx-additional-systems-tile
                [additionalSystems$]="additionalSystems$"
                (click)="updateURI('', undefined, true)"
                [width]="columnWidth"
            ></nx-additional-systems-tile>
        </li>
        <li
            class="navigation-grid"
            [ngClass]="{ 'top-border': (systems$ | async).length > 1 }"
        >
            <nx-navigation-tile
                *ngFor="let node of menuNodes$ | async"
                [node]="node"
                [width]="columnWidth"
            ></nx-navigation-tile>
        </li>
    </ul>
</div>
