<h1>On olemassa uusi versio {{ message.product }} ({{ message.product_type }}) tarkistettavana</h1>
<p>Napsauta linkkiä, jolla voit tarkastella luonnosta {{ message.id }} {{ message.product }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/productcustomizationreview/{{ message.id }}/change/">Tarkista versio</a>
<h4>Tällä sivulla voit</h4>
<ul>
	<li>Luoda esikatselun nähdäksesi uusimmat muutokset.</li>
	<li>Julkaista tämän version, joka päivittää kaiken sisällön.</li>
	<li>Muokata yhteyksiä napsauttamalla muokkaa tallennuspainiketta. <br>
		Jos haluat nähdä muutokset, sinun on luoda uusi versio</li>
</ul>
