<div class="dropdown ali custom-drop-down" [ngClass]="{'show': show}" (nxClickElsewhere)="show = false" [id]="componentId">
    <button class="dot-menu" (click)="show = !show" type="button" data-toggle="dropdown"></button>
    <div class="dropdown-menu custom-menu" [style.display]="show ? 'inline-block' : 'none'">
        <ul class="dropdown-menu--list">
            <li class="dropdown-item-container" *ngFor="let item of items; trackBy: trackItem">
                    <a class="dropdown-item inset"
                        [id]="item.id"
                       (click)="show = false; change(item)">
                        <span [innerText]="item.name || name"></span>
                    </a>
            </li>
        </ul>
    </div>
</div>
