<h1>您好, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> 已與您分享影像管理系統 {{message.system_name}} 的存取權限。

請依指示使用此email地址在 <a href="{{config.portal_url}}">%CLOUD_NAME%</a>上註冊帳號，來查看和管理此系統。</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>您已被授權連線至影像管理系統 “{{message.system_name}}” 。

請依指示使用此email地址在 <a href="{{config.portal_url}}">%CLOUD_NAME%</a>上註冊帳號，來查看和管理此系統。</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/authorize/register/{{message.code}}">註冊帳號</a>

