:host
  display inline-block
  background-color #f0f3f4
  > .button
    opacity 0.2
    display block
    height 33%
    border-top 1px solid #cdd7dc
    border-bottom 1px solid #cdd7dc
    text-align center
    &.enabled
      cursor pointer
      opacity 1.0
      &:hover
        background-color #cdd7dc
        color #f0f3f4
