:host {
  display: inline-block;
  width: 63px;
  overflow: hidden;
  position: relative;
  z-index: 2;

  > .playback-control-button {
    text-align: center;
    border-left: 1px solid var(--border-color);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .glyph {
      background-image: url("/static/images/web_interface_sprite@2x.png");
      background-size: 192px 408px;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      opacity: 0.5;
    }

    &.play {
      > .glyph {
        background-position: -2px -4px;
      }
    }

    &.pause {
      > .glyph {
        background-position: -26px -2px;
      }
    }

    color: var(--control-color);
    background-color: var(--view-bg);
    transition: all .2s ease-in-out;

    &.enabled {
      cursor: pointer;
      color: var(--control-enabled-color);
      z-index: 1;

      > .glyph {
        opacity: 1.0;
      }

      // &:hover {
      //   background-color: var(--light4);
      // }
      &:hover {
        background-color: var(--control-hoved-bg);
      }
      &:active {
        background-color: var(--control-active-bg) !important;
      }
    }
  }
}
