<form #restartServerForm="ngForm" name="restartServerForm" novalidate>
    <div class="modal-header">
        <h1 class="modal-title" 
            [translate]="'serversRestartTitle'"
            [translateParams]="{ title: serverName }"
        ></h1>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="activeModal.close()" *ngIf="closable">
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>
    <div class="modal-footer">
        <nx-process-button [process]="restartServer"
                           [form]="restartServerForm"
                           [actionType]="'primary'"
                           buttonText="{{ 'Restart' | translate }}"></nx-process-button>

        <button type="button" class="btn btn-default" (click)="close()" translate>Cancel</button>
    </div>
</form>
