@import "../../../../styles/typography";
@import "../../../../../styles/theme_palette";

.camera-settings-info {
    font-family: $font-family-regular;
    font-size: $font-size-base;
    color: $dark9;
    .header-top-bar {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        .header-title {
            display: flex;
            align-items: center;
            flex-grow: 1;
            h2 {
                font-family: $font-family-regular;
                height: 32px;
                font-weight: bold;
                font-size: 24px;
            }
        }
        .camera-buttons {
            &:hover {
                color: $dark15;
                svg-icon {
                    svg {
                        g,
                        path {
                            fill: $dark15 !important;
                        }
                    }
                }
            }
            @extend #regular13;
            background-color: inherit;
            color: $light16;
            display: flex;
            align-items: center;
            white-space: nowrap;
            svg-icon {
                svg {
                    height: 20px;
                    g,
                    path {
                        fill: $light16 !important;
                    }
                }
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .header-table {
        font-size: $font-size-base;
        padding: 0;
        .header-table-cell {
            display: flex;
            height: 20px;
            align-items: flex-end;
            .cell-title {
                @extend #regular13;
            }
            .cell-ellipsis {
                margin-bottom: 2px;
                border-bottom: 1px dotted $light6;
                flex-grow: 1;
            }
        }
    }

    .camera-setting-buttons {
        display: flex;
        justify-content: space-between;
        .setting-buttons {
            display: flex;
            button:first-child {
                margin-right: 8px;
            }
        }
    }

    @media (max-width: 870px) {
        .camera-setting-buttons {
            flex-direction: column;
            .left button:not(:first-child) {
                margin-top: 16px;
            }
            .right button {
                margin-top: 16px;
            }
            .setting-buttons {
                flex-direction: column;
                button {
                    max-width: 100%;
                }
                button:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.initial-style {
    position: relative;
    cursor: pointer;
    &:after {
        content: "edit";
        position: relative;
        padding-left: 12px;
        padding-right: 8px;
        font-size: 0.5em;
    }
}

.edit-style {
    position: relative;
    margin: -8px;
    padding: 8px;
    background: #999;
    &:after {
        pointer-events: none;
        cursor: pointer;
        content: "close";
        position: absolute;
        right: 0;
        padding-left: 4px;
        padding-right: 16px;
        transform: translateX(100%);
        font-size: 0.5em;
    }
}
