<div *ngIf="system" class="row auth-visible">
    <nx-page-placeholder *ngIf="!selectedCamera && !showPreloader" class="placeholder-section" type="NO_CAMS" ></nx-page-placeholder>
    <div class="col-12 loader-div" *ngIf="showPreloader">
        <nx-pre-loader type="wrapper"></nx-pre-loader>
    </div>
    <ng-container *ngIf="selectedCamera">
        <div *ngIf="showUnauthorized || errors || warnings" class="col-12 camera-settings-info">
            <nx-alert-block
                *ngIf="showUnauthorized"
                type="error"
                id="unauthorized-warning"
                [iconSrc]="CONFIG.icons.dirNonStandard + 'error.svg'"
                [line1]="'Camera unauthorized' | translate"
                [btnIconSrc]="CONFIG.icons.dir + 'settings.svg'"
                [btnCaption]="'Edit Credentials' | translate"
                (onAction)="updateCredentials()">
            </nx-alert-block>
            <nx-alert-block
                *ngFor="let error of errors"
                type="error"
                [iconSrc]="CONFIG.icons.dirNonStandard + 'error.svg'"
                [line1]="error">
            </nx-alert-block>
            <nx-alert-block
                *ngFor="let warning of warnings"
                type="warning"
                [iconSrc]="CONFIG.icons.dirNonStandard + 'warning.svg'"
                [line1]="warning">
            </nx-alert-block>
        </div>
        <div class="col-12 camera-settings-info">
            <nx-block header-style="extended">
                <header>
                    <div class="header-top-bar d-flex justify-content-start">
                        <div class="header-title">
                            <h2 NxEditable [(content)]="cameraName" (blur)="handleBlankName()" [hasError]="cameraName" [maxLength]="45" id="editable-title"></h2>
                            <span *ngIf="!cameraName" class="input-error" translate>Name cannot be empty</span>
                        </div>
                        <button class="camera-buttons pr-0"[routerLink]="cameraViewPath"  id="view-camera">
                            <span>
                                <svg-icon [src]="CONFIG.icons.dirNonStandard + 'play.svg'" [applyCss]="true"></svg-icon>
                            </span>
                            <span class="ml-1" translate>View</span>
                        </button>
                        <button *ngIf="canSeeInfo" class="camera-buttons pr-0"  id="detailed-info" [routerLink]="fullInfoPath" [queryParams]="{ id: parsedCameraId }">
                            <span>
                                <svg-icon [src]="CONFIG.icons.dirNonStandard + 'info.svg'" [applyCss]="true"></svg-icon>
                            </span>
                            <span class="ml-1" translate>Detailed Info</span>
                        </button>
                    </div>
                    <nx-health-image [isPrimary]="true" [preloader]="true" [state]="selectedCamera.status" [url]="selectedCamera.previewUrl" 
                        class="mr-2" [lightBackground]="true" [aspect]="previewAspect"></nx-health-image>
                    <div class="d-flex flex-row justify-content-stretch align-items-start flex-wrap">
                        <div class="header-table col-3">
                            <div class="header-table-cell">
                                <span class="mr-2 cell-title text-nowrap" translate >Vendor</span>
                                <span class="cell-ellipsis"></span>
                                <span class="col-8 text-nowrap">{{selectedCamera.vendor || "-"}}</span>
                            </div>
                            <div class="header-table-cell">
                                <span class="mr-2 cell-title text-nowrap" translate>Model</span>
                                <span class="cell-ellipsis"></span>
                                <span class="col-8 text-nowrap">{{selectedCamera.model || "-"}}</span>
                            </div>
                        </div>
                        <div class="header-table col-6">
                            <div class="header-table-cell">
                                <span class="mr-2 cell-title text-nowrap" translate>IP Address</span>
                                <span class="cell-ellipsis"></span>
                                <span class="col-9 text-nowrap">{{selectedCamera.url || "-"}}</span>
                            </div>
                            <div class="header-table-cell">
                                <span class="mr-2 cell-title" translate>Server</span>
                                <span class="cell-ellipsis"></span>
                                <span class="col-9">{{selectedCamera.parentName || "-"}}</span>
                            </div>
                        </div>
                    </div>
                </header>
                <ng-container *ngIf="system.isAdmin">
                    <nx-section>
                            <h4 class="mb-3" translate>Image</h4>
                            <div class="d-flex justify-content-start col-6 align-items-center mb-2">
                                <span class="col-3 text-nowrap text-right" translate>Aspect Ratio</span>
                                <nx-select [selected]="false" [(ngModel)]="selectedAspect" [items]="aspectRatios" id="aspect-ratios"></nx-select>
                            </div>
                            <div class="d-flex justify-content-start col-6 align-items-center">
                                <span class="col-3 text-nowrap text-right" translate>Rotation</span>
                                <nx-select [selected]="false" [(ngModel)]="selectedRotation" [items]="rotations" id="rotations"></nx-select>
                            </div>
                    </nx-section>
                    <nx-section>
                        <h4 class="mb-3" translate>Audio</h4>
                        <div class="d-flex checkbox-block align-items-center mt-1">
                            <nx-checkbox
                                name="audioEnabled"
                                componentId="audioEnabled"
                                [(ngModel)]="audioEnabled"
                                [disabled]="!selectedCamera.isAudioSupported">
                            </nx-checkbox>
                            <label class="control-label mb-0"
                                [ngClass]="!selectedCamera.audioEnabled ? 'disabled-label' : ''"
                                for="audioEnabled">
                                <span translate>Enable Audio</span>
                            </label>
                        </div>
                    </nx-section>
                    <nx-section>
                        <h4 class="mb-3" translate>Authentication</h4>
                        <button class="btn btn-default" (click)="updateCredentials()" id="update-credentials"><span translate>Edit Credentials</span></button>
                    </nx-section>
                </ng-container>
            </nx-block>
        </div>
        <div class="col-12 camera-settings-info mt-3">
            <nx-block header-style="no-padding">
                <header>
                    <div class="d-flex align-items-center">
                        <nx-switch [(ngModel)]="recording" [label]="'Recording'" id="recording"></nx-switch>
                    </div>
                </header>
                <ng-container *ngIf="recording">
                    <nx-section>
                        <h4 class="mb-3" translate>Mode</h4>
                            <nx-radio
                                *ngFor="let mode of recordingModes" class="d-flex pb-2"
                                [name]="mode.name" [componentId]="mode.name"
                                [value]="mode.value"
                                [label]="mode.name"
                                [disabled]="!mode.enabled"
                                [(ngModel)]="mode.value"
                                (click)="toggleMode(mode)"
                                ></nx-radio>
                        <span *ngIf="!existingRecordingsScheduled && existingModesSelected" class="input-error" translate>Please select recording mode.</span>
                        <span *ngIf="!motionEnabled" class="input-error" translate>Motion detection is disabled</span>
                    </nx-section>
                    <nx-section>
                            <h4 class="mb-3" translate>Quality</h4>
                            <div class="d-flex justify-content-start col-12 align-items-center mb-2">
                                <span class="col-1 text-nowrap text-right" translate>FPS</span>
                                <input type="number" id="fps" name="fps" min="1" step="1" max="30"
                                   [placeholder]="selectedCamera.recordingSettings.fps === 'various' ? '- -' : selectedCamera.recordingSettings.fps + ' - ' + 'current' | translate"
                                   [(ngModel)]="selectedFps"
                                   class="form-control input-sm col-3"/>
                                   <span *ngIf="!existingRecordingsScheduled && variousFps" class="input-error col-8" translate>Please select FPS.</span>
                            </div>
                            <div class="d-flex justify-content-start col-12 align-items-center">
                                <span class="col-1 text-nowrap text-right" translate>Quality</span>
                                <nx-select [selected]="selectedQuality"
                                    [(ngModel)]="selectedQuality"
                                    [items]="streamQualities"
                                    id="recording-quality"
                                    class="col-3 pl-0 pr-0"></nx-select>
                                    <span *ngIf="!existingRecordingsScheduled && variousQualities" class="input-error col-8" translate>Please select recording quality</span>
                            </div>
                    </nx-section>
                </ng-container>
            </nx-block>
        </div>
        <div class="col-12 camera-settings-info mt-3">
            <nx-section *ngIf="!motionEnabled">
                <span class="d-block" translate>Motion detection for this camera is turned off.</span>
                <span clss="d-block" translate>Enabling it will allow you to set up "motion only" and "motion + low-res" recording types, but may increase the CPU usage.</span>
                <div class="mt-3">
                    <button class="btn btn-default"(click)="enableMotion()" translate id="enable-motion-detection">Enable Motion Detection</button>
                </div>
            </nx-section>
            <nx-block *ngIf="motionEnabled" header-style="extended">
                <header>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-column">
                            <span translate>Motion Sensitivity</span>
                        </div>
                        <nx-three-dot [items]="[{name: 'Disable Motion Detection' | translate, action: disableMotion, id: 'disable-motion'}]" id="motion-three-dot-menu"></nx-three-dot>
                    </div>
                </header>
                <div class="m-3 preview-wrapper" [style.height.px]="canvasHeight">
                    <div [style.max-width.px]="previewWrapperWidth" class="mx-auto overflow-hidden">
                        <div class="forced-aspect" [ngClass]="'forced-aspect-' + aspectClass">
                            <div class="d-flex forced-aspect-content">
                                <nx-health-image [isPrimary]="true" 
                                    [style.width.%]="100"
                                    [motionPreview]="true" 
                                    [preloader]="true" 
                                    [state]="selectedCamera.status" 
                                    [url]="motionPreviewImage"
                                    (loaded)="toggleMotionGrid()"
                                    [lightBackground]="true"></nx-health-image>
                                <nx-motion-detection-overlay 
                                    *ngIf="showOverlay"
                                    (updateMask)="updateMask($event)"
                                    [height]="canvasHeight" 
                                    [width]="canvasWidth"
                                    [sensitivityButtons$]="sensitivityButtons$"
                                    [initialMask]="motionMaskWatcher.originalValue"></nx-motion-detection-overlay>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-3  mb-3 mr-3 d-flex justify-content-between button-wrapper" (contextmenu)="preventContext($event)">
                    <span *ngIf="sensitivityButtons === false" class="text-muted" translate>Select some area on camera to change the sensitivity settings for it</span>
                    <ng-container *ngIf="sensitivityButtons !== false">
                        <div class="btn-toolbar btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="sensitivityButtons">
                            <label *ngFor="let _ of sensitivityColors; let i = index" 
                                ngbButtonLabel 
                                class="btn-secondary mr-2 sensitivity-buttons" 
                                [id]="'sensitivity-' + i + '-button'"
                                [ngClass]="'button-' + i">
                                <input ngbButton type="radio" [value]="i"> {{i}}
                            </label>
                        </div>
                        <button class="btn btn-default" (click)="resetSensitivity()" id="reset-selection"><span translate>Clear Selection</span></button>
                    </ng-container>
                </div>
            </nx-block>
        </div>
    </ng-container>
</div>
