<nx-block type="mt-3">
    <header><h4 translate>Storage Locations</h4></header>
    <nx-section nonPadded>
        <div class="storage-container">
            <nx-pre-loader *ngIf="loading"></nx-pre-loader>
            <ng-container *ngIf="!loading && !showStorage">
                <nx-section-placeholder
                        *ngIf="failedToLoad"
                        svgFileName="system_settings_placeholder"
                        width="64"
                        [translatedMessage]="LANG.system.settings.notAbleToLoadStorageInfo()">
                </nx-section-placeholder>
                <div *ngIf="!failedToLoad" class="no-storage-placeholder" translate>No main storage drive was selected for writing - video will not be recorded on this server.</div>
            </ng-container>
            <form *ngIf="!loading" class="form form-horizontal storage-form" role="form" name="storageSettings" novalidate>
                <table *ngIf="showStorage">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Total space</th>
                            <th>Free space</th>
                            <th>Reserved space</th>
                            <th>Type</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-row-spacer"></tr>
                        <tr *ngFor="let storage of storages; index as i">
                            <td title="{{storage.url}}">{{storage.url}}</td>
                            <td>{{friendlyBytes( storage.totalSpace.bits )}}</td>
                            <td
                                [ngClass]="{ overwrite: storage.remainingSpace.bits < 0 }"
                            >{{friendlyBytes( storage.remainingSpace.bits )}}</td>
                            <td class="reserved-cell">
                                <nx-numeric
                                        style="width: 60px;"
                                        [name]="'reservedSpace' + i"
                                        [class]="'w-50 p-0 text-right'"
                                        [min]="0"
                                        [max]="storage.maxReserve[storage.reservedSpace.uom]"
                                        [step]="storage.reservedSpace.uom === 'GB' ? 1 : 0.001"
                                        [(ngModel)]="storage.reservedSpace.unitsInCurrentUom"
                                        [ngModelOptions]="{standalone: true}"
                                        (onChange)="clamp($event, storage)"
                                        [disabled]="isInacessible(storage)"></nx-numeric>

                                <div class="position-relative">
                                    <select
                                            [id]="'reservedSpaceUnit' + i"
                                            [attr.name]="'reservedSpaceUnit' + i"
                                            [(ngModel)]="storage.reservedSpace.uom"
                                            [ngModelOptions]="{standalone: true}"
                                            class="form-control input-sm w-50"
                                            style="margin-left: -1px; background-color: white; min-width: 58px;"
                                            [disabled]="isInacessible(storage)">
                                        <option selected value="GB">GB</option>
                                        <option value="TB">TB</option>
                                    </select>
                                    <div class="arrow-flip">
                                        <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirTextButtons + 'arrow_expand.svg'"></svg-icon>
                                    </div>
                                </div>
                            </td>
                            <td>{{storage.storageType}}</td>
                            <td>
                                <nx-switch
                                        id="isUsedForWriting{{ i }}"
                                        name="isUsedForWriting{{ i }}"
                                        [(ngModel)]="storage.isUsedForWriting.value"
                                        [disabled]="isInacessible(storage)">
                                </nx-switch>
                            </td>
                        </tr>
                        <tr class="table-row-spacer"></tr>
                    </tbody>
                </table>
            </form>
        </div>
    </nx-section>
    <nx-section *ngIf="watchersChanged">
        <div class="col-12 p-0 d-flex">
            <nx-process-button
                    [process]="saveSettings"
                    [buttonText]="'Save' | translate"></nx-process-button>
            <button
                    class="btn btn-default ml-2"
                    (click)="resetWatchers()" translate>Cancel</button>
        </div>
    </nx-section>
</nx-block>
