<div class="col-12 p-0">
    <ng-container *ngIf="account?.id || account?.email; else preloader">
        <nx-block>
            <header>
                <span translate>Password</span>
            </header>

            <nx-section>
                <form
                    #passwordForm="ngForm"
                    class="form"
                    novalidate
                    [ngClass]="{ 'hide-errors': hideErrors }"
                >
                    <div class="inputs d-block d-md-table w-100 mw-100">
                        <div class="form-group d-block d-md-table-row mb-2">
                            <div
                                class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0"
                            >
                                <label
                                    for="password"
                                    class="control-label m-0 pb-md-2"
                                    translate
                                    >Current Password</label
                                >
                            </div>
                            <div class="d-block d-md-table-cell">
                                <div class="row pb-md-2">
                                    <div class="col-12 col-md-7 pb-2 pb-md-0 pr-0 mr-2">
                                        <input
                                            type="password"
                                            class="form-control"
                                            id="password"
                                            name="password"
                                            [(ngModel)]="pass.password"
                                            (click)="hideErrors = true"
                                            nxFocusMe
                                            required
                                            #password="ngModel"
                                        />
                                    </div>
                                    <div
                                        class="col-12 col-md-5 d-block d-md-flex ml-md-n2 align-items-center"
                                    >
                                        <span
                                            class="input-error"
                                            *ngIf="password.invalid && password.touched"
                                            translate
                                            >Current password is required</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group d-block d-md-table-row mb-0">
                            <div
                                class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0"
                            >
                                <label
                                    for="password"
                                    class="control-label m-0 pb-md-2"
                                    translate
                                    >New Password</label
                                >
                            </div>
                            <div class="d-block d-md-table-cell">
                                <div class="row pb-md-2">
                                    <div class="col-12 col-md-7 pb-2 pb-md-0 pr-0 mr-2">
                                        <nx-password-input
                                            name="newPassword"
                                            componentId="newPassword"
                                            class="form-component"
                                            [hideErrors]="hideErrors"
                                            [hasError]="weakPassword"
                                            [(ngModel)]="pass.newPassword"
                                            [form]="passwordForm"
                                            [component]="newPassword"
                                            (click)="hideErrors = true"
                                            #newPassword="ngModel"
                                        >
                                        </nx-password-input>
                                    </div>
                                    <div
                                        class="col-12 col-md-5 d-block d-md-flex ml-md-n2 align-items-center"
                                    >
                                        <nx-password-input-validation
                                            [forElement]="newPassword"
                                            [hideErrors]="hideErrors"
                                            [value]="pass.newPassword"
                                            (updateWeakPassword)="weakPassword = $event"
                                        >
                                        </nx-password-input-validation>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </nx-section>
        </nx-block>
    </ng-container>
    <ng-container #pageApply></ng-container>
</div>

<ng-template #preloader><nx-pre-loader></nx-pre-loader></ng-template>
