
<div class="col-12 p-0">
    <ng-container *ngIf="account.email; else preloader">
        <nx-block>
            <header>
                <span translate>Password</span>
            </header>

            <nx-section>
                <form #passwordForm="ngForm" class="form" novalidate>
                    <div class="inputs d-block d-md-table w-100 mw-100">
                        <div class="form-group d-block d-md-table-row mb-2">
                            <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                                <label for="password" class="control-label m-0 pb-md-2" translate>Current Password</label>
                            </div>
                            <div class="d-block d-md-table-cell">
                                <div class="row pb-md-2">
                                    <div class="col-12 col-md-7 pb-2 pb-md-0">
                                        <input type="password" class="form-control"
                                               id="password" name="password"
                                               [ngModel]="pass.password"
                                               (ngModelChange)="setPassword($event)"
                                               nxFocusMe
                                               required
                                               #password="ngModel">
                                    </div>
                                    <div class="col-12 col-md-5 d-block d-md-flex ml-md-n2 align-items-center">
                                        <span class="input-error" *ngIf="password.invalid && password.touched"
                                              translate>Current password is required</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group d-block d-md-table-row mb-0">
                            <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                                <label for="password" class="control-label m-0 pb-md-2" translate>New Password</label>
                            </div>
                            <div class="d-block d-md-table-cell">
                                <div class="row pb-md-2">
                                    <div class="col-12 col-md-7 pb-2 pb-md-0">
                                        <nx-password-input
                                                name="newPassword"
                                                componentId="newPassword"
                                                class="form-component"
                                                [ngModel]="pass.newPassword"
                                                (ngModelChange)="setNewPassword($event)"
                                                [form]="passwordForm"
                                                #newPassword="ngModel">
                                        </nx-password-input>
                                    </div>
                                    <div class="col-12 col-md-5 d-block d-md-flex ml-md-n2 align-items-center">
                                        <span *ngIf="newPassword.valid && LANG.passwordRequirements">
                                            <span class="badge badge-success"
                                                  *ngIf="newPassword.control && !newPassword.control.fairPassword"
                                            >{{LANG.passwordRequirements.good}}</span>
                                            <span class="badge badge-warning"
                                                  *ngIf="newPassword.control && newPassword.control.fairPassword"
                                                  title="{{ LANG.passwordRequirements.fairMessage}}"
                                            >{{LANG.passwordRequirements.fair}}</span>
                                        </span>

                                        <span *ngIf="!newPassword.valid && !newPassword.touched">
                                        <span class="badge badge-danger"
                                              *ngIf="newPassword.errors &&
                                                     newPassword.errors.weak &&
                                                     !newPassword.errors.common &&
                                                     !newPassword.errors.pattern &&
                                                     !newPassword.errors.minlength"
                                              title="{{ LANG.passwordRequirements.weakMessage}}">{{LANG.passwordRequirements.weak}}</span>
                                        <span class="badge badge-danger"
                                              *ngIf="newPassword.errors &&
                                                     newPassword.errors.common &&
                                                     !newPassword.errors.pattern &&
                                                     !newPassword.errors.minlength &&
                                                     !newPassword.errors.required"
                                              title="{{ LANG.passwordRequirements.commonMessage}}">{{LANG.passwordRequirements.common}}</span>
                                        <span class="badge badge-danger"
                                              *ngIf="newPassword.errors &&
                                                     newPassword.errors.minlength &&
                                                     !newPassword.errors.pattern"
                                              title="{{ LANG.passwordRequirements.minLengthMessage}}">{{LANG.passwordRequirements.minLength}}</span>
                                        <span class="badge badge-danger"
                                              *ngIf="newPassword.errors &&
                                                     newPassword.errors.pattern &&
                                                     !newPassword.errors.minlength"
                                              title="{{ LANG.passwordRequirements.requiredMessage}}">{{LANG.passwordRequirements.required}}</span>
                                    </span>

                                        <span *ngIf="!newPassword.valid && newPassword.touched">
                                            <span class="input-error"
                                                  *ngIf="newPassword.errors &&
                                                         newPassword.errors.weak &&
                                                         !newPassword.errors.common &&
                                                         !newPassword.errors.pattern &&
                                                         !newPassword.errors.required &&
                                                         !newPassword.errors.minlength">{{ LANG.passwordRequirements.weakMessage}}</span>

                                            <span class="input-error"
                                                  *ngIf="newPassword.errors &&
                                                         newPassword.errors.common &&
                                                         !newPassword.errors.required">{{ LANG.passwordRequirements.commonMessage}}</span>

                                            <span class="input-error"
                                                  *ngIf="newPassword.errors &&
                                                         newPassword.errors.minlength">{{ LANG.passwordRequirements.minLengthMessage}}
                                            </span>
                                            <span class="input-error"
                                                  *ngIf="newPassword.errors &&
                                                         newPassword.errors.pattern &&
                                                         !newPassword.errors.minlength">{{ LANG.passwordRequirements.requiredMessage}}
                                            </span>
                                            <span class="input-error"
                                                  *ngIf="newPassword.errors &&
                                                         newPassword.errors.required">{{ LANG.passwordRequirements.missingMessage}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </nx-section>
        </nx-block>
    </ng-container>
    <ng-container #applyContainer></ng-container>
</div>

<ng-template #preloader><nx-pre-loader></nx-pre-loader></ng-template>
