<div class="org-promo">
    <div class="icon-wrapper">
        <svg-icon
            class="solid-org-icon"
            nx-add-svg-src
            [applyClass]="true"
            [src]="icons.dirTextButtons + 'organization.svg'"
            [svgStyle]="{
                width: '20px',
                height: '20px'
            }"
        ></svg-icon>
    </div>
    <div class="org-promo-text">
        <div translate>
            Organizations are a new feature that simplifies the management of multiple sites with
            cross-system notifications, advanced user management tools, and other controls that will
            enhance your experience. Discover all the benefits of deploying Organizations by asking
            your Channel Partner or Integrator for more information.
        </div>
        <div translate>
            Only Organization Administrators can connect a System to an Organization.
        </div>
    </div>
</div>
