<form
    #changePasswordForm="ngForm"
    name="changePasswordForm"
    novalidate
    [ngClass]="{ 'hide-errors': hideErrors }"
    (submit)="hideErrors = false"
>
    <div class="modal-header">
        <h1
            class="modal-title"
            *ngIf="isMe; else userTitle"
            translate
            >Change Password</h1
        >
        <ng-template #userTitle>
            <h1 class="modal-title">{{
                'dialogs.titles.changePasswordFor' | translate: { username: this.user.name }
            }}</h1>
        </ng-template>
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="close()"
            *ngIf="closable"
        >
            <span class="close-content"><span class="close-icon"></span></span>
        </button>
    </div>

    <div class="modal-body">
        <div
            class="form-group"
            *ngIf="isMe"
        >
            <label
                for="currentPassword"
                class="control-label m-0"
                translate
                >Current Password</label
            >
            <div class="col-12 px-0">
                <input
                    type="{{ currentPasswordToggle ? 'password' : 'text' }}"
                    name="currentPassword"
                    id="currentPassword"
                    class="form-control"
                    required
                    [(ngModel)]="currentPasswordForUser"
                    #currentPassword="ngModel"
                />
                <div class="addons d-flex align-items-center">
                    <span
                        class="input-group-addon"
                        (click)="currentPasswordToggle = !currentPasswordToggle"
                    >
                        <span
                            class="glyphicon glyphicon-eye-close"
                            *ngIf="currentPasswordToggle"
                        ></span>
                        <span
                            class="glyphicon glyphicon-eye-open"
                            *ngIf="!currentPasswordToggle"
                        ></span>
                    </span>
                </div>
            </div>
            <div class="col-12 px-0 mt-2">
                <div
                    class="input-error"
                    *ngIf="currentPassword.errors?.required"
                    translate
                    >Password is required</div
                >
                <div
                    class="input-error"
                    *ngIf="currentPassword.errors?.wrongPassword"
                    translate
                    >Wrong password</div
                >
            </div>
        </div>

        <div class="form-group">
            <label
                for="newPassword"
                class="control-label m-0"
                translate
                >New Password</label
            >
            <div class="col-12 px-0">
                <nx-password-input
                    name="newPassword"
                    componentId="newPassword"
                    class="form-component"
                    [(ngModel)]="newPasswordForUser"
                    [form]="changePasswordForm"
                    [component]="newPassword"
                    #newPassword="ngModel"
                >
                </nx-password-input>
            </div>
            <div class="col-12 px-0 mt-2">
                <nx-password-input-validation
                    [forElement]="newPassword"
                    [value]="newPasswordForUser"
                >
                </nx-password-input-validation>
            </div>
        </div>

        <div
            class="form-group"
            *ngIf="isMe"
        >
            <label
                for="confirmNewPassword"
                class="control-label m-0"
                translate
                >Confirm New Password</label
            >
            <div class="col-12 px-0">
                <input
                    type="{{ confirmPasswordToggle ? 'password' : 'text' }}"
                    name="confirmNewPassword"
                    id="confirmNewPassword"
                    class="form-control"
                    required
                    [(ngModel)]="confirmNewPasswordForUser"
                    #confirmNewPassword="ngModel"
                />
                <div class="addons d-flex align-items-center">
                    <span
                        class="input-group-addon"
                        (click)="confirmPasswordToggle = !confirmPasswordToggle"
                    >
                        <span
                            class="glyphicon glyphicon-eye-close"
                            *ngIf="confirmPasswordToggle"
                        ></span>
                        <span
                            class="glyphicon glyphicon-eye-open"
                            *ngIf="!confirmPasswordToggle"
                        ></span>
                    </span>
                </div>
            </div>
            <div class="col-12 px-0 mt-2">
                <div
                    class="input-error"
                    *ngIf="confirmNewPassword.errors?.required"
                    translate
                    >Confirmation is required</div
                >
                <div
                    class="input-error"
                    *ngIf="confirmNewPassword.errors?.dontMatch"
                    translate
                    >Passwords do not match</div
                >
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button
            [process]="changePassword"
            [form]="changePasswordForm"
            [actionType]="'primary'"
            buttonText="{{ 'Save' | translate }}"
        ></nx-process-button>
        <nx-cancel-button
            [process]="changePassword"
            [discardFn]="close"
        ></nx-cancel-button>
    </div>
</form>
