<form #changePasswordForm="ngForm"
    name="changePasswordForm"
    novalidate
    [ngClass]="{'hide-errors': hideErrors}"
    (submit)="hideErrors = false">
    <div class="modal-header">
        <h1 class="modal-title" translate>Change Password</h1>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="activeModal.close()" *ngIf="closable">
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="newPassword" class="control-label m-0" translate>New Password</label>
            <div class="col-12 px-0 mt-2">
                <nx-password-input
                    name="newPassword"
                    componentId="newPassword"
                    class="form-component"
                    [ngModel]="newPasswordForUser"
                    (ngModelChange)="setPassword($event)"
                    [form]="changePasswordForm"
                    [component]="newPassword"
                    #newPassword="ngModel">
                </nx-password-input>
            </div>
            <div class="col-12 px-0 mt-2" style="min-height: 37px">
                <nx-password-input-validation
                        [forElement]="newPassword"
                        [value]="newPasswordForUser">
                </nx-password-input-validation>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button [process]="changePassword"
                        [form]="changePasswordForm"
                        [actionType]="'primary'"
                        buttonText="{{ 'Save' | translate }}"></nx-process-button>
        <nx-cancel-button [process]="changePassword" [discardFn]="activeModal.close"></nx-cancel-button>
    </div>
</form>
