<form>
    <div class="modal-header">
        <h1 class="modal-title">{{ heading }}</h1>
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="close()"
        >
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>
    <ng-template #preloader>
        <nx-pre-loader></nx-pre-loader>
    </ng-template>
    <ng-container *ngIf="manifest.fields[packageHandler?.packageState] as state; else preloader">
        <div class="modal-body">
            <h3>{{ state.label }}</h3>
            <div>{{ state.description }}</div>
            <!-- <ngb-progressbar
                *ngIf="packageHandler.total && packageHandler.total > packageHandler.current"
                [value]="packageHandler.current"
                [max]="packageHandler.total"
                type="primary"
                height="32px"
                [animated]="true"
                [striped]="true"
                [showValue]="true"
            ></ngb-progressbar> -->
        </div>
        <div class="modal-footer border-top-0">
            <a
                class="btn btn-success"
                *ngIf="packageHandler.downloadUrl"
                [href]="packageHandler.downloadUrl"
                download
                >Download Package</a
            >
        </div>
    </ng-container>
</form>
