<nx-pre-loader
    type="page"
    *ngIf="!loaded"
></nx-pre-loader>

<div
    class="container"
    *ngIf="loaded"
>
    <div class="jumbotron">
        <landing-display-component></landing-display-component>

        <p
            *ngIf="!userEmail"
            class="button d-flex justify-content-center auth-hidden"
        >
            <a
                class="btn btn-primary"
                [href]="createUrl | unsafe"
                role="button"
                translate
                >Create Account</a
            >
        </p>
        <p
            *ngIf="userEmail"
            class="button d-flex justify-content-center auth-hidden"
        >
            <a
                class="btn btn-primary"
                routerLink="/login"
                role="button"
                translate
                >Log In</a
            >
        </p>
    </div>
    <nx-footer [center]="true"></nx-footer>
</div>
