<nx-pre-loader
    type="page"
    *ngIf="!account"
></nx-pre-loader>

<div
    class="container"
    *ngIf="account"
>
    <h2 class="ml-3 mr-3 pt-3">Push Notification Test</h2>
    <div class="row m-0 pl-2 pr-2 pt-0">
        <div class="col-12 col-lg-9">
            <nx-block class="mt-3 d-block">
                <header>
                    This Browser<span *ngIf="deviceName"> - {{ deviceName }}</span>
                </header>
                <nx-section>
                    <nx-pre-loader
                        *ngIf="
                            deviceToken === undefined || registered === undefined;
                            else currentDeviceBlock
                        "
                    ></nx-pre-loader>
                    <ng-template #currentDeviceBlock>
                        <div
                            *ngIf="deviceToken && registered === false"
                            class="form-group"
                        >
                            <div class="form-group">
                                <label for="currentDeviceName">Name</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    name="currentDeviceName"
                                    id="currentDeviceName"
                                    maxlength="255"
                                    [(ngModel)]="currentDeviceName"
                                />
                            </div>
                            <button
                                class="btn btn-success"
                                (click)="onRegisterDevice()"
                            >
                                Register Browser
                            </button>
                            <p class="footnote">
                                Makes an API call to add your browser token to the database
                            </p>
                        </div>

                        <div *ngIf="deviceToken && registered">
                            <button
                                class="btn btn-danger"
                                (click)="onDeleteToken()"
                            >
                                Invalidate Browser
                            </button>
                            <p class="footnote">
                                Browser token invalidation occurs on your device, no API request is
                                involved. The next push notification you send notifies the server
                                that your token is invalid and removes it from the database.
                            </p>
                        </div>

                        <button
                            *ngIf="this.permission === 'default'"
                            class="btn btn-success"
                            (click)="onAllowNotifications()"
                        >
                            Allow Notifications
                        </button>
                        <span *ngIf="this.permission === 'denied'"
                            >Notification permission was denied.</span
                        >

                        <div class="mt-2">
                            <h4>Debug Info</h4>
                            <p>Device Token: {{ deviceToken }}</p>
                            <p>Registered: {{ registered }}</p>
                        </div>
                    </ng-template>
                </nx-section>
            </nx-block>
            <nx-block class="mt-3 d-block">
                <header>Add another Device</header>
                <nx-section>
                    <form #formNewDevice="ngForm">
                        <div class="form-group">
                            <label for="newDeviceToken">Device Token*</label>
                            <input
                                class="form-control"
                                type="text"
                                name="newDeviceToken"
                                id="newDeviceToken"
                                required
                                [(ngModel)]="newDevice.deviceToken"
                            />
                            <div
                                class="alert alert-danger"
                                *ngIf="
                                    newDevice.deviceTokenError &&
                                    formNewDevice.controls.newDeviceToken.errors &&
                                    formNewDevice.controls.newDeviceToken.errors.invalid
                                "
                                [innerText]="newDevice.deviceTokenError"
                            ></div>
                        </div>
                        <div class="form-group">
                            <label for="deviceName">Name*</label>
                            <input
                                class="form-control"
                                type="text"
                                name="deviceName"
                                id="deviceName"
                                maxlength="255"
                                required
                                [(ngModel)]="newDevice.name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="deviceModel">Model</label>
                            <input
                                class="form-control"
                                type="text"
                                name="deviceModel"
                                id="deviceModel"
                                [(ngModel)]="newDevice.model"
                            />
                        </div>
                        <div class="form-group">
                            <label for="deviceProvider">Provider*</label>
                            <select
                                class="form-control"
                                type="text"
                                name="deviceProvder"
                                id="deviceProvider"
                                required
                                [(ngModel)]="newDevice.provider"
                            >
                                <option
                                    selected="selected"
                                    value=""
                                >
                                    Please select a provider
                                </option>
                                <option value="firebase_legacy">Firebase Legacy</option>
                                <option value="firebase">Firebase</option>
                                <option value="apn">APN</option>
                                <option value="apn_sandbox">APN Sandbox</option>
                                <option value="baidu">Baidu</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="deviceUserId">Baidu User Id</label>
                            <input
                                class="form-control"
                                type="text"
                                name="deviceUserId"
                                id="deviceUserId"
                                [(ngModel)]="newDevice.userId"
                            />
                            <p class="footnote">Only required for baidu device registrations</p>
                        </div>
                        <button
                            [disabled]="!formNewDevice.valid"
                            class="btn btn-success d-inline-block"
                            (click)="onRegisterDevice(formNewDevice)"
                        >
                            Register Device</button
                        ><span
                            class="ml-2 text-success"
                            *ngIf="newDevice.success && formNewDevice.untouched"
                            >Success!</span
                        >
                    </form>
                </nx-section>
            </nx-block>

            <nx-block class="mt-3 d-block">
                <header>Subscriptions</header>
                <nx-section *ngIf="devices && devices.length > 0">
                    <div class="row">
                        <div class="col-sm-1 devices">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Devices</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let device of this.devices">
                                        <td
                                            [ngStyle]="{
                                                'font-family':
                                                    this.deviceToken === device.deviceToken
                                                        ? 'robotobold'
                                                        : 'robotoregular'
                                            }"
                                        >
                                            {{ device.deviceInfo.name }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-11 subscriptions">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>All</th>
                                        <th
                                            *ngFor="let system of this.systems"
                                            class="ellipsis"
                                            title="{{ system.name }} ({{ system.id }})"
                                        >
                                            {{ system.name }} ({{ system.id }})
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let device of this.devices">
                                        <td>
                                            <nx-checkbox
                                                [(ngModel)]="
                                                    deviceSubscriptions[device.deviceToken].all
                                                "
                                                (change)="onToggleSubscribe(device, 'all')"
                                            >
                                            </nx-checkbox>
                                        </td>
                                        <td *ngFor="let system of this.systems">
                                            <nx-checkbox
                                                [(ngModel)]="
                                                    deviceSubscriptions[device.deviceToken][
                                                        system.id
                                                    ]
                                                "
                                                (change)="onToggleSubscribe(device, system.id)"
                                            >
                                            </nx-checkbox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </nx-section>
                <nx-section *ngIf="!devices || devices.length === 0">
                    No registered devices found
                </nx-section>
            </nx-block>

            <nx-block class="mt-3 d-block">
                <header>Send Notification</header>
                <nx-section>
                    <form #formNotification="ngForm">
                        <div class="form-group">
                            <label for="system">System</label>
                            <select
                                class="form-control"
                                name="system"
                                id="system"
                                required
                                [(ngModel)]="notification.system"
                            >
                                <option
                                    selected="selected"
                                    value=""
                                >
                                    Please select a system
                                </option>
                                <option
                                    *ngFor="let system of this.systems"
                                    [value]="system.id"
                                >
                                    {{ system.name }} ({{ system.id }})
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input
                                class="form-control"
                                type="text"
                                name="title"
                                id="title"
                                [(ngModel)]="notification.title"
                            />
                        </div>

                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea
                                class="form-control"
                                name="body"
                                id="body"
                                rows="5"
                                [(ngModel)]="notification.body"
                            ></textarea>
                        </div>

                        <div class="form-group">
                            <label for="payload">Payload (JSON)</label>
                            <textarea
                                class="form-control"
                                name="payload"
                                id="payload"
                                rows="2"
                                (change)="validateJsonInput(formNotification.controls.payload)"
                                [(ngModel)]="notification.payload"
                            ></textarea>
                        </div>

                        <div class="form-group">
                            <label for="options">Options (JSON)</label>
                            <textarea
                                class="form-control"
                                name="options"
                                id="options"
                                rows="2"
                                (change)="validateJsonInput(formNotification.controls.options)"
                                [(ngModel)]="notification.options"
                            ></textarea>
                        </div>

                        <button
                            [disabled]="!formNotification.valid"
                            type="submit"
                            class="btn btn-default"
                            (click)="onSendNotification(formNotification)"
                        >
                            Send Notification
                        </button>
                        <ng-container>{{ sendStatus }}</ng-container>
                    </form>
                </nx-section>
            </nx-block>
        </div>

        <div class="col-12 mt-3 col-lg-3 mt-lg-0">
            <nx-block
                side-element
                type="gray"
                class="d-block mt-3"
                *ngIf="receivedMessages.length > 0"
            >
                <header>Foreground Messages</header>
                <div class="foreground-messages-content pre-scrollable">
                    <nx-section *ngFor="let message of receivedMessages">
                        <h5>{{ message.notification.title }}</h5>
                        <span>{{ message.notification.body }}</span>
                        <span *ngIf="message.data"><br />Payload: {{ message.data }}</span>
                    </nx-section>
                </div>
            </nx-block>
        </div>
    </div>
</div>
