<div class="container">
    <h2 class="ml-3 mr-3 pt-3">Push Notification Test</h2>
    <div class="row m-0 pl-2 pr-2 pt-0">
        <div class="col-12 col-lg-9">
            <nx-block class="mt-3 d-block">
                <header>Device Registration</header>
                <nx-section>
                    <button *ngIf="deviceToken === null" class="btn btn-success"
                            (click)="onAllowNotifications()">Allow Notifications
                    </button>

                    <button *ngIf="deviceToken && registered === false" class="btn btn-success"
                            (click)="onRegisterDevice()">Register This Device
                    </button>

                    <button *ngIf="deviceToken && registered" class="btn btn-danger"
                            (click)="onDeleteToken()">Invalidate this device
                    </button>

                </nx-section>
            </nx-block>

            <nx-block class="mt-3 d-block">
                <header>Subscriptions</header>
                <nx-section *ngIf="devices && devices.length > 0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th *ngFor="let system of this.systems">
                                {{system.name}} ({{system.id}})
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let device of this.devices">
                            <td [ngStyle]="{'font-family': this.deviceToken === device.deviceToken ? 'robotobold' : 'robotoregular'}">
                                {{device.name}}
                            </td>
                            <td *ngFor="let system of this.systems">
                                <nx-checkbox
                                        [(ngModel)]="deviceSubscriptions[device.deviceToken][system.id]"
                                        (change)="onToggleSubscribe(device.deviceToken, system.id)"></nx-checkbox>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="footnote">*hyphen indicates a subscription that does not exist yet</p>
                </nx-section>
                <nx-section *ngIf="!devices || devices.length === 0">
                    No registered devices found
                </nx-section>
            </nx-block>


            <nx-block class="mt-3 d-block">
                <header>Send Notification</header>
                <nx-section>
                    <form #formNotification="ngForm">
                        <div class="form-group">
                            <label for="system">System</label>
                            <select class="form-control" name="system" id="system" required
                                    [(ngModel)]="notification.system">
                                <option selected="selected" value="">Please select a system</option>
                                <option *ngFor="let system of this.systems" [value]="system.id">{{ system.name }}
                                    ({{ system.id }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="title">Title*</label>
                            <input class="form-control" type="text" name="title" id="title" required
                                   [(ngModel)]="notification.title">
                        </div>

                        <div class="form-group">
                            <label for="body">Body* </label>
                            <textarea class="form-control" name="body" id="body" rows="10" required
                                      [(ngModel)]="notification.body"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="payload">Payload (JSON)</label>
                            <textarea class="form-control" name="payload" id="payload" rows="5"
                                      (change)="validateJsonInput(formNotification.controls.payload)"
                                      [(ngModel)]="notification.payload"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="payload">Options (JSON)</label>
                            <textarea class="form-control" name="options" id="options" rows="5"
                                      (change)="validateJsonInput(formNotification.controls.options)"
                                      [(ngModel)]="notification.options"></textarea>
                        </div>

                        <button [disabled]="!formNotification.valid" type="submit" class="btn btn-default"
                                (click)="onSendNotification(formNotification)">Send Notification
                        </button>
                        {{ sendStatus }}
                    </form>
                </nx-section>
            </nx-block>


            <div class="mt-5">
                <h4>Debug Info</h4>
                <p>Device Token: {{ deviceToken }}</p>
                <p>Registered: {{ registered }}</p>
            </div>
        </div>

        <div class="col-12 mt-3 col-lg-3 mt-lg-0">
            <nx-block side-element type="gray"
                      class="d-block mt-3"
                      *ngIf="receivedMessages.length> 0">
                <header>Forground Messages</header>
                <div class="foreground-messages-content pre-scrollable">
                    <nx-section *ngFor="let message of receivedMessages">
                        <h5>{{ message.notification.title }}</h5>
                        <span>{{ message.notification.body }}</span>
                        <span *ngIf="message.data"><br>Payload: {{ message.data }}</span>
                    </nx-section>
                </div>
            </nx-block>
        </div>
    </div>
</div>
