<h1>Ola, {{message.userFullName}}</h1>

<p>Recibiches esta mensaxe porque ti, ou outra persoa, solicitaches restablecer o teu contrasinal para unha conta %CLOUD_NAME%.</p>
<p>Se non o solicitaches ti, por favor, comunícanolo inmediatamente contactando con asistencia/soporte.</p>

<a class="btn" href="{{config.portal_url}}/autorizar/restaurar_contrasinal/{{message.code}}">Restablecer contrasinal</a>

<p class='disclaimer'>
Esta ligazón para restablecer o contrasinal é válida durante 24 horas.<br>
Non compartas a mensaxe nin a ligazón con ninguén.
</p>
