<h1>Hai unha nova versión para {{ message.asset }} ({{ message.asset_type }}) para revisar</h1>
<p>Fai clic na ligazón para revisar o borrador {{ message.id }} para {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Versión de revisión</a>
<h4>Nesta páxina podes</h4>
<ul>
	<li>Crear unha vista previa para ver os cambios máis recentes.</li>
	<li>Publicar esta versión, que actualizará todo o contido.</li>
	<li>Editar contextos facendo clic no botón Editar rexistro.<br>
		Para ver eses cambios, terás que crear unha nova versión</li>
</ul>
