<h1>K dispozici je nová verze pro kontrolu {{ message.asset }} ({{ message.asset_type }})</h1>
<p>Kliknutím na odkaz zobrazíte koncept revize {{ message.id }} pro {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Revize verze</a>
<h4>Na této stránce můžete</h4>
<ul>
	<li>Vytvořit náhled pro zobrazení nejnovějších změn.</li>
	<li>Oznámit tuto verzi, která bude aktualizovat veškerý obsah.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>
