
@import '_theme_palette';
@import '_theme_variables';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '_theme_override';

// Placeholder text
@mixin placeholder($color: $input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color       : $color;
    font-family : $font-family-regular;
    opacity     : 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color       : $color;
    font-family : $font-family-regular;
  }
  // Microsoft Edge
  ::-ms-input-placeholder {
    color       : $color;
    font-family : $font-family-regular;
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
    color       : $color;
    font-family : $font-family-regular;
  }
}

html {
  position: relative;
  height: 100%;
}
body {
  margin-top:10px;
}

/* add beta-symbol after product name everywhere */
/* .product-name.add-version:after{
  content: "\03B2";
  font-style: italic;
  opacity: 0.5;
  font-size: 90%;
} */


.inline-block{
  display: inline-block;
}

@mixin icon{
  display: inline-block;
  background-size: 352px 224px;
  background-image: url('../images/native-theme/wizard_sprite.png');
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('../images/native-theme/wizard_sprite@2x.png');
  }
}

@mixin kill-glyphicon{
  @include icon;
  &:before{
    content:none;
  }
}

.master-icon .preloader{

  background-image: url('../images/native-theme/preloader.gif');

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    background-image: url('../images/native-theme/preloader@2x.gif');
  }
}

.ui-select-bootstrap > .btn-default-focus{
  box-shadow: none;
  outline:none;
  border-color: $input-border;
  background-color: $dark10;
}
.ui-select-bootstrap > .btn-default-focus > .btn,
.ui-select-bootstrap > .ui-select-match > .btn{
  background-color: $input-bg;
  border-color: $input-border;
  color: $input-color;
  font-weight: normal;
  padding-left:8px;
  padding-right:8px;
}
.ui-select-bootstrap .ui-select-choices-row>a{
  padding-left: 7px;
  padding-right: 7px;
}

/* touched, invalid - highlight with red */
.ui-select-container.ng-invalid.ng-touched .btn{
  border-color: $state-danger-text;
}

/* touched, but focused - not highlight with red */
.ui-select-container > .btn-default-focus > .btn{
  border-color: $input-border !important;
}


.ui-select-choices{
  background-color: $light4 !important;
  color:$dark4 !important;;
}

.ui-select-choices-row:hover {
  background-color: $light2 !important;
  color:$dark2 !important;
}


.ui-select-choices-row.active {
  background-color: $brand_core !important;
}

.new-style-checkbox {
  display: flex;

  & + label + div.input-error {
    display : none;
  }

  &.ng-invalid:not(.ng-untouched) {
    & + label + div.input-error {
      display : block;
    }

    .nx-checkbox {
      input ~ .tick {
        svg polygon.box,
        svg polyline.box {
          stroke : $error;
        }
      }
    }
  }

  .nx-checkbox {
    display     : flex;
    float       : left;
    margin      : 0;
    padding-top : 1px;

    input[type="checkbox"] {
      position : absolute;
      opacity  : 0;
    }

    input:hover ~ .tick {
      svg polygon.box,
      svg polyline.box {
        stroke : $light1;
      }
    }

    input:active ~ .tick {
      svg polygon.box,
      svg polyline.box {
        stroke : $light1 !important;
      }
    }

    input:hover ~ .check {
      svg polygon.box,
      svg polyline.box {
        stroke : $light1;
      }

      & ~ .text {
        color : $light1;
      }
    }

    input:active ~ .check {
      svg polygon.box,
      svg polyline.box {
        stroke : $light1 !important;
      }

      & ~ .text {
        color : $light1 !important;
      }
    }

    &[disabled] {
      opacity : .3;

      .tick {
        cursor : default;
      }

      input:hover ~ .tick {
        svg polygon.box,
        svg polyline.box {
          stroke : $light6 !important;
        }
      }
    }

    label {
      &:hover:not([disabled]) {
        color : $light1;
      }

      &:active:not([disabled]) {
        color : $light1 !important;
      }
    }

    & + label {
      cursor        : pointer;
      margin-bottom : 0;

      &:hover {
        color : $light5;
      }

      & + div.input-error {
        display : none;
      }
    }
  }

  .tick {
    cursor                      : pointer;
    position                    : relative;
    width                       : 22px;
    height                      : 16px;
    display                     : flex;
    align-items                 : center;
    -webkit-tap-highlight-color : transparent;

    &.checked {
      svg {
        polyline.box,
        polyline.tick {
          display : block;
        }

        polygon.box {
          display : none;
        }
      }
    }

    svg {
      height : 16px;
      width  : 20px;

      & polygon.box {
        fill              : none;
        stroke            : $light6;
        stroke-linecap    : round;
        stroke-linejoin   : round;
        stroke-miterlimit : 10;
      }

      & polyline.box {
        fill              : none;
        stroke            : $light6;
        stroke-linecap    : round;
        stroke-linejoin   : round;
        stroke-miterlimit : 10;
        stroke-width      : 1px;
        display           : none;
      }

      & polyline.tick {
        fill              : none;
        stroke            : $brand_core;
        stroke-width      : 2px;
        stroke-linecap    : round;
        stroke-linejoin   : round;
        stroke-miterlimit : 10;
        display           : none;
      }

      & line.tristate {
        fill              : none;
        stroke            : $brand_core;
        stroke-width      : 2px;
        stroke-linecap    : round;
        stroke-linejoin   : round;
        stroke-miterlimit : 10;
        display           : none;
      }
    }
  }
}
