<div class="mb-3">
        <ng-container *ngIf="!environment.isLocal">
        <nx-select
               [id]="'avail-systems'"
               [type]="'api-tool'"
               [stillLoading]="!APIToolService.selectedSystem"
               [items]="APIToolService.systemsDropdown"
               (onSelected)="onSystemChange($event)"
               [selected]="APIToolService.selectedSystem || {}">
       </nx-select>
       <nx-select
               *ngIf="serverDropdownEnabled && APIToolService.serversDropdown.length"
               [type]="'api-tool'"
               class="mt-2"
               [id]="'avail-systems'"
               [stillLoading]="!(APIToolService.serversLoaded$ | async)"
               [items]="APIToolService.serversDropdown"
               (onSelected)="onServerChange($event)"
               [selected]="APIToolService.selectedServer || {}">
       </nx-select>
        </ng-container>
        <nx-select
                *ngIf="!APIToolService.outDatedSystem"
                [type]="'api-tool'"
                [items]="APIToolService.APIDropdown"
                (onSelected)="onAPIVersionChange($any($event))"
                [stillLoading]="!(APIToolService.serversLoaded$ | async) || !APIToolService.APIDropdown.length"
                [selected]="APIToolService.selectedAPI || {}"
                [ngClass]="environment.isLocal? 'mb-3' : 'mt-2'">
        </nx-select>
       <div *ngIf="!APIToolService.outDatedSystem && APIToolService.systemVersion >= 4 && APIToolService.systemVersion < 4.3"
            class="mt-2 system-message-warning"
            translate>
                The system uses the old API version. We recommend that you update the system
                to the new version in order to get
                access to new functions.
       </div>
       <div *ngIf="APIToolService.outDatedSystem"
            class="mt-2 system-message-error"
            translate>
                API is not supported for this version of the system
        </div>
</div>
