<ng-template #showError>
    <nx-error-state [errors]="errorManager.errors"></nx-error-state>
</ng-template>

<ng-template #techBlock let-tech="tech">
    <div class="tech-block" [title]="tech.title" [routerLink]="tech.url">
        <img [src]="CONFIG.images.dirDevelopers + tech.icon">
    </div>
</ng-template>

<ng-template #languageBlock let-language="language">
    <div class="language-block" [title]="language.title" [routerLink]="language.url">
        {{language.title}}
    </div>
</ng-template>

<section *ngIf="!errorManager.hasErrors; else showError" class="supported-tech">
    <h2 class="heading-link" [routerLink]="supportedTechNode.url">{{supportedTechNode.title}}</h2>
    <div *ngIf="supportedTechNode.nodes[0].nodes.length" class="tech-wrapper">
        <ng-container *ngFor="let tech of supportedTechNode.nodes[0].nodes">
            <ng-container *ngTemplateOutlet="techBlock;context{tech:tech}"></ng-container>
        </ng-container>
    </div>
    <div *ngIf="supportedTechNode.nodes[1].nodes.length" class="language-wrapper">
        <ng-container *ngFor="let language of supportedTechNode.nodes[1].nodes">
            <ng-container *ngTemplateOutlet="languageBlock;context{language:language}"></ng-container>
        </ng-container>
    </div>
</section>
