@import '../../../styles/native-theme/_theme_palette';
@import '../../../styles/_theme_palette';
@import '../../../styles/custom/_custom_palette';
@import '../../styles/buttons';

  .main-button {
    margin-top: 40px !important;
    a {
        text-decoration: none;
        color: inherit;
    }
  }