@import '../../styles/mixins';

.menu {
    border-radius : 0 0 2px 2px;
    
    nx-level-1-item {
    }
    
    nx-level-2-item {
        width   : 100%;
        display : block;
    }
    
    nx-level-3-item {
    }
    
    .container-buttons {
        background-color : $light5;
        padding          : 0 .75rem .5rem;
    }
    
    .last {
        padding-bottom   : .5rem;
        background-color : $light4;
    }
}
