<div class="ipvd" [ngClass]="{'extended': showAnalytics}">
    <h1 class="screen-reader-only" translate>List of cameras by manufacturer and device type</h1>
    <div class="row p-3 m-0" [style.display]="mobileDetailMode ? 'none' : 'block'" #searchContainer>
        <nx-search
                name="filterModel"
                [(ngModel)]="filterModel"
                (ngModelChange)="modelChanged($event)"
                [placeholder]="placeholder">
        </nx-search>
    </div>

    <nx-pre-loader *ngIf="!cameras.length"></nx-pre-loader>

    <div class="row px-3 m-0 d-flex">

        <div class="text-placeholder order-1 order-md-0 m-0 p-0 pr-2 col-md-7 col-xl-9"
             *ngIf="!camerasTable.length && activeCamera" translate>
            Nothing Found
        </div>

        <ng-container *ngIf="camerasTable.length">
            <div class="order-1 order-md-0 m-0 p-0" #tableContainer
                [ngClass]="{'toggle': toggleCamview, 'pr-2' : toggleCamview, 'col-12': !toggleCamview, 'col-md-7 col-xl-9' : toggleCamview}"
                [style.display]="mobileDetailMode ? 'none' : 'block'">

                <nx-cam-table
                        [elements]="camerasTable"
                        [allowedParameters]="allowedParameters"
                        [activeCamera]="activeCamera"
                        [params]="params"
                        (onFeedbackClick)="openFeedback($event)"
                        (onRowClick)="activateCamera($event)">
                </nx-cam-table>
            </div>

            <div class="row m-0 pt-3 pb-3 pl-0"
                [style.display]="!mobileDetailMode ? 'none' : 'block'">

                <button class="btn btn-default btn-back" (click)="resetActiveCamera()">
                    <span class="back-arrow"></span>
                    <span translate>All results</span>
                </button>
            </div>
        </ng-container>

        <div class="order-0 order-md-1 pb-3 pl-0 pl-md-2 pr-0 col-12 col-md-5 col-xl-3"
             *ngIf="activeCamera" #viewContainer>

            <nx-cam-view
                    [activeCamera]="activeCamera"
                    (onCloseView)="resetActiveCamera()"
                    (onFeedbackClick)="openFeedback('device')">
            </nx-cam-view>
        </div>
    </div>

    <div class="row px-3 m-0 mb-3 text-placeholder d-flex align-items-center"
         *ngIf="noResult && !activeCamera" translate>
        Nothing Found
    </div>

    <div class="row px-3 m-0" *ngIf="vendors && !camerasTable.length && !noResult && hasNoSearch">
        <nx-vendor-list
                [vendors]="vendors"
                [cameras]="cameras.length"
                [ngModel]="filterModel"
                (ngModelChange)="modelChanged($event)">
        </nx-vendor-list>
        <div>
            <p class="m-0" *ngIf="CONFIG.cloudCapabilities.feedbackEnabled && LANG && LANG.ipvd" dir="auto">
                <span>{{'ipvdDisclaimer' | translate:disclaimerParams}} </span>
                <span #ipvdRequest [innerHTML]="LANG.ipvdFeedback.request() | safe : 'html'"></span>
            </p>
        </div>
        <div class="row p-0 m-0">
            <nx-footer></nx-footer>
        </div>
    </div>
</div>
