@use "../../../styles/theme_variables_common" as *;

.editable {
    &-initial {
        position      : relative;
        cursor        : pointer;
        text-align    : left !important;
        display       : block !important;
        white-space   : nowrap !important;
        overflow      : hidden !important;
        text-overflow : ellipsis !important;
        border        : 1px solid transparent; // avoid text jump
        
        &:hover {
            background    : $additional_light2;
            border-radius : 2px;
            padding-left  : 4px;
            margin-left   : -4px;
        }
        
        &[disabled="true"] {
            pointer-events : none;
        }
    }
    
    &-edit {
        position      : relative;
        border-radius : 2px;
        background    : $light1;
        padding-left  : 4px;
        margin-left   : -4px;
        border        : 1px solid $blue1;
        text-align    : left !important;
        overflow      : hidden;
        white-space   : nowrap !important;
        outline       : none;
    }
    
    &-error {
        border : 1px solid $red_l2;
    }
}
