<div
  #selectedRange
  class="selected-range"
  (mousedown)="selectedRangeMouseDownHandler($event)"
  (dblclick)="selectedRangeDoubleClickHandler($event)"
>
  <div
    #leftEar
    class="ear left"
    (mousedown)="leftEarMouseDownHandler($event)"
  >
    <span class="date">{{ dateStrings.left.date }}</span>
    <span class="time">{{ dateStrings.left.time }}</span>
  </div>
  <div
    #rightEar
    class="ear right"
    (mousedown)="rightEarMouseDownHandler($event)"
  >
    <span class="date">{{ dateStrings.right.date }}</span>
    <span class="time">{{ dateStrings.right.time }}</span>
  </div>
</div>
