@use "../styles/theme_variables_common" as theme_vars;

:host {
    display  : block;
    position : absolute;
    left     : 0;
    right    : 0;
    bottom   : 15px;
    height   : 25px;
    z-index  : 10;
    cursor   : default;
    
    .left-draggable, .right-draggable {
        border : 3px solid transparent;
        position: absolute;
        bottom: 0;
        height: 86px;
        left: -3px;
        cursor: col-resize;
    }
    
    .right-draggable {
        left : auto;
        right : -3px;
    }
    
    > .selected-range {
        display          : none;
        position         : absolute;
        bottom           : 0;
        height           : 86px;
        background-color : rgba(var(--brand-core--rgb), 0.3);
        transition       : opacity 0.2s ease-in-out;
        min-width        : 1px;
        border-left      : 2px solid rgba(var(--brand-core--rgb), 0.7);
        border-right     : 2px solid rgba(var(--brand-core--rgb), 0.7);
        
        &.active {
            display : block;
        }
        
        > .ear {
            width            : 120px;
            position         : absolute;
            background-color : var(--timeline-selection-panel-bg);
            padding          : 2px 4px;
            top              : 0;
            height           : 34px;
            font-size        : 12px;
            line-height      : 1.2em;
            
            color            : var(--timeline-selection-panel-color);
            
            cursor           : col-resize;
            
            > span {
                display : block;
                
                &.date {
                }
                
                &.time {
                    font-family : theme_vars.$font-family-bold;
                }
            }
            
            &::before {
                content    : "";
                width      : 0;
                height     : 0;
                position   : absolute;
                bottom     : -4px;
                border-top : 4px solid rgba(var(--brand-core--rgb), 0.9);
            }
            
            &.left {
                left          : -120px;
                border-radius : 2px 0 0 2px;
                text-align    : right;
                padding-right : 8px;
                
                &::before {
                    right       : 0;
                    border-left : 6px solid transparent;
                }
            }
            
            &.right {
                right         : -120px;
                border-radius : 0 2px 2px 0;
                padding-left  : 8px;
                
                &::before {
                    left         : 0;
                    border-right : 6px solid transparent;
                }
                
                &::after {
                    content    : "";
                    left       : 0;
                    top        : 0;
                    height     : 100px;
                    width      : 3px;
                    background : red;
                }
                
            }
            
            &.playback {
                &::after {
                    content       : "";
                    position      : absolute;
                    width         : 3px;
                    background    : var(--dark1);
                    top           : -1px;
                    height        : 40px; // 64px is the full height
                    border-radius : 3px;
                }
                
                &.left::after {
                    right : -1px;
                }
                
                &.right::after {
                    left : -1px;
                }
            }
        }
    }
}
