<div
    #selectedRange
    class="selected-range"
    (mousedown)="selectedRangeMouseDownHandler($event)"
    (dblclick)="selectedRangeDoubleClickHandler($event)"
>
    <div
        #leftEar
        class="ear left"
        (mousedown)="leftEarMouseDownHandler($event)"
    >
        <span class="date">{{ leftDate }}</span>
        <span class="time">{{ leftTime }}</span>
    </div>
    <div
        #rightEar
        class="ear right"
        (mousedown)="rightEarMouseDownHandler($event)"
    >
        <span class="date">{{ rightDate }}</span>
        <span class="time">{{ rightTime }}</span>
    </div>
</div>
