<!-- Templates used for render and for size calculations -->
<!-- Views used for both render and calculating element size off screen should use an ng-template-->
<!-- This will keep off screen calculated sizes consistent with rendered sizes -->
<ng-template #navIcon>
    <div class="navbar-header nav-icon" (resize)="iconWidth$.next($event.width)">
        <a class="inset navbar-brand asset-name add-version ml-sm-0 d-block" [routerLink]="mainUrl">
            <img [alt]="environment.isLocal ? CONFIG.vmsName : CONFIG.cloudName + ' logo'" src="{{CONFIG.previewPath}}/static/images/logo.png">
        </a>
    </div>
</ng-template>

<ng-template #breadcrumbLinks let-breadcrumbs="breadcrumbs" let-renderView="renderView">
        <ng-container *ngFor="let breadcrumb of breadcrumbs;let length = count;let index = index">
            <div *ngIf="!renderView || index >= (hiddenBreadcrumbs$ | async)" class="breadcrumb-wrapper">
                <div class="breadcrumb-button">
                    <a class="pl-3 pr-3 d-block w-100 h-100" (click)="headerService.handleNav(breadcrumb, $event)" [innerText]="breadcrumb.display_name"></a>
                </div>
                <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirHeader + 'header_arrow.svg'"></svg-icon>
            </div>
        </ng-container>
</ng-template>

<ng-template #menuTabs>
    <nx-header-tabs *ngFor="let node of headerService.currentLocation.parentNode?.nodes" [node]="node"></nx-header-tabs>
</ng-template>

<ng-template #rightNav let-showSmall="showSmall">
    <ul class="nav navbar-nav navbar-right auth-hidden mr-3">
        <li *ngIf="!environment.isLocal">
            <span>
                <a class="btn" [href]="createUrl | unsafe"
                    [ngClass]="[
                        showSmall?'small-button' : '',
                        true?'btn-' + (headerService.createAccountButtonType$ | async) : ''
                ]">
                    <span *ngIf="showSmall" class="glyphicon glyphicon-create-user"></span>
                    <span *ngIf="!showSmall" class="btn-caption text-nowrap" translate>Create Account</span>
                </a>
            </span>
            <span>
                <a class="btn btn-default" [href]="authorizeUrl | unsafe" [ngClass]="showSmall ? 'small-button': 'login-button'">
                    <span *ngIf="showSmall" class="glyphicon glyphicon-login"></span>
                    <span *ngIf="!showSmall" class="btn-caption" translate>Log In</span>
                </a>
            </span>
            <span *ngIf="!loginState">
                <nx-header-language-select
                        class="auto"
                        short="true" altStyle="true"
                        instantReload="true" instantApply="true"></nx-header-language-select>
            </span>
        </li>
    </ul>
</ng-template>

<!-- Hidden menu for calculations -->
<!-- This is used to calculate all possible component view states -->
<!-- Most (resize) directives for updating adaptive views should be on these hidden elements -->
<nav class="navbar navbar-default nav-override hidden-menu">
    <div class="container-fluid flex-no-wrap">
        <div class="app-header-left">
            <ng-container *ngTemplateOutlet="navIcon"></ng-container>
            <ul class="nav navbar-nav d-md-flex">
                <div #breadcrumbWrapper class="d-flex" (resize)="updateBreadcrumbSizes(breadcrumbWrapper)">
                    <ng-container *ngTemplateOutlet="breadcrumbLinks;context:{
                        breadcrumbs:filterBreadcrumbs(headerService.currentLocation?.breadcrumbs)
                    }"></ng-container>
                </div>
                <div class="tab-wrapper" (resize)="tabsWidth$.next($event.width)">
                <ng-container *ngTemplateOutlet="menuTabs"></ng-container>
                </div>
            </ul>

        </div>
        <div (resize)="menuTabsCollapsed$.next($event.width)">
            <nx-nav-dropdown [nodeLocation]="headerService.currentLocation"></nx-nav-dropdown>
        </div>
        <div class="app-header-right" (resize)="rightNavWidth$.next($event.width)">
            <ng-container *ngTemplateOutlet="rightNav;context:{showSmall:false}"></ng-container>
            <ul class="nav navbar-nav navbar-right auth-visible">
                <li>
                    <nx-account-settings-select></nx-account-settings-select>
                    <nx-header-language-select
                        *ngIf="environment.isLocal"
                        class="auto"
                        short="true" altStyle="true"
                        instantReload="true" instantApply="true"></nx-header-language-select>
                </li>
            </ul>
        </div>
        <div (resize)="rightNavWidthCollapsed$.next($event.width)">
            <ng-container *ngTemplateOutlet="rightNav;context:{showSmall:true}"></ng-container>
        </div>
    </div>
</nav>

<!-- Menu for render -->
<header *ngIf="viewHeader" (nxClickElsewhere)="headerService.show$ = false">

    <nx-new-header *ngIf="newHeader" [nodes]="headerService.nodes" ></nx-new-header>
    <nav  *ngIf="!newHeader" class="navbar navbar-default nav-override">
        <div class="container-fluid flex-no-wrap">
            <div class="app-header-left">
                <ng-container *ngIf="showIcon$ | async">
                    <ng-container *ngTemplateOutlet="navIcon"></ng-container>
                </ng-container>
                <div class="nav navbar-nav d-flex" [ngClass]="{'invisible': hideWebAdmin}">
                    <div (resize)="mainButtonWidth$.next($event.width)" >
                        <nx-header-main-button
                                *ngIf="systems?.length || headerService?.nodes?.length"
                                [endpoint]="active"
                                [systems]="systems"
                                [hideArrow]="!mainNode || hideTabsAndDropdown$.value"
                                [node]="mainNode">
                        </nx-header-main-button>
                    </div>
                    <ng-container *ngIf="!(hideTabsAndDropdown$ | async)">
                        <div *ngIf="filteredBreadcrumbs.length && (hiddenBreadcrumbs$ | async)" class="breadcrumb-wrapper">
                            <div class="breadcrumb-button collapsed-breadcrumb">
                                <a class="px-2 d-block w-100 h-100" (click)="headerService.handleNav(filteredBreadcrumbs[hiddenBreadcrumbs$.value - 1], $event)">
                                    <ng-template #backButton>
                                        <svg-icon nx-add-svg-src [src]="CONFIG.icons.dir + 'arrow_back.svg'" [svgStyle]="{'width.px': '24'}"></svg-icon>
                                    </ng-template>
                                    <span *ngIf="filteredBreadcrumbs.length !== (hiddenBreadcrumbs$ | async);else backButton">...</span>
                                </a>
                            </div>
                            <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirHeader + 'header_arrow.svg'"></svg-icon>
                        </div>
                        <ng-container *ngTemplateOutlet="breadcrumbLinks;context:{
                            breadcrumbs:filteredBreadcrumbs,
                            renderView: true
                        }"></ng-container>
                        <div *ngIf="!(showTabs$ | async); else menuTabs" class="tab-wrapper">
                            <nx-nav-dropdown [nodeLocation]="headerService.currentLocation"></nx-nav-dropdown>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="app-header-right" [ngClass]="{'invisible': hideWebAdmin}">
                <ng-container *ngTemplateOutlet="rightNav;context:{showSmall: showSmallRightNav$ | async}"></ng-container>
                <ul class="nav navbar-nav navbar-right auth-visible" *ngIf="dropdownsVisible">
                    <li>
                        <nx-account-settings-select [small]="showSmallRightNav$ | async"></nx-account-settings-select>
                        <nx-header-language-select
                            *ngIf="environment.isLocal"
                            class="auto"
                            short="true" altStyle="true"
                            instantReload="true" instantApply="true"></nx-header-language-select>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
