<h1>Новая версия {{ message.asset }} ({{ message.asset_type }}) ожидает проверки</h1>
<p>Щелкните по ссылке чтобы просмотреть черновик {{ message.id }} для {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Проверить версию</a>
<h4>На этой странице можно</h4>
<ul>
	<li>Просмотреть последние изменения.</li>
	<li>Опубликовать эту версию, которая обновит весь контент.</li>
	<li>Редактировать контексты, нажав кнопку редактирования записи.<br>
Чтобы увидеть эти изменения, вам нужно будет создать новую версию</li>
</ul>
