@use "../utils" as *;
@use "../theme_palette.scss" as *;
@use "../native-theme/theme_palette.scss" as native;

@mixin with-root {
	--brand-core-t10: rgba(var(--brand-core--rgb), 0.1);
	--brand-core-t20: rgba(var(--brand-core--rgb), 0.2);
	--brand-core-t30: rgba(var(--brand-core--rgb), 0.3);
	--brand-core-t40: rgba(var(--brand-core--rgb), 0.4);
	--brand-core-t50: rgba(var(--brand-core--rgb), 0.5);
	--brand-core-t60: rgba(var(--brand-core--rgb), 0.6);
	--brand-core-t70: rgba(var(--brand-core--rgb), 0.7);
	--brand-core-t80: rgba(var(--brand-core--rgb), 0.8);
	--brand-core-t90: rgba(var(--brand-core--rgb), 0.9);

	@include generateVarAndRgb(--dark1, $dark1);
	@include generateVarAndRgb(--dark2, $dark2);
	@include generateVarAndRgb(--dark3, $dark3);
	@include generateVarAndRgb(--dark4, $dark4);
	@include generateVarAndRgb(--dark5, $dark5);
	@include generateVarAndRgb(--dark6, $dark6);
	@include generateVarAndRgb(--dark7, $dark7);
	@include generateVarAndRgb(--dark8, $dark8);
	@include generateVarAndRgb(--dark9, $dark9);
	@include generateVarAndRgb(--dark10, $dark10);
	@include generateVarAndRgb(--dark11, $dark11);
	@include generateVarAndRgb(--dark12, $dark12);
	@include generateVarAndRgb(--dark13, $dark13);
	@include generateVarAndRgb(--dark14, $dark14);
	@include generateVarAndRgb(--dark15, $dark15);
	@include generateVarAndRgb(--dark16, $dark16);
	@include generateVarAndRgb(--dark17, $dark17);
	@include generateVarAndRgb(--dark18, $dark18);

	@include generateVarAndRgb(--additional_dark1, $additional_dark1);

	@include generateVarAndRgb(--dark_gray_1, $dark_gray_1);
	@include generateVarAndRgb(--dark_gray_2, $dark_gray_2);
	@include generateVarAndRgb(--dark_gray_3, $dark_gray_3);
	@include generateVarAndRgb(--dark_gray_4, $dark_gray_4);
	@include generateVarAndRgb(--dark_gray_5, $dark_gray_5);
	@include generateVarAndRgb(--dark_gray_6, $dark_gray_6);
	@include generateVarAndRgb(--dark_gray_7, $dark_gray_7);
	@include generateVarAndRgb(--dark_gray_8, $dark_gray_8);
	@include generateVarAndRgb(--dark_gray_9, $dark_gray_9);
	@include generateVarAndRgb(--dark_gray_10, $dark_gray_10);
	@include generateVarAndRgb(--dark_gray_11, $dark_gray_11);
	@include generateVarAndRgb(--dark_gray_12, $dark_gray_12);
	@include generateVarAndRgb(--dark_gray_13, $dark_gray_13);
	@include generateVarAndRgb(--dark_gray_14, $dark_gray_14);
	@include generateVarAndRgb(--dark_gray_15, $dark_gray_15);
	@include generateVarAndRgb(--dark_gray_16, $dark_gray_16);
	@include generateVarAndRgb(--dark_gray_17, $dark_gray_17);
	@include generateVarAndRgb(--dark_gray_18, $dark_gray_18);

	@include generateVarAndRgb(--light1, $light1);
	@include generateVarAndRgb(--light2, $light2);
	@include generateVarAndRgb(--light3, $light3);
	@include generateVarAndRgb(--light4, $light4);
	@include generateVarAndRgb(--light5, $light5);
	@include generateVarAndRgb(--light6, $light6);
	@include generateVarAndRgb(--light7, $light7);
	@include generateVarAndRgb(--light8, $light8);
	@include generateVarAndRgb(--light9, $light9);
	@include generateVarAndRgb(--light10, $light10);
	@include generateVarAndRgb(--light11, $light11);
	@include generateVarAndRgb(--light12, $light12);
	@include generateVarAndRgb(--light13, $light13);
	@include generateVarAndRgb(--light14, $light14);
	@include generateVarAndRgb(--light15, $light15);
	@include generateVarAndRgb(--light16, $light16);
	@include generateVarAndRgb(--light17, $light17);

	@include generateVarAndRgb(--light_gray_1, $light_gray_1);
	@include generateVarAndRgb(--light_gray_2, $light_gray_2);
	@include generateVarAndRgb(--light_gray_3, $light_gray_3);
	@include generateVarAndRgb(--light_gray_4, $light_gray_4);
	@include generateVarAndRgb(--light_gray_5, $light_gray_5);
	@include generateVarAndRgb(--light_gray_6, $light_gray_6);
	@include generateVarAndRgb(--light_gray_7, $light_gray_7);
	@include generateVarAndRgb(--light_gray_8, $light_gray_8);
	@include generateVarAndRgb(--light_gray_9, $light_gray_9);
	@include generateVarAndRgb(--light_gray_10, $light_gray_10);
	@include generateVarAndRgb(--light_gray_11, $light_gray_11);
	@include generateVarAndRgb(--light_gray_12, $light_gray_12);
	@include generateVarAndRgb(--light_gray_13, $light_gray_13);
	@include generateVarAndRgb(--light_gray_14, $light_gray_14);
	@include generateVarAndRgb(--light_gray_15, $light_gray_15);
	@include generateVarAndRgb(--light_gray_16, $light_gray_16);
	@include generateVarAndRgb(--light_gray_17, $light_gray_17);

	@include generateVarAndRgb(--additional-light1, $additional_light1);
	@include generateVarAndRgb(--additional-light2, $additional_light2);
	@include generateVarAndRgb(--additional-light3, $additional_light3);
	@include generateVarAndRgb(--additional-light4, $additional_light4);
	@include generateVarAndRgb(--additional-light5, $additional_light5);
	@include generateVarAndRgb(--additional-light6, $additional_light6);
	@include generateVarAndRgb(--additional-light7, $additional_light7);
	@include generateVarAndRgb(--additional-light8, $additional_light8);

	@include generateVarAndRgb(--blue1, $blue1);

	@include generateVarAndRgb(--red2, $red2);
	@include generateVarAndRgb(--red1, $red1);
	@include generateVarAndRgb(--red_l2, $red_l2);
	@include generateVarAndRgb(--red_l1, $red_l1);
	@include generateVarAndRgb(--red_main, $red_main);
	@include generateVarAndRgb(--red_d1_lighter, $red_d1_lighter);
	@include generateVarAndRgb(--red_d1, $red_d1);
	@include generateVarAndRgb(--red_d2, $red_d2);
	@include generateVarAndRgb(--red_d3, $red_d3);
	@include generateVarAndRgb(--red_d4, $red_d4);
	@include generateVarAndRgb(--red_d5, $red_d5);
	@include generateVarAndRgb(--red_d6, $red_d6);
	@include generateVarAndRgb(--red_d7, $red_d7);
	// Removing theses for now. Its possible that we fixed styles which makes this break things
	//@include generateVarAndRgb(--error, $red_main);
	//@include generateVarAndRgb(--error-label, $red_main);
	@include generateVarAndRgb(--red-l1-brighter, $red_l1_brighter);

	@include generateVarAndRgb(--yellow-l3, native.$yellow_l3);
	@include generateVarAndRgb(--yellow-l2, native.$yellow_l2);
	@include generateVarAndRgb(--yellow-l1, native.$yellow_l1);
	@include generateVarAndRgb(--yellow-main, native.$yellow_main);
	@include generateVarAndRgb(--yellow-d1, native.$yellow_d1);
	@include generateVarAndRgb(--yellow-d2-lighter, native.$yellow_d2_lighter);
	@include generateVarAndRgb(--yellow-d2, native.$yellow_d2);
	@include generateVarAndRgb(--yellow-d3, native.$yellow_d3);
}
