<ng-template #preloader>
    <nx-pre-loader></nx-pre-loader>
</ng-template>
<ng-container *ngIf="headerService.currentLocation.path === '/developers'">
    <ng-container *ngIf="aboutStructure;else preloader">
        <div class="about-heading">
            <h1>{{aboutStructure.intro.title}}</h1>
            <p *ngFor="let block of aboutStructure.intro.asset.blocks || []" [innerHTML]="block.contentHTML || ''"></p>
        </div>
        <nx-capabilities 
            [capabilitiesNode]="aboutStructure.whatsPossible"
            [supportedTechNode]="aboutStructure.supportedTech"></nx-capabilities>
        <nx-get-started [getStartedNode]="aboutStructure.getStarted"></nx-get-started>
        <nx-dev-tools [devToolsNode]="aboutStructure.devTools"></nx-dev-tools>
        <nx-integrations [integrationsNode]="aboutStructure.integrations"></nx-integrations>
        <nx-support [supportNode]="aboutStructure.support"></nx-support>
    </ng-container>
</ng-container>
<router-outlet></router-outlet>
