@use '../../../styles/typography';
@use '../../../../styles/theme_variables' as *;

.about-heading {
    padding: 60px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $dark10;
    & > h1 {
        font-family: $font-family-light;
        font-size: 64px !important;
        text-align: center;
    }
    & > p {
        @include typography.regular14;
        margin: 10px 0 25px 0;
        text-align: center;
        line-height: 18px;
        max-width: 752px;
    }
}