@use '../../../styles/typography';
@use '../../../../styles/theme_variables' as *;
@use 'bootstrap_utils' as bootstrap;

.about-heading {
    padding: 60px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $dark10;
    @include bootstrap.media-breakpoint-down(xs) {
        padding: 44px 16px 16px 16px;
    }
    & > h1 {
        font-family: $font-family-light;
        font-size: 64px !important;
        text-align: center;
        @include bootstrap.media-breakpoint-down(xs) {
            font-family: $font-family-medium !important;
            font-size: 24px !important;
        }
    }
    & > p {
        @include typography.regular14;
        margin: 10px 0 25px 0;
        text-align: center;
        line-height: 18px;
        max-width: 752px;
    }
}
