
<div class="container"
     [ngbPopover]="store.status != STATUS.INACCESSIBLE ? popLegend : ''"
     popoverClass="size-popover"
     placement="bottom"
     [openDelay]="300"
     [closeDelay]="100"
     triggers="hover">

    <div class="total-label" [innerHTML]="totalSpaceLabel"></div>
    <div class="bar available"
        [ngClass]="{'full': store.status == STATUS.INACCESSIBLE}"
        [style.width.%]="100"></div>
    <div class="bar used" 
        [ngClass]="{'hidden': store.status == STATUS.INACCESSIBLE}"
        [style.width.%]="usedPercentage"></div>
    <div class="bar archive"
        [ngClass]="{'hidden': store.status == STATUS.INACCESSIBLE}"
        [style.left.%]="usedPercentage"
        [style.width.%]="archivePercentage"></div>
    <div class="bar reserved"
        [ngClass]="{'hidden': store.status == STATUS.INACCESSIBLE}"
        [style.right.%]="0"
        [style.width.%]="reservedPercentage"></div>
</div>

<ng-template #popLegend>
    <table class="table-legend">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td class="table-legend-title" translate>Size</td>
                <td class="table-legend-size" [innerHTML]="totalSpaceTooltip"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box used" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Other data</td>
                <td class="table-legend-size" [innerHTML]="used"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box archive" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>VMS</td>
                <td class="table-legend-size" [innerHTML]="archive"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box reserved" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Reserved</td>
                <td class="table-legend-size" [innerHTML]="reserved"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box available" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Available</td>
                <td class="table-legend-size" [innerHTML]="available"></td>
            </tr>
        </tbody>
    </table>
</ng-template>
