<div
    #usageChart
    class="container"
    (mouseenter)="showLegend(popLegendUsageTemplate, usageChart)"
    (mouseout)="closeLegend()"
>
    <div class="container-overlay"></div>
    <div class="total-label" [innerHTML]="totalSpace"></div>
    <div
        class="bar available"
        [ngClass]="{'full': inaccessible}"
        [style.width.%]="100"
    ></div>
    <div
        class="bar used"
        [ngClass]="{'hidden': inaccessible || !usedPercentage}"
        [style.width.%]="usedPercentage"
    ></div>
    <div
        class="bar archive"
        [ngClass]="{'hidden': inaccessible || !archivePercentage}"
        [style.left.%]="usedPercentage"
        [style.width.%]="archivePercentage"
    ></div>
    <div
        class="bar reserved"
        [ngClass]="{'hidden': inaccessible || !reservedPercentage}"
        [style.right.%]="0"
        [style.width.%]="reservedPercentage"
    ></div>
</div>

<ng-template #popLegendUsageTemplate>
    <table class="table-legend">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td class="table-legend-title" translate>Size</td>
                <td class="table-legend-size" [innerHTML]="totalSpace | safe: 'html'"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box used" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Other data</td>
                <td class="table-legend-size" [innerHTML]="used | safe: 'html'"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box archive" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>VMS</td>
                <td class="table-legend-size" [innerHTML]="archive | safe: 'html'"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box reserved" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Reserved</td>
                <td class="table-legend-size" [innerHTML]="reserved | safe: 'html'"></td>
            </tr>
            <tr>
                <td class=" table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box available" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Available</td>
                <td class="table-legend-size" [innerHTML]="available | safe: 'html'"></td>
            </tr>
        </tbody>
    </table>
</ng-template>
