<nx-pre-loader
    type="page"
    *ngIf="!fsm"
>
</nx-pre-loader>

<div
    [style.height.vh]="100"
    [style.width.vw]="100"
    *ngIf="fsm"
>
    <div
        class="card p-3 card-wizard"
        [ngClass]="{ centered: isCentered }"
    >
        <div class="header">
            <h2>{{ fsm?.title }}</h2>
        </div>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
        <div
            class="footer"
            [ngClass]="{ centered: isCentered, normal: fsm?.skip && fsm?.retry }"
            *ngIf="showFooter"
        >
            <button
                *ngIf="fsm?.cancel"
                class="btn btn-default-clear btn-backward"
                (click)="cancel()"
                [disabled]="nextDisabled"
                translate
            >
                Cancel
            </button>
            <button
                *ngIf="fsm?.skip"
                class="btn btn-default"
                [ngClass]="{ 'float-left': fsm?.retry }"
                (click)="skip()"
                translate
            >
                Setup Again
            </button>
            <button
                *ngIf="fsm?.back"
                class="btn btn-default float-left"
                (click)="back()"
                [disabled]="nextDisabled"
                translate
            >
                Back
            </button>
            <button
                *ngIf="fsm?.next"
                class="btn btn-primary btn-forward"
                (click)="next()"
                [disabled]="nextDisabled"
            >
                <span translate>Next</span>
                <svg-icon
                    nx-add-svg-src
                    [src]="icons.dir + 'arrow_right.svg'"
                    [svgStyle]="{ 'width.px': '24', 'height.px': '24' }"
                    [applyClass]="true"
                ></svg-icon>
            </button>
            <button
                *ngIf="fsm?.finish"
                class="btn btn-primary btn-forward"
                (click)="finish()"
                [disabled]="nextDisabled"
                translate
            >
                Finish
            </button>
            <button
                *ngIf="fsm?.retry"
                class="btn btn-primary"
                [ngClass]="{ 'float-right': fsm?.skip }"
                (click)="retry()"
                translate
            >
                Try Again
            </button>
        </div>
    </div>
</div>
