@use "typography";
@use "mixins";
@use "theme_variables_common" as *;
@use "css-variables/native-theme/theme_palette" as *;
@use "css-variables/theme_palette" as *;
@use "css-variables/theme_variables" as *;

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-backward {
    float: left;
    margin-left: 1rem;

    svg-icon svg .st0 {
        fill : var(--card-header-text) !important;
        stroke : none;
    }
}

.btn-forward {
    float: right;
    margin-right: 1rem;
    
    svg-icon svg .st0 {
        fill : var(--btn-primary-color) !important;
        stroke : none;
    }
}
