<nx-block class="d-block">
    <header><h4 translate>System Monitoring</h4></header>
    <nx-section>
        <ngx-charts-line-chart
                [view]="view"
                [animations]="animations"
                [scheme]="colorScheme"
                [legend]="legend"
                [legendTitle]="legendTitle"
                [legendPosition]="legendPosition"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [showGridLines]="true"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [results]="multi"
        >
        </ngx-charts-line-chart>
    </nx-section>
</nx-block>
