@use "../../../../../../app/src/styles/typography";
@use "../../../../../../app/src/styles/mixins";
@use "../../../../../../app/styles/theme_variables_common" as *;


// for stayLoggedIn
// main.main-d, main.main-m {
//     div label {
//         color:$light4 !important;
//     }
// }

.password-input {
    .input-addon {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 12px;
    }
}
