<!-- <nx-pre-loader *ngIf=""></nx-pre-loader> -->
<header
    #passwordHeader
    [ngClass]="{ 'header-d': viewType === 'desktop', 'header-m': viewType === 'mobile' }"
>
    <svg-icon
        nx-add-svg-src
        [src]="
            CONFIG.icons.dirSectionPlaceholder +
            (environment.isLocal ? 'local_header' : 'cloud_header') +
            (viewType === 'web' ? '' : '_desktop') +
            '.svg'
        "
        [svgStyle]="{ 'width.px': '320', 'height.px': '80' }"
        [applyClass]="true"
    ></svg-icon>
    <div class="for-small">
        <button
            *ngIf="
                !emailLocked &&
                !['renewSessionWeb', 'renewSessionDesktop'].includes(clientType) &&
                smallView
            "
            class="btn mobile-back-button"
            type="button"
            (click)="setCurrentState.emit('email')"
        >
            <svg-icon
                nx-add-svg-src
                [src]="CONFIG.icons.dir + 'arrow_back_button.svg'"
                [svgStyle]="{ 'width.px': '36', 'height.px': '36' }"
                [applyClass]="true"
            ></svg-icon>
        </button>
        <h3 class="authorize-header">{{ header }}</h3>
    </div>
    <div class="authorize-subheader">
        <div class="d-flex justify-content-center align-items-center">
            <span class="sub-header">{{ subHeader }}</span>
            <span
                class="fs-mask for-account"
                [ngClass]="{ 'span-disabled': emailLocked }"
                (click)="!emailLocked && setCurrentState.emit('email')"
                >{{ loginEmail }}</span
            >
        </div>
        <p
            *ngIf="subHeaderSuffix"
            class="mt-2 mb-0"
        >
            {{ subHeaderSuffix }}
        </p>
    </div>
</header>
<main
    [ngClass]="{
        'main-w': viewType === 'web',
        'main-d': viewType === 'desktop',
        'main-m': viewType === 'mobile'
    }"
    *ngIf="passwordHeader"
    [ngStyle]="{ height: 'calc(100% - ' + passwordHeader.offsetHeight + 'px)' }"
>
    <form #passwordForm="ngForm">
        <input
            type="email"
            name="email"
            class="fs-mask"
            [value]="loginEmail"
            style="display: none"
        />
        <label
            for="authorizePassword"
            translate
            >Password</label
        >
        <div class="password-input">
            <input
                [type]="passwordToggle ? 'password' : 'text'"
                id="authorizePassword"
                name="password"
                class="fs-exclude form-control"
                [ngClass]="{
                    'invalid-state': password.invalid && (password.dirty || password.touched)
                }"
                [(ngModel)]="loginPassword"
                [readonly]="passwordProcess.processing"
                #password="ngModel"
                required
                nxFocusMe
                [setFocus]="true"
            />
            <span
                class="input-addon"
                (click)="passwordToggle = !passwordToggle"
                style="cursor: pointer"
            >
                <svg-icon
                    nx-add-svg-src
                    *ngIf="passwordToggle"
                    [src]="CONFIG.icons.dirTextButtons + 'eye_closed.svg'"
                    [svgStyle]="{ 'width.px': '20', 'height.px': '20' }"
                    [applyClass]="true"
                ></svg-icon>
                <svg-icon
                    nx-add-svg-src
                    *ngIf="!passwordToggle"
                    [src]="CONFIG.icons.dir + 'eye.svg'"
                    [svgStyle]="{ 'width.px': '20', 'height.px': '20' }"
                    [applyClass]="true"
                ></svg-icon>
            </span>
        </div>
        <div
            class="mt-2"
            *ngIf="password.invalid && (password.dirty || password.touched)"
        >
            <p
                *ngIf="password.errors.required"
                class="error-label mb-0"
                translate
            >
                Enter password
            </p>
            <p
                *ngIf="password.errors.wrongPassword"
                class="error-label mb-0"
                translate
            >
                Wrong password
            </p>
            <p
                *ngIf="password.errors.lockedOut"
                class="error-label mb-0"
                translate
            >
                Too many attempts. Try again in a minute.
            </p>
            <p
                *ngIf="password.errors.accountNotAccessSystem"
                class="error-label mb-0"
                translate
            >
                Account doesn't exist in this system.
            </p>
        </div>
    </form>
    <footer
        [ngClass]="{
            'footer-w': viewType === 'web',
            'footer-d': viewType === 'desktop',
            'footer-m': viewType === 'mobile'
        }"
    >
        <div class="left">
            <button
                *ngIf="!emailLocked"
                class="btn text-button no-padding"
                type="button"
                (click)="setCurrentState.emit('request')"
                [ngClass]="{ 'mt-2': smallView }"
            >
                <svg-icon
                    nx-add-svg-src
                    [src]="CONFIG.icons.dir + 'question.svg'"
                    [svgStyle]="{ 'width.px': '20', 'height.px': '20' }"
                    [applyClass]="true"
                ></svg-icon>
                <span
                    class="pl-1"
                    translate
                    >Forgot Password?</span
                >
            </button>
        </div>
        <div class="right">
            <button
                *ngIf="
                    !emailLocked &&
                    !['renewSessionWeb', 'renewSessionDesktop'].includes(clientType) &&
                    !smallView
                "
                class="btn text-button"
                type="button"
                (click)="setCurrentState.emit('email')"
            >
                <svg-icon
                    nx-add-svg-src
                    [src]="CONFIG.icons.dir + 'arrow_back_button.svg'"
                    [svgStyle]="{ 'width.px': '20', 'height.px': '20' }"
                    [applyClass]="true"
                ></svg-icon>
                <span
                    class="pl-1"
                    translate
                    >Back</span
                >
            </button>
            <nx-process-button
                buttonText="{{ 'Log In' | translate }}"
                customButtonClass="btn-login"
                [clickFn]="sendPassword"
                [form]="passwordForm"
                [process]="passwordProcess"
            >
            </nx-process-button>
        </div>
    </footer>
</main>
