@use '../../styles/typography';
@use '../../../styles/theme_variables';
@use '../../styles/mixins';

.close-button {
    border-radius: 2px;
    display: flex;
    justify-content : center;
    align-items     : center;
    height          : 32px;
    width           : 32px;
    cursor          : pointer;

    .tag-close-icon {
        margin : 0 !important;
    }
}

.badge {
    @include typography.regular12;
    color            : theme_variables.$light16;
    font-weight      : 400;
    background-color : theme_variables.$light4;
    line-height      : 18px;
    height           : 20px;
    padding          : 0 8px;
    border-radius    : 2px;

    &.large {
        @include typography.regular13;
        color       : theme_variables.$light16;
        height      : 2rem !important;
        line-height : 2rem !important;
        padding     : 0 12px;
    }
}

.badge {
    &.btn {
        cursor : pointer !important;

        &:hover {
            background-color : theme_variables.$light5;
        }

        &:active {
            background-color : theme_variables.$light6;
        }
    }
}

.badge-selected {
    @include typography.regular13;
    @include mixins.badge-selected(theme_variables.$light16, theme_variables.$light17, theme_variables.$light18);
    cursor : default !important;
}

.badge-brand-selected {
    @include typography.regular13;
    @include mixins.badge-selected(theme_variables.$brand_core, theme_variables.$brand_d1, theme_variables.$brand_d2);
    cursor : default !important;
}

$nx-theme-colors :
    "brand" theme_variables.$brand_core theme_variables.$light1,
    "default" theme_variables.$light8 theme_variables.$light1,
    "success" theme_variables.$brand-success theme_variables.$light1,
    "success-bright" theme_variables.$brand-success-bright theme_variables.$light1,
    "info" theme_variables.$brand-info theme_variables.$light1,
    "warning" theme_variables.$brand-warning theme_variables.$light1,
    "warning-bright" theme_variables.$brand-warning-bright theme_variables.$light1,
    "danger" theme_variables.$brand-danger theme_variables.$light1,
    "danger-bright" theme_variables.$brand-danger-bright theme_variables.$light1;

@each $name, $bg-color, $fg-color in $nx-theme-colors {
    .badge-#{$name} {
        @extend .badge;
        background-color : $bg-color !important;
        color: $fg-color !important;
    }
    .badge-#{$name}-selected {
        color: theme_variables.$light1 !important;
        @include mixins.badge-selected($bg-color, darken($bg-color, 10%), darken($bg-color, 15%));
    }
}
