@use '../../styles/typography';
@use '../../../styles/theme_variables' as *;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins/breakpoints';

.installers {
    .links {
        &.a-link {
            width : 160px;
            float : left;
        }

        @include media-breakpoint-down(lg) {
            width : 50% !important;
            float : left;
        }

        @include media-breakpoint-down(sm) {
            width : 100% !important;
            float : left;
        }
    }
}

.mobile-badge {
    float      : left;
    margin-top : 24px;

    .mobile-link {
        margin-right : 0.5rem;
    }
}

.download-link {
    display           : inline-block;
    width             : 32px;
    height            : 32px;
    background-repeat : no-repeat;
    background-size   : 32px 32px;

    background-image  : url('/static/images/download.png') !important;

    @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
        background-image : url('/static/images/download@2x.png') !important;
    }
}

.mobile-link {
    display           : inline-block;
    width             : 140px;
    height            : 40px;
    position          : relative;
    background-repeat : no-repeat;
    background-size   : 140px 40px;

    margin-right      : 10px;

    &.iOS, &.ios {
        background-image : url('/static/images/appstore.png') !important;

        @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
            background-image : url('/static/images/appstore@2x.png') !important;
        }
    }

    &.Android, &.android {
        background-image : url('/static/images/googleplay.png') !important;

        @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
            background-image : url('/static/images/googleplay@2x.png') !important;
        }
    }
}

.download-button {
    max-width        : fit-content;
    margin           : 0 0 8px 0;
    padding          : 0 12px 0 0 !important;
    height           : auto !important;
    box-shadow       : none !important;
    background-color : transparent !important;
    border           : 1px solid var(--light5) !important;

    &:hover {
        border-color     : var(--light8) !important;
        background-color : rgba(var(--light5--rgb), .25) !important;
    }

    &:active {
        background-color : rgba(var(--light5--rgb), .5) !important;
    }

    .installer-name {
        font-weight : normal;
    }

    .media-left {
        height          : 64px;
        width           : 64px;
        display         : flex;
        align-items     : center;
        justify-content : center;
    }

    .media-body {
        width : auto;

        h3 {
            margin : 0;
        }
    }

    h2 {
        max-width     : 320px;
        overflow      : hidden;
        text-overflow : ellipsis;
    }

    h3 {
        margin-top : 0;
    }

    & + p {
        color         : var(--light16);
        margin-bottom : 1rem;
        font-size     : rem(12px);
    }
}

h2.version-number {
    @include typography.medium32dark9;
    line-height : 34px;
    margin      : 0 0 8px 0;
}

.nx-tab-set {
    &-tabs {
        .nav-item {

            height : rem(48px);

            .nav-link {
                border-top-left-radius  : 2px;
                border-top-right-radius : 2px;
                color                   : var(--dark12);
                font-size               : $h5-font-size;
                font-family             : $font-family-medium;
                line-height             : 26px;
                padding                 : 10px 20px;
                text-decoration         : none;

                &.active {
                    background-color : var(--light1) !important;
                    border-bottom    : 1px solid transparent;

                    .tab-heading {
                        border-bottom : 1px solid var(--light5);
                        padding       : 14px 0;
                    }
                }

                &:hover {
                    background-color : rgba(var(--light5--rgb), 0.25);
                }
            }
        }
    }

    &-content {
        .card {
            border-top : none;
        }
    }
}
