/* pages/systems/view/vms-client/submodules/playback/components/player/player-js/player-js.component.scss */
$pjs-dark: #2B333F;
$pjs-gray: #73859F;
$pjs-placeholder-gray: #888;
$pjs-captions: #fc6;
$pjs-link: #66A8CC;
