<header [ngClass]="{ 'header-d': viewType === 'desktop', 'header-m': viewType === 'mobile' }">
    <svg-icon
        nx-add-svg-src
        [ngStyle]="{ 'minWidth.px': '280', 'minHeight.px': '64' }"
        [src]="
            icons.dirSectionPlaceholder +
            (environment.isWebadmin ? 'local_header' : 'cloud_header') +
            '.svg'
        "
        [svgStyle]="{ 'width.px': '320', 'height.px': '64' }"
        [applyClass]="true"
    ></svg-icon>
    <h3 class="h3 authorize-header"><ng-content></ng-content></h3>
</header>
