@import '../../../styles/custom/custom_palette';
@import '../../../styles/theme_palette';
@import '../../../styles/theme_variables';
@import '../../styles/typography';

$item_height : 40px;

.menu-level-1 {
    @extend #medium15;
    position         : relative;
    line-height      : $item_height;
    background-color : $additional_light2;
    display          : block;
    text-decoration  : none;
    padding-left     : $item_height;
    padding-right    : .5rem;
    border-radius    : 2px;
    cursor           : pointer;

    &:hover {
        background-color : $additional_light3;
    }

    &:active {
        background-color : $light5;
    }

    &-icon {
        position        : absolute;
        left            : 0;
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : $item_height;
        height          : $item_height;
        line-height     : initial;
        svg .st0 {
            fill            : $dark9;
        }
    }

    &.selected {
        background-color : $light5;
    }

    &.collapsed {
        background-color : $light4;
    }

    &-alerts {
        position        : absolute;
        right           : 0;
        top             : 0;
        display         : flex;
        align-items     : center;
        justify-content : center;
    }
}

.search-results {
    position : absolute;
    display : flex;
    flex-direction : row;
    height : 100%;
    align-items : center;
    top   : 0;
    right : 0;

    &-label {
        color : $light16;
    }

    .nav-arrow {
        position : relative;
        right    : auto;
        bottom   : auto;
        margin   : 0 8px 0 4px;
        cursor   : pointer;

        span {
            background-color : $light16;
        }

        span:nth-child(odd) {
            left : 2px;
        }

        span:nth-child(even) {
            left : 40%;
        }
    }
}
