
<a class="inset menu-level-1 ellipsis"
   [ngClass]="{'selected': selected, 'collapsed': _toggle}"
   [id]="item.id"
   (click)="menuClick(item.id)">

    <div class="menu-level-1-icon" *ngIf="item.icon">
        <span class="m-0 glyphicon" [ngClass]="item.icon"></span>
    </div>
    <div class="menu-level-1-icon" *ngIf="item.svg">
        <svg-icon [src]="CONFIG.icons.dir + item.svg +'.svg'"
                  [applyCss]="true"
                  [svgStyle]="{'width.px': '24', 'height.px': '24'}"></svg-icon>
    </div>
    <ng-container>{{item.label}}</ng-container>
    <div *ngIf="item.alerts" class="menu-level-1-alerts">
        <div *ngFor="let alert of item.alerts" class="pr-2">
            <nx-alert-counter *ngIf="alert.count !== undefined && alert.count > 0"
                              [count]="alert.count" [type]="alert.type"></nx-alert-counter>
        </div>
    </div>
    <div class="search-results" *ngIf="searchMode">
        <div class="search-results-label" *ngIf="_toggle">
            <span translate [translateParams]="{ count: item.level3.length }">result</span>
        </div>
        <svg-icon [src]="CONFIG.icons.dirNonStandard + _type + '.svg'"
                  [svgStyle]="{'width.px': '20', 'height.px': '20'}"></svg-icon>

<!--        <div class="nav-arrow" [ngClass]="{ 'up': !_toggle }">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--        </div>-->
    </div>
</a>

