@use '../../../../styles/typography';
@use '../../../../../styles/theme_variables' as *;


.menu-level-2 {
    @include typography.medium13dark9;
    position         : relative;
    background-color : $light4;
    border-radius    : 0;
    text-decoration  : none;
    padding-left     : .75rem;
    padding-right    : .75rem;
    display          : block;
    white-space      : nowrap;
    overflow         : hidden;
    line-height      : 26px;
    min-height: auto !important;

    &:hover {
        background-color : $light5;
    }

    &:active {
        background-color : $light6;
    }

    & > div {
        line-height: 26px;
    }

    &-icon {
        float           : left;
        margin-right    : .5rem;
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 18px;
        height          : 26px;
    }

    &.selected {
        background-color : $light5;
        // color : $light1 !important;
        &.collapsed {
            background-color : $light16 !important;
            color : $light1 !important;

            .menu-level-2-icon svg g polyline {
                stroke : $light1;
            }
        }
    }


    &.item-disabled {
        color : $light16;

        .menu-level-2-additional {
            color : $light16;
        }
    }

    &.toggle{
        .menu-level-2-icon svg{
            transform: rotate(0);
        }

        &.collapsed {
            .menu-level-2-icon svg {
                transform : rotate(-90deg);
            }
        }
    }
}

.menu-level-2-additional {
    color : $light16;
    font-family: $font-family-regular;
}