<a class="menu-level-2 ellipsis toggle"
[ngClass]="{'selected': selected, 'collapsed': !_toggle}"
   [id]="item.id"
   (click)="menuClick(item.id)"
   >
    <div class="menu-level-2-icon" *ngIf="item.icon">
        <span class="m-0 glyphicon {{item.icon}}"
              [ngClass]="{'selected': selected, 'item-disabled': !isEnabled}"></span>
    </div>
    <div class="menu-level-2-icon" *ngIf="item.svg">
        <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirTextButtons + item.svg +'.svg'"
                  [applyClass]="true"
                  [svgStyle]="{'width.px': '18', 'height.px': '26'}"></svg-icon>
    </div>
    <div class="ellipsis" >
        <span [innerText]="item.label" class="user"></span>
        <span class="menu-level-2-additional"
              *ngIf="item.additionalText"
              [innerHTML]="'<span class=\'ml-1 mr-1\'>&ndash;</span>' + item.additionalText | safe: 'html'"></span>
    </div>
</a>
