<div class="container" *ngIf="title || body || staticHTML; else preloader">
    <ng-container *ngIf="title || body; else staticContent">
        <h1 set-title>{{ title }}</h1>
        <div class="card">
            <div class="card-body"
                 [innerHTML]="body">
            </div>
        </div>
    </ng-container>
    <ng-template #staticContent>
        <div [innerHTML]="staticHTML"></div>
    </ng-template>
    <nx-footer></nx-footer>
</div>
<ng-template #preloader><nx-pre-loader></nx-pre-loader></ng-template>
