<div class="container">
    <ng-container *ngIf="title || body; else dynamicTemplate">
        <h1 set-title>{{ title }}</h1>
        <div class="card">
            <div class="card-body"
                 [innerHTML]="body">
            </div>
        </div>
    </ng-container>
    <ng-template #dynamicTemplate><div [innerHTML]="staticHTML"></div></ng-template>
    <nx-process-button *ngIf="showAgree"
                       customClass="mt-3"
                       actionType="primary"
                       [process]="agreeProcess"
                       [buttonText]="'Agree' | translate"></nx-process-button>
    <nx-pre-loader *ngIf="!loaded"></nx-pre-loader>
    <nx-footer></nx-footer>
</div>
