<nx-pre-loader *ngIf="!initialized; else uninitialized"></nx-pre-loader>

<ng-template #uninitialized>

    <nx-page-placeholder
            *ngIf="initializedWithError; else primary"
            type="OFFLINE"
            class="page-placeholder">
    </nx-page-placeholder>

    <ng-template #primary>
        <div class="nx-view-sidebar">
            <media-server-list></media-server-list>
            <div class="sidebar-toggling-ear" (click)="handleSidebarTogglingEarClick()"></div>
        </div>
        <router-outlet></router-outlet>
    </ng-template>
</ng-template>
