@use "../../../../../../styles/theme_variables_common" as *;
@use "bootstrap_utils" as bootstrap;

:host {
    padding-left: 0;
    position: fixed;
    left: 0;
    top: 48px;
    bottom: 0;
    right: 0;
    min-height: calc(100% - 100px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.animated {
        transition: padding-left .2s ease-in-out;
        .nx-view-sidebar {
            transition: left .2s ease-in-out;
        }
    }

    &.initialized {

        display: block;

        &.initialization-error {
            padding-left: 0 !important;
            .nx-view-sidebar {
                left: -320px !important;
            }
        }

        &.sidebarShown {
            padding-left: 320px;
            .nx-view-sidebar {
                left: 0;
            }
        }

    }

    .error {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.error-initialization {

            > svg {
                width: 50%;
            }

            > span {
                margin-top: 1em;
                font-size: 40px;
                text-transform: uppercase;
            }
        }
    }

    .nx-view-sidebar {
        position: absolute;
        width: 320px;
        left: -320px;
        top: 0;
        bottom: 0;
        background-color: var(--view-bg);
        border-right: 1px solid var(--border-color);
        z-index: 20;

        @include bootstrap.media-breakpoint-down(sm) {
            width: 100%;
            left: -100%;
        }

        > .sidebar-toggling-ear--wrapper {
            position : absolute;
            top      : calc(50% - 40px / 2);
            right    : -16px;
            width    : 16px;
            height   : 40px;

            @include bootstrap.media-breakpoint-down(md) {
                content    : "";
                position   : absolute;
                top        : calc(50% - 70px / 2);
                right      : -50px;
                width      : 50px;
                height     : 70px;
                background : transparent;
            }

            opacity: 0;
            &.visible {
                opacity: 1;
            }

            &.shown {
                @include bootstrap.media-breakpoint-down(sm) {
                    right : 0;
                }

                .sidebar-toggling-ear {
                    transform     : rotate(0deg);
                    border-radius : 0 2px 2px 0;

                    @include bootstrap.media-breakpoint-down(sm) {
                        float : right;
                    }
                }
            }

            .sidebar-toggling-ear {
                width               : 16px;
                height              : 40px;
                background-color    : var(--control-color);
                //background-image    : url("./img/arrow-left.png");
                //background-position : center center;
                //background-repeat   : no-repeat;
                //background-size     : 16px 16px;
                box-shadow          : 0px -2px 0px 0px rgba(var(--dark1--rgb), 0.1);
                cursor              : pointer;
                opacity             : 0.8;
                
                svg-icon {
                    position : absolute;
                    top      : 10px;
                    right    : -2px;
                    
                    svg .st0 {
                        transform        : rotate(270deg);
                        transform-origin : center;
                        fill             : none;
                        stroke-width     : 2;
                    }
                }

                &:hover {
                    opacity : 1.0;
                }

                @include bootstrap.media-breakpoint-down(md) {
                    margin-top: 15px;
                }

                transform           : rotate(180deg);
                border-radius       : 2px 0 0 2px;
            }
        }
    }

    .no-cameras-placeholder {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family : $font-family-light;
        font-size: 40px;
        line-height: 48px;
        color: var(--light10); // the spec says just "light", and it's kinda weird
        opacity: 0.6;
        background-color: transparent; // the spec says "light2 opacity 100%", LoL
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
