<placeholder ng-if="!systemReady && !unreachable"
             preloader="true"
             class="webclient-placeholder"></placeholder>

<nx-page-placeholder
        type="OFFLINE"
        ng-if="systemReady && !currentSystem.isOnline">
</nx-page-placeholder>

<nx-page-placeholder
        ng-if="!systemReady && unreachable"
        iconClass='server-offline'
        placeholderTitle="$root.L.common.systemUnreachable">
</nx-page-placeholder>

<nx-page-placeholder
        type="NO_CAMS"
        ng-if="systemReady && currentSystem.isOnline && !hasCameras"
        placeholderTitle="$root.L.common.systemHasNoCameras">
</nx-page-placeholder>

<div ng-if="systemReady && currentSystem.isOnline && hasCameras"
     webclient system="system"
     class="container-fluid webclient">
</div>

<nx-footer></nx-footer>
