<nx-block class="d-block mt-3">
    <header>
        <h4 translate>Log settings</h4>
    </header>
    <nx-section>
        <form class="form" role="form" name="logLevelsForm" #logLevelsForm="ngForm" novalidate>
            <nx-pre-loader *ngIf="!showLoggers"></nx-pre-loader>
            <div *ngFor="let log of systemLoggers | keyvalue" class="form-group row">
                <label class="col-12 col-md-4 m-0 pr-0 d-flex align-items-center justify-content-end">{{log.key}} log level</label>
                <div class="col-11 col-md-8">
                    <nx-select [id]="log.key"
                               [name]="log.key"
                               [items]="loggerOptions"
                               [ngModel]="systemLoggers[log.key]"
                               (ngModelChange)="changeLog($event, log.key)"
                               [selected]="systemLoggers[log.key]">
                    </nx-select>
                </div>
            </div>
        </form>
    </nx-section>
    <nx-section>
        <nx-process-button [process]="saveLoggers"
                           [form]="logLevelsForm"
                           [actionType]="'primary'"
                           buttonText="{{ 'Save' | translate }}"></nx-process-button>
    </nx-section>
</nx-block>
