<nx-block class="d-block mt-3">
    <header>
        <h4 translate>Log settings</h4>
    </header>
    <nx-section>
        <form
            class="form"
            role="form"
            name="logLevelsForm"
            #logLevelsForm="ngForm"
            novalidate
        >
            <nx-pre-loader *ngIf="loading"></nx-pre-loader>
            <div *ngIf="!loading && !showLoggers" translate>System is offline. This information is not available.</div>
            <div *ngFor="let logger of systemLoggers" class="form-group row">
                <label
                    class="col-12 col-md-4 m-0 pr-0 d-flex align-items-center justify-content-end"
                    [innerText]="LANG.system.loggerDropdownLabel({ loggerName: logger.key })"
                ></label>
                <div class="col-11 col-md-8">
                    <nx-select
                        [id]="logger.key"
                        [name]="logger.key"
                        [items]="loggerOptions"
                        [ngModel]="selectedLevel(logger)"
                        (ngModelChange)="onLevelSelect($event, logger)"
                        [allowHTML]="true"
                    ></nx-select>
                </div>
            </div>
        </form>
    </nx-section>
</nx-block>
