@use '../../../../styles/typography';
@use '../../../../styles/mixins' as *;

.active {
    background: $light5 !important;
    border: 1px solid $light6 !important;
}

.system-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        background: $light3;
    }

    &:active {
        @extend .active;
    }
}

.system-status {
    width: 36px;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    svg {
        position: absolute;
        top: -3px;
        left: 0px;
        height: 24px;
        width: 24px;
        .st0 {
            fill: $dark9;
        }
    }
}

.system-info {
    display: flex;
    width: calc(100% - 40px);
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.system-name {
    @include ellipsis;
    @include typography.medium14dark9;
    max-width: 100%;
    line-height: 24px;
}

.owner {
    @include ellipsis;
    @include typography.regular11dark9;
    line-height: 16px;
}
