@import "../../../styles/_theme_variables";

.switch {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 17px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $red_l1;

    &:hover {
        background-color: $red_l2;
    }

    &:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 1px;
        bottom: 1px;
        background-color: white;
        z-index: 1;
    }
}

input.selected + .slider {
    background-color: $green_main;

    &:hover {
        background-color: $green_l1;
    }
}

input:focus + .slider {
    box-shadow: 0 0 1px $green_l1;

    &:hover {
        box-shadow: 0 0 1px $green_l1;
    }
}

input.selected + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider-icon {
    position: absolute;
    pointer-events: None;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    height: 9px;
    bottom: 12px;
}

.bar {
    @extend .slider-icon;
    background: $green_l2;
    width: 2px;
    left: 8px;
}

.circle {
    @extend .slider-icon;
    border: 2px solid $red_d1;
    border-radius: 50%;
    width: 9px;
    right: 4px;
}
