<ng-container *ngIf="!(isMobile$ | async)">
    <nx-header-level-one
        [menuNodes]="displayedNodes"
        [selectedNode]="selectedNode"
        (nodeSelect)="handleNodeSelect($any($event))"
        [loggedIn]="loggedIn"
    >
    </nx-header-level-one>
    <nx-header-level-two
        [subNodes]="selectedNode?.nodes"
        (systemNav)="navigateToSystemsList()"
    >
    </nx-header-level-two>
</ng-container>

<nx-header-mobile
    *ngIf="isMobile$ | async"
    [loggedIn]="loggedIn"
    [menuNodes]="displayedNodes"
></nx-header-mobile>
