@use "styles/theme_variables_common" as theme_vars;

:host {
    .media-server-list {
        &::-webkit-scrollbar-track {
            background-color : var(--scrollbar-thumb-border-color);
        }
    
        &::-webkit-scrollbar-thumb {
            background-color : var(--scrollbar-thumb-bg);
            border           : 2px solid var(--scrollbar-thumb-border-color);
        }

        .server-list {
            position       : absolute;
            display        : flex;
            flex-direction : column;
            padding        : 0 8px;
            height         : calc(100% - 44px); // minus search box
            width          : 100%;
            overflow       : auto;

            .server {
                width: 100%;
                position: relative;
                padding: 8px 0;
                border-bottom: 1px solid var(--border-color);

                &.show-ip {
                    .server-name {
                        > .name {
                            width: 60%
                        }
                        .ip-info {
                            opacity: 1;
                        }
                    }

                    .cameras {
                        .camera {
                            > .name {
                                height: 20px;
                                line-height: 20px;
                            }
                            > .ip-info {
                                opacity: 1;
                            }
                        }
                    }
                }

                .server-name {
                    padding: 0 36px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 40px;
                    position: relative;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--left-menu-l1-bg-hover);
                    }

                    svg-icon {
                        position: absolute;
                        left: 7px;
                        top: -2px;
                        width: 29px;
                        
                        &.expand {
                            left : auto;
                            right : 0;
                            width : 20px;
    
                            svg .st0 {
                                fill   : none !important;
                                stroke : var(--left-menu-l1-color) !important;
                            }
                        }

                        svg path {
                            fill: var(--left-menu-l1-color) !important;
                            stroke : none;
                        }
                    }

                    .name {
                        color: var(--left-menu-l1-color);
                        font-family: "robotomedium", "roboto", sans-serif;
                        font-weight: 500;
                        height: 40px;
                        overflow: hidden;
                        display: inline-block;
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .ip-info {
                        font-size     : 12px;
                        color         : var(--left-menu-l3-additional-color);
                        width         : 40%;
                        float         : right;
                        text-align    : right;
                        text-overflow : ellipsis;
                        overflow      : hidden;
                        opacity       : 0;
                        // transition: opacity .2s ease-in-out;
                    }
                }

                &.expanded {
                    > .server-name svg-icon.expand {
                        transform: rotate(180deg);
                    }
                    > .cameras {
                        display: block;
                    }
                }

                > .cameras {
                    display: none;

                    .camera {
                        display: block;
                        height: 56px;
                        width: 100%;
                        position: relative;
                        text-decoration: none;
                        color: inherit;
                        padding: 8px 16px 8px 87px;

                        &:hover {
                            background-color: var(--left-menu-view-hover-bg);
                        }

                        &.selected {
                            background-color: var(--left-menu-view-selected-bg);
                            color : var(--left-menu-l3-selected-color);
                        }

                        > .name {
                            color: var(--left-menu-l3-color);
                            font-family: "robotomedium", "roboto", sans-serif;
                            font-size: 14px;
                            height: 40px;
                            overflow: hidden;
                            line-height: 40px;
                            display: block;
                            text-overflow: ellipsis;
                            width: 100%;
                            white-space: nowrap;
                            // transition: all .2s ease-in-out;
                        }

                        > .ip-info {
                            // position: absolute;
                            // bottom: 7px;
                            // left: 87px;
                            display: block;
                            font-size: 12px;
                            height: 16px;
                            line-height: 16px;
                            overflow: hidden;
                            color: var(--left-menu-l3-additional-color);
                            opacity: 0;
                            // transition: opacity .2s ease-in-out;
                        }

                        > .preview {
                            content: "";
                            position: absolute;
                            left: 7px;
                            top: 8px;
                            width: 70px;
                            height: 40px;
                            border: 1px solid var(--border-color);
                            background: var(--body-bg);
                            > img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                z-index: 1;
                            }

                            svg-icon svg path {
                                fill: var(--text-placeholder-color);
                            }

                            > .preloader {
                                position: absolute;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                top: 0;
                                transform: translate(0, -33px) scale(0.4);
                                display: block;
                            }
                        }

                        &.isScheduleEnabled {
                            > .preview:after {
                                content: "";
                                position: absolute;
                                left: 4px;
                                top: 4px;
                                width: 10px;
                                height: 10px;
                                background: transparent;
                                border-radius: 5px;
                                border: 2px solid theme_vars.$red_main !important;
                            }
                            &.recording {
                                > .preview:after {
                                    background: theme_vars.$red_main;
                                }
                            }
                        }

                        &.offline,
                        &.unauthorized,
                        &.error {
                            > .name {
                                color: var(--light16);
                            }

                            > .preview {
                                > svg-icon {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    width: 36%;
                                    transform: translate(-50%, -50%);

                                    svg path {
                                        fill: var(--light16) !important;
                                    }
                                }
                                > img {
                                    display: none;
                                }
                            }
                        }

                        &.isScheduleEnabled {
                            > .preview:after {
                                content: "";
                                position: absolute;
                                left: 4px;
                                top: 4px;
                                width: 10px;
                                height: 10px;
                                border-radius: 5px;
                                border: 2px solid theme_vars.$red_main !important;
                            }
                        }

                        &.hasArchive {
                            > .preview:after {
                                content: "";
                                position: absolute;
                                left: 4px;
                                top: 4px;
                                width: 10px;
                                height: 10px;
                                border-radius: 5px;
                                border: 2px solid var(--dark15);
                            }
                        }


                    }
                }
            }
        }
    }
}
