@if (channelPartnersEnabled) {
    @if (fsmStates.confirmAccount !== fsmState$$() && fsmStates.error !== fsmState$$()) {
        <nx-auth-header [viewType]="viewType">{{ 'Connect system to' | translate }}</nx-auth-header>
    }
    <main>
        <div
            class="d-flex flex-grow-1 align-items-center flex-column"
            [ngSwitch]="fsmState$$()"
        >
            @switch (fsmState$$()) {
                @case (fsmStates.initial) {
                    <nx-select-bind-type
                        [orgs]="orgs$$()"
                        (bindSelection)="setBindType($event)"
                    ></nx-select-bind-type>
                }
                @case (fsmStates.selectOrg) {
                    <nx-select-org
                        [orgs]="orgs$$()"
                        (selectedOrg)="selectedOrg = $event"
                    ></nx-select-org>
                }
                @case (fsmStates.error) {
                    <nx-bind-error-state></nx-bind-error-state>
                }
                @case (fsmStates.confirmAccount) {
                    <svg-icon
                        nx-add-svg-src
                        [ngStyle]="{ 'minWidth.px': '280', 'minHeight.px': '64' }"
                        [src]="
                            icons.dirSectionPlaceholder +
                            'cloud_header' +
                            (viewType === 'web' ? '' : '_desktop') +
                            '.svg'
                        "
                        [svgStyle]="{ 'width.px': '320', 'height.px': '64' }"
                        [applyClass]="true"
                    ></svg-icon>
                    <h3 class="authorize-header">{{ 'Connect system to' | translate }}</h3>
                    {{ state$$().email }}
                }
            }
        </div>
        <nx-auth-footer
            [buttonText]="fsmState$$() !== fsmStates.error ? 'Connect' : 'Try Again'"
            [bindProcess]="bindSystem"
            [blockBack]="fsmState$$() === fsmStates.finished"
            [readyToBind]="readyToBind$$() && fsmState$$() !== fsmStates.finished"
            [viewType]="viewType"
            (goBack)="back()"
        ></nx-auth-footer>
    </main>
} @else {
    <nx-pre-loader></nx-pre-loader>
}
