@if (fsmState$$()) {
    @if (![fsmStates.confirmAccount, fsmStates.error, fsmStates.orgPromo].includes(fsmState$$())) {
        <nx-auth-header [viewType]="viewType">{{ 'Connect system to' | translate }}</nx-auth-header>
    } @else if (fsmStates.orgPromo === fsmState$$()) {
        <nx-auth-header [viewType]="viewType">{{
            'Introducing Organizations' | translate
        }}</nx-auth-header>
    }
    <main>
        <div
            class="d-flex flex-grow-1 align-items-center flex-column"
            [ngSwitch]="fsmState$$()"
        >
            @switch (fsmState$$()) {
                @case (fsmStates.initial) {
                    <nx-select-bind-type
                        [orgs]="orgs$$()"
                        (bindSelection)="setBindType($event)"
                    ></nx-select-bind-type>
                }
                @case (fsmStates.selectOrg) {
                    <nx-select-org
                        [orgs]="orgs$$()"
                        (selectedOrg)="selectedOrg = $event"
                    ></nx-select-org>
                }
                @case (fsmStates.error) {
                    <nx-bind-error-state></nx-bind-error-state>
                }
                @case (fsmStates.confirmAccount) {
                    <svg-icon
                        nx-add-svg-src
                        [ngStyle]="{ 'minWidth.px': '280', 'minHeight.px': '64' }"
                        [src]="icons.dirSectionPlaceholder + 'cloud_header.svg'"
                        [svgStyle]="{ 'width.px': '320', 'height.px': '64' }"
                        [applyClass]="true"
                    ></svg-icon>
                    <h3 class="h3 authorize-header">{{ 'Connect system to' | translate }}</h3>
                    {{ state$$().email }}
                }
                @case (fsmStates.orgPromo) {
                    <nx-org-promo></nx-org-promo>
                }
            }
        </div>
        @if (fsmState$$() !== fsmStates.orgPromo) {
            <nx-auth-footer
                [buttonText]="fsmState$$() !== fsmStates.error ? 'Connect' : 'Try Again'"
                [bindProcess]="bindSystem"
                [blockBack]="fsmState$$() === fsmStates.finished"
                [readyToBind]="readyToBind$$() && fsmState$$() !== fsmStates.finished"
                [viewType]="viewType"
                (goBack)="back()"
            >
                @if (fsmState$$() === fsmStates.confirmAccount) {
                    <div
                        class="org-promo-button"
                        (click)="fsmState = fsmStates.orgPromo"
                    >
                        <svg-icon
                            nx-add-svg-src
                            [applyClass]="true"
                            [src]="icons.dirTextButtons + 'organization_outline.svg'"
                            [svgStyle]="{
                                marginTop: '-2px',
                                marginRight: '4px',
                                width: '20px',
                                height: '20px'
                            }"
                        ></svg-icon>
                        <span translate>Connect to Organization</span>
                    </div>
                }
            </nx-auth-footer>
        } @else {
            <footer
                [ngClass]="{
                    'footer-w': viewType === 'web',
                    'footer-d': viewType === 'desktop',
                    'footer-m': viewType === 'mobile'
                }"
            >
                <div class="d-flex justify-content-end flex-1 w-100 right">
                    <button
                        class="btn btn-primary"
                        (click)="back()"
                        translate
                    >
                        Back
                    </button>
                </div>
            </footer>
        }
    </main>
} @else {
    <nx-pre-loader></nx-pre-loader>
}
