<!-- <nx-pre-loader *ngIf=""></nx-pre-loader> -->
<header>
    <svg-icon nx-add-svg-src 
        [src]="CONFIG.icons.dirSectionPlaceholder + CONFIG.isLocal ? 'local_header' : 'cloud_header' + '.svg'" 
        [svgStyle]="{'width.px': 320, 'height.px': 80}"
        [applyClass]="true"></svg-icon>
    <h3>{{ header }}</h3>
    <span class="sub-header">{{ subHeader }}</span>
    <span class="account-email">{{loginEmail}}</span>
</header>
<main>
    <label for="authorizePassword" translate>Password</label>
    <input
        type="password"
        id="authorizePassword"
        [ngClass]="{ 'invalid-state': password.invalid && (password.dirty || password.touched) }"
        [(ngModel)]="loginPassword"
        #password="ngModel"
        autocomplete="password"
        nxFocusMe>
    <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
        <p *ngIf="password.errors.required" class="error-label" translate>Enter password</p>
        <p *ngIf="password.errors.wrongPassword" class="error-label" translate>Wrong password</p>
        <p *ngIf="password.errors.lockedOut" class="error-label" translate>Too many attempts. Try again in a minute.</p>
    </ng-container>
    <nx-checkbox
        name="stayLoggedIn"
        componentId="stayLoggedIn">
    </nx-checkbox>
    <!-- [(ngModel)]="stayLoggedIn"
    #stayLoggedIn="ngModel"
    description="stayLoggedInHelpBlock"> -->
</main>
<footer>
    <button class="btn svg-icon" type="button">
        <!-- (click)="forgotPassword()" -->
        <svg-icon nx-add-svg-src 
            [src]="CONFIG.icons.dir + 'question.svg'"
            [svgStyle]="{'width.px': 24, 'height.px': 24}"
            [applyClass]="true"></svg-icon>
        <span translate>Forgot Password?</span>
    </button>
    <button *ngIf="!['renewSessionWeb', 'renewSessionDesktop'].includes(clientType)" class="btn svg-icon" type="button">
        <!-- (click)="goBack()"  -->
        <svg-icon nx-add-svg-src
            [src]="CONFIG.icons.dir + 'arrow_back_button.svg'"
            [svgStyle]="{'width.px': 24, 'height.px': 20}"
            [applyClass]="true"></svg-icon>
        <span translate>Back</span>
    </button>
    <nx-process-button
        buttonText="{{ 'Log In' | translate }}"
        [clickFn]="sendPassword"
        [process]="passwordProcess"
        svg="arrow_right">
    </nx-process-button>
</footer>