@use '../../../styles/typography';
@use '../../../styles/mixins';
@use '../../../../styles/theme_variables' as *;

main.main-d, main.main-m {
    div label {
        color:$light4 !important;
    }
}
.password-input {
    position: relative;
    input {
        width: 100%;
    }
    .input-addon {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 12px;
    }
}
