<!-- <nx-pre-loader *ngIf=""></nx-pre-loader> -->
<header>
    <svg-icon nx-add-svg-src 
        [src]="CONFIG.icons.dir + 'cloud-header.svg'" 
        [svgStyle]="{'width.px': 24, 'height.px': 24}"
        [applyClass]="true"></svg-icon>
    <h3>{{loginCloud}}</h3>
    <span class="sub-header" translate>As</span>
    <span class="account-password">{{accountEmail}}</span>
</header>
<main>
    <input type="password">
    <nx-checkbox
        name="stayLoggedIn"
        componentId="stayLoggedIn">
    </nx-checkbox>
    <!-- [(ngModel)]="stayLoggedIn"
    #stayLoggedIn="ngModel"
    description="stayLoggedInHelpBlock"> -->
</main>
<footer>
    <button class="btn svg-icon" type="button">
        <!-- (click)="forgotPassword()" -->
        <svg-icon nx-add-svg-src 
            [src]="CONFIG.icons.dir + 'question.svg'" 
            [svgStyle]="{'width.px': 24, 'height.px': 24}"
            [applyClass]="true"></svg-icon>
        <span translate>Forgot Password?</span>
    </button>
    <button class="btn svg-icon" type="button">
        <!-- (click)="goBack()"  -->
        <svg-icon nx-add-svg-src [src]="CONFIG.icons.dir + 'arrow_left.svg'" [applyClass]="true"></svg-icon>
        <span translate>Back</span>
    </button>
    <nx-process-button
        buttonText="{{ 'Log In' | translate }}"
        [process]="passwordProcess"
        svg="arrow_right">
    </nx-process-button>
    <!-- [clickFn]="passwordNext"
    [form]="passwordForm"  -->
</footer>