
<div class="container"
     [ngbPopover]="popLegend"
     placement="bottom"
     [openDelay]="300"
     [closeDelay]="500"
     triggers="click">

    <div class="total-label">{{totalSpaceLabel}}</div>
    <div class="bar reserved" [style.width.%]="reservedPercentage"></div>
    <div class="bar available" [style.width.%]="availPercentage"></div>
    <div class="bar archive" [style.width.%]="archivePercentage"></div>
    <div class="bar used" [style.width.%]="usedPercentage"></div>
</div>

<ng-template #popLegend>
    <table class="table-legend">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td class="table-legend-title" translate>Size</td>
                <td class="table-legend-size">{{totalSpaceLabel}}</td>
            </tr>
            <tr>
                <td class="table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box used" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Other data</td>
                <td class="table-legend-size">{{used}}</td>
            </tr>
            <tr>
                <td class="table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box archive" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>VMS</td>
                <td class="table-legend-size">{{archive}}</td>
            </tr>
            <tr>
                <td class="table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box reserved" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Reserved</td>
                <td class="table-legend-size">{{reserved}}</td>
            </tr>
            <tr>
                <td class="table-legend-marker">
                    <svg width="16" height="16">
                        <rect class="box available" x="0" y="0" rx="4" ry="4" width="16" height="16"/>
                    </svg>
                </td>
                <td class="table-legend-title" translate>Available</td>
                <td class="table-legend-size">{{available}}</td>
            </tr>
        </tbody>
    </table>
</ng-template>
