<div class="col-12 p-0">
    <nx-block>
        <header>Group Inputs</header>
        <nx-section>
            <form class="form" #groupForm="ngForm" novalidate>
                <div class="inputs d-block d-md-table w-100 mw-100">
                    <div class="form-group d-block d-md-table-row mb-2">
                        <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                            <label for="group-name" class="control-label m-0 pb-md-2">Group Name</label>
                        </div>
                        <div class="d-block d-md-table-cell">
                            <div class="row pb-md-2">
                                <div class="col-12 col-md-7 pb-2 pb-md-0">
                                    <input id="group-name"
                                           name="groupName"
                                           class="form-control"
                                           [(ngModel)]="group.name"
                                           #groupName="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-block d-md-table-row mb-2">
                        <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                            <label for="group-id" class="control-label m-0 pb-md-2">Group Id</label>
                        </div>
                        <div class="d-block d-md-table-cell">
                            <div class="row pb-md-2">
                                <div class="col-12 col-md-7 pb-2 pb-md-0">
                                    <input id="group-id"
                                           name="groupId"
                                           class="form-control"
                                           [(ngModel)]="group.groupId" #groupId="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-block d-md-table-row mb-2">
                        <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                            <label for="target-group-id" class="control-label m-0 pb-md-2">Target Group ID (Moving Groups to Group)</label>
                        </div>
                        <div class="d-block d-md-table-cell">
                            <div class="row pb-md-2">
                                <div class="col-12 col-md-7 pb-2 pb-md-0">
                                    <input id="target-group-id"
                                           class="form-control"
                                           name="targetId"
                                           [(ngModel)]="group.targetId"
                                           #targetId="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-block d-md-table-row mb-2">
                        <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                            <label for="target-system-id" class="control-label m-0 pb-md-2">System ID (Moving System to Group)</label>
                        </div>
                        <div class="d-block d-md-table-cell">
                            <div class="row pb-md-2">
                                <div class="col-12 col-md-7 pb-2 pb-md-0">
                                    <input id="target-system-id"
                                           class="form-control"
                                           name="systemId"
                                           [(ngModel)]="group.systemId"
                                           #systemId="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </nx-section>

        <nx-section>
            <div class="d-flex justify-content-between">
                <button (click)="sendGroupAction('create')">Create group</button>
                <button (click)="sendGroupAction('delete')">Delete group</button>
                <button (click)="sendGroupAction('moveSystem')">Move system to group</button>
                <button (click)="sendGroupAction('moveGroup')">Move group to group</button>
                <button (click)="sendGroupAction('list')">Update list</button>
            </div>
        </nx-section>
    </nx-block>
</div>
<div class="col-12 p-0 mt-2">
    <nx-block>
        <header>Aggregate Url</header>
        <nx-section>
            <form class="form" #aggregatorForm="ngForm" novalidate>
                <div class="inputs d-block d-md-table w-100 mw-100">
                    <div class="form-group d-block d-md-table-row mb-2">
                        <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                            <label for="aggregate-url" class="control-label m-0 pb-md-2">Url</label>
                        </div>
                        <div class="d-block d-md-table-cell">
                            <div class="row pb-md-2">
                                <div class="col-12 col-md-7 pb-2 pb-md-0">
                                    <input id="aggregate-url"
                                           class="form-control"
                                           name="aggregateUrl"
                                           [(ngModel)]="aggregate.url"
                                           #aggregateUrl="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-block d-md-table-row mb-2">
                        <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                            <label for="aggregate-group-id" class="control-label m-0 pb-md-2">Aggregate Group Id</label>
                        </div>
                        <div class="d-block d-md-table-cell">
                            <div class="row pb-md-2">
                                <div class="col-12 col-md-7 pb-2 pb-md-0">
                                    <input id="aggregate-group-id"
                                           class="form-control"
                                           name="aggregateGroupId"
                                           [(ngModel)]="aggregate.groupId"
                                           #aggregateGroupId="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-block d-md-table-row mb-2">
                        <div class="label d-block d-md-table-cell text-nowrap text-right pr-md-2 pb-2 pb-md-0">
                            <label for="aggregate-method" class="control-label m-0 pb-md-2">Request Method</label>
                        </div>
                        <div class="d-block d-md-table-cell">
                            <div class="row pb-md-2">
                                <div class="col-12 col-md-7 pb-2 pb-md-0">
                                    <input id="aggregate-method"
                                           class="form-control"
                                           name="aggregateMethod"
                                           [(ngModel)]="aggregate.method"
                                           #aggregateMethod="ngModel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </nx-section>
        <nx-section>
            <div class="d-flex justify-content-between">
                <button (click)="sendAggregateAction('aggregateSystemsRequest')">All systems</button>
                <button (click)="sendAggregateAction('aggregateRequestByGroup')">All systems in a group</button>
            </div>
        </nx-section>
    </nx-block>
</div>

<div class="col-12 p-0 mt-2">
    <nx-block>
        <header>Socket Data</header>
        <nx-section>
            <pre [innerText]="socketData | json"></pre>
        </nx-section>
    </nx-block>
</div>

<div class="col-12 p-0 mt-2">
    <nx-block>
        <header>System Groups</header>
        <nx-section>
            <pre [innerText]="systemGroups | json"></pre>
        </nx-section>
    </nx-block>
</div>
