@import '../../styles/buttons';

.container {
  max-width: 991px;
  padding: 0 16px;
}

.button {
  margin: 48px auto;
}

.btn {
  font-size: 16px;
  font-family: $font-family-medium;
  height: 40px;
  padding: 0 25px;
}
