@import '../../styles/buttons';
@import '../../styles/typography';

.container {
  max-width: 991px;
  padding: 0 16px;
}

.button {
  margin: 48px auto;
}

.btn {
  @extend #medium15;
  height: 40px;
  padding: 0 25px;
}
