@use '../../styles/typography';
@import '../../styles/buttons';

.container {
  max-width: 991px;
  padding: 0 16px;
}

.button {
  margin: 48px auto;
}

.btn {
  @include typography.medium15dark9;
  height: 40px;
  padding: 0 25px;
}
