:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: calc(100vh - 50px);

  > aside {
    width: 300px;
    flex-shrink: 0;
    flex-grow: 0;

    > .server {
      margin: .5em 0;

      > h2 {
        color: var(--light1) !important;
        background-color: var(--dark1);
      }

      > .cameras {
        min-height: 2em;
        border: 1px solid var(--dark1);

        > a {
          display: block;
          padding: .5em 0;
        }
      }
    }
  }

  > main {
    flex-grow: 1;
  }
}
