<div class="row auth-visible">
    <div class="col-12 loader-div" *ngIf="!selectedServer">
        <nx-pre-loader type="wrapper"></nx-pre-loader>
    </div>
    <div class="col-12 server-info" *ngIf="selectedServer">
        <nx-block header-style="extended">
            <header>
                <div class="header-top-bar d-flex justify-content-start">
                    <div class="header-title">
                        <h2>{{ selectedServer.name }}</h2>
                    </div>
                </div>
                <div class="header-table col-7">
                    <div class="header-table-cell">
                        <span class="mr-2 cell-title" translate>IP</span>
                        <span class="cell-ellipsis"></span>
                        <span class="col-9">{{ selectedServer.ip || '-' }}</span>
                    </div>
                    <div class="header-table-cell">
                        <span class="mr-2 cell-title" translate>OS</span>
                        <span class="cell-ellipsis"></span>
                        <span class="col-9">{{ selectedServer.osName || '-' }}</span>
                    </div>
                    <div class="header-table-cell">
                        <span class="mr-2 cell-title" translate>Version</span>
                        <span class="cell-ellipsis"></span>
                        <span class="col-9">{{ selectedServer.version || '-' }}</span>
                    </div>
                </div>
            </header>
        </nx-block>

        <nx-server-advanced-storage-component [system]="system"></nx-server-advanced-storage-component>

        <nx-server-advanced-logger-component [system]="system" [serverId]="this.selectedServer.id"></nx-server-advanced-logger-component>

        <nx-server-advanced-settings-component [system]="system" [serverId]="this.selectedServer.id"></nx-server-advanced-settings-component>

    </div>
</div>
