@import "theme_variables_common";


@mixin font-source($font-family, $size, $color: false, $weight: false, $lh: false) {
    font-family: $font-family;
    font-size: $size  !important;

    @if $color {
        color: $color  !important;
    }

    @if $weight {
        font-weight: $weight  !important;
    }

    @if $lh {
        line-height: $lh  !important;
    }
}

@mixin placeholder {
    @include font-source($font-family-regular, $font-size-base, $light17);
}


h1,
h2 {
    @include font-source($font-family-medium, $h1-font-size);
    color: var(--h1);
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
    padding: 0;
    display: flex;
    align-items: center;
}

.old-h12 {
    @include font-source($font-family-light, rem(22px), var(--h1));
    line-height: rem(26px);
}

h2 {
    @include font-source($font-family-medium, $h2-font-size, var(--h2));
    margin: 0;
    padding: 0;
}

h3 {
    @include font-source($font-family-medium, $h3-font-size, var(--h3));
    margin-top: ($line-height-computed * 0.5);
    margin-bottom: ($line-height-computed * 0.25);
}

h4 {
    @include font-source($font-family-medium, $h4-font-size, var(--h4));
}

h5 {
    @include font-source($font-family-medium, $h5-font-size, var(--h5));
}

h6 {
    @include font-source($font-family-medium, $h6-font-size, var(--h6));
}

.h7 {
    @include font-source($font-family-regular, $h6-font-size, var(--h7));
}

h1>.label {
    font-size: 60%;
    vertical-align: 33%;
}

p {
    margin-bottom: 0.5rem;
}

// Font mixins work like so [family][size][color modifier](-transparency modifier)

// LIGHT
@mixin light13light16 {
    @include font-source($font-family-light, $font-size-base, $light16);
}

@mixin light14light16 {
    @include font-source($font-family-light, $h5-font-size, $light16);
}

@mixin light15light16 {
    @include font-source($font-family-light, $h4-font-size, $light16);
}

@mixin light18light16 {
    @include font-source($font-family-light, $h3-font-size, $light16);
}

@mixin light18light10 {
    @include font-source($font-family-light, $h3-font-size, $light10);
}

@mixin light40light16 {
    @include font-source($font-family-light, $font-size-xxxlg, $light16);
}

@mixin light40light10 {
    @include font-source($font-family-light, $font-size-xxxlg, $light10);
}

// LIGHT

// REGULAR
@mixin regular11error {
    @include font-source($font-family-regular, $font-size-ssm, var(--error));
}

@mixin regular11dark9 {
    @include font-source($font-family-regular, $font-size-ssm, $dark9);
}

@mixin regular11nocolor {
    @include font-source($font-family-regular, $font-size-ssm, false, 400);
}

@mixin regular11light16 {
    @include font-source($font-family-regular, $font-size-ssm, $light16);
}

@mixin regular11light8 {
    @include font-source($font-family-regular, $font-size-ssm, $light8);
}

@mixin regular12dark9 {
    @include font-source($font-family-regular, $font-size-sm, $dark9);
}

@mixin regular12nocolor {
    @include font-source($font-family-regular, $font-size-sm);
}

@mixin regular12light {
    @include font-source($font-family-regular, $font-size-sm, $light16);
}

@mixin regular12light12 {
    @include font-source($font-family-regular, $font-size-sm, $light12);
}

@mixin regular12light16 {
    @include font-source($font-family-regular, $font-size-sm, $light16);
}

@mixin regular12nocolor {
    @include font-source($font-family-regular, $font-size-sm, false, 400);
}

@mixin regular13error {
    @include font-source($font-family-regular, $font-size-base, var(--error));
}

@mixin regular13dark9 {
    @include font-source($font-family-regular, $font-size-base, $dark9);
}

@mixin regular13dark10 {
    @include font-source($font-family-regular, $font-size-base, $dark10);
}

@mixin regular13nocolor {
    @include font-source($font-family-regular, $font-size-base, false, 400);
}

@mixin regular13light {
    @include font-source($font-family-regular, $font-size-base, $light16);
}

@mixin regular13light1 {
    @include font-source($font-family-regular, $font-size-base, $light1);
}

@mixin regular13light8 {
    @include font-source($font-family-regular, $font-size-base, $light8);
}

@mixin regular13light10 {
    @include font-source($font-family-regular, $font-size-base, $light10);
}

@mixin regular13light16 {
    @include font-source($font-family-regular, $font-size-base, $light16);
}

@mixin regular14light10 {
    @include font-source($font-family-regular, $h5-font-size, $light10);
}

@mixin regular14light4 {
    @include font-source($font-family-regular, $h5-font-size, $light4);
}

@mixin regular14brand {
    @include font-source($font-family-regular, $h5-font-size, var(--brand-core));
}

@mixin regular14dark9 {
    @include font-source($font-family-regular, $h5-font-size, $dark9);
}

@mixin regular14nocolor {
    @include font-source($font-family-regular, $h5-font-size, false, 400);
}

@mixin regular14dark9lh16 {
    @include font-source($font-family-regular, $h6-font-size, $dark9, false, rem(16px));
}

@mixin regular14dark9lh16 {
    @include font-source($font-family-regular, $h6-font-size, $dark9, false, rem(16px));
}

@mixin regular14dark10 {
    @include font-source($font-family-regular, $h5-font-size, $dark10);
}

@mixin regular14light {
    @include font-source($font-family-regular, $h5-font-size, $light16);
}

@mixin regular15dark9 {
    @include font-source($font-family-regular, $h4-font-size, $dark9);
}

@mixin regular11light7 {
    @include font-source($font-family-regular, $h5-font-size, $light7);
}

@mixin regular15light {
    @include font-source($font-family-regular, $h4-font-size, $light16);
}

@mixin regular15nocolor {
    @include font-source($font-family-regular, $h4-font-size, false, 400);
}

@mixin regular16light1 {
    @include font-source($font-family-regular, rem(16px), $light1);
}

@mixin regular16dark10 {
    @include font-source($font-family-regular, rem(16px), $dark10);
}

@mixin regular16nocolor {
    @include font-source($font-family-regular, rem(16px), false, 400);
}

@mixin regular18dark9 {
    @include font-source($font-family-regular, $h3-font-size, $dark9);
}

@mixin regular18nocolor {
    @include font-source($font-family-regular, $h3-font-size, false, 400);
}

@mixin regular20dark9 {
    @include font-source($font-family-regular, $font-size-20, $dark9);
}

@mixin regular20light {
    @include font-source($font-family-regular, $font-size-20, $light16);
}

@mixin regular20nocolor {
    @include font-source($font-family-regular, $font-size-20, false, 400);
}

@mixin regular24dark9 {
    @include font-source($font-family-regular, $font-size-xlg, $dark9);
}

@mixin regular24nocolor {
    @include font-source($font-family-regular, $font-size-xlg, false, 400);
}

// REGULAR

// MEDIUM
@mixin medium11light1 {
    @include font-source($font-family-medium, $font-size-ssm, $light1);
}

@mixin medium11nocolor {
    @include font-source($font-family-medium, $font-size-ssm, false, 500);
}

@mixin medium12dark9 {
    @include font-source($font-family-medium, $font-size-sm, $dark9);
}

@mixin medium12nocolor {
    @include font-source($font-family-medium, $font-size-sm, false, 500);
}

@mixin medium13dark10 {
    @include font-source($font-family-medium, $font-size-base, $dark10);
}

@mixin medium12brand {
    @include font-source($font-family-medium, $font-size-sm, $brand-core);
}

@mixin medium13dark9 {
    @include font-source($font-family-medium, $font-size-base, $dark9);
}

@mixin medium13dark15 {
    @include font-source($font-family-medium, $font-size-base, $dark15);
}

@mixin medium13light {
    @include font-source($font-family-medium, $font-size-base, $light16);
}

@mixin medium13light4 {
    @include font-source($font-family-medium, $font-size-base, $light4);
}

@mixin medium13light1 {
    @include font-source($font-family-medium, $font-size-base, $light1);
}

@mixin medium13light13 {
    @include font-source($font-family-medium, $font-size-base, $light13);
}

@mixin medium13light16 {
    @include font-source($font-family-medium, $font-size-base, $light16);
}

@mixin medium13nocolor {
    @include font-source($font-family-medium, $font-size-base, false, 500);
}

@mixin medium22dark9lh24 {
    @include font-source($font-family-medium, $font-size-22, $dark9, false, rem(24px));
}

@mixin medium22dark9lh24 {
    @include font-source($font-family-medium, $font-size-22, $dark9, false, rem(24px));
}

@mixin medium24 {
    @include font-source($font-family-medium, $font-size-xlg, $font-color-medium);
}

@mixin medium14dark1 {
    @include font-source($font-family-medium, $h5-font-size, $dark1);
}

@mixin medium14dark9 {
    @include font-source($font-family-medium, $h5-font-size, $dark9);
}

@mixin medium14dark10 {
    @include font-source($font-family-medium, $h5-font-size, $dark10);
}

@mixin medium14light1-50 {
    @include font-source($font-family-medium, $h5-font-size, rgba($light1, 0.5));
}

@mixin medium14nocolor {
    @include font-source($font-family-medium, $h5-font-size, false, 500);
}

@mixin medium14light1 {
    @include font-source($font-family-medium, $h5-font-size, $light1);
}

@mixin medium14light16 {
    @include font-source($font-family-medium, $h5-font-size, $light16);
}

@mixin medium15dark9 {
    @include font-source($font-family-medium, $h4-font-size, $dark9);
}

@mixin medium15nocolor {
    @include font-source($font-family-medium, $h4-font-size, false, 500);
}

@mixin medium15dark17 {
    @include font-source($font-family-medium, $h4-font-size, $dark17);
}

@mixin medium16nocolor {
    @include font-source($font-family-medium, rem(16px), false, 500);
}

@mixin medium16dark9 {
    @include font-source($font-family-medium, rem(16px), $dark9);
}

@mixin medium17dark9 {
    @include font-source($font-family-medium, $h3-alt-size, $dark9);
}

@mixin medium18dark1 {
    @include font-source($font-family-medium, $h3-font-size, $dark1);
}

@mixin medium18dark9 {
    @include font-source($font-family-medium, $h3-font-size, $dark9);
}

@mixin medium18nocolor {
    @include font-source($font-family-medium, $h3-font-size, false, 500);
}

@mixin medium20dark9 {
    @include font-source($font-family-medium, $font-size-20, $dark9);
}

@mixin medium20nocolor {
    @include font-source($font-family-medium, $font-size-20);
}

@mixin medium24dark9 {
    @include font-source($font-family-medium, $font-size-xlg, $dark9);
}

@mixin medium24light1 {
    @include font-source($font-family-medium, $font-size-xlg, $light1);
}

@mixin medium24nocolor {
    @include font-source($font-family-medium, $font-size-xlg, false, 500);
}

@mixin medium32dark9 {
    @include font-source($font-family-medium, $font-size-xxlg, $dark9);
}

@mixin medium32nocolor {
    @include font-source($font-family-medium, $font-size-xxlg, false, 500);
}

@mixin medium14blue1 {
    @include font-source($font-family-medium, $h5-font-size, $blue1);
}

// MEDIUM

// BOLD
@mixin bold13dark9 {
    @include font-source($font-family-bold, $font-size-base, $dark9);
}

@mixin bold13dark9nocolor {
    @include font-source($font-family-bold, $font-size-base, false, 700);
}

@mixin bold16dark9 {
    @include font-source($font-family-bold, rem(16px), $dark9);
}

@mixin bold16nocolor {
    @include font-source($font-family-bold, rem(16px), false, 700);
}

// BOLD

// since we use specific fonts <b> and <strong> have no effect on "roboto-regular"
b,
strong {
    font-family: $font-family-bold  !important;
}