<div class="container" *ngIf="canViewRelease">
    <h1 translate>Release notes</h1>

    <div class="col-12 p-0" style="min-height: 80px;">
        <nx-pre-loader *ngIf="!activeBuilds"></nx-pre-loader>

        <div class="tab-set" *ngIf="tabsVisible">
            <ul class="tab-list">
                <li *ngFor="let type of noteTypes"
                    class="tab-item"
                    (click)="switchTo(type)">
                    <a href class="tab-link"
                       [ngClass]="{'active': currentTab === type }">
                        <span class="tab-heading" [textContent]="LANG.downloads.releasesTypes[type]() || type.name"></span>
                    </a>
                </li>
            </ul>
            <div class="card card-default">
                <div class="card-body" *ngIf="activeBuilds">
                    <div *ngFor="let release of activeBuilds">
                        <nx-release [LANG]="LANG"
                                    [build]="build || (release.backwardsCompatible ? release.version : release.buildNumber)"
                                    [linkbase]="linkbase"
                                    [release]="release"></nx-release>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nx-footer></nx-footer>
</div>
