@use '../../../styles/theme_variables' as *;
@use '../../styles/typography';
:host {
    display: flex;
}

a.btn.btn-default {
    @include typography.regular13nocolor;
    color: $light16 !important;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    box-shadow: none !important;

    &:not(:first-of-type) {
        margin-left: 6px;
    }

    &.active-page, &.active-page:hover {
        background: $light16 !important;
        color: $light1 !important;
    }

    &.page-num-btn {
        width: 32px;
    }

    &.disabled {
        position: relative;
        cursor: not-allowed;
        background: transparent !important;
        &:after {
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            border: 1px solid $light10;
        }
    }
    
}
