<a *ngIf="showPrevNext"
    [routerLink]="[]"
    [queryParams]="{page: (page$ | async) - 1 || tempDisabled}"
    queryParamsHandling="merge"
    [ngClass]="{'disabled': (page$ | async) === 1}"
    class="btn btn-default" translate>Previous</a>
<a *ngFor="let page of (pages$ | async)"
    [routerLink]="[]"
    [queryParams]="{page: page || (page$ | async) + pagesToShow - 1}"
    queryParamsHandling="merge"
    [ngClass]="{'active-page': (page$ | async) === page, 'disabled': tempDisabled}"
    class="btn btn-default page-num-btn">{{page || '...'}}</a>
<a *ngIf="showPrevNext"
    [routerLink]="[]"
    [queryParams]="{page: (page$ | async) + 1}"
    queryParamsHandling="merge"
    [ngClass]="{'disabled': (page$ | async) === (numPages$ | async) || tempDisabled}" 
    class="btn btn-default" translate>Next</a>