@use "../../../../styles/typography";
@use "../../../../../styles/theme_variables_common" as *;

.menu-level-one {
    display: flex;
    margin-left: 12px;
    height: 40px;
    .menu-item {
        @extend .header-button;
        margin: 8px 0px;
        border: none !important;
        text-transform: uppercase;

        &.active {
            color: var(--header-level-one-active-color);
            background-color: var(--header-level-one-active-bg);
        }
    }

    .auth-section {
        @extend .header-button;
        margin: 8px 4px 8px auto;
    }
}

.header-button {
    @include typography.regular13nocolor;
    color: var(--light13);
    height: 25px !important;
}