@use "../../../../styles/typography";
@use "../../../../../styles/theme_variables_common" as *;

.menu-level-one {
    display: flex;
    margin-left: 12px;
    height: 40px;
    .menu-item {
        height: 25px !important;
        white-space: nowrap;
        @extend .header-button;
        margin: 8px 0px;
        border: none !important;
        border-radius: 4px !important;
        text-transform: uppercase;

        &.active {
            color: var(--header-level-one-active-color);
            background-color: var(--header-level-one-active-bg);
        }
    }

    .auth-section {
        white-space: nowrap;
        @extend .header-button;
        min-height: 24px;
        margin: 5px 4px 8px auto;
        .user-section {
            text-decoration: inherit;
            color: inherit;
            .user-svg-wrapper {
                display: inline-flex;
                position: relative;
                bottom: 3px;
                width: 24px;
                height: 24px;
                margin-right: 3px;
                background: var(--header-profile-bg);
                border-radius: 50%;

                .user-svg {
                    margin-left: 2px;
                    .st0 {
                        fill:  var(--header-profile-icon) !important;
                        stroke:  var(--header-profile-icon) !important;
                    }
                }
            }
            &.logged-in {
                margin-top: 5px;
            }
            .displayed-name {
                margin-top: 1px;
            }
            .dropdown-arrow {
                position: relative;
                left: 2px;
            }
        }
    }
}

.header-button {
    @include typography.regular13nocolor;
    color: var(--light13);
}
