<div class="menu-level-one">
    <ng-container *ngFor="let node of menuNodes">
        <button
            (click)="handleNavigation(node, $event); onNodeSelect(node)"
            [ngClass]="{ active: node?.name === selectedNode?.name }"
            class="menu-item btn btn-menu"
        >
            {{ node.display_name }}
        </button>
    </ng-container>
    <nx-account-settings-select *ngIf="loggedIn"></nx-account-settings-select>
    <a  *ngIf="!loggedIn" [href]="headerService.createUrl | unsafe" class="create-account" translate>
            CREATE ACCOUNT
    </a>
</div>
