@use "../../../styles/typography";
@use "../../../../styles/theme_variables_common" as *;

.system-message {
    border: 1px solid;
    padding: 0.5rem 1rem;
    text-align: center;
}

.system-message {
    &-warning {
        @extend .system-message;
        border-color: var(--ribbon-alert-border);
        background-color: var(--ribbon-alert-bg);
    }

    &-error {
        @extend .system-message;
        border-color: #e67979;
        background-color: transparentize($red_l1, 0.6);
    }
}
