<!--<nx-pre-loader type="page" *ngIf="!pagedItems"></nx-pre-loader>-->
<div class="nx-table-wrapper" id="nx-table">
    <div *ngIf="tableHeader" class="table-header" [innerText]="tableHeader"></div>
    <div class="table-wrapper">
        <table class="table table-hover nx-table">
            <thead>
                <tr class="header-groups">
                    <th *ngFor="let headerGroup of headers.values; index as index;"
                        [colSpan]="headerGroup.values.length">
                        <div *ngIf="headerGroup.name"
                             [ngClass]="'group-' + ((index - 2) % 6 + 1)"
                             [innerText]="headerGroup.name"></div>
                    </th>
                </tr>
                <tr>
                    <ng-container *ngFor="let headerGroup of headers.values">
                        <th *ngFor="let header of headerGroup.values" class="align-bottom"
                            (click)="toggleSort(headerGroup.id, header.id)">
                            <div class="caption d-flex">
                                <div class="ellipsis" [innerHTML]="header.name"></div>
                                <div class="sort-dir nav-arrow"
                                     [style.visibility]="(header.id == selectedHeader) ? 'visible' : 'hidden'"
                                     [ngClass]="{'up': !sortOrderASC}">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
<!--                <tr class="table-row-spacer"></tr>-->
                <tr *ngFor="let item of pagedItems"
                    [ngClass]="{'selected': item == selectedEntity}"
                    (click)="setClickedRow(item);">
                    <ng-container *ngFor="let headerGroup of headers.values; first as firstGroup">
                        <ng-container *ngFor="let header of headerGroup.values; first as firstHeader">
                            <td *ngIf="item[headerGroup.id] && item[headerGroup.id][header.id]; else noValue"
                                [title]="item[headerGroup.id][header.id].tooltip || ''">
                                <span *ngIf="firstGroup && firstHeader && item[headerGroup.id][header.id].icon"
                                      [innerText]="item[headerGroup.id][header.id].icon"></span>
                                <span [innerText]="[undefined, ''].indexOf(item[headerGroup.id][header.id].text) === -1
                                ? item[headerGroup.id][header.id].text : '–'"
                                      [ngClass]="item[headerGroup.id][header.id].class">
                                </span>
                            </td>
                            <ng-template #noValue><td>–</td></ng-template>
                        </ng-container>
                    </ng-container>
                </tr>
<!--                <tr class="table-row-spacer"></tr>-->
            </tbody>
        </table>
    </div>

    <div class="vertical-align ml-0 clearfix">
        <nav aria-label="Cameras table navigation" class="pagination-nav pt-3 pb-3">
            <ngb-pagination
                    [collectionSize]="elements.length"
                    [maxSize]="pagerMaxSize"
                    [pageSize]="pageSize"
                    [page]="currentPage"
                    (pageChange)="setPage($event, true)"></ngb-pagination>
        </nav>
    </div>
</div>
