<nx-block type="mt-3">
    <header>
        <h4 translate>Log settings</h4>
    </header>
    <nx-section>
        <form class="form" role="form" name="logLevels" novalidate>
            <div *ngFor="let log of systemLoggers | keyvalue" class="form-group row">
                <label class="col-12 col-md-5 m-0 d-flex align-items-start justify-content-center flex-column item">{{log.key}} log level</label>
                <div class="col-11 col-md-7">
                    <nx-select [id]="log.key"
                               [name]="log.key"
                               [items]="loggerOptions"
                               [ngModel]="systemLoggers[log.key]"
                               (ngModelChange)="changeLog($event, log.key)"
                               [selected]="systemLoggers[log.key].selected">
                    </nx-select>
                </div>
            </div>
            <div class="col-12 p-0 pt-3">
                <button class="btn btn-primary" ng-click="changeLogLevels()">Save</button>
            </div>
        </form>
    </nx-section>
</nx-block>
