<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<div class="authorize-main" [ngClass]="{ 'main-w': viewType === 'web', 'main-d': viewType === 'desktop', 'main-m': viewType === 'mobile' }">
    <div class="auth-window" [ngSwitch]="currentState"
        [ngClass]="{ 'window-w': viewType === 'web', 'window-d': viewType === 'desktop', 'window-m': viewType === 'mobile' }"
    >
        <nx-authorize-not-secure-component
            *ngSwitchCase="AuthorizeState.notSecure"
            [viewType]="viewType"
            [loginEmail]="loginEmail"
            [redirectUrl]="initialData.redirect_url"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-not-secure-component>
        <nx-authorize-email-component
            *ngSwitchCase="AuthorizeState.email"
            [clientType]="clientType"
            [viewType]="viewType"
            [(loginEmail)]="loginEmail"
            [emailProcess]="checkEmailProcess"
            [errorCode]="emailErrorCode"
            [reactivate]="reactivate"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-email-component>
        <nx-authorize-password-component
            *ngSwitchCase="AuthorizeState.password"
            [clientType]="clientType"
            [viewType]="viewType"
            [smallView]="windowSmallEnough"
            [loginEmail]="loginEmail"
            [emailLocked]="emailLocked"
            [(loginPassword)]="loginPassword"
            [passwordProcess]="loginProcess"
            [errorCode]="passwordErrorCode"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-password-component>
        <!-- (isStayingLoggedIn)="stayingLoggedIn($event)" likely to be removed -->
        <nx-authorize-create-account-component
            *ngSwitchCase="AuthorizeState.create"
            [viewType]="viewType"
            [smallView]="windowSmallEnough"
            [loginEmail]="loginEmail"
            [fromInvite]="action === 'register'"
            [footerItems]="footerItems"
            [(accountInfo)]="accountInfo"
            [createAccountProcess]="createProcess"
            [errorCode]="createErrorCode"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-create-account-component>
        <nx-authorize-activate-account-component
            *ngSwitchCase="AuthorizeState.activate"
            [viewType]="viewType"
            [smallView]="windowSmallEnough"
            [loginEmail]="loginEmail"
            (setCurrentState)="setCurrentState($event)"
            [checkActivationProcess]="checkEmailProcess"
            [checkIfActivated]="checkIfActivated"
            [loginProcess]="loginPostExternalProcess"
            [activated$]="activated$"
            [fromEmail$]="fromEmail$"
        ></nx-authorize-activate-account-component>
        <nx-authorize-confirmation-component
            *ngSwitchCase="AuthorizeState.confirm"
            [viewType]="viewType"
            [clientType]="clientType"
            [confirm]="redirect"
        ></nx-authorize-confirmation-component>
        <nx-authorize-reset-request-component
            *ngSwitchCase="AuthorizeState.request"
            [viewType]="viewType"
            [smallView]="windowSmallEnough"
            [confirm]="confirmRequest"
            [(resetEmail)]="resetPasswordEmail"
            [loginEmail]="loginEmail"
            [resetRequestProcess]="resetRequestProcess"
            [errorCode]="resetRequestErrorCode"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-reset-request-component>
        <nx-authorize-reset-password-component
            *ngSwitchCase="AuthorizeState.reset"
            [viewType]="viewType"
            [confirm]="confirmReset"
            [loginEmail]="loginEmail"
            [(password)]="resetPassword"
            [newPasswordProcess]="resetPasswordProcess"
            [loginProcess]="loginPostExternalProcess"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-reset-password-component>
        <nx-authorize-auth-code-component
            *ngSwitchCase="AuthorizeState.auth"
            [viewType]="viewType"
            [clientType]="clientType"
            [smallView]="windowSmallEnough"
            [action]="action"
            [loginEmail]="loginEmail"
            [(code)]="authCode"
            [checkAuthCodeProcess]="checkAuthCodeProcess"
            [errorCode]="authCodeErrorCode"
            [window]="window"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-auth-code-component>
        <nx-authorize-backup-code-component
            *ngSwitchCase="AuthorizeState.backup"
            [viewType]="viewType"
            [clientType]="clientType"
            [smallView]="windowSmallEnough"
            [loginEmail]="loginEmail"
            [(code)]="backupCode"
            [checkBackupCodeProcess]="checkBackupCodeProcess"
            [errorCode]="backupCodeErrorCode"
            [window]="window"
            (setCurrentState)="setCurrentState($event)"
        ></nx-authorize-backup-code-component>
    </div>
    <div class="auth-overlay" *ngIf="errorDialog$.value">
        <div class="auth-window" [ngClass]="{ 'window-w': viewType === 'web', 'window-d': viewType === 'desktop', 'window-m': viewType === 'mobile' }">
            <nx-authorize-connect-error-component
                [clientType]="clientType"
                [viewType]="viewType"
                [smallView]="windowSmallEnough"
                [processTryAgain]="errorDialogProcess"
                [errorType]="errorType"
                (setCurrentState)="setCurrentState($event)"
            ></nx-authorize-connect-error-component>
        </div>
    </div>
    <div *ngIf="windowLargeEnough" class="auth-footer">
        <ng-container *ngFor="let footerItem of footerItems; let last = last">
            <a [href]="footerItem.url" target="_blank">{{footerItem.name}}</a>
            <span *ngIf="!last" class="dot"></span>
        </ng-container>
    </div>
</div>
