@use '../../../../styles/theme_variables' as *;

.button-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    margin-bottom: 24px;
}

.learn-more-button {
    margin: auto;
    height: 40px;
    border-radius: 4px;
    font-family: $font-family-medium;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: $light3;
    color: $light16
}

.learn-more-button:hover {
    background-color: $light4;
}

.learn-more-button:active {
    background-color: $light5;
}