@use '../../../../styles/typography';
@use '../../../../../styles/theme_variables' as theme_vars;

:host {
    --cards-per-row: 4;
    --card-width: max(calc(100vw / (var(--cards-per-row) + 1)), 250px); // calculates the width required for each card.
    --video-height: calc(var(--card-width) * 9 / 16); // calculates the height required for each card to have a 16:9 aspect ratio.
    width: 100%;
}

.feed .bookmark-card {
    width: var(--card-width);
    background-color: var(--light1);
    border-radius: 10px;
    margin-bottom: 20px;
    header {
        background-color: var(--additional_light1);
        padding: 18px 20px 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 10px 10px 0 0;
        .name {
            font-family: theme_vars.$font-family-bold;
            font-size: theme_vars.$font-size-lg;
        }
    }
    main {
        height: var(--video-height);
        width: var(--card-width);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer {
        padding: 20px 20px 10px 20px;
        nx-tag {
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0 !important;
            }
        }
    }
}

.feed {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
}

.preload-div {
    margin-top: 150px;
}

.video {
    background: black;
    height: 100%;
    width: 100%;
}
