@use "../../../../styles/typography";
@use "../../../../../styles/theme_variables_common" as theme_vars;

.feed .bookmark-card {
    width: 100%;
    background-color: var(--card-header-bg);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 20px;
    
    header {
        background-color: var(--card-header-bg);
        padding: 18px 20px 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-radius: 10px 10px 0 0;
        
        .name {
            font-family: theme_vars.$font-family-bold;
            font-size: theme_vars.$font-size-lg;
        }
    }
    
    main {
        height: 400px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: contain;
            width: 100%;
        }
    }
    footer {
        padding: 20px 20px 10px 20px;
        nx-tag {
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0 !important;
            }
        }
    }
}

.bookmark-card:last-of-type {
    margin-bottom: 0 !important;
}

.preload-div {
    margin-top: 150px;
}

.video {
    background: black;
    height: 100%;
    width: 100%;
}
