$font-family-base : "robotoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-regular : "robotoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-medium : "robotomedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-light : "robotolight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold : "robotobold", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "~sass-rem/rem";
// @import './custom/_custom_palette';
@import "./native-theme/theme_palette";
@import "_theme_palette";

:root {
    --body-bg    : var(--additional_light2);
    --alt-body-bg : var(--light1);
    --header-bg  : var(--light1);
    --header-border-color : var(--light4);
    --body-text-color : var(--dark9);
    
    --page-titles : #{$dark9}; // this should be only use of h1
    
    --scrollbar-color                   : var(--light16);
    --scrollbar-thumb-bg                : var(--light10);
    --scrollbar-thumb-border-color      : var(--additional_light1);
    --menu-scrollbar-thumb-border-color : var(--light6);
    
    --popover-shadow-color : #{$dark15};
    --tooltip-bg : #{$dark1};
    --tooltip-color : #{$light1};
    
    --radio-color              : #{$dark9};
    --radio-check-color        : #{$brand_core};
    --radio-hover-color        : #{$dark1};
    --radio-hover-check-color  : #{$brand_core};
    --radio-active-color       : #{$dark9};
    --radio-active-check-color : #{$brand_core};
    --radio-active-hover-color : #{$dark1};
    
    --checkbox-color              : #{$dark9};
    --checkbox-check-color        : #{$brand_core};
    --checkbox-hover-color        : #{$dark1};
    --checkbox-hover-check-color  : #{$brand_core};
    --checkbox-active-color       : #{$dark9};
    --checkbox-active-check-color : #{$brand_core};
    --checkbox-active-hover-color : #{$dark1};
    
    --auth-header-bg: var(--additional_light1);
    --auth-header-color : var(--dark9);
    --auth-subheader-color : var(--dark9);
    --auth-body-bg: var(--light1);
    --auth-pill-bg : var(--light3);
    
    --border-color         : var(--light4);
    --horizontal-sep-color : var(--light6);
    --label-color          : var(--dark9);
    
    --placehoder-cloud-color   : #{$brand_core};
    --placehoder-cloud-opacity : .1;
    --placehoder-title-color : #{$dark9};
    --placehoder-body-color : #{$dark9};
    
    --left-menu-border-color      : transparent;
    --left-menu-l1-bg             : var(--additional_light2);
    --left-menu-l1-bg-hover       : var(--additional_light3);
    --left-menu-l1-bg-active      : #{$light5};
    --left-menu-l1-color          : #{$dark9};
    --left-menu-l1-selected-bg    : var(--light5);
    --left-menu-l1-selected-hover-bg : #{$light6};
    --left-menu-l3-scroll         : var(--light5);
    --left-menu-l3-shadow         : transparent;
    --left-menu-l3-bg             : var(--light5);
    --left-menu-l3-color          : #{$dark9};
    --left-menu-l3-hover-bg       : #{$light6};
    --left-menu-l3-hover-color    : #{$dark9};
    --left-menu-l3-opacity        : 1;
    --left-menu-l3-selected-bg    : var(--light16);
    --left-menu-l3-selected-color : var(--light1);
    
    --btn-close-hover-bg  : #{$additional_light2};
    --btn-close-active-bg : #{$additional_light3};
    
    --btn-text-color        : #{$light16};
    --btn-text-hover-color  : #{$dark15};
    --btn-text-active-color : #{$light16};
    
    --btn-clear-bg    : transparent;
    --btn-clear-color : #{$dark9};
    --btn-clear-hover-bg  : rgba(#{$light16}, .1);
    --btn-clear-hover-color  : #{$dark9};
    --btn-clear-active-bg : rgba(#{$light16}, .15);
    --btn-clear-active-color : #{$dark9};
    
    --btn-default-bg           : #{$light4};
    --btn-default-color        : #{$dark9};
    --btn-default-shadow       : #{$light7};
    --btn-default-hover-bg     : #{$light5};
    --btn-default-hover-color  : #{$dark9};
    --btn-default-hover-shadow  : #{$light8};
    --btn-default-active-bg    : #{$light6};
    --btn-default-active-color : #{$dark9};
    --btn-default-active-shadow : #{$light9};
    
    --btn-primary-bg           : #{$brand-core};
    --btn-primary-color        : #{$light1};
    --btn-primary-shadow       : #{$brand-d2};
    --btn-primary-hover-bg     : #{$brand-d1};
    --btn-primary-hover-color  : #{$light1};
    --btn-primary-hover-shadow  : #{$brand-d3};
    --btn-primary-active-bg    : #{$brand-d2};
    --btn-primary-active-color : #{$light1};
    --btn-primary-active-shadow : #{$brand-d4};
    
    --btn-danger-bg            : #{$red_main};
    --btn-danger-color         : #{$light1};
    --btn-danger-shadow        : #{$red_d2};
    --btn-danger-hover-bg      : #{$red_d1};
    --btn-danger-hover-color   : #{$light1};
    --btn-danger-hover-shadow  : #{$red_d3};
    --btn-danger-active-bg     : #{$red_d2};
    --btn-danger-active-color  : #{$light1};
    --btn-danger-active-shadow : #{$red_d4};
    
    --btn-header-saparator-color : var(--light4);
    --btn-header-main-bg    : var(--light4);
    --btn-header-main-color : var(--dark9);
    
    --btn-dropdown-toggle-bg    : #{$light4};
    --btn-dropdown-toggle-color : #{$dark9};
    --btn-dropdown-toggle-selected-color : #{$light1};
    --btn-dropdown-toggle-shadow-color : #{$light7};
    --btn-dropdown-toggle-hover-bg : #{$light5};
    --btn-dropdown-toggle-active-bg : #{$light6};
    
    --btn-tag-bg : #{$light4};
    --btn-tag-color : #{$light16};
    --btn-tag-selected-bg    : #{$light16};
    --btn-tag-selected-hover-bg : #{$light17};
    --btn-tag-selected-active-bg : #{$light18};
    --btn-tag-selected-color : #{$light1};
    
    --dropdown-menu-arrow-color : #{$light4};
    --dropdown-menu-arrow-fill-color : #{$additional_light1};
    
    --dropdown-menu-border : none;
    --dropdown-menu-top-border : none;
    --dropdown-menu-shadow : 0 1rem 2rem 0 transparentize(#{$dark15}, 0.4);
    --dropdown-menu-bg : #{$additional_light1};
    --dropdown-item-active-bg : #{$light4};
    --dropdown-item-hover-bg    : #{$light3};
    --dropdown-item-hover-color : #{$dark9};
    
    //--btn-text-bg    : var(--light4;
    //--btn-text-color : var(--dark9;
    
    --card-header-bg : var(--additional_light1);
    --card-header-text : var(--dark9);
    --card-body-bg : var(--light1);
    
    --input-bg                 : var(--light1);
    --input-color              : var(--dark9);
    --input-border-color       : var(--light6);
    --input-error-color        : var(--error);
    --input-error-border-color : var(--error);
    --input-hover-color        : var(--dark9);
    --input-hover-border-color : var(--light8);
    --input-focus-color        : var(--dark9);
    --input-focus-border-color : var(--brand-core);
    --input-active-bg           : var(--light1);
    --input-active-color        : var(--dark9);
    --input-active-border-color : var(--light6);
    
    --input-numeric-arrow-bg : #{$light1};
    --input-numeric-arrow-color : #{$dark9};
    
    --badge-opacity : 1;
    --badge-base-bg : #{$light4};
    --badge-base-hover-bg : #{$light5};
    --badge-base-color : #{$light16};
    --badge-base-selected-bg : #{$light16};
    --badge-base-selected-hover-bg : #{$light17};
    --badge-base-selected-active-bg : #{$light18};
    
    --badge-default-bg : #{$light8};
    --badge-color : #{$light1};
    --badge-selected-color : #{$light1};
    --badge-danger-bg    : #{$red_main};
    --badge-danger-bright-bg    : #{$error};
    --badge-warning-bg        : #{$yellow_d1};
    --badge-warning-bright-bg : #{$yellow_main};
    --badge-success-bg        : #{$green_main};
    --badge-success-bright-bg : #{$green_l2};
    --badge-brand-bg : #{$brand_d2};
    --badge-info-bg  : #{$brand_core};
    --badge-integration-bg : #{$light4};
    --badge-integration-color : #{$light16};
    
    --grey-section-bg: var(--light4);
    --grey-section-sep-color: var(--light6);
}

html[data-theme="dark"] {
    --body-bg    : #0D0E0F; //$dark3;
    --alt-body-bg : #000000; //$dark1;
    --header-bg  : #212A2F; //$dark7;
    --header-border-color: transparent;
    --body-text-color : #A5B7C0; //$light10;
    
    --page-titles : #F5F7F8; //$light2; // this should be only use of h1
    
    --scrollbar-color                   : #35464F; //$light16;
    --scrollbar-thumb-bg                : #A5B7C0; //$light10;
    --scrollbar-thumb-border-color      : #2B383F; //$dark9;
    --menu-scrollbar-thumb-border-color : #2B383F; //$dark9;
    
    --popover-shadow-color : #000000;  //$dark1;
    --popover-bg : #3F545F; //$dark13;
    --popover-color : #E1E7EA; //$light4;
    
    --radio-color              : #A5B7C0; //$light10;
    --radio-check-color        : #2592C3; //$brand_d1;
    --radio-hover-color        : #E1E7EA; //$light4;
    --radio-hover-check-color  : #2FA2DB; //$brand_core;
    --radio-active-color       : #F5F7F8; //$light2;
    --radio-active-check-color : #39B2EF; //$brand_l1;
    --radio-active-hover-color : #E1E7EA; //$light4;
    
    --checkbox-color              : #A5B7C0; //$light10;
    --checkbox-check-color        : #2592C3; //$brand_d1;
    --checkbox-hover-color        : #E1E7EA; //$light4;
    --checkbox-hover-check-color  : #2FA2DB; //$brand_core;
    --checkbox-active-color       : #F5F7F8; //$light2;
    --checkbox-active-check-color : #39B2EF; //$brand_l1;
    --checkbox-active-hover-color : #E1E7EA; //$light4;
    
    --auth-header-bg : #2B383F; //$dark9;
    --auth-header-color : #E1E7EA; //$light4;
    --auth-subheader-color : #A5B7C0; //$light10;
    --auth-body-bg : #263137; //$dark8;
    --auth-pill-bg : #3A4D57; //$dark11;
    
    --border-color         : #35464F; //$dark11;
    --horizontal-sep-color : #49626F; //$dark15;
    --label-color : #A5B7C0; //light10;
    
    --placehoder-cloud-color : #117297; //$brand_d3
    --placehoder-cloud-opacity : 1;
    --placehoder-title-color : #E1E7EA; //$light4;
    --placehoder-body-color : #A5B7C0; //light10;
    
    --left-menu-border-color      : #2B383F; //$dark9;
    --left-menu-l1-bg             : #1C2327; //$dark6;
    --left-menu-l1-bg-hover       : #3A4D57; //$dark11;
    --left-menu-l1-bg-active      : #2B383F; //$dark9;
    --left-menu-l1-color          : #E1E7EA; //$light4;
    --left-menu-l1-selected-bg    : #1C2327; //$dark6;
    --left-menu-l1-selected-hover-bg : #2B383F; //$dark9;
    --left-menu-l3-scroll         : #1C2327; //$dark6;
    --left-menu-l3-shadow         : transparent;
    --left-menu-l3-bg             : #1C2327; //$dark6;
    --left-menu-l3-color          : #E1E7EA; //$light4;
    --left-menu-l3-hover-bg       : #A5B7C0; //light10;
    --left-menu-l3-hover-color    : #080707; //$dark2
    --left-menu-l3-opacity        : 0.6;
    --left-menu-l3-selected-bg    : #35464F; //$light16;
    --left-menu-l3-selected-color : #F5F7F8; //$light2;
    
    --btn-close-hover-bg : #2B383F; //$dark9;
    --btn-close-hover-color : #A5B7C0; //light10;
    --btn-close-active-bg : #121517; //$dark4;
    --btn-close-active-color : #5F7F8F; //$light17;
    
    --btn-text-color : #E1E7EA; //$light4;
    --btn-text-hover-color : #A5B7C0; //light10;
    --btn-text-active-color : #5F7F8F; //$light17;
    
    --btn-clear-bg    : transparent;
    --btn-clear-color : #E1E7EA; //$light4;
    --btn-clear-hover-bg  : transparent;
    --btn-clear-hover-color  : #A5B7C0; //light10;
    --btn-clear-active-bg : transparent;
    --btn-clear-active-color : #5F7F8F; //$light17;
    
    --btn-header-saparator-color : #A5B7C0; //light10;
    --btn-header-main-bg    : transparent;
    --btn-header-main-color : #E1E7EA; //$light4;
    
    --btn-dropdown-toggle-bg : #263137; //$dark8
    --btn-dropdown-toggle-selected-color : #D7DFE3 ; //$light5;
    --btn-dropdown-toggle-color : #A5B7C0; //$light10
    --btn-dropdown-toggle-shadow-color : #080707; //$dark2
    --btn-dropdown-toggle-hover-bg : #2B383F; //$dark9;
    --btn-dropdown-toggle-active-bg : #35464F; //$dark11;
    
    --btn-tag-bg                 : #3A4D57; //$dark12;
    --btn-tag-color              : #F5F7F8; //$light2;
    --btn-tag-selected-bg        : #49626F; //$dark15;
    --btn-tag-selected-hover-bg  : #35464F; //$dark11;
    --btn-tag-selected-active-bg : #263137; //$dark8
    --btn-tag-selected-color     : #E1E7EA; //$light4;
    
    --btn-arrow-bg : #3A4D57; //$dark12;
    --btn-arrow-color : #F5F7F8; //$light2;
    --btn-arrow-hover-bg    : #303F47; //$dark10;
    --btn-arrow-hover-color : #F5F7F8; //$light2;
    --btn-arrow-selected-bg    : #2B383F; //$dark9;
    --btn-arrow-selected-color : #D7DFE3; //$light5;
    
    --btn-default-bg           : #3A4D57; //$dark12;
    --btn-default-color        : #F5F7F8; //$light2;
    --btn-default-shadow       : #263137; //$dark8
    --btn-default-hover-bg     : #303F47; //$dark10;
    --btn-default-hover-color  : #F5F7F8; //$light2;
    --btn-default-hover-shadow  : #1C2327; //$dark6;
    --btn-default-active-bg    : #2B383F; //$dark9;
    --btn-default-active-color : #D7DFE3; //$light5;
    --btn-default-active-shadow : #1C2327; //$dark6;
    
    --btn-primary-bg           : #2FA2DB; //$brand-core;
    --btn-primary-color        : #F5F7F8; //$light2;
    --btn-primary-shadow       : #1B82AD; //$brand-d2;
    --btn-primary-hover-bg     : #1B82AD; //$brand-d2;
    --btn-primary-hover-color  : #F5F7F8; //$light2;
    --btn-primary-hover-shadow  : #117297; //$brand_d3;
    --btn-primary-active-bg    : #076281; //$brand-d4;
    --btn-primary-active-color : #F5F7F8; //$light2;
    --btn-primary-active-shadow : #076281; //$brand-d4;
    
    --btn-danger-bg            : #741414; //$red_d3;
    --btn-danger-color         : #F5F7F8; //$light2;
    --btn-danger-shadow        : #5E1010; //red_d4;
    --btn-danger-hover-bg      : #5E1010; //$red-d4;
    --btn-danger-hover-color   : #F5F7F8; //$light2;
    --btn-danger-hover-shadow  : #330909; //$red_d6;
    --btn-danger-active-bg     : #480D0D; //$red-d5;
    --btn-danger-active-color  : #F5F7F8; //$light2;
    --btn-danger-active-shadow : #330909; //$red_d6;
    
    --dropdown-menu-arrow-color      : #49626F; //$dark15;
    --dropdown-menu-arrow-fill-color : #121517; //dark4;
    
    --dropdown-menu-border : 1px solid #263137; //$dark8;
    --dropdown-menu-top-border : 1px solid #49626F; //$dark15;
    --dropdown-menu-shadow : 0px 7px 8px rgba(#000000, 0.2), 0px 5px 22px rgba(#000000, 0.12), 0px 12px 17px rgba(#000000, 0.14);
    --dropdown-menu-bg : #121517; //dark4;
    --dropdown-item-active-bg : #B9C7CE; //$light8;
    --dropdown-item-hover-bg : #A5B7C0; //$light10;
    --dropdown-item-hover-color : #080707; //$dark2;
    
    --card-header-bg : #1C2327; //$dark6;
    --card-header-text : #E1E7EA; //$light4;
    --card-body-bg   : #121517; //$dark4;
    
    --input-bg                 : #121517; //$dark4;
    --input-color              : #A5B7C0; //$light10;
    --input-border-color       : #35464F; //$dark11;
    --input-error-color        : #AA1E1E; //$red_d1;
    --input-error-border-color : #5E1010; //$red_d4;
    --input-hover-color        : #A5B7C0; //$light10;
    --input-hover-border-color : #587785; //$dark18;
    --input-focus-color        : #E1E7EA; //$light4;
    --input-focus-border-color : #587785; //$dark18;
    --input-active-bg           : #0D0E0F; //$dark3;
    --input-active-color        : #E1E7EA; //$light4;
    --input-active-border-color : #5D7E8F; //$dark19;
    
    --input-numeric-arrow-bg    : #121517; //$dark4;
    --input-numeric-arrow-color : #A5B7C0; //$light10;
    
    --badge-opacity : 0.9;
    --badge-base-bg    : #1C2327; //$dark6;
    --badge-base-hover-bg : #2B383F; //$dark9;
    --badge-base-color : #E1E7EA; //$light4;
    --badge-base-selected-bg : #49626F; //$dark15;
    --badge-base-selected-hover-bg  : #35464F;//#{$dark11};
    --badge-base-selected-active-bg : #263137;//#{$dark8};
    
    --badge-default-bg    : #35464F; //$dark11;
    --badge-color : #E1E7EA; //$light4;
    --badge-selected-color : #EBEFF1; //$light3;
    --badge-danger-bg    : #5E1010; //$red_d4;
    --badge-danger-bright-bg : #8E1717; //$red_d2;
    --badge-warning-bg           : #E1A700; //$yellow_d1;
    --badge-warning-bright-bg    : #E1A700; //$yellow_d1;
    --badge-success-bg        : #2A551E; //$green_d2;
    --badge-success-bright-bg : #3A911E; //$green_main;
    --badge-brand-bg : #{$brand_d2};
    --badge-info-bg : #{$brand_d4};
    --badge-integration-bg : #3F545F; //$dark13;
    --badge-integration-color : #E1E7EA; //$light4;
    
    --grey-section-bg : #1C2327; //$dark6;
    --grey-section-sep-color : #35464F; //$dark11;
}

// $brand-primary : var(--brand-core, $brand_core);
// $brand-info : var(--brand-l2, $brand_l2);
$brand-success        : $green_main;
$brand-success-bright : $green_l2;
$brand-warning        : $yellow_d1;
$brand-warning-bright : $yellow_main;
$brand-danger         : $red_main;
$brand-danger-bright  : $red_l2;

// Brand colors
// -------------------------

$brand-primary:         var(--brand-core, $brand_core);
$brand-info:            var(--brand-l2, $brand_l2);

// $gray-darker:            $dark7;     //~#222
// $gray-dark:              $dark11;    //~#333
// $gray:                   $dark17;    //~#555
$gray-light:             $light11;   //~#999
// $gray-lighter:           $light3;    //~#EEE


$body-bg:                 $additional_light2;
$text-color:              $dark9;
$navbar-default-bg:       $light1;
$navbar-default-link-color: $dark10;
// $navbar-margin-bottom:    10px;
$navbar-height:           48px;


$common-border-color:   $light5;

$dropdown-border:                         $common-border-color;
// $navbar-default-toggle-border-color:      $common-border-color;
$nav-tabs-border-color:                   $common-border-color;
// $nav-tabs-active-link-hover-border-color: $common-border-color;
// $nav-tabs-justified-link-border-color:    $common-border-color;
// $pagination-border:                       $common-border-color;
// $pagination-hover-border:                 $common-border-color;
// $pagination-disabled-border:              $common-border-color;
// $list-group-border:                       $common-border-color;
// $panel-inner-border:                      $common-border-color;
// $panel-default-border:                    $common-border-color;
// $thumbnail-border:                        $common-border-color;
// $input-border:                            $common-border-color;
// $btn-default-border:                      $common-border-color;
$navbar-default-border:                   $common-border-color;


// $nav-tabs-active-link-hover-bg:#fff;

$table-border-color:          transparent;
$modal-footer-border-color:   transparent;
$modal-header-border-color:   transparent;
$modal-content-border-color:  transparent;
// $panel-default-heading-bg:    transparent;

// Fonts
// $rem-baseline: 16px;

$font-size-base : rem(13px); // Assumes the browser default, typically `16px`

$font-size-xxxlg : rem(40px);
$font-size-xxlg : rem(32px);
$font-size-xlg : rem(24px);
$font-size-lg : $font-size-base * 1.25;
$font-size-sm : rem(12px); //$font-size-base * .785;


$h1-font-size : rem(32px); // $font-size-base * 1.4;
$h2-font-size : rem(24px); // $font-size-base * 1.3;
$h3-font-size : rem(18px); // $font-size-base * 1.2;
$h3-alt-size  : rem(17px);
$h4-font-size : rem(15px); // $font-size-base * 1;
$h5-font-size : rem(14px); // $font-size-base;
$h6-font-size : rem(13px); // $font-size-base * .875;

$font-size-ssm : rem(11px);
$font-size-20 : rem(20px);
$font-size-22 : rem(22px);

$line-height-ssm : rem(13px);

// Font colors
$font-color-medium : $dark9;
// $font-color-regular : $dark9;
// $font-color-light : $light16;
// $font-color-disabled : $light10;
// $font-color-error : $red_l2;

$btn-font-weight:         bold;
$headings-font-weight:    lighter;

$border-radius-base:      2px;
// $border-radius-large:     4px;
// $border-radius-small:     $border-radius-base;

// Variables from Bootstrap 3 ****************************
$line-height-base : 1.5 !default;
$line-height-computed : floor(($font-size-base * $line-height-base)); // ~20px
$jumbotron-color : tranparent;
// ********************************************************

// $input-height-base:       32px;
$input-bg:                $light1;
$input-color:             $dark4;
// $input-border-focus:      var(--brand-core, $brand_core);
// $input-bg-disabled:       transparentize($light5,0.75);
// $cursor-disabled:           default;
$padding-input-horizontal:  10px;


// $padding-base-horizontal:  16px;
$padding-base-vertical:     5px;

// $btn-default-bg:            transparent;
// $button-primary-border:     var(--brand-d1, $brand_d1);
$jumbotron-bg:              transparent;


$grid-gutter-width:       16px;

$modal-sm:                  400px;

$modal-backdrop-bg:         $dark15;
$modal-backdrop-opacity:    0.2;
$modal-content-bg:          $light1;
// $modal-title-font-weight:   600;
$modal-title-line-height:   rem(24px);
$modal-title-padding:       rem(12px);
$modal-inner-padding:       rem(12px);

$form-group-margin-bottom:  rem(12px);

// $state-success-text:             $green3;
// $state-success-bg:               $green2;
// $state-success-border:           $green1;



// $state-danger-text:       $error;
// $label-danger-bg:         $error;
// $label-default-bg:        $light8;


// $state-danger-bg:                $red2;
// $state-danger-border:            $red1;


// $alert-danger-bg:              $red2;
// $alert-danger-border:          $red1;
// $alert-danger-text:            $red3;


$warning-message-bg:             #ffeeb5;
$warning-message-border:         #eedc9e;

// $state-warning-text:             #8a6d3b !default;
// $state-warning-bg:               #fcf8e3 !default;
// $state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

// $state-info-text:              var(--brand-d4);
// $state-info-bg:                var(--brand-l2-l20);
// $state-info-border:            var(--brand-core);

// $table-bg-hover:              $light2;
$table-cell-padding:          5px 16px 6px 16px;
$link-color:                  var(--brand-d2);
$link-hover-color:            var(--brand-core);

$grid-float-breakpoint:       420px;
$grid-float-breakpoint-max:   $grid-float-breakpoint - 1;
// $dialog-sm-float-breakpoint:  434px;

// $panel-body-padding:    16px;
// $panel-heading-padding: 16px;
// $panel-footer-padding: 16px;

// $navbar-default-link-active-bg: $navbar-default-bg;
// $navbar-padding-horizontal:   0;
// $navbar-padding-vertical:     0;
// $navbar-default-link-active-color: var(--brand-core);

$dropdown-link-active-bg:   transparent;
$dropdown-link-active-color: var(--brand-core);

$collapse-first-width  : 920px;
$collapse-second-width : 768px;
$collapse-webadmin-width: 576px;
$collapse-webadmin-window-width: 440px;

@mixin outline {
    box-shadow : 0 0 0 2px var(--brand-l2-t40) !important;
}

@mixin inset-outline {
    box-shadow : inset 0 0 0 2px var(--brand-l2-t40) !important;
}

/* set the overriding variables */
$grid-breakpoints : (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        xxxl: 1600px
);
$container-max-widths : (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1380px,
        xxxl: 1540px
);

$fluid-container-max-width: 1440px;

$scrollbar-height: 8px;

/* badge component */
$badge-font-size: rem(12px);
$badge-border-radius: rem(2px);
$badge-padding-x : rem(8px);
$badge-padding-y : rem(3px);

// CSS Grid layout
$grid-menu-width: 25%;
$grid-content-width: calc(75% - 1rem);
$grid-wide-menu-width: 16%;
$grid-wide-content-width: calc(84% - 1rem);
$grid-super-wide-menu-width    : 12%;
$grid-super-wide-content-width : calc(88% - 1rem);

$grid-table-width: calc(100% - 350px - 1rem);
$grid-panel-width: 350px;
$grid-narrow-table-width: calc(100% - 350px - 1rem);
$grid-narrow-panel-width: 350px;
$grid-super-wide-table-width: calc(100% - 450px - 1rem);
$grid-super-wide-panel-width: 450px;

$input-color-placeholder : $light16 !default;
