<div class="panel col-12"
     *ngIf="healthLayoutService.activeEntity && healthLayoutService.layoutReady && healthLayoutService.metricsValuesCount > 1" #nxPanelView>
    <nx-block type='gray' header-class="sticky1rem">
        <header>
            <div class="panel-title">
                <span [innerText]="name"></span>
            </div>
            <span class="glyphicon close-icon detailsClose"
                  (click)="closeView()">
            </span>
        </header>
        <ng-container *ngIf="panelParams.id === 'cameras' && !healthService.importedData">
            <nx-image-section [cameraInfo]="healthLayoutService.activeEntity"></nx-image-section>
        </ng-container>
        <nx-section *ngIf="sections && sections.length">
            <nx-info-block [sectionsOrColumns]="sections" [removeTopMargin]="true"></nx-info-block>
        </nx-section>
    </nx-block>
</div>
