<h1>Hola, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> ha compartit l'accés al sistema de gestió de vídeo "{{message.system_name}}" amb vós.

Per visualitzar-lo i gestionar-lo, creeu un compte a <a href="{{config.portal_url}}">%CLOUD_NAME%</a> utilitzant el vostre email actual i seguiu les instruccions.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Se us ha atorgat accés al sistema de gestió de vídeo "{{message.system_name}}.

Per visualitzar-lo i gestionar-lo, creeu un compte a <a href="{{config.portal_url}}">%CLOUD_NAME%</a> utilitzant el vostre email actual i seguiu les instruccions.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/authorize/register/{{message.code}}">Create Account</a>

