<ng-template #preloader>
    <div class="h-100">
        <nx-pre-loader></nx-pre-loader>
    </div>
</ng-template>
<div class="container">
    <h2
        class="ml-3 mr-3 pt-3"
        translate
    >
        Email Notification Test
    </h2>
    <nx-block class="mt-3 d-block">
        <header translate>Send Test Email Notification</header>
        <nx-section [nonPadded]="true">
            <ng-template #sendButton>
                <ng-template #sendAnother>
                    <button
                        class="btn btn-default"
                        (click)="handleSendAnother()"
                        translate
                    >
                        Send Another Test
                    </button>
                </ng-template>
                <button
                    *ngIf="!response; else sendAnother"
                    class="btn btn-primary"
                    [disabled]="!subject"
                    (click)="handleSend()"
                    translate
                >
                    Send Test Notification
                </button>
            </ng-template>
            <nx-stepper
                [saveButton]="sendButton"
                [customButtonLabels]="['Select System', 'Select Users', 'Test Email Notification']"
                [controlledSteps]="true"
                (selectionChange)="payload = response = ''; attachments = []; cachedCustom = null"
                (selectionChange)="checkStep($event)"
            >
                <cdk-step [completed]="!!(selectedSystem$ | async)">
                    <div
                        *ngIf="account$ | async; else preloader"
                        class="h-100"
                    >
                        <h4 translate>Select system to test email notification</h4>
                        <nx-select
                            [items]="systems$ | async"
                            [selected]="selectedSystem$ | async"
                            [stillLoading]="!(selectedSystem$ | async)"
                            (onSelected)="updateSystem($event)"
                        ></nx-select>
                    </div>
                </cdk-step>
                <cdk-step [completed]="!!(usersSelected$ | async).length">
                    <div
                        *ngIf="users$ | async as users; else preloader"
                        class="h-100"
                    >
                        <h4 translate>Select users to send test email notification</h4>
                        <div class="checkbox-wrapper">
                            <div
                                *ngFor="let user of users"
                                class="m-1"
                            >
                                <nx-checkbox
                                    [componentId]="user.id"
                                    [ngModel]="user.value"
                                    (change)="updateUser(user)"
                                >
                                </nx-checkbox>
                                <label
                                    [for]="user.id"
                                    class="d-flex flex-column"
                                >
                                    <span>{{ user.label }}</span>
                                    <span class="user-email">{{ user.id }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </cdk-step>
                <cdk-step>
                    <div class="h-100">
                        <ng-template #eventSummary>
                            <ng-container *ngIf="!sending; else preloader">
                                <h3 translate>Endpoint</h3>
                                <pre [innerText]="endpoint"></pre>
                                <h3 translate>Payload</h3>
                                <pre [innerText]="payload"></pre>
                                <h3 translate>Response</h3>
                                <pre [innerText]="response"></pre>
                            </ng-container>
                        </ng-template>
                        <div
                            *ngIf="!response && !sending; else eventSummary"
                            class="send-wrapper"
                        >
                            <div class="send-section h-100">
                                <h4 translate>Select test notification type</h4>
                                <nx-select
                                    [items]="notificationTypes"
                                    [selected]="selectedNotificationType"
                                    (onSelected)="updateType($event)"
                                ></nx-select>
                                <h4 translate>Test email notification content</h4>
                                <div class="email-content-wrapper">
                                    <label
                                        for="systemId"
                                        translate
                                        >systemId</label
                                    >
                                    <input
                                        [ngModel]="(selectedSystem$ | async)?.value"
                                        type="text"
                                        id="systemId"
                                        disabled
                                    />
                                </div>
                                <div class="email-content-wrapper">
                                    <label
                                        for="targets"
                                        translate
                                        >targets</label
                                    >
                                    <textarea
                                        [ngModel]="usersSelected$ | async"
                                        id="targets"
                                        cdkTextareaAutosize
                                        #targets="cdkTextareaAutosize"
                                        disabled
                                    ></textarea>
                                </div>
                                <div class="email-content-wrapper">
                                    <label
                                        for="subject"
                                        [ngClass]="{
                                            'disabled-input-label':
                                                selectedNotificationType.name !==
                                                notificationTypes[0].name
                                        }"
                                        translate
                                        >subject (required)</label
                                    >
                                    <input
                                        [(ngModel)]="subject"
                                        (input)="updatePreview()"
                                        type="text"
                                        id="subject"
                                        [disabled]="
                                            selectedNotificationType.name !==
                                            notificationTypes[0].name
                                        "
                                    />
                                </div>
                                <div class="email-content-wrapper">
                                    <label
                                        for="subject"
                                        [ngClass]="{
                                            'disabled-input-label':
                                                selectedNotificationType.name !==
                                                notificationTypes[0].name
                                        }"
                                        translate
                                        >messageHtml</label
                                    >
                                    <textarea
                                        [(ngModel)]="messageHtml"
                                        (input)="updatePreview()"
                                        id="messageHtml"
                                        cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="4"
                                        [disabled]="
                                            selectedNotificationType.name !==
                                            notificationTypes[0].name
                                        "
                                    ></textarea>
                                </div>
                                <div class="email-content-wrapper">
                                    <label
                                        for="subject"
                                        [ngClass]="{
                                            'disabled-input-label':
                                                selectedNotificationType.name !==
                                                notificationTypes[0].name
                                        }"
                                        translate
                                        >messageText</label
                                    >
                                    <textarea
                                        [(ngModel)]="messageText"
                                        (input)="updatePreview()"
                                        id="messageText"
                                        cdkTextareaAutosize
                                        [cdkAutosizeMinRows]="2"
                                        [disabled]="
                                            selectedNotificationType.name !==
                                            notificationTypes[0].name
                                        "
                                    ></textarea>
                                </div>
                                <div class="email-content-wrapper">
                                    <label
                                        for="attachment"
                                        translate
                                        >attachment</label
                                    >
                                    <div class="w-100">
                                        <div
                                            *ngFor="
                                                let attachment of attachments;
                                                let index = index
                                            "
                                            (click)="removeAttachment(index)"
                                            class="attachment"
                                        >
                                            {{ attachment.filename }}
                                        </div>
                                        <div
                                            class="drop-zone"
                                            [ngClass]="{
                                                invisible:
                                                    selectedNotificationType.name !==
                                                    notificationTypes[0].name
                                            }"
                                        >
                                            <ngx-file-drop
                                                dropZoneClassName="drop-zone"
                                                [directory]="false"
                                                [multiple]="true"
                                                [showBrowseBtn]="true"
                                                browseBtnLabel="Browse file(s) or drop to attach"
                                                (onFileDrop)="handleFileDrop($event)"
                                            >
                                            </ngx-file-drop>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="send-section">
                                <h4>{{ endpoint }}</h4>
                                <pre
                                    [innerText]="payloadPreview"
                                    class="payload-preview"
                                ></pre>
                            </div>
                        </div>
                    </div>
                </cdk-step>
            </nx-stepper>
        </nx-section>
    </nx-block>
</div>
