<form #connectForm="ngForm" name="connectForm" novalidate [ngClass]="{'hide-errors': hideErrors}">
    <div class="modal-header">
        <h1 class="modal-title" translate>Connect system to %CLOUD_NAME%</h1>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="close()" *ngIf="closable">
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>

    <div class="modal-body">
        <p>
            <span translate>Enter %CLOUD_NAME% account you want this system to be connected to.</span>
            <br/>
            <span translate>This account will get full permissions within this system.</span>
        </p>

        <div class="form-group">
            <label for="login_email" translate>Email</label>
            <input type="email" class="form-control"
                   id="login_email" name="login_email" #login_email="ngModel"
                   [ngModel]="auth.email"
                   (ngModelChange)="setEmail($event);"
                   [readOnly]="readOnly"
                   pattern="{{ CONFIG.credentialsValidation.emailRegex }}" maxlength="255"
                   required nxFocusMe>
            <ng-container *ngIf="login_email.invalid">
                <div *ngIf="login_email.errors.no_user" class="clearfix">
                    <div class="input-error float-left" translate>Account not found</div>
                </div>
                <div *ngIf="login_email.dirty && login_email.errors.required" class="clearfix">
                    <div class="input-error float-left" translate>Email is required</div>
                </div>
                <div *ngIf="login_email.errors.pattern" class="clearfix">
                    <div class="input-error  float-left" translate>Please enter a valid Email</div>
                </div>
                <div *ngIf="login_email.errors.not_activated" class="clearfix">
                    <div class="input-error  float-left"
                         [innerText]="'errorCodes.accountNotActivatedAlternate' | translate: {cloudHost: CONFIG.cloudHost}"></div>
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="login_password" translate>Password</label>
            <input type="password" class="form-control"
                   name="login_password" id="login_password" #login_password="ngModel"
                   [(ngModel)]="password"
                   [readOnly]="readOnly"
                   maxlength="255"
                   required>
            <ng-container *ngIf="login_password.invalid">
                <div class="input-error" *ngIf="login_password.touched && login_password.errors.required && !wrongPassword && !accountBlocked"
                     translate>Password is required</div>
                <div class="input-error" *ngIf="wrongPassword" translate>Wrong password</div>
                <div class="input-error" *ngIf="accountBlocked" translate>Too many attempts. Try again in a minute.</div>
            </ng-container>
        </div>
        <div class="form-group">
            <a href="{{CONFIG.cloudHost}}/restore_password" target="_blank" translate>Forgot password?</a>
            <a href="{{CONFIG.cloudHost}}/register" target="_blank" class="ml-3" translate>Create account</a>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button buttonText="{{ 'OK' | translate }}"
                           [clickFn]="displayErrors"
                           [form]="connectForm"
                           [process]="connectProcess">
        </nx-process-button>
        <nx-cancel-button [process]="connectProcess" [discardFn]="activeModal.close"></nx-cancel-button>
    </div>
</form>
