@use '../../styles/typography';
@use '../../../styles/theme_variables';
@import '~bootstrap/scss/mixins/breakpoints';

$grid-breakpoints: typography.$grid-breakpoints;

.card {
    box-shadow   : none;
    border-color : typography.$light4;

    .sticky1rem {
        box-shadow: 0 -14px 0 2px typography.$additional_light2;
        position: sticky;
        top: 1rem;
        z-index: 99;
        margin-top: -2px; // box-shadow eats 2 px at top

        @include media-breakpoint-down(md) {
            // HM specific code ...
            box-shadow: none;
        }
    }

    &--header {
        height           : unset;
        display          : flex;
        align-items      : center;
        background-color : typography.$additional_light1;
        padding          : 0.75rem 1rem;
        border-bottom    : 1px solid typography.$light3;
        position         : relative;

        h4 {
            margin : 0;
            width  : 100%;
        }

        &-logo {
            float               : left;
            display             : flex;
            align-items         : center;
            height              : theme_variables.rem(48px);
            max-width           : 160px;
            background-size     : contain;
            width               : 100%;
            background-position : left center;
            background-repeat   : no-repeat;
        }
    }

    &--body {
        padding          : 1rem;
        background-color : typography.$light1;

        img {
            max-width : 100%;
            height    : auto;
        }

        &-info {
            .section {
                margin-bottom: 1rem;

                &.flat {
                    display         : flex;
                    justify-content : flex-start;
                }

                &:last-of-type {
                    margin-bottom : 0;
                }

                img {
                    height      : 1rem;
                    width       : 1rem;
                    margin-left : .25rem;
                    color       : typography.$light12;
                    font-size   : typography.$font-size-sm;
                    line-height : 1rem;
                }

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        & .nx-panel-row {
            .nx-panel {
                display : flex;
                height  : fit-content;

                .row-title {
                    height      : fit-content;
                    width       : fit-content;
                    width       : -moz-fit-content;
                    float       : left;
                    z-index     : 9;
                    max-width   : calc(100% - 1.5rem); // min with for line -> 16px + right padding (white space)
                    line-height : 16px;
                    margin      : 4px 0;

                    span {
                        background-color : theme_variables.$light4;
                        padding-right    : 4px;
                        word-break       : keep-all;
                    }
                }

                .row-line {
                    border-bottom : 1px dotted theme_variables.$light7;
                    width         : calc(100% - 1rem);
                    position      : absolute;
                    bottom        : 6px;
                    height        : 14px;
                }
            }

            .row-value {
                line-height : 16px;
                margin      : 4px 0;
                word-break  : break-all;

                &.error {
                    color : theme_variables.$error;
                }
            }
        }

        table {
            display         : grid;
            border-collapse : collapse;
            min-width       : 100%;
            //grid-template-columns : 10% 20% 20% auto; <- set this in your component
        }

        .table-row-spacer {
            height  : .5rem;
            //grid-column-end : span 6; <- set this in your component
            display : grid;
        }

        thead,
        tbody,
        tr {
            display : contents;
        }

        th,
        td {
            overflow      : hidden;
            text-overflow : ellipsis;
            white-space   : nowrap;
        }

        th {
            @include typography.medium13;
            padding          : 5px 15px;
            background-color : theme_variables.$additional_light1;
            border-bottom    : 1px solid theme_variables.$light3;
        }

        th:last-child {
            border : 0;
        }

        td {
            padding          : 5px 15px;
            background-color : theme_variables.$light1;
            color            : theme_variables.$dark9;
            display          : flex;
            align-items      : center;
        }

        td:first-child {
            display : block;
        }

        tr:hover td {
            background : transparentize(theme_variables.$brand_core, 0.9);
        }
    }

    &--footer {
        position         : absolute;
        width            : 100%;
        bottom           : 0;
        padding          : .5rem 1rem 1rem;
        background-color : typography.$light1;
        box-shadow       : 0px -22px 22px -6px rgb(255, 255, 255);

        footer {
            // overwrite standard footer properties
            position         : relative !important;
            bottom           : 0;
            width            : 100%;
            border           : none;
            padding          : 0;
            background-color : typography.$light1;
            z-index          : 9;
        }
    }

    nx-section:first-of-type {
        .card--body {
            border-top : none;
        }
    }

    &.gray {
        background-color : typography.$light4;
        border           : 1px solid typography.$light4;
        border-bottom    : none;

        .card--header {
            background-color    : typography.$light4;
            border-bottom-color : typography.$light6;
        }

        .card--body {
            background-color : typography.$light4;
            border-top       : 1px solid typography.$light6;
        }

        .card--footer {
            background-color : typography.$light4;
        }
    }

    &.simple-alert {
        background-color : typography.$red2;
        border           : 1px solid typography.$red1;

        .card--header {
            display : none;
        }

        .card--body {
            background-color : typography.$red2;
            border-top       : 1px solid typography.$red1;
        }

        .card--footer {
            background-color : typography.$red2;
        }
    }

    &.menu {
        background-color : typography.$light5;
        border           : 1px solid typography.$light5;
        border-bottom    : none;

        .card--header {
            background-color    : typography.$light5;
            border-bottom-color : typography.$light7;
        }

        .card--body {
            background-color : typography.$light5;
            border-top       : 1px solid typography.$light7;
        }

        .card--footer {
            background-color : typography.$light5;
        }

        &.top {
            border-radius : 2px 2px 0 0;

            .card--header {
                border-bottom : none;
            }
        }
    }

    &.fixed-height {
        height   : theme_variables.rem(300px);
        overflow : hidden;
        margin   : 0;

        .card--header {
            min-height: 81px;
        }

        .card--body {
            overflow: hidden;
        }
    }

    &.hidden-header {
        .card--header {
            display: none;
        }
    }

    &.extended-header {
        .card--header {
            height  : auto;
            padding : 1rem;
        }
    }

    &.no-padding-header {
        .card--header {
            height  : auto;
            padding : 0;
        }
    }

    &.side-header {
        .card--header {
            & .heading-icon {
                height: 48px;
            }
            & p {
                @include typography.medium13dark15;
                opacity: 0.4;
                margin-bottom: 6px;
            }
            & h3 {
                @include typography.medium17;
            }
        }
        @include media-breakpoint-up(md) {
            .card--header {
                align-items: start;
                min-width: 216px;
                border-bottom: unset;
                border-right: 1px solid #EBEFF1;
                & .heading-icon {
                    height: 120px;
                }
            }
            display: flex;
            flex-direction: row;
        }
    }

    &.slim-header {
        .card--header {
            height  : auto;
            padding : theme_variables.rem(12px);

            .title {
                line-height : 15px;
            }

            .minor-text {
                @include typography.regular11light;
                margin-top : 5px;
            }
        }
    }
}


