@use "../../../styles/theme_variables" as *;

:host {
    .modal-footer:not(.normal-layout){ // normal-layout => buttons left aligned
        &.justify-end {
            // hard overwrite
            justify-content: flex-end !important;
        }
        &.justify-between{
            justify-content : space-between !important;
        }
        .btn {
            margin: 0 !important;
            padding: 0 !important;

            &.btn-back {
                svg-icon {
                    width : 24px;
                    margin-left : 0;

                    svg path {
                        fill : $dark9;
                    }
                }
            }
        }
    };

    .modal-body {
        .lineStrong {
            font-family: $font-family-bold;
        }

        .system-name {
            font-family : $font-family-medium;
            margin-left : 0.5rem;
        }

        .danger {
            color: red;
        }

        .code-area {
            display               : grid;
            grid-template-columns : 1fr 1fr;
            width                 : 100%;
            background-color      : $light2;
            border                : 1px solid $light4;
            padding               : 1rem;
            margin-top            : 1rem;

            &-code {
                font-family : robotomonoregular, monospace;
                font-size   : $h3-font-size;
                text-align  : center;
                user-select : none;

                &-idx {
                    color        : $light10;
                    margin-right : 0.5rem;
                }
            }

            &-copy {
                display         : flex;
                align-content   : center;
                justify-content : center;
                margin-top      : 0.5rem;
            }

            &-note {
                color         : $light16;
                margin-top    : 16px;
                margin-bottom : 16px;
            }
        }
    }
}
