:host {
  display: block;
  min-width: 100px;
  height: 32px;
  z-index: 1;

  position: absolute;
  right: 8px;
  bottom: 108px;

  background: var(--timeline-selection-panel-bg);
  color: var(--timeline-selection-panel-color);
  border-radius: 2px;

  font-size: 13px;
  line-height: 32px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    opacity: 1;
  }

  > * {
    display: inline-block;
    padding: 0 12px;
    user-select: none;
  }

  > a {
    color: var(--timeline-selection-panel-color);
  }

  > .duration-selected {
    cursor: pointer;
  }

  > .export-link {
    position: relative;
    text-decoration: none;

    &::before, &::after {
      content: "";
      background-color: var(--light1);
      width: 1px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 6px;
      opacity: 0.2;
    }
    
    &::after {
      left: auto;
      right: 0;
    }
    
    svg-icon svg path {
      fill: var(--timeline-selection-panel-color);
    }
  }

  > .set-time-button {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      background-color: var(--light1);
      width: 1px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 6px;
      opacity: 0.2;
    }
    
    svg-icon svg path {
      stroke: var(--timeline-selection-panel-color);
    }
  }
  
  .close {
    position: relative;
    width: 34px;
    height: 32px;
    cursor: pointer;
    
    &:hover {
      opacity: 1;
    }
  }
  .close:before, .close:after {
    position: absolute;
    left: 16px;
    top: 6px;
    content: ' ';
    height: 21px;
    width: 2px;
    background-color: var(--timeline-selection-panel-color);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

}
