@use 'styles/theme_variables' as *;

:host {
  display: block;
  min-width: 100px;
  height: 32px;
  z-index: 1;

  position: absolute;
  right: 8px;
  bottom: 108px;

  background: var(--brand-core);
  color: var(--light1);
  border-radius: 2px;

  font-size: 13px;
  line-height: 32px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    opacity: 1;
  }

  > * {
    display: inline-block;
    padding: 0 12px;
    user-select: none;
  }

  > a {
    color: var(--light1);
  }

  > .duration-selected {
    cursor: pointer;
  }

  > .export-link {
    background-image: url("./export-icon.png");
    background-position: 6px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 32px;
    position: relative;

    &::before {
      content: "";
      background-color: var(--light1);
      width: 1px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 6px;
      opacity: 0.2;
    }
  }

  > .set-time-button {
    background-image: url("./edit.png");
    background-position: 6px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 32px;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      background-color: $light1;
      width: 1px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 6px;
      opacity: 0.2;
    }
  }

}
