<nx-pre-loader *ngIf="!system"></nx-pre-loader>

<div class="container" *ngIf="system">
    <nx-block header-style="extended">
            <header>
                <h2 class="system-name mb-2">{{system.info.name}}</h2>
                <span class="system-owner">
                        <span translate>Owner –  </span>
                        <span class="name">
                            <span *ngIf="system.isMine; else ownerInfo" translate>you</span>
                            <ng-template #ownerInfo><span>{{system.info.ownerFullName}}
                                ({{system.info.ownerAccountEmail}})</span></ng-template>
                        </span>
                    </span>
            </header>

            <nx-section *ngIf="system.permissions.isAdmin">
                <div class="float-left mr-2">
                    <button class="btn btn-default"
                            (click)="rename()" translate>Rename
                    </button>
                </div>
                <div class="float-left" *ngIf="system.isMine">
                    <button class="btn btn-default"
                            [disabled]="(system.currentlyMerging || !system.isOnline || !system.isAvailable) && !(debugMode || betaMode)"
                            (click)="mergeSystems()" translate>Merge with Another System
                    </button>
                </div>

                <div class="float-right" *ngIf="system.isMine">
                    <button [disabled]="system.currentlyMerging"
                            class="btn btn-default"
                            (click)="disconnect()" translate>Disconnect from <span class="product-name">&nbsp;%CLOUD_NAME%</span>
                    </button>
                </div>
            </nx-section>
        </nx-block>

    <div class="mt-3" *ngIf="!system.isMine">
        <nx-block>
            <nx-section>
                <span class="system-owner">Your access level – <span
                        class="name">{{LANG.accessRoles[system.accessRole].label || system.accessRole}}</span>
                </span>
                <div class="mt-2">
                    <button [disabled]="system.currentlyMerging"
                            class="btn btn-default"
                            (click)="delete()" translate>Disconnect from My Account
                    </button>
                </div>
            </nx-section>
        </nx-block>
    </div>
</div>
