$header-background: black;
$header-foreground: white;

$player-background: black;

$border-color: #cdd7dc;

:host {
  width: 100%;
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  &.controls-shown {
    > .controls {
      bottom: 0px;
    }
    > player {
      height: calc(100vh - 48px - 100px);
    }
  }

  > header {
    background: $header-background;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    line-height: 40px;
    color: $header-foreground;
    padding: 0 1em;
    z-index: 10;

    > span {
      display: inline-block;
      padding-right: 1em;
    }
  }

  > player {
    flex-grow: 1;
    background-color: $player-background;
    transition: height .2s ease-in-out;
    height: calc(100vh - 48px);
  }
  > .no-player-message {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: $player-background;
    color: $header-foreground;
  }

  > .controls {
    position: absolute;
    bottom: 0;
    transition: bottom .2s ease-in-out;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10;

    > .controls-toggling-ear {
      position: absolute;
      top: -20px;
      left: calc(50% - 40px/2);
      height: 20px;
      width: 40px;
      background: gray;
      border-radius: 20px 20px 0 0;
      opacity: 0.5;
      cursor: pointer;
    }

    > playback-controls {
      flex-grow: 0;
      flex-shrink: 0;
    }

    > zoom-controls {
      flex-grow: 0;
      flex-shrink: 0;
    }

    > timeline {
      flex-grow: 1;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      background-color: white;
    }

    > .no-archive-message {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 3rem;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
    }

    > playback-state-indicator {
      flex-grow: 0;
      flex-shrink: 0;
      width: 64px;
    }
  }
}