:host
  position absolute
  top 50px
  right 0
  bottom 0
  width calc(100% - 320px)
  display flex
  flex-direction column
  height calc(100% - 50px)

  > header
    background #000
    height 40px
    position absolute
    top 0
    left 0
    right 0
    font-size 20px
    line-height 40px
    color white
    padding 0 1em
    z-index 10

    > span
      display inline-block
      padding-right 1em

  > player
    flex-grow 1
    background-color black

  > .controls
    flex-grow 0
    flex-shrink 0
    height 100px
    display flex
    flex-direction row
    overflow-y hidden

    > playback-controls
      flex-grow 0
      flex-shrink 0
      width 100px

    > timeline
      flex-grow 1

    > playback-state-indicator
      flex-grow 0
      flex-shrink 0
      width 54px

