nx-system-metrics-component {
    .nx-table-wrapper .nx-table thead th {
        &:nth-child(n+8) > .caption .ellipsis {
            width       : 100px;
            white-space : unset;
            line-height : 16px;
        }
    }
}
