@import 'native-theme/main';

@import 'master';


.master .horizontal-line-text .line {
  border-top-color:$dark12;
}


body {
  padding          : 0 !important;
  margin           : 0 !important;
  height           : 100% !important;
  overflow         : hidden;
  background-color : transparent !important;
}

.inline-webadmin.panel{
  height:100%;
  width:100%;
  background-color : $window;
}

.inline-webadmin .panel-body{
  position:relative;
  height:100% !important;
  border : none !important;
}

.inline-webadmin .panel-footer{
  bottom:0;
  width:100%;
  border-top : 1px solid $light17;
}

.inline-webadmin .panel-body-big{
  margin-top: 60px;
}

.hint{
  border: 1px solid $dark5;
  color: $light5;
  background-color: $dark10;
}
