@import 'native-theme/main';

@import 'master';


.master .horizontal-line-text .line {
  border-top-color:$dark12;
}

a {
  color: var(--brand-core) !important;
}

body {
  padding          : 0 !important;
  margin           : 0 !important;
  height           : 100% !important;
  overflow         : hidden;
  background-color : transparent !important;
}

.webadmin-wizard.panel{
  height:100%;
  width:100%;
  background-color : $light1;
}

.webadmin-wizard .panel-body {
  position : relative;
  height   : 100% !important;
  border   : none !important;

  h2 {
    color     : $dark9;
    font-size : 30px;
  }

  h4 {
    color : $dark11;
  }

  p, .text {
    color : $dark9;
  }
}

.webadmin-wizard .panel-footer {
  bottom   : 0;
  width    : 100%;
  border-top : 1px solid $additional_light4;
}

.webadmin-wizard .panel-body-big{
  margin-top: 60px;
}

.webadmin-wizard .btn-default {
  color            : $dark9 !important;
  background-color : transparent !important;
  box-shadow       : none;
  border           : 1px solid $light5;
  font-family      : $font-family-medium;
  font-size        : 14px;
  line-height      : 16px;

  &:hover:not([disabled]):not(.disabled) {
    border           : 1px solid $light8 !important;
    background-color : $light6 !important;
    box-shadow       : inset 0 -1px 0 0 $light8;
  }

  &:active,
  &.active {
    border           : 1px solid $light8 !important;
    background-color : $light7 !important;
    box-shadow       : inset 0 1px 0 0 $light8 !important;
  }
}

.webadmin-wizard .btn-primary {
  font-family      : $font-family-medium;
  font-size        : 14px;
  line-height      : 16px;
  color            : $light1 !important;
  background-color : $brand_core !important;
  border           : none !important;
  box-shadow       : inset 0 -1px 0 0 $brand_d2 !important;

  &:hover:not([disabled]):not(.disabled) {
    background-color : $brand_d1 !important;
    box-shadow       : inset 0 -1px 0 0 $brand_d3;
  }

  &:focus,
  &.focus {

  }

  &:active,
  &.active {
    background-color : $brand_d2 !important;
    box-shadow       : inset 0 1px 0 0 $brand_d4 !important;
  }
}

.webadmin-wizard .form-control {
  display          : block;
  width            : 100%;
  height           : 32px;
  font-size        : 14px;
  line-height      : 1.428571429;
  color            : $dark9;
  background-color : $light1;
  background-image : none;
  border           : 1px solid $light6;
  border-radius    : 2px;
  transition       : none;
  box-shadow       : none;
  padding          : 5px 10px;

  @include placeholder();

  &[disabled], &[readonly],
  fieldset[disabled] & {
    background-color : $additional_light2;

    &:hover, &:focus {
      border-color : $light6 !important;
    }
  }

  &:hover {
    border-color : $light8;
  }

  &:focus {
    border-color : $brand_core !important;
    box-shadow   : none;
  }
}

.webadmin-wizard .new-style-checkbox {
  .control-label {
    color : $dark9;
    font-weight: 500 !important;

    &:hover {
      color : $dark6;
    }
  }

  .nx-checkbox {
    display : flex;
    float   : left;
    margin  : 0;

    input[type="checkbox"] {
      position : absolute;
      opacity  : 0;
    }

    input:hover ~ .tick {
      svg polygon.box,
      svg polyline.box {
        stroke : $dark1;
      }
    }

    input:active ~ .tick {
      svg polygon.box,
      svg polyline.box {
        stroke : $dark9 !important;
      }
    }

    input:hover ~ .check {
      svg polygon.box,
      svg polyline.box {
        stroke : $dark1;
      }

      & ~ .text {
        color : $dark1;
      }
    }

    input:active ~ .check {
      svg polygon.box,
      svg polyline.box {
        stroke : $dark9 !important;
      }

      & ~ .text {
        color : $dark9 !important;
      }
    }

    &[disabled] {
      opacity : .3;

      .tick {
        cursor : default;
      }

      input:hover ~ .tick {
        svg polygon.box,
        svg polyline.box {
          stroke : $dark9 !important;
        }
      }
    }

    label {
      &:hover:not([disabled]) {
        color : $dark1;
      }

      &:active:not([disabled]) {
        color : $dark9 !important;
      }
    }

    & + label {
      cursor        : pointer;
      margin-bottom : 0;

      & + div.input-error {
        display : none;
      }
    }

    .tick {
      svg {
        height : 16px;
        width  : 20px;

        & polygon.box {
          stroke : $dark9;
        }

        & polyline.box {
          stroke : $dark9;
        }

        & polyline.tick {
          stroke : $brand_core;
        }
      }
    }
  }
}

.webadmin-wizard .label-success, .webadmin-wizard .label-danger {
  font-family : $font-family-medium;
  color       : $light1;
}

.webadmin-wizard .label-warning {
  font-family : $font-family-medium;
  color       : $dark9;
}

.hint{
  border: 1px solid $dark5;
  color: $light5;
  background-color: $dark10;
}

@mixin icon {
  display          : inline-block;
  background-size  : 352px 224px;
  background-image : url('../images/icons/web_wizard_sprite.png') !important;
  @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    background-image : url('../images/icons/web_wizard_sprite@2x.png') !important;
  }
}

@mixin kill-glyphicon {
  @include icon;
  &:before {
    content : none;
  }
}

.webadmin-wizard {
  .glyphicon.glyphicon-arrow-left{
    @include kill-glyphicon;
    width               : 20px;
    height              : 12px !important;
    background-position : 0 -175px;
  }

  .icon-success {
    @include icon;
    width               : 86px;
    height              : 86px;
    background-position : 0 0;
  }

  .icon-fail {
    @include icon;
    width               : 86px;
    height              : 86px;
    background-position : -86px 0px;
  }

  .icon-account {
    @include icon;
    width               : 86px;
    height              : 86px;
    background-position : -176px 0;
  }

  .icon-cloud {
    @include icon;
    width               : 86px;
    height              : 86px;
    background-position : -264px 0;
  }

  .icon-localSystem {
    @include icon;
    width               : 86px;
    height              : 86px;
    background-position : -1px -90px;
  }
}
