@use "../../../../styles/theme_variables" as *;

:host {
    margin-right : auto;
    flex         : 0 1 auto;
    min-width    : 0;
    height       : 40px;
    max-width    : 100%;
    
    .heading-style {
        font-family   : $font-family-medium;
        line-height   : 40px;
        height        : 40px;
        font-size     : 24px;
        display       : block;
        white-space   : nowrap;
    }

    .header-title {
        width      : fit-content;
        text-align : left !important;
        position   : relative;

        nx-text-editable {
            @extend .heading-style;
            
            &.editable-directive-edit {
                text-overflow: initial;
            }
        }
    }

    .has-edit-icon {
        padding-right : 40px;
    }

    .edit-button {
        position        : absolute;
        top             : 10px;
        right           : 10px;
        width           : 20px;
        height          : 20px;
        display         : flex;
        justify-content : flex-start;
        align-items     : center;
        pointer-events  : none;
    }

    .tag-wrapper {
        position  : absolute;
        top       : 0;
        right     : 0;
        transform : translateX(100%);
    }
}
