<div class="container" *ngIf="accountMode">
    <h1 translate>Account</h1>

    <form #accountForm="ngForm" name="accountForm" class="form-horizontal" novalidate>
        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label class="text-left text-md-right control-label" translate>Email</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" readonly [value]="account.email">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="firstName" class="text-left text-md-right control-label" translate>First name</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]="account.first_name"
                       name="firstName" id="firstName" #firstName="ngModel"
                       maxlength="255"
                       required
                       autofocus>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error"
                      *ngIf="firstName.invalid && firstName.touched" translate>First name is required</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="lastName" class="text-left text-md-right control-label" translate>Last name</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       [(ngModel)]="account.last_name"
                       name="lastName" id="lastName" #lastName="ngModel"
                       maxlength="255" required>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error"
                      *ngIf="lastName.invalid && lastName.touched" translate>Last name is required</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="lastName" class="text-left text-md-right control-label" translate>Language</label>
            </div>
            <div class="col-md-4">
                <nx-language-select (onSelected)="changeLanguage($event)"></nx-language-select>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-4 col-md-4">
                <nx-process-button
                        [process]="save"
                        [form]="accountForm"
                        [buttonText]="LANG.account.saveChanges">
                </nx-process-button>
            </div>
        </div>
    </form>
</div>

<div class="container" *ngIf="passwordMode">
    <h1 translate>Change Password</h1>
    <form #passwordForm="ngForm" class="form-horizontal" novalidate>
        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="password" class="text-left text-md-right control-label" translate>Current password</label>
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control"
                       (ngModel)="pass.password"
                       id="password" name="password" #password="ngModel"
                       autofocus
                       required>
            </div>
            <div class="col-md-4">
                <span class="help-block input-error"
                      *ngIf="password.invalid && password.touched" translate>Current password is required</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="password" class="text-left text-md-right control-label" translate>New password</label>
            </div>
            <div class="col-md-4">
                <nx-password-input
                        name="newPassword"
                        componentId="newPassword"
                        [(ngModel)]="pass.newPassword"
                        [form]="passwordForm"
                        #newPassword="ngModel">
                </nx-password-input>
            </div>

            <div class="col-md-4">
                <span class="help-block" *ngIf="newPassword.valid && LANG.passwordRequirements">
                    <span class="badge badge-success"
                          *ngIf="newPassword.control && !newPassword.control.fairPassword">{{LANG.passwordRequirements.good}}</span>
                    <span class="badge badge-warning"
                          *ngIf="newPassword.control && newPassword.control.fairPassword"
                          title="{{ LANG.passwordRequirements.fairMessage}}">{{LANG.passwordRequirements.fair}}</span>
                </span>

                <span class="help-block" *ngIf="!newPassword.valid && !newPassword.touched">

                    <span class="badge badge-danger"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.weak &&
                                 !newPassword.errors.common &&
                                 !newPassword.errors.pattern &&
                                 !newPassword.errors.minlength"
                          title="{{ LANG.passwordRequirements.weakMessage}}">{{LANG.passwordRequirements.weak}}</span>
                    <span class="badge badge-danger"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.common &&
                                 !newPassword.errors.pattern &&
                                 !newPassword.errors.minlength &&
                                 !newPassword.errors.required"
                          title="{{ LANG.passwordRequirements.commonMessage}}">{{LANG.passwordRequirements.common}}</span>
                    <span class="badge badge-danger"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.minlength &&
                                 !newPassword.errors.pattern"
                          title="{{ LANG.passwordRequirements.minLengthMessage}}">{{LANG.passwordRequirements.minLength}}</span>
                    <span class="badge badge-danger"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.pattern &&
                                 !newPassword.errors.minlength"
                          title="{{ LANG.passwordRequirements.requiredMessage}}">{{LANG.passwordRequirements.incorect}}</span>
                </span>

                <span class="help-block" *ngIf="!newPassword.valid && newPassword.touched">
                    <span class="input-error"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.weak &&
                                 !newPassword.errors.common &&
                                 !newPassword.errors.pattern &&
                                 !newPassword.errors.required &&
                                 !newPassword.errors.minlength">{{ LANG.passwordRequirements.weakMessage}}</span>

                    <span class="input-error"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.common &&
                                 !newPassword.errors.required">{{ LANG.passwordRequirements.commonMessage}}</span>

                    <span class="input-error"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.minlength">{{ LANG.passwordRequirements.minLengthMessage}}
                    </span>
                    <span class="input-error"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.pattern &&
                                 !newPassword.errors.minlength">{{ LANG.passwordRequirements.incorectMessage}}
                    </span>
                    <span class="input-error"
                          *ngIf="newPassword.errors &&
                                 newPassword.errors.required">{{ LANG.passwordRequirements.missingMessage}}</span>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-md-4 col-md-4">
                <nx-process-button
                        [process]="changePassword"
                        [form]="passwordForm"
                        [buttonText]="LANG.account.changePassword">
                </nx-process-button>
            </div>
        </div>
    </form>
</div>



<div class="container">
    <nx-footer></nx-footer>
</div>
