@use '../../../../styles/typography';
@use '../../../../../styles/theme_variables' as *;

div {
    position: relative;
}

.is-disabled {
    &:hover {
        cursor: not-allowed;
    }
    .text-area {
        pointer-events: none;
    }
}

.error-text {
    @include typography.regular11error;
    margin-bottom: -5px;
}

.text-area {
   width         : 100%;
   height        : 280px;
   overflow-y    : scroll;
   overflow-x    : hidden;

   &:focus {
       outline: none;
   }
}