@use "../../../styles/typography";
@use "../../../../styles/theme_variables_common";
.radio-group {
    margin-top: 5px;
}
.modal-body {
    .server-url {
        .server-url-label {
            margin-top: 12px;
        }
        label:last-child,
        input:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.modal-footer {
    padding: 1rem;
    &.next-button {
        nx-process-button {
            margin-right: 0;
        }
    }
}

.svg-icon {
    svg {
        height: 24px;
        pointer-events: none;
    }
    &.next-button {
        svg {
            .st0 {
                fill: theme_variables_common.$light1;
            }
        }
    }
}
