<div class="modal-header">
    <h1
        class="modal-title"
        translate
        >Move Cloud Storage</h1
    >
    <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="close()"
    >
        <div class="close-content"><span class="close-icon"></span></div>
    </button>
</div>
<form
    #moveForm="ngForm"
    name="moveForm"
>
    <div class="modal-body">
        <p translate>Move to...</p>
        <nx-select
            class="mb-2"
            id="system"
            [items]="targetSystems"
            [selected]="targetSystems[0]"
            (onSelected)="setTargetSystem($event)"
            required
        ></nx-select>
        <p
            *ngIf="targetOnline$ | async"
            class="light-text"
            translate
            >If selected system already has cloud storage, it will be merged with this one.</p
        >
        <p
            *ngIf="!(targetOnline$ | async)"
            class="mt-2 error-label"
            translate
            >Cloud storage cannot be moved to offline systems.</p
        >
    </div>
    <div class="modal-footer">
        <nx-process-button
            [buttonDisabled]="!currentTargetOnline"
            [process]="move"
            [form]="moveForm"
            [actionType]="'primary'"
            buttonText="{{ 'OK' | translate }}"
        ></nx-process-button>
        <nx-cancel-button
            [process]="move"
            [discardFn]="close"
        ></nx-cancel-button>
    </div>
</form>
