<div class="modal-header">
    <h1 class="modal-title">
        {{ LANG.dialogs.cloudStorage.moveCloudStorage.title }}
    </h1>
    <button *ngIf="closable" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
        <div class="close-content"><span class="close-icon"></span></div>
    </button>
</div>
<form #moveForm="ngForm" name="moveForm">
    <div class="modal-body">
        <p translate>Move to...</p>
        <nx-select class="mb-2" id="system" [items]="items" [selected]="items[0]" (onSelected)="setTargetSystem($event)" required></nx-select>
        <p *ngIf="!errorText" class="light-text" translate>
            If selected system already has cloud storage, it will be merged with
            this one.
        </p>
        <p *ngIf="errorText" class="mt-2 error-label">{{ errorText }}</p>
    </div>
    <div class="modal-footer" (click)="move()">
        <!-- move process still needs to be implemented -->
        <nx-process-button [process]="move" [form]="moveForm" [actionType]="'primary'" buttonText="{{ 'OK' | translate }}"></nx-process-button>
        <button type="button" class="btn btn-default" (click)="close()" translate>Cancel</button>
    </div>
</form>
