@use "../../../../../styles/typography";
@use "../../../../../../styles/theme_variables_common" as *;

.menu-container {
    position: absolute;
    background-color: var(--mobile-header-bg);
    width: 100%;
    height: 100vh;
    z-index: 3;

    .menu-items {
        .menu-item {
            width: 100%;
            .node-name {
                padding-top: 32px;
                border-top: solid 1px $dark5;
                @include typography.regular12nocolor;
                margin: 0 0 12px 16px;
                color: var(--mobile-level-one-color);
                text-transform: uppercase;
            }
            .level-two-item {
                display: flex;
                width: 100%;
                height: 48px;
                border-bottom: solid 1px $dark2;
                border-top: solid 1px $dark5;
                &:hover {
                    cursor: pointer;
                }
                .subnode {
                    @include typography.regular16nocolor;
                    color:  var(--mobile-level-two-color);
                    margin: 0;
                    width: 100%;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    padding-left: 16px;
                    border-right: solid 1px $dark3;
                    svg-icon svg {
                        margin: 0 0 2px 4px;
                    }
                    &.active {
                        background-color: var(--header-level-one-active-bg);
                        border-left: 2px solid var(--brand-core);
                        color: var(--brand-core);
                    }
                }
                .nav-arrow {
                    width: 60px;
                    height: 100%;
                    border-left: solid 1px $dark4;
                    svg-icon {
                        display: block;
                        margin: 12px 27px;
                        .nav-arrow {
                            stroke: $dark13;
                        }
                    }
                }
            }
        }
    }
}
