@use '../../../../styles/typography';
@import '../../../../../styles/theme_palette';
@import '../../../../styles/mixins';
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.active {
    background: $additional_light4 !important;
}

.additional-systems-tile {
    @include typography.regular14;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 46px;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: $additional_light2;
    &:hover {
        background: $additional_light3;
    }

    &:active {
        @extend .active;
    }
}
