<div class="dropdown {{dropdownType}}"
    [ngClass]="{'dropdown-show': show}"
    (nxClickElsewhere)="show = false">

    <button class="btn btn-dropdown-toggle dropdown-toggle"
            #dropdownButtonFocus
            (click)="show = !show"
            type="button" id="{{id}}" data-toggle="dropdown">
        <div class="btn loading" *ngIf="stillLoading">
            <div><span class="dot1"></span><span class="dot2"></span><span class="dot3"></span></div>
        </div>
        <span *ngIf="!stillLoading" [ngClass]="{ 'ellipsis-mr': merge || ellipsisMargin, ellipsis: !merge }" [innerHtml]="_selectedItem && _selectedItem.name"></span>
        <div class="arrow-flip">
            <svg-icon nx-add-svg-src [src]="CONFIG.icons.dir + 'arrow_expand.svg'"></svg-icon>
        </div>
    </button>

    <div class="dropdown-menu" [nxArrowNav]="show"
        [style.display]="show ? 'inline-block' : 'none'"
        [attr.aria-labelledby]="id">

        <ul class="dropdown-menu--list">
            <li class="dropdown-item-container" *ngFor="let item of items; trackBy: trackItem">
                <hr *ngIf="item.name === 'horizontal'; else systemSelect" [ngClass]="{'narrow-hr': hrMargin}">
                <ng-template #systemSelect>
                    <a *ngIf="!item.disabled; else disabledItem" class="dropdown-item inset" (keyup)="handleKeyup($event, item)" tabindex="0"
                        [ngClass]="{ 'selected': _selectedItem && _selectedItem.value === item.value }"
                        (click)="show = false; change(item)">
                        <span [innerHTML]="item.name"></span>
                    </a>
                    <ng-template #disabledItem>
                        <a class="dropdown-item inset disabled" (click)="show = false">
                            <span class="disabled" [innerHTML]="item.name"></span>
                        </a>
                    </ng-template>
                </ng-template>
            </li>
        </ul>
    </div>

</div>
