@use "../../../styles/theme_variables_common" as *;
@use "../../styles/typography";

$preloader_circle_color          : $light;
$preloader_circle_size           : 16px;
$preloader_circle_distance       : 12px;

$preloader_small_circle_size     : 10px;
$preloader_small_circle_distance : 8px;

@mixin preloader($circle_color, $circle_size, $circle_distance) {
    & {
        width : ($preloader_circle_size + $preloader_circle_distance) *3;
    }

    .circleG {
        background-color                  : transparentize($circle_color, 1);
        float                             : left;
        height                            : $circle_size;
        width                             : $circle_size;
        border-radius                     : $circle_size*0.5;
        margin                            : 0 $circle_distance*0.5;
        -webkit-transform                 : translate3d(0, 0, 0);
        -webkit-animation-name            : bounce_circleG;
        animation-name                    : bounce_circleG;
        -webkit-animation-duration        : 1.4s;
        animation-duration                : 1.4s;
        -webkit-animation-iteration-count : infinite;
        animation-iteration-count         : infinite;
        -webkit-animation-direction       : normal;
        animation-direction               : normal;
    }

    .circleG_2 {
        -webkit-animation-delay : 0.15s;
        animation-delay         : 0.15s;
    }

    .circleG_3 {
        -webkit-animation-delay : 0.3s;
        animation-delay         : 0.3s;
    }

    @-webkit-keyframes bounce_circleG {
        0% {
        }
        40% {
            background-color : $circle_color;
        }
        80% {
            background-color : transparentize($circle_color, 1);
        }
        100% {
        }
    }

    @keyframes bounce_circleG {
        0% {
        }
        40% {
            background-color : $circle_color;
        }
        80% {
            background-color : transparentize($circle_color, 1);
        }
        100% {
        }
    }
}

.placeholder {
    &-wrapper {
        min-height       : 200px;
        height           : auto;
        position         : relative;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        background-color : transparent;
    }

    &-section {
        width           : 100%;
        display         : flex;
        justify-content : center;
        align-items     : center;
        height          : 400px;
        margin-top      : 40px;

        .page-placeholder {
            position : relative;
            height   : 100%;
        }
    }

    &-content {
        height    : 30px;
        display   : flex;
        transform : translateY(-50%);

        &.merge-wrapper {
            height    : 86px;
            transform : translateY(+20%);
        }

        &.hm-camera-preview {
            transform : none;
        }
    }

    &.small {
        .placeholder-content {
            margin-right : 0.25rem;
        }

        .placeholder-preloader {
            margin : auto 0;
        }

        .circleG {
            margin-left  : 0 !important;
            margin-right : 4px !important;
            height       : 10px !important;
            width        : 10px !important;
        }
    }

    &.hm-camera-preview {
        height : 177px;
    }

    &.generic-camera-preview {
        height : 120px;
    }
}

.page-placeholder {
    width    : calc(100% - 16px);
    margin   : 0 auto;
    z-index  : 1;
    /*This is used for the preloaders.
                     It should always be higher than the video,
                     but not the top bar of the video player*/

    //background-color : $dark9;
    position : relative;

    &.has-preloader {
        background-color : transparent;
        opacity          : 1;
        position         : relative;
    }

    &.with-footer {
        height     : calc(100% - 100px);
        min-height : 250px;
        position   : relative;
    }

    .placeholder-content {
        transform: none;
    }
}

.placeholder-content {
    display         : flex;
    flex-direction  : column;
    justify-content : space-around;
    align-items     : center;
    text-align      : center;
    position        : relative;
    margin          : 0 auto;
    width           : 100%;
    height          : 100%;
    font-size       : 130%;
    font-weight     : 300;
    line-height     : 30px;
    color           : $light;
    transform       : none;

    a {
        color           : $light12;
        text-decoration : underline;

        &:hover, &:active {
            color : $light1;
        }
    }
}


.placeholder-icon {
    margin-bottom : 24px;

    svg {
        .brand_element_cloud {
            fill : var(--placehoder-cloud-color);
            opacity: var(--placehoder-cloud-opacity);
        }
        .brand_element {
            fill : var(--brand-core);
        }
    }
}

.placeholder-title {
    @include typography.medium24nocolor;
    color : var(--placehoder-title-color) !important;
    text-align      : center;
    margin-bottom   : 1rem;
    justify-content : center;
    max-width       : 560px;
}

.placeholder-message {
    @include typography.regular15nocolor;
    color : var(--placehoder-body-color) !important;
    line-height : 24px;
    max-width   : 560px;
}

.placeholder-preloader {
    @include preloader($preloader_circle_color, $preloader_circle_size, $preloader_circle_distance);
}

.section-placeholder {
    @include typography.placeholder;
    height          : 100%;
    width           : 100%;
    margin          : 60px 0;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}
