<div
    class="form-group"
    [formGroup]="searchForm"
>
    <svg-icon
        nx-add-svg-src
        class="web-icon-search icon-search"
        [src]="icons.dir + 'search.svg'"
    ></svg-icon>
    <input
        class="form-control search-input inset"
        autocomplete="off"
        formControlName="search"
        [placeholder]="'Search' | translate"
    />
    <span
        class="glyphicon close-icon search-clear"
        [hidden]="searchForm.controls.search.value === ''"
        (click)="searchForm.controls.search.setValue('')"
    ></span>
</div>
