@use '../../../../styles/typography';
@use '../../../../../styles/theme_variables' as *;
@use '~bootstrap/scss/bootstrap';

$mobile-breakpoint: 609px;

.heading-link {
    @include typography.regular24;
    cursor: pointer;
    margin-bottom: 48px;
    &:hover {
        text-decoration: underline;
    }
}

.integrations {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 36px auto 0 auto;
    padding: 0;
    color: $dark10;

    @media screen and (min-width: $mobile-breakpoint) {
        padding: 0 8px;
        margin-top: 96px !important;
    }

    &-wrapper {
        display: flex;
        
        justify-content: center;
        flex-direction: row;
        margin: 0 -1rem -1rem 0;
        width: calc(100% - 1rem);
        @media screen and (min-width: $mobile-breakpoint) {
            width: 100%;
        }
    }

    button {
        font-size: 14px !important;
    }
}

.info-block {
    display: flex;
    flex-direction: column;
    flex: 1 0 275px;
    padding: 1rem;

    @media screen and (min-width: $mobile-breakpoint) {
        max-width: 275px;
    }

    p {
        line-height: 1rem;
        margin-bottom: 1rem;
    }
}

.info-block{
    margin: 0 1rem 1rem 0;
    h3 {
        @include typography.medium15;
    }
}

.integrations-block{
    position: relative;
    margin: 56px 0 1rem 0;
    @media screen and (min-width: $mobile-breakpoint) {
        margin: 0 1rem 1rem 0;
    }
    h3 {
        @include typography.medium15;
    }
}

.preloader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light1;
}

.integrations-blocks-wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    &::-webkit-scrollbar {
        display: none;
    }
}

.integration-block {
    padding: 2rem;
    min-width: 100%;
    cursor: pointer;
    position: relative;
    width: 100%;
    scroll-snap-align: start;
    @media screen and (min-width: $mobile-breakpoint){
        padding: 1rem;
        min-width: 210px;
        &:after {
            content: "";
            position: absolute;
            top: 1rem;
            bottom: 1rem;
            right: 0;
            border: 1px solid $light4;
        }
    }
    svg-icon > svg {
        height: 48px;
    }
    h4 {
        @include typography.medium18;
        margin-top: 1rem;
    }
}

.integrations-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $mobile-breakpoint){
        flex-direction: row;
        width: auto;
    }
    
}

.more-integrations {
    padding: 1rem 1.25rem;
    cursor: pointer;
    border: 1px solid $light4;
    margin: 0 16px 24px 16px;

    @media screen and (min-width: $mobile-breakpoint){
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        min-height: 274px;
        border: none;
        margin: 0;
    }

    p {
        @include typography.medium18;
        margin: 0 !important;
        text-align: center;
    }
}

.mobile-scroll-indicator {
    display: flex;
    justify-content: center;
    margin: 16px auto;
    .scroll-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 8px 5px;
        display: inline-block;
        background: $additional_light2;
    }

    .selected {
        background: $light11;
    }

    @media screen and (min-width: $mobile-breakpoint){
        display: none;
    }
}