<ng-template #integrationBlock let-integration="integration">
    <div class="integration-block" [routerLink]="['/integrations', integration.asset.id]">
        <img [src]="integration.asset.information.logo">
        <h4>{{integration.title}}</h4>
        <p>{{integration.asset.information.shortDescription}}</p>
    </div>
</ng-template>

<ng-template #integrationsBlocks>
    <div *ngIf="integrationsDetails() as integrations" class="card integrations-block">
        <div #integrationsScroll
            (scroll)="updateIndex(getScrollPosition($event, integrations.plugins.length))"
            class="integrations-blocks-wrapper">
            <ng-container *ngFor="let integration of integrations.plugins">
                <ng-container *ngTemplateOutlet="integrationBlock;context{integration:integration}"></ng-container>
            </ng-container>
        </div>
        <div class="mobile-scroll-indicator">
            <div *ngFor="let _ of integrations.plugins; let index=index"
                (click)="updateScroll(index, integrations.plugins.length)"
                [ngClass]="{'selected': index === scrollIndex}"
                class="scroll-circle"></div>
        </div>
        <div (click)="navigate(integrations.more.url)" class="more-integrations">
            <p [innerHTML]="integrations.translatedCount"></p>
        </div>
        <div *ngIf="!pluginCount" class="preloader-overlay">
            <nx-pre-loader></nx-pre-loader>
        </div>
    </div>
</ng-template>

<section class="integrations">
    <h2 class="heading-link" [routerLink]="integrationsNode.url">{{integrationsNode.title}}</h2>
    <div class="integrations-wrapper">
        <div class="card info-block">
            <h3>{{integrationsNode.nodes[0].title}}</h3>
            <p *ngFor="let block of integrationsNode.nodes[0].asset.blocks" [innerHTML]="block.contentHTML"></p>
            <button class="btn btn-default mr-auto mt-auto" [routerLink]="integrationsNode.nodes[0].url">{{integrationsNode.nodes[0].asset.title}}</button>
        </div>
        <ng-container *ngIf="currentWindowWidth > 608">
            <ng-container *ngTemplateOutlet="integrationsBlocks"></ng-container>
        </ng-container>
    </div>
    <ng-container *ngIf="currentWindowWidth <= 608">
        <ng-container *ngTemplateOutlet="integrationsBlocks"></ng-container>
    </ng-container>
</section>
