.gitignore
*.png
*.xml
*.html
*.tar
*.exe
*.pabotsuitenames
outputs
syntax: glob
Docker/Video
Docker/Data
.project
.pydevproject
org.eclipse.core.resources.prefs
Screenshots
__pycache__
pabot_results
/libspecs/
*.idea
*check.robot
*.csv
server-connect.robot
