certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
docker==4.1.0
docker-pycreds==0.4.0
future==0.17.1
idna==2.8
requests==2.22.0
robotframework==3.1.2
robotframework-imaplibrary==0.3.0
robotframework-pabot==1.10.0
robotframework-requests==0.6.2
robotframework-seleniumlibrary==4.1.0
robotframework-sshlibrary==3.6.0
selenium==3.141.0
six==1.12.0
urllib3==1.24.2
websocket-client==0.56.0
