<header
    #show404Header
    [ngClass]="{
        'header-d': viewType === 'desktop',
        'header-m': viewType === 'mobile'
    }"
>
    <h3
        class="authorize-header"
        translate
    >
        404
    </h3>
</header>
<main
    [ngClass]="{
        'main-w': viewType === 'web',
        'main-d': viewType === 'desktop',
        'main-m': viewType === 'mobile'
    }"
    [ngStyle]="{ height: 'calc(100% - ' + show404Header.offsetHeight + 'px)' }"
>
    <form #show404Form="ngForm">
        <h3
            class="authorize-header mt-3 mb-2"
            translate
        >
            Page Not Found
        </h3>
        <div
            class="content-message"
            translate
        >
            The page you are looking for does not exist or another error has occured
        </div>
    </form>
    <footer
        [ngClass]="{
            'footer-w': viewType === 'web',
            'footer-d': viewType === 'desktop',
            'footer-m': viewType === 'mobile'
        }"
    >
        <div class="d-flex justify-content-end w-100">
            <button
                class="btn text-button"
                type="button"
                (click)="setCurrentState.emit('email')"
            >
                <span translate>Log In</span>
            </button>
        </div>
    </footer>
</main>
