@import '../../../../styles/custom/custom_palette';
@import '../../../../styles/theme_palette';
@import '../../../../styles/theme_variables';

.no-data-panel {
    width            : 100%;
    z-index          : 100;
    text-align       : center;
    background-color : $body-bg;
    padding          : 2rem 0;
    
    &-body {
        font-size   : $h3-font-size;
        font-family : $font-family-light;
    }
}