<ng-container *ngIf="(APIToolService.loadingFailure$ | async); then loadingError"></ng-container>

<ng-container *ngIf="!(APIToolService.loadingFailure$ | async)">
    <ng-container *ngTemplateOutlet="mainPage;context{ content: APIToolService.leftMenuContent }"></ng-container>
</ng-container>

<ng-template #mainPage let-content="content">
    <div class="block-container mt-3">
        <div class="row">
            <!-- Calculate height of menu, offset by height of header div and 16px on top and bottom -->
            <div class="fixed-sidebar col-12 d-flex flex-column fill-screen-height"
                 [ngStyle]="{'height': 'calc(100% - ('+ headerHeight + 'px + 16px))'}">
                <nx-system-dropdown></nx-system-dropdown>
                <nx-pre-loader *ngIf="!content"></nx-pre-loader>
                <nx-menu-api *ngIf="content"
                         [content]="content"
                         [searchable]="content.searchable"></nx-menu-api>
            </div>
            <!-- Offset for the fixed menu -->
            <div class="col-12 col-md-8 col-xl-7 pt-3 pt-md-0 px-3 offset-md-4 offset-xl-3">
                <nx-pre-loader *ngIf="!content"></nx-pre-loader>
                <nx-swagger></nx-swagger>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loadingError>
    <nx-page-placeholder [type]="APIToolService.loadingErrorType">
        <button class="btn btn-primary main-button mx-auto">
            <a routerLink="/" translate>Go to Main Page</a>
        </button>
    </nx-page-placeholder>
</ng-template>