@use "../../styles/typography";
@use "../../../styles/theme_variables_common" as *;
@use "../../styles/buttons" as *;

@import "~bootstrap/scss/mixins/breakpoints";

.page-wrapper {
    min-height: 100%;
    background: #fff !important;
    @include media-breakpoint-down(sm) {
        background: $additional_light2 !important;
        overflow-x: hidden;
	}
}

.fixed-sidebar {
    overflow-x: hidden;
    overflow-y: overlay !important;
	margin        : 0 !important;
	padding-left  : 0 !important;
	padding-right : 0 !important;
    background: $additional_light2;
    height: 100% !important;

	@include media-breakpoint-down(sm) {
		height        : auto !important;
        top: 0;
        left: 0;
		padding-right : 1rem !important;
        width: 100vw !important;
	}
 
	@include media-breakpoint-up(md) {
		position : fixed;
		left     : 0;
		width    : calc((100% - #{$scrollbar-height}) / 3)
	}

	@include media-breakpoint-up(xl) {
		width     : calc((100% - #{$scrollbar-height}) / 4);
		max-width : calc(#{$fluid-container-max-width} / 4);
	}

	nx-developers-menu {
        position: sticky;
        word-break: break-word;
        background: $additional_light2;
        margin: 1rem -1rem 1rem -1rem;
        grid-column: span 12;
        grid-row: 1 / -1;
        width: 100%;

        @include media-breakpoint-up(md) {
            position: sticky;
            top: 0;
            margin: -8px 16px 0px 0px;
            grid-column: span 4;
        }
        @include media-breakpoint-up(xl) {
            grid-column: span 3;
        }

        @include media-breakpoint-down(sm){
            margin: 0px 16px;
        }

        div.left-menu-arrow > svg-icon > svg {
            width: 16px !important;
            height: 16px !important;
            > g > polyline  {
                stroke: $dark10;
            }
        }

        nx-search {
            padding: 0 1rem;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
      }
}


.swagger-container {
    margin-top: 22px;
    padding-left: 4px !important;
}

@include media-breakpoint-down(sm) {
    .swagger-container {
        background: $light1 !important;
    }
    .block-container {
        padding: 0px 0px !important;
    }
}
