<nx-license-new-component
        [system]="this.system"
        [servers]="this.system?.servers"
        [licenses]="licenses">
</nx-license-new-component>

<nx-pre-loader *ngIf="!licenses"></nx-pre-loader>

<nx-license-trial-component
        [system]="this.system"
        [servers]="this.system?.servers"
        [licenses]="licenses">
</nx-license-trial-component>

<nx-license-summary-component
        [licenses]="licenses">
</nx-license-summary-component>

<nx-license-detail-component
        [licenses]="licenses">
</nx-license-detail-component>
