<nx-pre-loader *ngIf="!system"></nx-pre-loader>

<nx-page-placeholder
    class="sectional-div licenses-placeholder"
    type="NO_SETTINGS"
    *ngIf="system && !system.isOnline"
>
</nx-page-placeholder>

<div *ngIf="system?.isOnline">
    <nx-license-new-component
        [system]="system"
        [servers]="system?.servers"
        [licenses]="licenses"
    >
    </nx-license-new-component>

    <nx-pre-loader *ngIf="!licenses"></nx-pre-loader>

    <nx-license-summary-component
        [licensesLegacyInfo]="licenseSummaries"
        [selectedSystem]="system"
    >
    </nx-license-summary-component>

    <nx-license-detail-component
        [system]="system"
        [licenses]="licenses"
    >
    </nx-license-detail-component>
</div>
