{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% load cms_filters %}
{% load util_tags %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .restricted-warning {
            border: red 1px solid !important;
        }
    </style>
    <script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'split.js/dist/split.min.js' %}"></script>
    <script src="{% static 'csstree-validator/dist/csstree-validator.js' %}"></script>
    <script src="{% static 'uuid/dist/umd/uuidv4.min.js' %}"></script>

{% endblock %}
<{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url 'admin:cms_asset_changelist' %}">{{ asset_opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; <a href="{% url 'admin:cms_asset_change' asset.id %}"> {{ asset.name }}</a>
        &rsaquo; <a href="{% url 'admin:pages' asset.id %}"> Pages </a>
        &rsaquo; {% trans 'Edit'%} <span>{{ original.get_nice_name }}</span>
    </div>
{% endblock %}
{% block content %}
{% autoescape off %}{{ original.description }}{% endautoescape %}
<div class="sort-links">Sort By
    <a class="{% if not request.GET.order or request.GET.order == '' %}selected{% endif %}" href="?{% url_replace request 'order' '' %}">Default</a>
    {% for order_key, order_val in order_options.items %}
    <a class="{% if request.GET.order == order_key %}selected{% endif %}" href="?{% url_replace request 'order' order_key %}">{{ order_val }}</a>
    {% endfor %}
</div>
<hr>

<form id="context_form" class="aligned" action="" enctype="multipart/form-data" method="post">
{% csrf_token %}
    <div class="slidingContainer">
        <div id="fields" class="split resizable">
            <input type="hidden" name="context_id" value="{{ original.id }}">
            <input type="hidden" name="asset_id" value="{{ asset.id }}">
            <input type="hidden" name="currentLanguage" value="{{ language_code }}">
            <input type="hidden" name="customPreview" value="" id="customPreviewInput">
            <input type="hidden" id="languageChanged">
            {% for fieldset, fields in custom_form.fieldsets.items %}
                <fieldset class="module">
                    {% if fieldset %}<h2>{{ fieldset }}</h2>{% endif %}
                {% for field_id in fields %}
                    {% with custom_form|get_form_item:field_id as field %}
                    <div class="form-row{% if field.errors %} errors {% endif %}{% if field.field.disabled %} disabled-row{% endif %}">
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                        </ul>
                        <div>
                            {% get_data_structure field.name original as data_structure %}
                            {% get_datastructure_type data_structure as data_structure_type %}
                            {% is_external_file_or_image field.name original as is_external %}
                            {% is_protected data_structure asset as protected %}
                            {% has_value field.name asset original language_code as record_exists %}
                            <label {% if data_structure.advanced or protected %} class="text-danger" {% endif %}
                                    for="{{ field.name }}">{{ field.label }}{% if not data_structure.optional %}*{% endif %}
                                {% if user.is_superuser %}<p class="help">{{ field.name }}</p>{% endif %}
                                {% if not data_structure.optional %} <p class="help">required</p> {% endif %}
                                {% if data_structure and can_edit_datastructure %}<a href="{% url 'admin:cms_datastructure_change' data_structure.id %}">Edit Data Structure</a>{% endif %}
                            </label>
                            <div id="{{ field.name }}" class="ml-160 position-relative">
                                {% if data_structure.has_image_field and field.value %}
                                    <div>
                                        {% if data_structure.optional and record_exists %}
                                            <label><input id="delete_{{ field.name }}" type="checkbox"
                                                          name="delete_{{ field.name }}" value="false"/>&nbsp;Clear Value</label>
                                            <br><br>
                                        {% endif %}
                                        <img class="
                                            {% if 'background' in data_structure.meta_settings and data_structure.meta_settings.background != 'transparent' %}
                                                {# TODO: Note that optional was here #}
                                                {{ data_structure.meta_settings.background }}
                                            {% else %}
                                                default-background
                                            {% endif %}
                                            context-preview {% if not record_exists %} placeholder-image {% endif %}"
                                             src="data:image/png;base64,{{ field.value }}">
                                    </div>
                                    <div>
                                        <a href="{% url 'download_file' field.name %}?asset_id={{ asset.id }}&show_image={{True}}" target="_blank">
                                            Download Original
                                        </a>
                                    </div>

                                {% elif data_structure.has_file_field and field.value %}
                                    <div>
                                        {% if data_structure.optional and record_exists %}
                                            <label><input id="delete_{{ field.name }}" type="checkbox" name="delete_{{ field.name }}"
                                                          value="false"/>&nbsp;Clear Value</label>
                                        {% endif %}
                                        {% if data_structure_type == EXTERNAL_IMAGE %}
                                            <img class="
                                                {% if 'background' in data_structure.meta_settings and data_structure.meta_settings.background != 'transparent' %}
                                                    {{ data_structure.meta_settings.background }}
                                                {% else %}
                                                    default-background
                                                {% endif %}
                                                context-preview {% if not record_exists %} placeholder-image {% endif %}"
                                                 src="{{ field.value }}">
                                        {% else %}
                                        <a href={% if not is_external %}
                                                    "{% url 'download_file' field.name %}?asset_id={{ asset.id }}&lang={{ language_code }}&draft"
                                                {% else %}
                                                    "{{ field.value }}"
                                                {% endif %} download>
                                            {% if not record_exists %}
                                                {# TODO: Note that data_structure.optional was here #}
                                                Download Example
                                            {% else %}
                                                Download
                                            {% endif %}
                                        </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if not field.field.disabled or data_structure_type != 'HTML' %}
                                    {{ field }}
                                {% elif data_structure_type == 'HTML' %}
                                    <div class="show-html">{{ field.value|safe }}</div>
                                {% endif %}

                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                {% endfor %}
                </fieldset>
            {% endfor %}
        </div>

        {% if asset.can_preview_on_portal and preview_url %}
        <div id="preview" class="split">
            <iframe class="previewFrame" src="{{ preview_url }}&adminPreview=true"></iframe>
        </div>
        {% endif %}
    </div>
    {% has_permission user asset 'cms.edit_content' as can_edit_content %}
    {% if can_edit_content %}
        <div class="submit-row">
            {% if preview_link %}
                <button class='btn btn-sm btn-default pull-left' onClick="openPreview();return false;">Open Preview</button>
            {% endif %}
            {% if user.is_superuser and context.file_path %}
                <a class="btn btn-sm btn-default"
                   href="{% url 'download_file' context.file_path %}?asset_id={{ asset.id }}&lang={{ language.code }}&draft"
                   download>Download Draft</a>
            {% endif %}
            {% if asset.can_preview_on_portal %}
                <button class="btn btn-sm btn-info" type="submit" name="Preview">Save draft</button>
            {% else %}
                <button class="btn btn-sm btn-info" type="submit" name="SaveDraft">Save Draft</button>
            {% endif %}
            <button class="btn btn-sm btn-success" type="submit" name="SendReview">Submit & Review</button>
            <button class="btn btn-sm btn-danger" type="reset" name="Reset">Reset</button>
        </div>
    {% endif %}
</form>
<script>
    const brandingVariables = {{default_branding|safe}}
    const reviewButton = document.querySelector('button[name="SendReview"]')

    const checkInput = (
        inputText,
        branding = brandingVariables
    ) => {
        const text = inputText.toLowerCase()
        return branding.filter(term => text.includes(term)).join(', ')
    }

    const checkValue = elementOrEvent => {
        const element = elementOrEvent.target || elementOrEvent
        const matched = checkInput(element.value)
        const errorId = `${element.name}-restricted-error`
        const isEditor = element.classList.contains('tinymce')
        const existingError = document.getElementById(errorId)
        if (matched) {
            const messageText = `Input contains restricted keyword(s) \"${matched}\"`
            if (!existingError) {
                const message = document.createElement('p')
                message.id = errorId
                message.innerText = messageText
                message.classList.add('text-warning')
                try {
                    element.after(message)
                } catch(e) {
                    console.log(element)
                }
                (isEditor ? element.parentNode: element).classList.add('restricted-warning')
            } else {
                existingError.innerText = messageText
            }
        } else if (!matched && existingError) {
            try {
                existingError.parentNode.removeChild(existingError)
            } catch (e) {
                console.error(e)
            }
            (isEditor ? element.parentNode: element).classList.remove('restricted-warning')
        }
    }

    const textInputs = [
    ...document.querySelectorAll('input[type="text"]'),
    ...document.querySelectorAll('textarea')
    ]

    textInputs.forEach(input => {
        checkValue(input)
        input.addEventListener('change', checkValue)
    })

    const getErrors = () => {
        const inputs = textInputs.map(({ name, value }) => ({ name, matched: checkInput(value) })).filter(({ matched }) => matched)

        return inputs.map(({ name, matched }) => `${name}: ${matched}`)
    }

    const buildErrorMessage = errors => {
        return [
        'The following branding variables were found within this form:\n',
        ...errors,
        '\nPlease confirm that you want to save or cancel to modify changes.'
        ].join('\n')
    }

    const checkForBranding = event => {
        const errors = getErrors()
        if (errors.length && !confirm(buildErrorMessage(errors))) {
            event.preventDefault();
        }

    }
    reviewButton.addEventListener('click', checkForBranding)
</script>
<script>
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': document.cookie.split('csrftoken=')[1].split(' ')[0]
        }
    });

    let imagesBeingUploaded = 0
    var bytesToMb = "{{ BYTES_TO_MB }}";
    function openPreview() {
        let screen = window.screen;
        let windowScale = 0.75;
        let dim = `width=${Math.floor(screen.availWidth * windowScale)},height=${Math.floor(screen.availHeight * windowScale)}`;
        let win = window.open('{{ preview_link | safe }}', '', `_blank,${dim}`);
        win.opener = null;
    }

{#    {% if preview_link %}#}
{#        openPreview();#}
{#    {% endif %}#}

    function wasTouched() {
        var inputs = document.getElementsByTagName('input');
        var textareas = document.getElementsByTagName('textarea');
        var htmlEditors = tinymce.editors;

        for (var i = 0; i < inputs.length; ++i) {
            if (inputs[i].defaultValue !== inputs[i].value) {
                return true;
            }
        }

        for (var i = 0; i < textareas.length; ++i) {
            if (textareas[i].defaultValue !== textareas[i].value) {
                return true;
            }
        }
        if (htmlEditors.some(function (editor) {
            return editor.isDirty()
        })) {
            return true;
        }
        return false;
    }

    function languageChanged() {
        if (wasTouched() && confirm('Do you want to save changes?')) {
            document.getElementById('languageChanged').name = "languageChanged";
        }
        document.getElementById('context_form').submit();
    }

    var submitButtons = $('.submit-row button[type=submit]');
    function disableSubmitButtons(state) {
        for(var j=0; j < submitButtons.length; ++j) {
            submitButtons[j].disabled = state;
        }
    }

    var files = $('[type=file]');
    function fileHandler(event){
        var element = event.target;
        var upload_files = element.files;
        var errorList = $(element).parents('div').siblings('ul.errorlist');
        $(errorList).html("");

        if (element.hasOwnProperty('size') && upload_files.length > 0 && upload_files[0].size > element.size) {
            var errorMsg = "<li>The file's size it too large. Its size was ";
            errorMsg += (upload_files[0].size/bytesToMb).toFixed(2).toString();
            errorMsg += "MB but must be less than ";
            errorMsg += (element.size/bytesToMb).toFixed(2).toString() + "MB</li>";
            $(errorList).append(errorMsg);
            disableSubmitButtons(true);
        } else {
            // Check if all of the other files are valid.
            for (var j = 0; j < files.length; ++j) {
                // If any are invalid disable submit buttons
                if(files[j].hasOwnProperty('size') && files[j].files.length > 0 && files[j].size < files[j].files[0].size) {
                    disableSubmitButtons(true);
                    return;
                }
            }
            disableSubmitButtons(false);
        }
    }

    for(var i = 0; i < files.length; ++i) {
        files[i].addEventListener('change', fileHandler);
    }

    var brandVariables = document.getElementsByClassName('brand-variable');
    for(var i = 0; i < brandVariables.length; i++) {
        var cv = brandVariables[i];
        cv.onclick = function(event) {
            event.preventDefault();
            inputId = this.closest('.variable-group').getAttribute('data-field-name');
            inputElement = $('#' + inputId);
            brandVar = this.getAttribute('data-name');
            navigator.clipboard.writeText(brandVar);
            if (inputElement.hasClass('tinymce')) {
                tinymce.get(inputElement.attr('id')).execCommand('mceInsertContent', false, brandVar);
            } else {
                carretPos = inputElement.prop('selectionEnd');
                inputElement.val(
                    inputElement.val().substring(0, carretPos) + brandVar + inputElement.val().substring(carretPos)
                ).focus().prop(
                    {'selectionStart': carretPos + brandVar.length, 'selectionEnd': carretPos + brandVar.length}
                );
            }

        }
        }

    var langSelector = document.getElementById('id_language');
    if (langSelector) {
        langSelector.addEventListener('change', languageChanged, false);
    }
    $('[data-toggle="tooltip"]').tooltip();
    $('[type=reset]').click(function() {
        var $errorLists =$('ul.errorlist');
        for (var i=0; i < $errorLists.length; ++i) {
            $($errorLists[i]).html("");
        }
        disableSubmitButtons(false);
    });

    const uploadImage = (image_upload_url, file, options={}, successCB=console.log) => {
        imagesBeingUploaded++
        disableSubmitButtons(true)
        const body = new FormData()
        const headers = new Headers()

        body.append('file', file)
        body.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').attr('value'));
        headers.append('X-CSRFToken', document.cookie.split('csrftoken=')[1].split(' ')[0]);

        fetch(image_upload_url, { method: 'POST', headers, body}).then(
            res => res.json()
        ).then(
            ({ location }) => location
        ).then(location => {
            if (options.editor && options.imageSrc) {
                const currentContent = options.editor.getContent()
                const updatedContent = currentContent.replace(options.imageSrc, location)
                options.editor.setContent(updatedContent)
            }
            imagesBeingUploaded--
            disableSubmitButtons(!!imagesBeingUploaded)
            successCB(location)
        })
    }

    function paste_handle_images(clipContent, file, textOrHtml, files, editor, image_upload_url) {
        const uploadFile = (file) => {
            if (file) {
                const srcAttr = /src="(.*?)"/igm.exec(clipContent)
                const imageSrc = srcAttr ? srcAttr[1] : '';
                const pastedImg = $(editor.getBody()).find(`img[src="${imageSrc}"]`);
                if (!pastedImg.length) {
                    // CSP or something else blocked it, so we reinsert the image without the URL this time
                    const newContent = clipContent.replace(/(.*src=")(.*?)(".*)/igm, '$1' + imageSrc + '$3');
                    editor.insertContent(newContent);
                }
                uploadImage(image_upload_url, file, { editor, imageSrc })
            }
        }
        if (textOrHtml) {
            files.forEach(uploadFile)
        } else if (file) {
            uploadFile(file.getAsFile())
        }
    }


    {% for field in custom_form %}
        {% get_data_structure field.name original as data_structure %}
        {% get_datastructure_type data_structure as data_structure_type %}
        {% if data_structure_type == 'HTML' %}

        tinymce.init({
            selector: '[id="{{ field.id_for_label }}"]',
            paste_preprocess : function(plugin, args) {
                const validPasteElements = ['span', 'a', 'b', 'strong', 'i', 'u', 'em', 'br', 'ol', 'ul', 'li', 'p',
                    'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'img'];

                function replaceElements(matched, tagName) {
                    if (validPasteElements.indexOf(tagName) === -1) {
                        return '';
                    }
                    return matched;
                }

                args.content = args.content.replace(/<\/?([^\s>]*).*?>/g, replaceElements);
                args.content = args.content.replace(/<[^>]*?( class=".*?").*?>/g, "");
            },
            paste_postprocess: function(plugin, args) {
                $(args.node).find('img').each(function () {
                    $(this).on('error', function() {
                        tinymce.activeEditor.dom.remove(tinymce.activeEditor.dom.select('img[src="' + this.currentSrc +'"]'));
                    });
                });
            },
            urlconverter_callback: function(url, node, on_save, name) {
                if (url.startsWith('%')) {
                    return url;
                }

                const settings = this.settings;
                // Don't convert link href since thats the CSS files that gets loaded into the editor also skip local file URLs
                if (!settings.convert_urls || (node && node.nodeName === 'LINK') || url.indexOf('file:') === 0) {
                    return url;
                }

                // Convert to relative
                if (settings.relative_urls) {
                    return this.documentBaseURI.toRelative(url);
                }

                // Convert to absolute
                url = this.documentBaseURI.toAbsolute(url, settings.remove_script_host);

                return url;
            },
            branding: false,
            {% if 'tiny_paste_word_valid_elements' in data_structure.meta_settings %}paste_word_valid_elements: "{{ data_structure.meta_settings.tiny_paste_word_valid_elements }}",{% endif %}
            {% if 'tiny_paste_retain_style_properties' in data_structure.meta_settings %}paste_retain_style_properties: "{{ data_structure.meta_settings.tiny_paste_retain_style_properties }}",{% endif %}
            {% if 'tiny_forced_root_block' in data_structure.meta_settings %}
                forced_root_block: {% if data_structure.meta_settings.tiny_forced_root_block is False %}false{% else %}"{{ data_structure.meta_settings.tiny_forced_root_block|lower }}"{% endif %},
            {% endif %}
            {% if data_structure.meta_settings.upload_data_images %}
            paste_data_images: true,
            images_dataimg_filter: function (img) {
                return false;
            },
            {% endif %}
            allow_html_in_named_anchor: true,
            extended_valid_elements: "*[*]",
            custom_elements: "style,link,~link",
            valid_children: "+a[*]",
            closed : /^(br|hr|input|meta|img|link|param|area|path|line)$/,
            protect: [/<svg.*\/svg>/],
            relative_urls: false,
            images_upload_url: "{% url 'upload_image' asset.id data_structure.id %}",
            images_reuse_filename: true,
            images_upload_handler: function (blobInfo, success, failure) {
                const imageUploadUrl = "{% url 'upload_image' asset.id data_structure.id %}"
                const file = blobInfo.blob()
                uploadImage(imageUploadUrl, file, {}, success)
            },
            {% if admin_uploads %} image_list: {{admin_uploads|safe}}, {% endif %}
            {% if admin_files %} link_list: {{admin_files|safe}}, {% endif %}
            toolbar: 'undo redo | formatselect link bold italic underline | bullist numlist | outdent indent | code | sanitize | removeformat paste pastetext preview image table ',
            menubar: false,
            resize: 'both',
            theme: 'silver',
            plugins: 'code,preview,-visualblocks,-advcode,paste,link,lists, image, table',
            theme_advanced_resizing: true,
            init_instance_callback : function(editor) {
                $(editor.getElement())
                    .css({
                        'position' : 'absolute',
                        'top'      : '50%',
                        'height'   : 0,
                        'width'    : 0,
                        'opacity'  : 0,
                        'readonly' : true
                    })
                    .show();
            },
            setup: function (editor) {
                editor.on('change', function () {
                    tinymce.triggerSave();
                });

                editor.on('paste', function(pasteEvent) {
                    const image_upload_url = "{% url 'upload_image' asset.id data_structure.id %}"
                    const clipContent = pasteEvent.clipboardData.getData('text/html');
                    const items = [...pasteEvent.clipboardData.items]
                    const file = items.find(({ type }) => type === 'image/png')?.getAsFile()
                    const textOrHtml = pasteEvent.clipboardData.types.includes('text/html')
                    const files = items.reduce((files, item) => {
                        if (!(item.type.indexOf("image") === -1)) {
                            files.push(item.getAsFile())
                        }
                        return files
                    }, [])
                    setTimeout(() => paste_handle_images(clipContent, file, textOrHtml, files, editor, image_upload_url))
                });

                editor.on('postProcess', function (e) {
                    const mapObj = {
                        lineargradient: "linearGradient",
                        filterunits: "filterUnits",
                        feoffset: "feOffset",
                        fegaussianblur: "feGaussianBlur",
                        fecolormatrix: "feColorMatrix",
                        fecomposite: "feComposite",
                        stddeviation: "stdDeviation",
                    };

                    const re = new RegExp(Object.keys(mapObj).join("|"), "g");
                    e.content = e.content.replace(re, function (matched) {
                        return mapObj[matched];
                    });
                });

                // Set initial width of editor to width of original textarea
                editor.settings.width = $(editor.getElement()).width();

                editor.ui.registry.addButton('sanitize', {
                    text: 'Sanitize HTML',
                    onAction: function (_) {
                        const content = editor.getContent();
                        editor.mode.set('readonly');
                        const timeout = setTimeout(() => {
                            editor.mode.set('design');
                            console.log('here');
                        }, 5000);

                        $.post('/api/sanitize_html', {'html': content}, function(data) {
                            editor.setContent(data.sanitizedHTML);
                            editor.mode.set('design');
                            clearTimeout(timeout);
                        });
                    }
                });
            }
        });
        {% endif %}
    {% endfor %}

    if ($('#preview').length) {
        Split(['#fields', '#preview'], {
            sizes: [50, 50],
            minSize: 200,
            gutterSize: 20,
            gutterAlign: 'center',
            direction: 'horizontal'
        })
    }
    const stylingWrapper = document.getElementById('styling');
    const styleErrorsDisplay = document.createElement('div')
    styleErrorsDisplay.id = 'style-errors';
    if (stylingWrapper) {
        stylingWrapper.appendChild(styleErrorsDisplay);
        const stylingInput = document.getElementById('id_styling');
        const validateCssInput = ({ target: { value } }) => {
            const syntaxErrors = csstreeValidator.validate(value);
            styleErrorsDisplay.innerHTML = '';
            if (syntaxErrors.length) {
                syntaxErrors.sort(({ line: lineA }, {line: lineB}) => lineA - lineB).forEach(({ message, line }) => {
                    const errorDiv = document.createElement('div');
                    errorDiv.innerHTML = `<b>Line ${line}</b>: ${message}`;
                    errorDiv.classList.add('text-danger');
                    styleErrorsDisplay.appendChild(errorDiv);
                });
                stylingInput.setCustomValidity('Please fix css errors before saving');
            } else {
                stylingInput.setCustomValidity('');
            }
        }
        const styling = stylingInput.addEventListener('input', validateCssInput)
    }

    // Handle custom previews
    const { customPreview } = window.location.search.substr(1).split('&').reduce((params, cur) => {
        const [key, ...value] = cur.split('=')
        return {...params, [key]: decodeURIComponent(value.join('='))}
    }, {})
    const previewFrame = document.getElementsByClassName('previewFrame')[0]
    if (customPreview) {
        const customPreviewInput = document.getElementById('customPreviewInput')
        customPreviewInput.value = previewFrame.src = customPreview

    }
</script>
<script type="text/javascript">
    const previewUrlList = JSON.parse('{{preview_url_list|safe}}')
</script>
    <script src="{% static 'js/previewFrame.js' %}"></script>
{% endblock %}
