{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% load cms_filters %}

{% block extrahead %}
    {{ block.super }}
    <!-- Import django's static jQuery because admin_tools template doesn't import by default -->
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script>window.$ = django.jQuery;</script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
{% endblock %}
<{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url 'admin:cms_asset_changelist' %}">{{ asset_opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; <a href="{% url 'admin:cms_asset_change' asset.id %}"> {{ asset.name }}</a>
        &rsaquo; <a href="{% url 'admin:pages' asset.id %}"> Pages </a>
        &rsaquo; {% trans 'Edit'%} <span>{{ original.get_nice_name }}</span>
    </div>
{% endblock %}
{% block content %}
{% autoescape off %}{{ original.description }}{% endautoescape %}
<hr>
<form id="context_form" class="aligned" action="" enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    <input type="hidden" name="context_id" value="{{ original.id }}">
    <input type="hidden" name="asset_id" value="{{ asset.id }}">
    <input type="hidden" name="currentLanguage" value="{{ language_code }}">
    <input type="hidden" id="languageChanged">
    {% for fieldset, fields in custom_form.fieldsets.items %}
        <fieldset class="module">
            {% if fieldset %}<h2>{{ fieldset }}</h2>{% endif %}
        {% for field_id in fields %}
            {% with custom_form|get_form_item:field_id as field %}
            <div class="form-row{% if field.errors %} errors {% endif %}{% if field.field.disabled %} disabled-row{% endif %}">
                <ul class="errorlist">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
                <div>
                    {% get_data_structure field.name original as data_structure %}
                    {% get_datastructure_type data_structure as data_structure_type %}
                    {% is_external_file_or_image field.name original as is_external %}
                    {% is_protected data_structure asset as protected %}
                    {% has_value field.name asset original language_code as record_exists %}
                    <label {% if data_structure.advanced or protected %} class="text-danger" {% endif %}
                            for="{{ field.name }}">{{ field.label }}{% if not data_structure.optional %}*{% endif %}
                        {% if user.is_superuser %}<p class="help">{{ field.name }}</p>{% endif %}
                        {% if not data_structure.optional %} <p class="help">required</p> {% endif %}
                        {% if data_structure and can_edit_datastructure %}<a href="{% url 'admin:cms_datastructure_change' data_structure.id %}">Edit Data Structure</a>{% endif %}
                    </label>
                    <div id="{{ field.name }}" class="ml-160">
                        {% if field.has_image_field and field.value %}
                            <div>
                                {% if data_structure.optional and record_exists %}
                                    <label><input id="delete_{{ field.name }}" type="checkbox"
                                                  name="delete_{{ field.name }}" value="false"/>&nbsp;Clear Value</label>
                                    <br><br>
                                {% endif %}
                                <img class="
                                    {% if 'background' in data_structure.meta_settings and data_structure.meta_settings.background != 'transparent' %}
                                        {# TODO: Note that optional was here #}
                                        {{ data_structure.meta_settings.background }}
                                    {% else %}
                                        default-background
                                    {% endif %}
                                    context-preview {% if not record_exists %} placeholder-image {% endif %}"
                                     src="data:image/png;base64,{{ field.value }}">
                            </div>

                        {% elif field.has_file_field and field.value %}
                            <div>
                                {% if data_structure.optional and record_exists %}
                                    <label><input id="delete_{{ field.name }}" type="checkbox" name="delete_{{ field.name }}"
                                                  value="false"/>&nbsp;Clear Value</label>
                                {% endif %}
                                {% if data_structure_type == EXTERNAL_IMAGE %}
                                    <img class="
                                        {% if 'background' in data_structure.meta_settings and data_structure.meta_settings.background != 'transparent' %}
                                            {{ data_structure.meta_settings.background }}
                                        {% else %}
                                            default-background
                                        {% endif %}
                                        context-preview {% if not record_exists %} placeholder-image {% endif %}"
                                         src="{{ field.value }}">
                                {% else %}
                                <a href={% if not is_external %}
                                            "{% url 'download_file' field.name %}?asset_id={{ asset.id }}&lang={{ language_code }}&draft"
                                        {% else %}
                                            "{{ field.value }}"
                                        {% endif %} download>
                                    {% if not record_exists %}
                                        {# TODO: Note that data_structure.optional was here #}
                                        Download Example
                                    {% else %}
                                        Download
                                    {% endif %}
                                </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if not field.field.disabled or data_structure_type != HTML%}
                            {{ field }}
                        {% elif data_structure_type == HTML %}
                            <div class="show-html">{{ field.value|safe }}</div>
                        {% endif %}

                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endwith %}
        {% endfor %}
        </fieldset>
    {% endfor %}
    {% has_permission user asset 'cms.edit_content' as can_edit_content %}
    {% if can_edit_content %}
        <div class="submit-row">
            {% if preview_link %}
                <button class='btn btn-sm btn-default pull-left' onClick="openPreview();return false;">Open Preview</button>
            {% endif %}
            {% if user.is_superuser and context.file_path %}
                <a class="btn btn-sm btn-default"
                   href="{% url 'download_file' context.file_path %}?asset_id={{ asset.id }}&lang={{ language.code }}&draft"
                   download>Download Draft</a>
            {% endif %}
            {% if asset.can_preview_on_portal %}
                <button class="btn btn-sm btn-info" type="submit" name="Preview">Save draft & Open preview</button>
            {% else %}
                <button class="btn btn-sm btn-info" type="submit" name="SaveDraft">Save Draft</button>
            {% endif %}
            <button class="btn btn-sm btn-success" type="submit" name="SendReview">Submit & Review</button>
            <button class="btn btn-sm btn-danger" type="reset" name="Reset">Reset</button>
        </div>
    {% endif %}
</form>

<script>
    var bytesToMb = "{{ BYTES_TO_MB }}";
    function openPreview() {
        let screen = window.screen;
        let windowScale = 0.75;
        let dim = `width=${Math.floor(screen.availWidth * windowScale)},height=${Math.floor(screen.availHeight * windowScale)}`;
        let win = window.open('{{ preview_link | safe }}', '', `_blank,${dim}`);
        win.opener = null;
    }

    {% if preview_link %}
        openPreview();
    {% endif %}

    function wasTouched() {
        var inputs = document.getElementsByTagName('input');
        var textareas = document.getElementsByTagName('textarea');
        var htmlEditors = tinymce.editors;

        for (var i = 0; i < inputs.length; ++i) {
            if (inputs[i].defaultValue !== inputs[i].value) {
                return true;
            }
        }

        for (var i = 0; i < textareas.length; ++i) {
            if (textareas[i].defaultValue !== textareas[i].value) {
                return true;
            }
        }
        if (htmlEditors.some(function (editor) {
            return editor.isDirty()
        })) {
            return true;
        }
        return false;
    }

    function languageChanged() {
        if (wasTouched() && confirm('Do you want to save changes?')) {
            document.getElementById('languageChanged').name = "languageChanged";
        }
        document.getElementById('context_form').submit();
    }

    var submitButtons = $('.submit-row button[type=submit]');
    function disableSubmitButtons(state) {
        for(var j=0; j < submitButtons.length; ++j) {
            submitButtons[j].disabled = state;
        }
    }

    var files = $('[type=file]');
    function fileHandler(event){
        var element = event.target;
        var upload_files = element.files;
        var errorList = $(element).parents('div').siblings('ul.errorlist');
        $(errorList).html("");

        if (element.hasOwnProperty('size') && upload_files.length > 0 && upload_files[0].size > element.size) {
            var errorMsg = "<li>The file's size it too large. Its size was ";
            errorMsg += (upload_files[0].size/bytesToMb).toFixed(2).toString();
            errorMsg += "MB but must be less than ";
            errorMsg += (element.size/bytesToMb).toFixed(2).toString() + "MB</li>";
            $(errorList).append(errorMsg);
            disableSubmitButtons(true);
        } else {
            // Check if all of the other files are valid.
            for (var j = 0; j < files.length; ++j) {
                // If any are invalid disable submit buttons
                if(files[j].hasOwnProperty('size') && files[j].files.length > 0 && files[j].size < files[j].files[0].size) {
                    disableSubmitButtons(true);
                    return;
                }
            }
            disableSubmitButtons(false);
        }
    }

    for(var i = 0; i < files.length; ++i) {
        files[i].addEventListener('change', fileHandler);
    }

    var brandVariables = document.getElementsByClassName('brand-variable');
    for(var i = 0; i < brandVariables.length; i++) {
        var cv = brandVariables[i];
        cv.onclick = function(event) {
            event.preventDefault();
            inputId = this.closest('.variable-group').getAttribute('data-field-name');
            inputElement = $('#' + inputId);
            brandVar = this.getAttribute('data-name');
            navigator.clipboard.writeText(brandVar);
            if (inputElement.hasClass('tinymce')) {
                tinymce.get(inputId).execCommand('mceInsertContent', false, brandVar);
            } else {
                carretPos = inputElement.prop('selectionEnd');
                inputElement.val(
                    inputElement.val().substring(0, carretPos) + brandVar + inputElement.val().substring(carretPos)
                ).focus().prop(
                    {'selectionStart': carretPos + brandVar.length, 'selectionEnd': carretPos + brandVar.length}
                );
            }

        }
        }

    var langSelector = document.getElementById('id_language');
    if (langSelector) {
        langSelector.addEventListener('change', languageChanged, false);
    }
    $('[data-toggle="tooltip"]').tooltip();
    $('[type=reset]').click(function() {
        var $errorLists =$('ul.errorlist');
        for (var i=0; i < $errorLists.length; ++i) {
            $($errorLists[i]).html("");
        }
        disableSubmitButtons(false);
    });

    tinymce.PluginManager.add('placeholder', function(editor) {
        var Label = function () {
            var placeholder_text = editor.getElement().getAttribute('placeholder');
            var placeholder_attrs = {
                class: 'mce-placeholder'
            };
            var contentAreaContainer = editor.getContentAreaContainer();
            tinymce.DOM.setStyle(contentAreaContainer, 'position', 'relative');
            this.el = tinymce.DOM.add(contentAreaContainer, 'label', placeholder_attrs, placeholder_text);
        };
        Label.prototype.hide = function() {
            tinymce.DOM.setStyle(this.el, 'display', 'none');
        };
        Label.prototype.show = function() {
            tinymce.DOM.setStyle(this.el, 'display', '');
        };
        editor.onInit.add(function () {
            function onFocus() {
                if (!editor.settings.readonly === true) {
                    label.hide();
                }
                editor.execCommand('mceFocus', false);
            }

            function onBlur() {
                editor.getContent() === '' ? label.show() : label.hide();
            }

            var label = new Label;
            onBlur();
            editor.dom.events.add(editor.getBody(), 'blur', onBlur);
            editor.dom.events.add(editor.getBody(), 'focus', onFocus);


        });
    });

    tinymce.init({
        selector: '.tinymce',
        paste_postprocess: function(plugin, args) {
            $(args.node).find('img').each(function () {
                $(this).on('error', function() {
                    tinymce.activeEditor.dom.remove(tinymce.activeEditor.dom.select('img[src="' + this.currentSrc +'"]'));
                });
            });
        },
        menubar: false,
        resize: 'both',
        theme: 'advanced',
        plugins: 'preview,-visualblocks,-advcode,paste,placeholder',
        theme_advanced_buttons1: 'undo,redo,separator,formatselect,link,bold,italic,underline,separator,bullist,numlist,separator,outdent,indent,separator,code,removeformat,pasteword,preview',
        theme_advanced_toolbar_location: 'top',
        theme_advanced_toolbar_align: 'left',
        theme_advanced_resizing: true
    });
</script>
{% endblock %}
