{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    {% if user.is_superuser %}
        <li>
            <a href="{% url 'admin:menu_porting' %}">Import/Export Menus</a>
        </li>
        <li>
            <a href="{% url 'admin:zendesk_import' %}">Import from Zendesk</a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {{block.super}}
    {% if preview_url %}
        <div id="menuPreviewErrors"></div>
        <iframe class="previewFrame" src="{{ preview_url }}" style="width: 100%; height: 80vh"></iframe>
    {% endif %}
    <script>
        const errorContainer = document.getElementById('menuPreviewErrors');
        const addError = ({ data }) => {
            if (typeof data === 'string') {
                const errorBlock = document.createElement('div');
                errorBlock.className = 'errorBlock';
                errorBlock.appendChild(document.createTextNode(data));
                errorContainer.appendChild(errorBlock);
                window.errorWatcher.value = true;
            }
        }

        window.addEventListener('message', addError);
    </script>

{% endblock %}
