<ng-container *ngIf="!show404; else page404">
    <nx-pre-loader
        type="page"
        *ngIf="!tiles"
    ></nx-pre-loader>

    <div
        class="container auth-visible"
        *ngIf="tiles"
    >
        <nx-no-systems *ngIf="!tiles.length"></nx-no-systems>
        <ng-container *ngIf="tiles.length">
            <nx-page-placeholder
                *ngIf="show2faRequired; else listOfSystems"
                type="FAILED_TO_ACCESS_2FA"
                [data]="{ systemName: chosenSystemName }"
                withFooter
                [showMainButton]="true"
            ></nx-page-placeholder>
            <ng-template #listOfSystems>
                <div class="search-block row border-bottom">
                    <div
                        *ngIf="currentIndexes.length"
                        class="mr-2"
                    >
                        <button
                            class="btn btn-default btn-back"
                            (click)="backToTopLevel()"
                        >
                            <span class="back-arrow"></span>
                            <span translate>Back</span>
                        </button>
                    </div>
                    <div>
                        <button
                            class="btn btn-default"
                            (click)="newGroup()"
                            translate
                        >
                            New group
                        </button>
                    </div>
                    <div
                        *ngIf="showSearch"
                        class="col-sm-9 col-md-8 col-lg-6 input-overlay"
                    >
                        <nx-search
                            [ngModel]="search.value"
                            (ngModelChange)="setSearch($event)"
                            layout="compact"
                            placeholder="Search systems"
                            instant
                        ></nx-search>
                    </div>
                </div>
                <div *ngIf="tiles.length">
                    <h1 class="old-h12 p-0 mb-3 mt-3">
                        <span
                            *ngIf="!search.value; else haveSearchResult"
                            translate
                            >Systems</span
                        >
                        <ng-template #haveSearchResult>
                            <span>{{
                                'search.resultsFound' | translate: { count: filteredTiles.length }
                            }}</span>
                        </ng-template>
                    </h1>
                    <div
                        class="row"
                        cdkDropListGroup
                    >
                        <div
                            *ngFor="let tile of filteredTiles; trackBy: trackItem"
                            cdkDropList
                            [cdkDropListData]="tile"
                            (cdkDropListDropped)="drop($event)"
                            class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 mb-lg-0 system-button"
                        >
                            <div
                                cdkDrag
                                [cdkDragData]="tile"
                            >
                                <div *cdkDragPlaceholder></div>
                                <div class="card card-condensed hoverable">
                                    <div
                                        *ngIf="tile.type === 'group'"
                                        class="card-body"
                                        (click)="openGroup(tile)"
                                    >
                                        <h2
                                            class="old-h12 d-block"
                                            [innerHTML]="
                                                tile.name | unsafe | highlight: search.value
                                            "
                                        ></h2>
                                        <span class="fs-mask user-name">{{
                                            'tile.groupCount'
                                                | translate: { count: tile.groups.length }
                                        }}</span>
                                        <span class="fs-mask user-name">{{
                                            'tile.systemCount'
                                                | translate: { count: tile.systems.length }
                                        }}</span>
                                        <div class="system-list-bottom-bar">
                                            <!-- <nx-tag
                                                style="display: block; margin-top: 24px;"
                                                disabled="true"
                                                type="{{CONFIG.system.status.default.style}}"
                                            >
                                                <ng-container>Offline</ng-container>
                                            </nx-tag> -->
                                            <!-- TODO: Find a way to match tile heights -->
                                        </div>
                                    </div>
                                    <div
                                        *ngIf="tile.type === 'system'"
                                        class="card-body d-flex flex-column"
                                        (click)="openSystem(tile)"
                                    >
                                        <h2
                                            class="old-h12 d-block"
                                            [innerHTML]="
                                                tile.name | unsafe | highlight: search.value
                                            "
                                        ></h2>
                                        <span
                                            class="fs-mask user-name"
                                            [innerHTML]="
                                                getSystemOwnerName(tile, userEmail)
                                                    | unsafe
                                                    | highlight: search.value
                                            "
                                        ></span>
                                        <div class="system-list-bottom-bar">
                                            <nx-tag
                                                *ngIf="canShowTag(tile)"
                                                style="display: block; margin-top: 24px"
                                                type="{{
                                                    CONFIG.system.status[tile.stateOfHealth]
                                                        ?.style ||
                                                        CONFIG.system.status.default.style
                                                }}"
                                            >
                                                <ng-container>{{
                                                    LANG.systemStatuses[tile.stateOfHealth]() ||
                                                        tile.stateOfHealth
                                                }}</ng-container>
                                            </nx-tag>
                                            <nx-client-button
                                                [system]="tile"
                                                [actionType]="tile ? 'default' : 'primary'"
                                                *ngIf="canShowButton(tile)"
                                            ></nx-client-button>
                                            <svg-icon
                                                *ngIf="needToConfigureTwoFactor(tile)"
                                                [ngClass]="{
                                                    'margin-system-list-status': canShowTag(tile)
                                                }"
                                                nx-add-svg-src
                                                [src]="CONFIG.icons.dir + 'lock.svg'"
                                                [svgStyle]="{ 'height.px': '20' }"
                                                [applyClass]="true"
                                            ></svg-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <nx-footer></nx-footer>
    </div>
</ng-container>
<ng-template #page404>
    <nx-page-placeholder
        type="404"
        [withFooter]="true"
    ></nx-page-placeholder>
</ng-template>
