<nx-pre-loader type="page" *ngIf="!systems"></nx-pre-loader>

<div class="container auth-visible" *ngIf="systems">

    <nx-no-systems *ngIf="!systems.length"></nx-no-systems>
    <ng-container *ngIf="systems.length">
        <nx-page-placeholder
            *ngIf="show2faRequired; else listOfSystems"
            type="FAILED_TO_ACCESS_2FA"
            [data]="{ systemName: chosenSystemName }"
            withFooter
            [showMainButton]="true">
        </nx-page-placeholder>
        <ng-template #listOfSystems>
            <div class="search-block row border-bottom" *ngIf="showSearch">
                <div>
                    <button class="btn btn-default" (click)="addGroup()">Add group</button>
                </div>
                <div class="col-sm-9 col-md-8 col-lg-6 input-overlay">
                    <nx-search
                        [ngModel]="search.value"
                        (ngModelChange)="setSearch($event)"
                        layout='compact'
                        placeholder='Search systems'
                        instant
                    ></nx-search>
                </div>
            </div>
            <div *ngIf="systems.length">
                <h1 class="old-h12 p-0 mb-3 mt-3"><span>{{search.value && filteredSystems.length}}&nbsp;</span>
                    <span translate>Systems</span>&nbsp;{{search.value && 'found'}}</h1>
                <div class="row" cdkDropListGroup>
                    <div *ngFor="let system of filteredSystems;  trackBy: trackItem" cdkDropList [cdkDropListData]="system" (cdkDropListDropped)="drop($event)"
                        class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 mb-lg-0 system-button">
                        <div cdkDrag [cdkDragData]="system" >
                        <div *cdkDragPlaceholder></div>
                        <div class="card card-condensed hoverable">
                            <ng-template #isSystem>
                            <div class="card-body" (click)="openSystem(system)">
                                <h2 class="old-h12 d-block" [innerHTML]="(system.name | unsafe | highlight:search.value)"></h2>
                                <span class="user-name"
                                    [innerHTML]="(getSystemOwnerName(system, userEmail) | unsafe | highlight:search.value)"></span>
                                <div class="system-list-bottom-bar">
                                    <nx-tag style="display: block; margin-top: 24px;"
                                        type="{{CONFIG.system.status[system.stateOfHealth]?.style || CONFIG.system.status.default.style}}"
                                        *ngIf="canShowTag(system)">
                                        <ng-container>{{LANG.systemStatuses[system.stateOfHealth]() || system.stateOfHealth }}</ng-container>
                                    </nx-tag>
                                    <nx-client-button [system]="system"
                                                    [actionType]="(system) ? 'default' : 'primary'"
                                                    *ngIf="canShowButton(system)"></nx-client-button>
                                    <svg-icon [ngClass]="{ 'margin-system-list-status': canShowTag(system) }"
                                        *ngIf="needToConfigureTwoFactor(system)"
                                        nx-add-svg-src [src]="CONFIG.icons.dir + 'lock.svg'"
                                        [svgStyle]="{'height.px': '20'}" [applyClass]="true"></svg-icon>
                                </div>
                            </div>
                            </ng-template>
                            <div *ngIf="system.type === 'group'; else isSystem" class="card-body">
                                    <h2 class="old-h12 d-block" [innerHTML]="(system.name | unsafe | highlight:search.value)"></h2>
                                    <span class="user-name">Groups: {{system.groups.length}} - Systems: {{system.systems.length}}</span>
                                    <div class="system-list-bottom-bar">
                                        <nx-tag style="display: block; margin-top: 24px;"
                                                disabled="true"
                                                type="{{CONFIG.system.status.default.style}}">
                                            <ng-container>Offline</ng-container>
                                        </nx-tag>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <nx-footer></nx-footer>
</div>
