@use '../../../../styles/typography';
@use '../../../../../styles/theme_variables' as *;

:host {
    grid-area: content;
    padding: 16px;
    max-width: 1188px;
}

header {
    @include typography.medium15dark9;
}

nx-section {
    padding: 16px;
}

section.card {
    padding: 16px;
}

table, td, .table-content-placeholder {
    border: 1px solid $light4;
}

th {
    @include typography.bold13dark9;
    height: 28px;
    background: $light3;
    padding-left: 16px;
}

td {
    height: 48px;
}

td svg-icon {
    cursor: pointer;
}

.type-icon_link, .type-icon_modal {
    width: 40px;
}

.type-default {
    @include typography.medium13dark9;
    padding-left: 16px;
}

.table-content-placeholder {
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}
