@use '../../../../styles/typography';
@use '../../../../../styles/theme_variables' as *;

:host {
    grid-area: content;
    padding: 16px;
    max-width: 1188px;
}

header {
    @include typography.medium15dark9;
}

nx-section {
    padding: 16px;
}

nx-search {
    margin-bottom: 16px;
}

section.card {
    padding: 16px;
}

table, td, .table-content-placeholder {
    border: 1px solid $light4;
}

th, .search-header {
    @include typography.bold13dark9;
    height: 28px;
    background: $light3;
    padding-left: 16px;
}

td {
    height: 48px;
}

td svg-icon {
    cursor: pointer;
}

tr.data-row {
    &:hover {
        background: transparentize($brand_core, 0.9);
    }

    &:active {
        & * {
            color: $light1 !important;
            fill: $light1 !important;
        }
        background: $light16;
    }
}

.type-icon_link, .type-icon_modal {
    width: 40px;
}

.type-default {
    @include typography.medium13dark9;
    padding-left: 16px;
}

.table-content-placeholder {
    min-height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & button {
        margin-top: 16px;
    }
}

.no-results {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 66px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    border: 1px solid $light4;
    & button {
        margin-top: 16px;
    }
}