<nx-pre-loader *ngIf="!selectedManifest"></nx-pre-loader>

<nx-block *ngIf="selectedManifest?.intro" header-style="slim">
    <header>
        {{selectedManifest.intro.title}}
    </header>
    <nx-section [innerHTML]="selectedManifest.intro.content | safe:'html'"></nx-section>
</nx-block>

<section *ngIf="selectedManifest?.contexts" class="card mt-3 position-relative">
    <nx-search *ngIf="selectedManifest.searchable"
        [ngModel]="this.selectedData.search$ | async"
        (ngModelChange)="updateSearchParam($event)"
        layout="search"
        instant></nx-search>
    <div *ngIf="selectedData.noSearchMatches$ | async" class="no-results" [style.width.px]="noResultsWidth" [style.height.px]="noResultsHeight">
        <h3 translate>No matching results found</h3>
        <button (click)="updateSearchParam({query: ''})" translate>Reset Search</button>
    </div>
    <table cdk-table [dataSource]="selectedData" (resize)="updateTableSize($event)" [style.marginBottom.px]="(selectedManifest.perPage - (selectedData.data$ | async).length) * 48">
        <ng-container *ngFor="let field of selectedManifest.contexts" [cdkColumnDef]="field.name">
            <th cdk-header-cell *cdkHeaderCellDef>{{field.label}}</th>
            <ng-container [ngSwitch]="field.type">
                <ng-container *ngSwitchCase="CONFIG_TYPE.STATUS">
                    <td cdk-cell *cdkCellDef="let element" [ngbTooltip]="field.meta?.tooltip" [class]="'type-' + field.type + ' ' + (field.meta?.styles || '')">
                        {{element[field.name]}}
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="CONFIG_TYPE.COMMENTS">
                    <td cdk-cell *cdkCellDef="let element" [ngbTooltip]="field.meta?.tooltip" [class]="'type-' + field.type + ' ' + (field.meta?.styles || '')">
                        {{element[field.name]}}
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="CONFIG_TYPE.ICON_LINK">
                    <td cdk-cell *cdkCellDef="let element" [class]="'type-' + field.type + ' ' + (field.meta?.styles || '')">
                        <ng-template #icon>
                            <svg-icon nx-add-svg-src
                            [src]="CONFIG.icons.dir + field.meta.icon"
                            [svgStyle]="{'width.px': '24', 'height.px': '24', 'margin.px': '8'}"
                            [applyClass]="true"
                            [ngbTooltip]="field.meta?.tooltip"></svg-icon>
                        </ng-template>
                        <ng-template #externalLink>
                            <a [href]="element[field.name]" target="_blank">
                                <ng-container *ngTemplateOutlet="icon"></ng-container>
                            </a>
                        </ng-template>
                        <a *ngIf="element[field.name].startsWith('/'); else externalLink" [routerLink]="base + '/' + sectionParam + '/' + element[field.name]">
                            <ng-container *ngTemplateOutlet="icon"></ng-container>
                        </a>
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="CONFIG_TYPE.ICON_MODAL">
                    <td cdk-cell *cdkCellDef="let element" [class]="'type-' + field.type + ' ' + (field.meta?.styles || '')">
                        <a (click)="handleModal(element[field.name])">
                            <svg-icon nx-add-svg-src
                                [src]="CONFIG.icons.dir + field.meta.icon"
                                [svgStyle]="{'width.px': '24', 'height.px': '24', 'margin.px': '8'}"
                                [applyClass]="true"
                                [ngbTooltip]="field.meta?.tooltip"></svg-icon>
                        </a>
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="CONFIG_TYPE.DATE">
                    <td cdk-cell *cdkCellDef="let element" [class]="'type-default ' + (field.meta?.styles || '')"> {{element[field.name] | date: 'shortDate'}} </td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <td cdk-cell *cdkCellDef="let element" [class]="'type-default ' + (field.meta?.styles || '')" [innerHTML]="element[field.name] | highlight: (selectedData.search$ | async)"></td>
                </ng-container>
            </ng-container>
        </ng-container>
        <thead>
            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        </thead>
        <tbody>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </tbody>
    </table>
    <div *ngIf="!(selectedData.data$ | async)?.length" class="table-content-placeholder" [style.height.px]="48 * selectedManifest.perPage">
        <ng-template #createPlaceholder>
            <div class="create-placeholder">
                <h3 translate>You don't have any Custom VMS Clients yet. Add your first one!</h3>
                <button (click)="handleModal()" translate>Create Custom VMS Client</button>
            </div>
        </ng-template>
        <nx-pre-loader *ngIf="!dataLoaded; else createPlaceholder"></nx-pre-loader>
    </div>
    <nx-paginator [numPages]="selectedData.numberOfPages$ | async" [pagesToShow]="selectedManifest.pagesToShow" [tempDisabled]="selectedData.noSearchMatches$ | async"></nx-paginator>
    <button *ngFor="let action of selectedManifest.actions" (click)="handleModal()" [class]="'btn  min-w-120 mt-3 ml-auto btn-' + (action.type || 'primary')">{{action.title}}</button>
</section>
