@use "../../../../styles/theme_variables_common" as *;
@use "bootstrap_utils" as bootstrap;

.main-button {
    margin-right: 26px;
    margin-top: 0 !important;
    position: relative;
    
    &.hide-arrow {
        & > svg-icon {
            display: none;
        }
    }
    
    & > svg-icon {
        position: absolute;
        right: -18px;
        width: 20px;
        top: 0;
        bottom: 0;
        & > svg {
            vertical-align: top;
            & > .st0{
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: $light4;
            }
        }
    }
    
    button {
        border           : 1px solid transparent;
        background-color : var(--btn-header-main-bg);
        color            : var(--btn-header-main-color);
    }
}

.dropdown {
    margin-left: 3px !important;
    & > button {
        border: 1px solid transparent;
        background-color: var(--btn-header-main-bg);
        color: var(--btn-header-main-color);
        height: 41px !important;
        border-radius: 4px;
    }
    .arrow {
        display: none;
    }

    &.show {
        & > button {
            background: $light3 !important;
            border: 1px solid $light4;
            &:hover {
                background: 1px $light4 !important;
                border: 1px solid $light5;
            }
            &:active {
                background: $light5 !important;
                border: 1px solid $light6;
            }
        }
        .arrow {
            display: block;
        }
    }
    & > #systemsDropdown {
        padding-right: 16px !important;
        padding-left: 0 !important;
    }

    &.hide-title > #systemsDropdown {
        @include bootstrap.media-breakpoint-down(xs) {
            padding-right: 0 !important;
            span {
                display: none !important;
            }
        }
    }
}

.popup {
    &.arrow {
        bottom: 0 !important;
        position: absolute !important;
        top: auto !important;
        left: 16px !important;
        z-index: 9999 !important;
        border-bottom-color: $light6 !important;
        transform: translateY(3px);
        &::after {
            border-bottom-color: $additional_light1 !important;
        }
    }
}

.nx-d-sm-block {
    @media (min-width: $collapse-second-width + 1) {
        display: block !important;
    }
}

.nx-d-sm-none {
    @media (min-width: $collapse-second-width + 1) {
        display: none !important;
    }
}

.icon-wrapper {
    width: 48px;
    .st0 {
        fill: var(--btn-header-main-color) !important;
    }
}
