@use "../../../../styles/theme_variables_common" as *;
@import "./main-button.component.scss";

.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: $additional_light1 !important;
}

.main-button {
    background: $dark14 !important;
    border: 1px solid transparent !important;
    & > .dropdown {
        & > #systemsDropdown {
            color: $additional_light1 !important;
        }

        &.show > #systemsDropdown{
            border: 1px solid $dark11 !important;
            background: $dark12 !important;
            border: 1px solid $dark11 !important;
            &:hover {
                background: 1px $dark13 !important;
                border: 1px solid $dark12 !important;
            }
            &:active {
                background: $dark12 !important;
                border: 1px solid $dark11 !important;
            }
        }

        &:not(.show) > #systemsDropdown {
            background: $dark14 !important;
            color: $additional_light1 !important;
            border: 1px solid transparent !important;
            &:hover {
                background: $dark15 !important;
            }
            &:active {
                background: $dark13 !important;
            }
        }
        &::after {
            content: "";
            background: $dark14 !important;
        }
    }

    & > svg-icon > svg > .st0{
        fill: $light16 !important;
    }
}

.popup {
    &.arrow {
        border-bottom-color: $dark11 !important;
        &::after {
            border-bottom-color: $additional_light1 !important;
        }
    }
}

.icon-wrapper .st0 {
    fill   : $additional_light1 !important;
    stroke : none;
}
