<form #createSystemGroupForm="ngForm" name="createSystemGroupForm" novalidate>
    <div class="modal-header">
        <h1 class="modal-title" translate>Create Group</h1>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="activeModal.dismiss()" *ngIf="closable">
            <div class="close-content"><span class="close-icon"></span></div>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="groupName" translate>Group Name</label>
            <input class="form-control"
                id="groupName"
                name="groupName"
                [(ngModel)]="group.name"
                autofocus required>
        </div>
    </div>
    <div class="modal-footer">
        <nx-process-button
                [form]="createSystemGroupForm"
                [process]="createSystemGroupProcess"
                [buttonText]="'Add' | translate"></nx-process-button>
        <nx-cancel-button [process]="createSystemGroupProcess" [discardFn]="activeModal.dismiss"></nx-cancel-button>
    </div>
</form>
