//@use "styles/theme_variables_common" as *;

nx-password-input {
    width : 100%;
}

.addons {
    position     : absolute;
    top          : 0;
    right        : 0;
    padding-left : 6px;
    height       : 100%;
}

nx-password-input-tag-validation {
    position : relative !important;
    top      : auto !important;
    right    : auto !important;
}

.input-group-addon {
    position : relative;
    right    : 0;
    
    svg-icon svg .st0 {
        fill : var(--card-header-text);
    }
}

.form-control.has-error:not(.hide-errors) {
    border-color : var(--input-error-border-color) !important;
    color        : var(--input-error-color) !important;
}
