.timeline-scroll-button {

  position: absolute;
  top: 50px;
  bottom: 10px;
  width: 20px;
  background-color: #0002;
  opacity: 0.0;
  transition: opacity 0.1s ease-in-out;
  // z-index: 10;

  background-position: center center;
  background-repeat: no-repeat;

  &.active {
    cursor: pointer;
    opacity: 1.0;
  }

  &.left {
    left: 0;
    background-image: url('../../svg/timeline_scroll_left.svg');
  }

  &.right {
    right: 0;
    background-image: url('../../svg/timeline_scroll_right.svg');
  }
}
