:host {
    padding-left: 320px;
}

.nx-view-sidebar {
    width: 320px;
    position: fixed;
    left: 0;
    top: 48px;
    bottom: 0;
    background-color: #f1f3f4;
    border-right: 8px solid #e2e7ea;
}

.no-cameras-message {
    position: fixed;
    left: 320px;
    right: 0;
    top: 48px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}