@import '../../../styles/typography';
@import '~bootstrap/scss/bootstrap';

nx-block {
  .user-email,
  .system-name {
    font-family: $font-family-medium;
  }

  .user-name,
  .system-owner {
    font-family: $font-family-regular;
    font-size: $font-size-base;
  }

  .name {
    font-family: $font-family-bold;
  }
}

.fixed-sidebar{
  @include media-breakpoint-up(md) {
    position: fixed;
    left: 0;
  }
}

.fill-screen-height {
  @include media-breakpoint-up(md) {
    height: calc(100vh - 80px);
  }
}

.fill-screen-height-alert {
  @include media-breakpoint-up(md) {
    height: calc(100vh - 116px);
  }
}
