//** Dropdown
$dropdown-header-height : 32px;
$dropdown-item-height : 26px;
$dropdown-items-visible : 12;



$dropdown-list-height : ($dropdown-item-height * $dropdown-items-visible) - ($dropdown-item-height * 0.5) + 3px;
$dropdown-multi-list-height : $dropdown-list-height - $dropdown-header-height - 3px;
