<h1>Hej, {{message.userFullName}}</h1>

<p>Du har modtaget denne besked, fordi du eller en anden har bedt om at nulstille din adgangskode til en %CLOUD_NAME% -konto.</p>
<p>Hvis du ikke har anmodet om det, bedes du kontakte os med det samme ved at kontakte supporten.</p>

<a class="btn" href="{{config.portal_url}}/authorize/restore_password/{{message.code}}">Nulstil adgangskode</a>

<p class='disclaimer'>
Dette link til nulstilling af adgangskode er gyldigt i 24 timer.<br>
Del ikke beskeden eller linket med nogen.
</p>
