<h1>Der er en ny version til {{ message.asset }} ({{ message.asset_type }}) at gennemgå</h1>
<p>Klik på linket for at gennemgå udkast {{ message.id }} for {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Gennemgå version</a>
<h4>På denne side kan du</h4>
<ul>
	<li>Opret en forhåndsvisning for at se de seneste ændringer.</li>
	<li>Udgiv denne version, som vil opdatere alt indhold.</li>
	<li>Rediger kontekster ved at klikke på knappen rediger.<br>
		For at se disse ændringer skal du oprette en ny version</li>
</ul>
