<h1>Hej, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> har delt adgang til videostyringssystem "{{message.system_name}}" med dig.

For at se og administrere den, opret venligst konto på <a href="{{config.portal_url}}">%CLOUD_NAME%</a> ved hjælp af din aktuelle e-mailadresse og følg yderligere instruktioner.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Du er blevet tildelt adgang til videostyringssystem "{{message.system_name}}".

For at se og administrere den, opret venligst konto på <a href="{{config.portal_url}}">%CLOUD_NAME%</a> ved hjælp af din aktuelle e-mailadresse og følg yderligere instruktioner.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/authorize/register/{{message.code}}">Opret konto</a>

