<ng-container *ngIf="registerSuccess">
    <div class="status-wrapper" *ngIf="!activated">
        <nx-page-placeholder type="ACCOUNT_CREATED"
            [message]="'common.account.created.message' | translate: { email: accountInfo.email || accountService.email }">
        </nx-page-placeholder>
    </div>
    <div class="status-wrapper" *ngIf="activated">
        <nx-page-placeholder type="ACCOUNT_ACTIVATED">
            <button class="btn btn-primary login-button mx-auto" (click)="login()" translate>Log In</button>
        </nx-page-placeholder>
    </div>
</ng-container>
<div class="container auth-hidden">
    <div *ngIf="!registerSuccess && fromClient" style="max-width: 991px;" class="m-auto">
        <div class="jumbotron">
            <landing-display-component></landing-display-component>
        </div>
        <div class="container p-0">
            <hr style="margin-bottom: 40px;">
        </div>
    </div>

    <form id="registerForm"
        class="form-horizontal"
        #registerForm="ngForm"
        (submit)="hideErrors = false"
        [ngClass]="{'hide-errors': hideErrors}"
        *ngIf="!registerSuccess" novalidate autocomplete="off">

        <h1 *ngIf="!fromClient" translate>Create account</h1>

        <!-- special hack to prevent autocompletion -->
        <input type="text" style="display:none">
        <input type="password" style="display:none">
        <!-- /end of special hack -->

        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="firstName" class="text-left text-md-right control-label" translate>First name</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" trim="blur"
                       [(ngModel)]="accountInfo.firstName"
                       #firstName="ngModel"
                       id="firstName" name="firstName" maxlength="255"
                       required autocomplete="off" nxFocusMe [timeout]="500">
            </div>
            <div class="col-md-4">
                <span class="help-block input-error"
                      *ngIf="firstName.touched && firstName.errors && firstName.errors.required" translate>First name is required</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="lastName" class="text-left text-md-right control-label" translate>Last name</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" trim="blur"
                       [(ngModel)]="accountInfo.lastName"
                       #lastName="ngModel"
                       id="lastName" name="lastName" maxlength="255"
                       required autocomplete="off">
            </div>
            <div class="col-md-4">
                <span class="help-block input-error"
                      *ngIf="lastName.touched && lastName.errors && lastName.errors.required" translate>Last name is required</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="registerEmail" class="text-left text-md-right control-label" translate>Email</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <nx-email-input
                            class="form-component"
                            name="registerEmail"
                            componentId="registerEmail"
                            [hideErrors]="hideErrors"
                            [(ngModel)]="accountInfo.email"
                            [lockEmail]="lockEmail"
                            [form]="registerForm"
                            [setFocus]="false"
                            #registerEmail="ngModel">
                    </nx-email-input>
                </div>
            </div>
            <div class="col-md-4">
                <ng-container *ngIf="registerEmail.errors">
                    <div>
                        <span class="help-block input-error"
                            *ngIf="registerEmail.touched && registerEmail.errors.required" translate>Email is required</span>
                    </div>
                    <div>
                        <span class="help-block input-error"
                            *ngIf="registerEmail.touched && registerEmail.errors.pattern" translate>Please enter a valid Email</span>
                    </div>
                    <div>
                        <span class="help-block input-error"
                            *ngIf="registerEmail.errors.alreadyExists" translate>This Email has been already registered in %CLOUD_NAME%</span>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4 justify-content-start justify-content-md-end">
                <label for="registerPassword" class="text-left text-md-right control-label" translate>Password</label>
            </div>

            <div class="col-md-4">
                <div class="input-group has-addon">
                    <nx-password-input
                            class="form-component"
                            [hideErrors]="hideErrors"
                            name="registerPassword"
                            componentId="registerPassword"
                            [(ngModel)]="accountInfo.password"
                            [form]="registerForm"
                            [component]="registerPassword"
                            #registerPassword="ngModel">
                    </nx-password-input>
                </div>
            </div>

            <div class="col-md-4">
                <nx-password-input-validation
                        [hideErrors]="hideErrors"
                        [forElement]="registerPassword"
                        [value]="accountInfo.password">
                </nx-password-input-validation>
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-md-4 col-md-4 mb-0 form-control-row">
                <nx-checkbox
                        name="accept"
                        componentId="accept"
                        [(ngModel)]="accountInfo.accept"
                        #accept="ngModel"
                        required>
                </nx-checkbox>

                <label for="accept" class="m-0" [innerHTML]="'registration.agreement' | translate"></label>
            </div>
            <div class="col-md-4">
                <div *ngIf="accept.touched && accept.errors && accept.errors.requiredError && !hideErrors">
                    <span class="help-block input-error" translate>
                        Please review and agree to the Terms and Conditions and Privacy policy in order to proceed
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-4 col-md-8 p-0 pl-md-2 mt-1">
                <nx-process-button
                        [process]="register"
                        [form]="registerForm"
                        class="float-left"
                        buttonText="{{'Create Account' | translate}}"></nx-process-button>
            </div>
        </div>
    </form>

    <nx-footer center="true"></nx-footer>
</div>
