@use "../../../../styles/theme_variables" as *;

.active {
    position: relative;
    color: var(--brand-core);
    & > a {
        color: var(--brand-core) !important;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 16px;
        right: 16px;
        border-bottom: 2px solid var(--brand-core);
    }
}

.tab-link {
    height: 100%;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
        background: $light2;
        border-bottom: 1px solid $light5;
    }
    &:active {
        background: $light3;
        border-bottom: 1px solid $light6;
    }
    & > * {
        font-family     : $font-family-medium;
        color           : $font-color-medium;
        font-size       : $h6-font-size;
        text-decoration : none;
        white-space     : nowrap;
        line-height     : 46px;
    }

}
