@use '../../../../styles/theme_variables';
@import './tabs.component.scss';

.active {
    position: relative;
    color: theme_variables.$additional_light1;
    background: theme_variables.$dark12;
    border: 1px solid theme_variables.$dark11 !important;
    &:hover {
        background: theme_variables.$dark13;
        border: 1px solid theme_variables.$dark12 !important;
    }
    &:active {
        background: theme_variables.$dark12;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 16px;
        right: 16px;
        border-bottom: 2px solid transparent;
    }
}

.tab-link {
    &:hover {
        background: theme_variables.$dark15;
        border-bottom: 1px solid transparent;
    }
    &:active {
        background: theme_variables.$dark13;
        border-bottom: 1px solid transparent;
    }
    & > * {
        color: theme_variables.$additional_light1 !important;
    }
}