@use "../../../../styles/theme_variables_common";
@import "./tabs.component.scss";

.active {
    position: relative;
    color: theme_variables_common.$additional_light1;
    & > a {
        cursor : default;
        color : theme_variables_common.$additional_light1 !important;
    }
    background: theme_variables_common.$dark12;
    border: 1px solid theme_variables_common.$dark11 !important;
    &:hover {
        background : theme_variables_common.$dark12 !important;
        border     : 1px solid theme_variables_common.$dark11 !important;
    }
    &:active {
        background: theme_variables_common.$dark12;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 16px;
        right: 16px;
        border-bottom: 2px solid transparent;
    }
}

.tab-link {
    &:hover {
        background: theme_variables_common.$dark15;
        border: 1px solid transparent;
    }
    &:active {
        background: theme_variables_common.$dark13;
        border: 1px solid transparent;
    }
    & > * {
        color: theme_variables_common.$additional_light1 !important;
    }
}
