@use "bootstrap_utils" as bootstrap;
@use "../../../styles/mixins" as *;

:host {
    .menu {
        background-color : var(--light5);
        padding          : .5rem 0 0;

        .menu-level-2 {
            border-radius : 2px;
        }
    }

    .right-menu {
        position : absolute;

        @include bootstrap.media-breakpoint-down(md) {
            position : inherit;
        }
    }

    a {
        cursor : pointer;
    }

    .add-ellipsis {
        @include ellipsis;
    }

    .card--body-info .section img {
        overflow : hidden;
    }

    #info- {
        &support-, &developer- {
            &email, &name, &url, &phone, &terms {
                word-break : break-word;
                hyphens    : auto;
            }
        }
    }

    .platform-icons {
        svg-icon {
            margin-right: 4px;
        }
    }
}
