@use "_theme_variables_common" as *;
@use "css-variables/native-theme/theme_palette" as *;
@use "css-variables/theme_palette" as *;
@use "css-variables/theme_variables" as *;
@import "@angular/cdk/overlay-prebuilt.css";
@import "theme_variables_light";
@import "theme_variables_dark";
@import "theme_variables_dark_gray";
@import "theme_variables_light_gray";
@import "theme_variables_hsl";


nx-app {
    .mainContainer {
        background-color: var(--body-bg);
        &.withFooter {
            padding-bottom: 16px;
        }
    }

    .altMainBackground {
        background-color: var(--alt-body-bg) !important;
    }

    .placeholder {
        background-color: transparent;

        &.page {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
