<h1>Hola, {{message.userFullName}}</h1>

<p>Recibió este mensaje porque usted u otra persona solicitó restablecer su contraseña para una cuenta %CLOUD_NAME%.</p>
<p>Si no lo solicitó, infórmenos inmediatamente contactando a soporte.</p>

<a class="btn" href="{{config.portal_url}}/authorize/restore_password/{{message.code}}">Restablecer contraseña</a>

<p class='disclaimer'>
Este enlace de restablecimiento de contraseña es válido por 24 horas. <br> No comparta el mensaje o el enlace con nadie.
</p>
