<h1>Hay una nueva versión para {{ message.asset }} ({{ message.asset_type }}) para revisar</h1>
<p>Haga clic en el vínculo para revisar el borrador {{ message.id }} para {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/change/">Revisar Versión</a>
<h4>En esta página puedes</h4>
<ul>
	<li>Crea una vista previa para ver los cambios más recientes.</li>
	<li>Publique esta versión que actualizará todo el contenido.</li>
	<li>Edit contexts by clicking on the edit record button.<br>
		To see those changes you will need to create a new version</li>
</ul>
