.close {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    content: ' ';
    height: 16px;
    width: 1px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
