@use "../theme_variables_common" as common;
@use "./typography";

a {
    color: var(--anchor-color);
    text-decoration: underline;

    &:hover {
        color: var(--anchor-hover-color);
        text-decoration: underline;
    }

    &.disabled {
        /* Make the disabled links grayish*/
        color: gray;
        /* And disable the pointer events */
        pointer-events: none;
    }
}
a[data-escape-global-style] {
    color: unset;
    text-decoration: unset;
    &:hover {
        color: unset;
        text-decoration: unset;
    }
    &.disabled {
        color: unset;
        pointer-events: unset;
    }
}

// since we use specific fonts <b> and <strong> have no effect on "roboto-regular"
b:not([data-escape-global-style]),
strong:not([data-escape-global-style]) {
    font-family: var(--font-family-bold)  !important;
}

.h2 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.h3 {
    margin-top: (common.$line-height-computed * 0.5);
    margin-bottom: (common.$line-height-computed * 0.25);
}

.label {
    font-family: var(--font-family-regular);
    font-size: var(--font-size-base);
    color: var(--label-color);
    line-height: 1rem;

    &.disabled-input-label {
        color: var(--label-disabled-color);
        opacity: .4;
        cursor: default;
    }
}

p {
    margin-bottom: 0.5rem;
}

p[data-escape-global-style] {
    margin-bottom: unset;
}

svg {
    pointer-events: none;

    .icon-with-fill {
        fill: var(--svg-std-icon-fill);
        stroke: none;
    }

    .icon-with-stroke {
        fill: none;
        stroke: var(--svg-std-icon-fill);
    }
}

svg-icon[data-escape-global-style] svg {
    pointer-events: unset;

    .icon-with-fill {
        fill: unset;
        stroke: unset;
    }

    .icon-with-stroke {
        fill: unset;
        stroke: unset;
    }
}
