@use "_theme_variables_common" as *;
@use "bootstrap_utils" as bootstrap;
@use "sass-rem/rem" as sass-rem;

.form-horizontal {
    .form-group {
        display: flex;
        margin-bottom: 0.5rem;

        @include bootstrap.media-breakpoint-down(sm) {
            margin-bottom: 1rem;
        }

        &>div {
            display: flex;
            align-items: center;
            float: left;
        }
    }

    .control-label {
        float: left;
        text-align: right;
        margin-bottom: 0;

        @include bootstrap.media-breakpoint-down(sm) {
            margin-bottom: .5rem;
        }
    }

    .help-block {
        display: flex;
    }

    .badge {
        font-family: var(--font-family-bold);
        font-size: var(--font-size-xsm);
        line-height: sass-rem.rem(13px);
        padding: .2em .6em .3em;
    }
}
