@use 'typography';

label:not([data-escape-global-style]) {
    @include typography.regular13nocolor;
    color: var(--label-color) !important;
    line-height: 16px;
    margin-bottom: 8px;

    &.disabled-input-label {
        color: var(--label-disabled-color) !important;
        opacity: .4;
        cursor: default;
    }
}
