//@use "theme_variables" as *;

/* The emerging W3C standard
   that is currently Firefox-only */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: initial;
	height: auto;
	background-color: var(--scrollbar-thumb-bg);
	// fixes dropdown bug ... overwrite elsewhere
	border: 2px solid var(--scrollbar-thumb-border-color);
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: initial;
	-webkit-border-radius: initial;
	border-radius: initial;

	background-color: var(--scrollbar-thumb-border-color);
}