@use "typography" as *;
// @import '../../native-theme/theme_palette';
// @import '../../custom/custom_palette';
// @import 'styles/theme_palette';
// @use 'theme_variables_common' as variables;

.nx-table, .nx-new-table {
    table-layout: auto;
    white-space: nowrap;
    margin-bottom: 0;

    thead {
        background-color: var(--card-header-bg);
        border-bottom: 1px solid var(--border-color);

        th {
            @include medium13nocolor;
            color: var(--card-header-text) !important;
            //display        : inline-block;
            white-space: normal;
            padding: .5rem 0;
            font-weight: 500 !important;
            text-transform: none;
            overflow-wrap: break-word;
            cursor: pointer;
            border: none;

            &:first-of-type {
                padding-left: .5rem;
            }

            &.table-title {
                @include regular24dark9;

                .text-placeholder {
                    color: var(--text-placeholder-color);
                    font-size: 1.25rem;
                }
            }

            .caption {
                position: relative;
                height: 2rem;

                .sort-dir {
                    top: 0;
                    right: auto;
                    position: relative;
                    bottom: 0;

                    &:after {
                        content: " ";
                    }

                    &.asc {
                        &:after {
                            content: "+";
                        }
                    }
                }
            }
        }
    }

    tbody {
        background-color: var(--card-body-bg);

        tr {
            //display: block;
            height: rem(24px);

            &:hover {
                background-color: unset !important;

                td {
                    color: var(--card-header-text) !important;;
                    background: var(--table-row-hover-bg);
                }
            }

            &.spacer {
                height: .5rem;
                background-color: var(--card-body-bg);
            }

            td {
                @include regular13nocolor;
                color: var(--label-color) !important;
                display: table-cell;
                vertical-align: middle;
                padding: rem(4px) 1rem rem(4px) 0;
                line-height: 1rem;
                border: none;

                &:first-of-type {
                    padding-left: .5rem;
                }

                svg {
                    float: right;

                    .st0 {
                        fill: var(--input-color) !important;
                    }
                }
            }
        }
    }

    &-header {
        @include regular13dark9;
        color: var(--card-header-text) !important;
        padding: 0.5rem 1rem;
        background-color: var(--card-header-bg);
        border: 1px solid var(--border-color);
        border-bottom: none;
        line-height: 16px;
        text-transform: none;
        overflow-wrap: break-word;

        .results {
            @include medium13dark9;
            font-weight: 500 !important;
            line-height: 16px;
        }
    }
}

.nx-new-table {
    thead tr th:nth-child(2) {
        padding-left: 25px;
    }

    tbody tr {
        position: relative;

        td {
            position: relative;
            color: var(--input-color) !important;
            vertical-align: top;

            &:first-of-type {
                width: 50px;
            }

            &:last-of-type {
                width: 200px;
            }

            &:nth-child(2) {
                padding-left: 25px;

                svg-icon {
                    position : absolute;
                    left: 0;
                    top : 10px;
                    transform: rotate(-90deg);
                }

                &.expanded svg-icon {
                    transform: none;
                }
            }

            &:not(:has(> div)) {
                padding-top: 12px;
            }

            div.td-container {
                line-height: 2rem;
                position: relative;

                svg {
                    position: absolute;
                    right: 16px;
                    top: 4px;
                }
            }
        }
    }
}

.table-wrapper {
    overflow-x: scroll;
    box-shadow: none;
    border: 1px solid var(--border-color);
    background-color: var(--body-bg);

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-thumb-border-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-bg);
        border: 2px solid var(--scrollbar-thumb-border-color) !important;
    }
}