@use "sass-rem/rem" as sass-rem;
@use "theme_variables_common" as common;
@use "typography";

h1:not([data-escape-global-style]),
h2:not([data-escape-global-style]) {
    @include typography.font-source(var(--font-family-medium), var(--h1-font-size));
    color: var(--h1);
    margin-top: common.$line-height-computed;
    margin-bottom: common.$line-height-computed;
    padding: 0;
    display: flex;
    align-items: center;
}

.old-h12 {
    @include typography.font-source(var(--font-family-light), sass-rem.rem(22px), var(--h1));
    line-height: sass-rem.rem(26px);
}

h2:not([data-escape-global-style]) {
    @include typography.font-source(var(--font-family-medium), var(--h2-font-size), var(--h2));
    margin: 0;
    padding: 0;
}

h3:not([data-escape-global-style]) {
    @include typography.font-source(var(--font-family-medium), var(--h3-font-size), var(--h3));
    margin-top: (common.$line-height-computed * 0.5);
    margin-bottom: (common.$line-height-computed * 0.25);
}

h4:not([data-escape-global-style]) {
    @include typography.font-source(var(--font-family-medium), var(--h4-font-size), var(--h4));
}

h5:not([data-escape-global-style]) {
    @include typography.font-source(var(--font-family-medium), var(--h5-font-size), var(--h5));
}

h6:not([data-escape-global-style]) {
    @include typography.font-source(var(--font-family-medium), var(--h6-font-size), var(--h6));
}

.h7 {
    @include typography.font-source(var(--font-family-regular), var(--h6-font-size), var(--h7));
}

h1>.label {
    font-size: 60%;
    vertical-align: 33%;
}

p {
    margin-bottom: 0.5rem;
}

p[data-escape-global-style] {
    margin-bottom: unset;
}

// since we use specific fonts <b> and <strong> have no effect on "roboto-regular"
b:not([data-escape-global-style]),
strong:not([data-escape-global-style]) {
    font-family: var(--font-family-bold)  !important;
}

.text-contrast {
    color: var(--text-contrast);

    &-bold {
        color: var(--text-contrast);
        font-family: var(--font-family-bold) !important;
    }
}
