@use "sass-rem/rem" as sass-rem;
@use "typography";

.old-h12 {
    @include typography.font-source(var(--font-family-light), sass-rem.rem(22px), var(--h1));
    line-height: sass-rem.rem(26px);
    font-weight: lighter;
    margin: 1rem 0;
}

.h7 {
    @include typography.font-source(var(--font-family-regular), var(--h6-font-size), var(--h7));
}

.text-contrast {
    color: var(--text-contrast);

    &-bold {
        color: var(--text-contrast);
        font-family: var(--font-family-bold) !important;
    }
}

.group-label {
    margin-bottom: 8px;
    font-family: var(--font-family-regular);
    color: var(--light16);
}

.error-label {
    @include typography.regular13nocolor;
    color: var(--error-label) !important;
}

.disabled-label {
    @include typography.regular13light10;
}

.warning-label {
    color: var(--error-label) !important;
}


.light-text {
    color: var(--light-text-color);
    opacity: var(--light-text-opacity);
    font-size: 13px;
}

.pseudo-anchor {
    color: var(--brand-core) !important;
    text-decoration: underline;
    cursor: pointer;
}
