@use "theme_variables_common";
@use "bootstrap_utils" as bootstrap;

::-moz-selection {
    /* Code for Firefox */
    color: var(--selection-text-color-override, var(--body-text-color));
    background: var(--selection-background-color-override, var(--user-selected-highlight-color));
}

::selection {
    color: var(--selection-text-color-override, var(--body-text-color));
    background: var(--selection-background-color-override, var(--user-selected-highlight-color));
}

.highlighted {
    display: inline;
    background-color: var(--search-highlight-bg);
    color: var(--search-highlight-color);
}

.brand-text {
    color: var(--brand-core) !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    line-height: initial;
}

.process-loading {
    border: none;
    box-shadow: none;
}

.border-left {
    border-left: 1px solid var(--border-color) !important;
}

.border-right {
    border-right: 1px solid var(--border-color) !important;
}

.border-top {
    border-top: 1px solid var(--border-color) !important;
}

.border-bottom {
    border-bottom: 1px solid var(--border-color) !important;
}

.light-color {
    color: theme_variables_common.$gray-light;
}

.preloader {
    display: none;
}

@include bootstrap.media-breakpoint-up(md) {
    .flex-md {
        display: flex;
        align-items: stretch;
    }

    .border-left-md {
        border-left: 1px solid var(--border-color) !important;
    }
}
