@use "theme_variables_common" as *;


[data-whatintent="mouse"] *:not([data-escape-global-style]):focus:not(input:active):not(input:focus):not(select:active):not(select:focus) {
    outline: none !important;
}

[data-whatintent="keyboard"] .btn.btn-primary:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-primary-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: var(--btn-primary-focus-shadow) !important;
}

[data-whatintent="keyboard"] .btn.btn-danger:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-danger-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: var(--btn-danger-focus-shadow) !important;
}

[data-whatintent="keyboard"] .dot-menu:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-default-clear:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-dropdown-toggle:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-default:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] a.btn.badge:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] div[tabindex]:focus:not([disabled]):not(.disabled):not([data-escape-global-style]) {
    outline: 2px solid var(--btn-default-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: var(--btn-default-focus-shadow) !important;
}


[data-whatintent="keyboard"] a:focus:not([disabled]):not(.btn):not(.disabled):not(.alternative):not([data-escape-global-style]) {
    outline: none !important;
    @include outline;

    &.inset {
        @include inset-outline;
    }
}

[data-whatintent="keyboard"] .nav-tabs .nav-item a:focus {
    @include inset-outline;
}

[data-whatintent="keyboard"] .tab-list .tab-item a:focus {
    @include inset-outline;
}

[data-whatintent="keyboard"] *:not([data-escape-global-style]):focus-visible {
    outline: none !important;
}
