[data-whatintent="keyboard"] .btn.btn-primary:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-primary-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: var(--btn-primary-focus-shadow) !important;
}

[data-whatintent="keyboard"] .btn.btn-danger:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-danger-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: var(--btn-danger-focus-shadow) !important;
}

[data-whatintent="keyboard"] .dot-menu:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-default-clear:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-dropdown-toggle:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-default:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] a.btn.badge:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-default-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: var(--btn-default-focus-shadow) !important;
}
