@use "theme_variables_common" as *;


[data-whatintent="mouse"] *:focus:not(input:active):not(input:focus):not(select:active):not(select:focus) {
    outline: none !important;
}

[data-whatintent="keyboard"] .btn.btn-primary:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-primary-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px var(--btn-primary-focus-shadow) !important;
}

[data-whatintent="keyboard"] .btn.btn-danger:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-danger-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px var(--btn-danger-focus-shadow) !important;
}

[data-whatintent="keyboard"] .btn.btn-default-clear:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-dropdown-toggle:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] .btn.btn-default:focus:not([disabled]):not(.disabled),
[data-whatintent="keyboard"] a.btn.badge:focus:not([disabled]):not(.disabled) {
    outline: 2px solid var(--btn-default-focus-outline-rgb) !important;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px var(--btn-default-focus-shadow) !important;
}


[data-whatintent="keyboard"] a:focus:not([disabled]):not(.btn):not(.disabled):not(.alternative) {
    outline: none !important;
    @include outline;

    &.inset {
        @include inset-outline;
    }
}

[data-whatinput="keyboard"] input:focus,
[data-whatinput="keyboard"] input:active {
    border-color: var(--input-focus-border-color) !important;
    outline: 1px solid var(--input-focus-border-color) !important;
    outline-offset: 0;
    box-shadow: 0 0 0 2px var(--input-focus-shadow-color) !important;

    &.inset {
        @include inset-outline;
    }
}

[data-whatinput="keyboard"] input[type=checkbox]:focus:not([disabled]):not(.disabled) {
    &+.checkmark {
        outline: none !important;
        @include outline;
    }

    &+.check {
        outline: none !important;
        @include outline;
    }

    &+.tick {
        outline: none !important;
    }
}

[data-whatinput="mouse"] input[type=checkbox]:focus:not([disabled]):not(.disabled) {
    &+.tick {
        svg .focus {
            stroke: transparent !important;
        }
    }
}

[data-whatinput="keyboard"] input[type=radio]:focus:not([disabled]):not(.disabled) {
    &+.checkmark {
        outline: none !important;
        @include outline;
    }

    &+.check {
        outline: none !important;
    }
}

[data-whatinput="mouse"] input[type=radio]:focus:not([disabled]):not(.disabled) {
    &+.check {
        svg .circle-focus {
            stroke: transparent !important;
        }
    }
}

[data-whatintent="keyboard"] .nav-tabs .nav-item a:focus {
    @include inset-outline;
}

[data-whatintent="keyboard"] .tab-list .tab-item a:focus {
    @include inset-outline;
}