<div class="timeline">
  <div class="left-controls" *ngIf="timelineController">
    <div class="zoom-buttons">
      <div
        class="zoom-button zoom-in"
        [ngClass]="{ disabled: zoomInDisabled }"
        (mousedown)="startZooming(1)"
        (mouseup)="stopZooming()"
        (mouseleave)="stopZooming()"
      ></div>
      <div
        class="zoom-button zoom-out"
        [ngClass]="{ disabled: zoomOutDisabled }"
        (mousedown)="startZooming(-1)"
        (mouseup)="stopZooming()"
        (mouseleave)="stopZooming()"
      ></div>
    </div>
  </div>
  <div class="canvas-container">
    <nx-timeline-scroll-button
      *ngIf="timelineController"
      direction="left"
      [controls]="timelineController.rangerControls.scroll"
      [isActive]="!timelineController.rangerStatus.scroll.isMin"
    ></nx-timeline-scroll-button>
    <nx-timeline-scroll-button
      *ngIf="timelineController"
      direction="right"
      [controls]="timelineController.rangerControls.scroll"
      [isActive]="!timelineController.rangerStatus.scroll.isMax"
    ></nx-timeline-scroll-button>
    <div *ngIf="archiveRequestFailed" class="no-archive-message">No Records Archive Available</div>
    <canvas id="timeline-canvas" (click)="onCanvasClick($event)"></canvas>
  </div>
  <nx-archive-playback-indicator
    *ngIf="timelineController"
    [display]="isPlayingArchive || awaitsVideoLoading"
    [playbackPositionAbsolute]="playbackPositionAbsolute"
    [visibleRange]="timelineController.visibleRange"
    [fullRange]="timelineController.fullRange"
    [canvas]="canvas"
  ></nx-archive-playback-indicator>
  <div class="right-controls">
  </div>
</div>
