<div class="system-button card card-condensed hoverable">
    <div
        class="card-body"
        (click)="openSystem()"
    >
        <h2
            class="old-h12 d-block"
            [innerHTML]="system.name | unsafe | highlight: search"
        ></h2>
        <span
            class="system-owner user-name"
            [innerHTML]="getSystemOwnerName() | unsafe | highlight: search"
        ></span>
        <div class="system-list-bottom-bar">
            <div class="system-status">
                <nx-tag
                    [clickable]="false"
                    [type]="tagType"
                    *ngIf="canShowTag()"
                >
                    <ng-container>{{ systemState }}</ng-container>
                </nx-tag>
                <svg-icon
                    [ngClass]="{
                        'margin-system-list-status': canShowTag()
                    }"
                    *ngIf="needToConfigureTwoFactor()"
                    nx-add-svg-src
                    [src]="CONFIG.icons.dir + 'lock.svg'"
                    [svgStyle]="{ 'height.px': '20' }"
                    [applyClass]="true"
                ></svg-icon>
            </div>
        </div>
    </div>
    <div
        class="three-dots"
        (click)="menuOpen = !menuOpen"
        (nxClickElsewhere)="menuOpen = false"
    >
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div
            *ngIf="menuOpen"
            class="card-menu"
        >
            <div
                *ngIf="!openClient.processing"
                (click)="openClient.run()"
                class="card-menu-option"
                translate
            >
                Open in %VMS_NAME%
            </div>
            <div
                *ngIf="openClient.processing"
                class="card-menu-option no-hover"
                translate
            >
                Opening %VMS_NAME%...
            </div>
            <!-- eslint-disable-next-line nx/template/no-untranslated -->
            <div class="card-menu-option">Another system menu option</div>
        </div>
    </div>
</div>
