@use "../../../../styles/theme_variables_common" as *;

.dropdown {
    height: 42px;
    margin: 3px 0;
    position: relative !important;
    &-menu {
        padding-bottom : 4px;
    }
    
    .dropdown-toggle {
        padding-right    : 32px !important;
        padding-left     : 14px !important;

        &::after {
            border : none;
        }
    }

    & > button {
        border: 1px solid transparent;
        height: 100% !important;
        border-radius: 4px;
    }

    &.show {
        & > button {
            background: $light3 !important;
            border: 1px solid $light4;
            &:hover {
                background: 1px $light4 !important;
                border: 1pxsolid $light5;
            }
            &:active {
                background: $light5 !important;
                border: 1px solid $light6;
            }
        }
    }

    & > .popup.arrow.up {
        top: calc(100% - 8px) !important;
        left: calc(50% - 8px) !important;
        border-bottom-color: $light6 !important;
        transform: translateY(3px);
        z-index: 5000 !important;
        &::after {
            border-bottom-color: $additional_light1 !important;
        }
    }
}

.hide-dropdown {
    opacity: 1 !important;
    padding-right: 14px !important;
    &:hover {
        background: transparent !important;
    }
}

.arrow-flip svg-icon {
    pointer-events: none;
    position: absolute;
    bottom: 10px;
    right: 8px;
}

.width-override {
    @media screen and (max-width: 420px){
        width: 100vw !important;
    }
}

#nav-sub-menu-dropdown {
    margin: -8px -24px -8px -8px;
    padding: 8px 24px 8px 8px;
}
