@use '../../../../styles/theme_variables';
@import './nav-dropdown.component.scss';

.dropdown {
    color: theme_variables.$additional_light1 !important;
    & button > {
        color: theme_variables.$additional_light1 !important;
    }
    &:not(.show) {
        & > button {
            background: theme_variables.$dark14 !important;
            color: theme_variables.$additional_light1 !important;
            border: 1px solid transparent !important;
            &:hover {
                background: theme_variables.$dark15 !important;
            }
            &:active {
                background: theme_variables.$dark13 !important;
            }

        }
    }
    &.show {
        & > button {
            color: theme_variables.$additional_light1 !important;
            border: 1px solid theme_variables.$dark11 !important;
            background: theme_variables.$dark12 !important;
            border: 1px solid theme_variables.$dark11 !important;
            &:hover {
                background: 1px theme_variables.$dark13 !important;
                border: 1px solid theme_variables.$dark12 !important;
            }
            &:active {
                background: theme_variables.$dark12 !important;
                border: 1px solid theme_variables.$dark11 !important;
            }

        }
    }

    #nav-sub-menu-dropdown {
        & span {
            background: theme_variables.$additional_light1 !important;
        }
    }

    svg-icon {
        bottom : 10px !important;

        #Path-2-Copy {
            stroke : theme_variables.$additional_light1 !important;
        }
    }
}
