<div class="dropdown"
     [ngClass]="{'header-nav-show': show, show: show}"
     (click)="dropdownNode && headerService.handleNav(dropdownNode, $event)"
     (nxClickElsewhere)="show = false">

    <button class="inset btn-dropdown-toggle dropdown-toggle-transparent dropdown-toggle position-relative"
        #dropDownButton
        [disabled]="hideDropdown"
        [ngClass]="{'hide-dropdown': hideDropdown}"
        type="button" id="activeSystemDropdown" data-toggle="dropdown">
        {{name}}
        <div *ngIf="!hideDropdown" id="nav-sub-menu-dropdown" class="arrow-flip" (click)="dropdownNode && $event.stopPropagation();updateOffset(); show = !show;">
            <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirTextButtons + 'arrow_expand.svg'"></svg-icon>
        </div>
    </button>
    <div *ngIf="show" class="popup arrow up"></div>
    <ul class="dropdown-menu width-override"
        *ngIf="!hideDropdown"
        [style.display]="show ? 'inline-block' : 'none'"
        [style.transform]="'translateX(' + offset + 'px)'"
        aria-labelledby="navLocationDropdown"
        [nxArrowNav]="show">
        <li *ngFor="let node of nodes" class="dropdown-item-container">
            <a class="dropdown-item inset"
               *ngIf="!node.new_window"
               [ngClass]="{ 'selected': node.url === path}"
               [routerLink]="node.url"
               (click)="headerService.handleNav(node, $event);$event.preventDefault();hide()">
               <span>{{node.name}}</span></a>
        </li>
    </ul>
</div>
