@use "../../../../../styles/theme_variables_common" as *;
@use "../../../../components/tag/tag.component" as *;
@use "../../../../styles/typography";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/breakpoints";

nx-cam-table {
    .table-scroll-fixed {
        position : fixed;
        top      : 48px + 16px; // header + padding

        @include media-breakpoint-up(md) {
            // calculate 7 columns grid to fit fixed positioned table
            width : calc(((100% - (#{$grid-gutter-width} * 2)) / 12.16 * 7));
        }

        @include media-breakpoint-up(xl) {
            // calculate 8 columns grid to fit fixed positioned table
            width : calc(((100% - (#{$grid-gutter-width} * 2)) / 10.76 * 8));
        }
    }

  .nx-table-wrapper {
    margin-bottom: 40px;

    .csv {
      float : right;
      margin-top : 24px;

      @include media-breakpoint-down(md) {
        width         : 100%;
        margin-top    : 0;
        margin-bottom : 1rem;
      }
    }

    .nx-table {
      min-width : 1045px;

      .table-row-spacer {
        height        : 4px;
        border-bottom : 8px solid var(--card-body-bg);
      }

      thead {
        th {
          // @include typography.medium11;
          padding          : .5rem 0;
          font-weight      : 500 !important;
          text-transform   : none;
          overflow-wrap    : break-word;
          cursor           : pointer;
          border           : none;

          &:first-of-type {
            padding-left : .5rem;
          }

          &.table-title {
            @include typography.regular24dark9;

            .text-placeholder {
              font-size : 1.25rem;
              color     : var(--light16);
            }
          }

          .caption {
            @include typography.medium13light;
            position : relative;
            height   : 2rem;
            overflow-wrap : initial;
            overflow      : hidden;
            text-overflow : ellipsis;

            .sort-dir {
              //top: 0;
              right    : auto;
              position : relative;
              bottom   : 0;
            }
          }

          .arrow-flip {
            height : 20px !important;
            width  : 20px !important;

            svg-icon {
              width  : 20px;
              height : 20px;
              left   : 0;
              top    : 2px;
            }
          }
        }
      }

      tbody {
        tr {
          min-height : 24px;

          &.selected, &:active, &:focus {
            td {
              color : var(--light1) !important;
              background-color : var(--light16);

              .icon-negative {
                color : var(--light1);
              }
            }
          }

          td {
            padding      : 4px 4px 4px 0;
            line-height  : 1rem;
            border       : none;

            &:first-of-type {
              padding-left : .25rem;
            }
          }
        }
      }

      //&-header {
      //  @include typography.regular13;
      //  padding          : 0.5rem 1rem;
      //  background-color : var(--additional_light1);
      //  border           : 1px solid var(--light3);
      //  border-bottom    : none;
      //  line-height      : 16px;
      //  text-transform   : none;
      //  overflow-wrap    : break-word;
      //
      //  .results {
      //    @include typography.medium11;
      //    font-weight : 500 !important;
      //    line-height : 16px;
      //  }
      //}
    }

    .pagination-nav {
      display: inline-flex;
      flex-direction: column;

      /*** overwrite bootstrap pagination style ***/
      .pagination {
        margin : 0;

        .page-item {
          cursor: pointer;
          margin: 0 3px;
          height : auto;

          &:first-of-type {
            margin-left : 0;
          }

          .page-link {
            @include typography.regular13light;
            background-color: var(--light4);
            border-radius: 2px;
            height: 32px;
            padding: 0 12px;
            text-decoration : none;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;

            &:hover {
              background-color: var(--light5);
            }

            &[aria-label="Previous"] {
              span {
                display: none;
              }
              &:after {
                content: "Previous";
              }
            }
            &[aria-label="Next"] {
              span {
                display: none;
              }
              &:after {
                content: "Next";
              }
            }
          }

          &.active .page-link {
            color: var(--light1) !important;
            background-color: var(--light16);
            border-color: var(--light16);
          }

          &.disabled .page-link {
            cursor: default;
            background-color: rgba(var(--light6--rgb), 0.2);
            color: rgba(var(--dark9--rgb), 0.3) !important;
          }
        }
      }
    }
  }

  .vendor {
    @include media-breakpoint-down(md) {
      background-color: var(--light4);
    }
  }
}

