<!-- Templates -->
<ng-template #preloader>
    <nx-pre-loader></nx-pre-loader>
</ng-template>

<ng-template #toolBlock let-tool="tool">
    <div class="card hoverable tool-card" (click)="headerService.handleNav({url: tool.url, new_window: tool.newWindow})">
        <header>
            <!-- Not sure what default icon should be used if there isn't one defined in the cms -->
            <svg-icon nx-add-svg-src [src]="CONFIG.icons.devTools + tool.icon"></svg-icon>
        </header>
        <div class="tool-detail">
            <h3>{{tool.title}}</h3>
            <p>{{tool.asset?.shortDescription}}</p>
        </div>
    </div>
</ng-template>

<ng-template #blocks let-noMargin="noMargin">
    <div class="detail-blocks" [ngClass]="noMargin ? '' : 'stand-alone-blocks'">
        <ng-container *ngFor="let tool of devToolsNode.nodes">
            <ng-container *ngTemplateOutlet="toolBlock;context{tool:tool}"></ng-container>
        </ng-container>
    </div>
</ng-template>
<!-- End of Templates -->

<ng-container *ngIf="devToolsNode; else preloader">
    <section *ngIf="devToolsNode.title;else blocks" class="dev-tools">
        <h2 class="heading-link" [routerLink]="devToolsNode.url">{{devToolsNode.title}}</h2>
        <ng-container *ngTemplateOutlet="blocks;context{noMargin:true}"></ng-container>
    </section>
</ng-container>