.section-table-wrapper {
    @media screen and (max-width: 768px) {
        overflow-x : scroll;
    }

    table {
        grid-template-columns : 120px 100px 100px 100px auto;
        min-width             : 768px !important;

        .table-row-spacer {
            grid-column-end : span 5;
        }
    }
}
