@font-face {
  font-family: Roboto;
  src: url('/fonts/roboto/roboto_light/Roboto-Light-webfont.woff');
}

#header {
    height: 40px !important;
    line-height: 40px !important;
    display: block !important;
}

#header #branding h1{
    text-indent: unset !important;
    background: none !important;
    width: unset !important;
}

#header, .breadcrumbs {
    background: #212A2F !important;
}

#changelist #toolbar form #searchbar{
    height: 26px;
}

.dashboard-module h2{
    height: initial;
    font-size: initial;
    background: #35464F !important;
    color: #FAFBFC !important;
}

.dashboard-module-content h3{
    height: initial;
    font-size: initial;
}

.dashboard-module h3{
    background: #E1E7EA;
}

.jumbotron{
    text-align: center;
}

.text-danger{
    color: red !important;
}

.results tr {
    height: 40px !important;
}
.results tr > td, tr > th {
    vertical-align: middle;
    padding: 8px !important;
}

td a.btn {
    color:white !important;
    text-decoration:none !important;
    background-color: #35464F;
}

button.btn-danger > a{
    color: #FAFBFC !important;
}

img.default-background{
    background-image: url('/static/cms_images/transparent_bg.png');
}

img.black {
    background-color: black;
}

img.white {
    background-color: white;
}

img.dark {
    background-color: #212a2f;
}

img.light {
    background-color: #fafbfb;
}

.placeholder-image{
    opacity: 0.5;
}

.context-preview{
    max-height: 400px;
    max-width: 400px;
    margin-bottom: 6px;
}

.review-preview{
    max-height: 200px;
    max-width: 200px;
}

.truncate-email{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}

.truncate-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95px;
}

.submit-row input[type=checkbox]{
    margin-top: -1px !important;
}

.submit-row a.btn-danger {
    color: #fff !important;
}

.submit-row a.btn-default {
    color: #333 !important;
}

.module h2 {
    background: #35464F;
}

.custom-block {
    margin-bottom: 60px !important;
}

.show-html{
    word-wrap : break-word;
    overflow-y: scroll;
    max-height: 350px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

.disabled-row{
    background-color: lightgray;
}

.ml-160 {
    margin-left: 160px !important;
}

.position-relative {
    position: relative;
}

.nodots {
    padding-left: 0 !important;
}
.nodots > li {
    list-style-type: none;
}

.button.cancel-link {
    font-size: 14px;
    height: 40px !important;
    line-height: 20px !important;
}

.muted {
    opacity: 0.7;
}

.preview-html h1,
.preview-html h2,
.preview-html h3,
.preview-html h4,
.preview-html h5,
.preview-html h6 {
    all: initial;
    opacity: inherit;
    font-weight: 100;
    line-height: 1.2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
}

.preview-html h1, .preview-html h2 {
    margin: 16px 0 0 0;
    padding: 0;
    font-size: 22px;
    font-family: Roboto;
    color: #2B383F;
}

.tooltip-inner {
  max-width: 500px;
}

.mce-placeholder {
    pointer-events: none;
    position: absolute;
    top: 2px;
    left: 0;
    padding: .25% !important;
    margin: 5px !important;
    width: 80% !important;
    overflow: hidden;
    white-space: pre-wrap !important;
    float: unset !important;
}

.defaultSkin * {
    color: #aaaaaa !important;
}

.nested-menu-items {
    padding: 10px 0 10px 50px !important;
}

.nested-object-name {
    height: auto !important;
    font-size: 12px !important;
}

.djn-table td {
    padding: 8px;
}
.inline-related .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.inline-related .toggle-collapse {
    padding-top: 10px !important;
    cursor: pointer;
}

.inline-related .toggle-collapse:after {
    font-family: 'Glyphicons Halflings';
    content: "\e259";
    position: absolute;
    left: 10px;
}

.inline-related .toggle-collapse.no-children:after {
    color: lightgray;
}

.inline-related .toggle-collapse.collapsed:after {
    content: "\e258";
}

.inline-related .djn-drag-handler {
    margin-top: 4px;
}

.inline-related td {
    padding-top: 6px !important;
    padding-bottom: 2px !important;
}

.inline-related .nested-counter {
    position: relative;
    padding-left: 23px;
}

.enable-all-button {
    display: block;
    margin-bottom: 4px;
}

.slidingContainer {
    display: flex;
    flex-direction: row;
}

.slidingContainer .previewFrame, .inlineFrame {
    min-height: 500px;
}

#inlineErrorHelper:not(.errorHelperText) {
    display: none;
}

.errorHelperText {
    margin-top: 8px;
    color: red;
}

#menuPreviewErrors {
    float: left;
    margin-bottom: 16px;
}

.errorBlock {
    margin: 8px 16px;
    padding: 4px 24px;
    color: white;
    background: red;
    border-radius: 4px;
    text-align: center;
    border: 2px solid #3f545f;
}

.split {
    flex-grow: 1;
}

.split iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gutter {
    background-color: black;
    background-repeat: no-repeat;
    background-position: 50% 50vh;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.sort-links {
    margin-top: 10px;
}

.sort-links .selected {
    font-weight: bold;
}

.submit-row, .breadcrumbs, .object-tools {
    position: sticky;
    z-index: 10;
}

.submit-row {
    bottom: 8px;
    background: #E1E7EA !important;
    border: 1px solid #999 !important;
    overflow: unset !important;
}

.breadcrumbs{
    top: 0;
}

.object-tools {
    top: 6px;
}

#download-button {
    color: white;
}

.progress-bar.custom-download-transition {
    transition: width 1s linear;
}

#preparing-package {
    backdrop-filter: blur(1px) brightness(.9);
}

.state-label {
    color: white !important;
}

.messagelist {
    position: sticky;
    top: 40px;
}

#preview-select-label {
    text-align: center;
    padding: 8px 16px;
}

#async-status-info {
    position: relative;
    display: block !important;
    background: #dfd;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.status-loader {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

#status-glpyh {
    margin-left: -16px;
    margin-right: 8px;
}

.radio-hint {
    font-weight: normal;
    font-style: italic;
    color: lightcoral;
}


.mt-2 {
    margin-top: .5em !important;;
}
