<div class="state-container">
    <div
        class="state-container--title"
        translate
    >
        It will help to identify or find System.
    </div>
    <div class="state-container--body">
        <input
            #currentName="ngModel"
            id="currentName"
            name="currentName"
            class="form-control"
            [(ngModel)]="systemName"
            required
            nxFocusMe
            [setFocus]="true"
        />
        <div style="height: 16px; margin-top: 4px">
            <div
                class="input-error"
                *ngIf="currentName.errors?.required"
                translate
            >
                System name is required
            </div>
        </div>
        <a
            class="additional-action-link"
            (click)="advancedSettings()"
            translate
            >Advanced system settings</a
        >
    </div>
</div>
