<div class="state-container">
    <div
        class="state-container--title"
        translate
    >
        It will help to identify or find System.
    </div>
    <div class="state-container--body">
        <form
            #systemNameForm="ngForm"
            name="systemNameForm"
            novalidate
        >
            <nx-mat-like-input
                componentId="currentName"
                name="currentName"
                [label]="'System Name' | translate"
                [(ngModel)]="systemName"
                [required]="true"
                [setFocus]="true"
            ></nx-mat-like-input>
        </form>
        <a
            class="additional-action-link"
            (click)="advancedSettings()"
            translate
            >Advanced system settings</a
        >
    </div>
</div>
