<!-- <nx-pre-loader *ngIf=""></nx-pre-loader> -->
<form #resetForm="ngForm" name="resetForm">
    <header>
        <h3>{{LANG.authorize.newPassHeader()}}</h3>
        <span class="sub-header" translate>For</span>
        <span class="account-email">{{loginEmail}}</span>
    </header>
    <main>
        <ng-container *ngIf="!confirm; else setNewPassword">
            <div class="col-12 col-md-7 pb-2 pb-md-0 pr-0 mr-2">
                <nx-password-input
                    name="resetPassword"
                    componentId="resetPassword"
                    [hideErrors]="false"
                    class="form-component"
                    [(ngModel)]="password"
                    [form]="resetForm"
                    [component]="resetPassword"
                    #resetPassword="ngModel">
                </nx-password-input>
            </div>
            <div class="col-12 col-md-5 d-block d-md-flex ml-md-n2 align-items-center">
                <nx-password-input-validation
                    [forElement]="resetPassword"
                    [hideErrors]="hideErrors"
                    [value]="resetPassword"
                    (updateWeakPassword)="weakPassword = $event">
                </nx-password-input-validation>
            </div>
        </ng-container>
        <ng-template #setNewPassword>
            <svg-icon nx-add-svg-src
                [src]="CONFIG.icons.dirSectionPlaceholder + 'success.svg'" 
                [svgStyle]="{'width.px': 320, 'height.px': 80}"
                [applyClass]="true"></svg-icon>
            <h3 translate>Password is set!</h3>
            <p translate>Now you may continue to log in to %CLOUD_NAME% here or elsewhere.</p>
        </ng-template>
    </main>
    <footer>
        <nx-process-button
            buttonText="{{ (confirm ? 'Log In' : 'Next') | translate }}"
            [clickFn]="sendPassword"
            [process]="confirm ? loginProcess : newPasswordProcess"
            [svg]="confirm ? '' : 'arrow_right'">
        </nx-process-button>
    </footer>
</form>