<h1>Ada versi baru untuk {{ message.asset }} ({{ message.asset_type }}) untuk ditinjau</h1>
<p>Klik link untuk meninjau draft {{ message.id }} untuk {{ message.asset }}</p>
<a class="btn" href="{{ config.portal_url }}/admin/cms/assetcustomizationreview/{{ message.id }}/ubah/">Versi Tinjauan</a>
<h4>Di halaman ini Anda bisa</h4>
<ul>
	<li>Buat pratinjau untuk melihat perubahan terbaru.</li>
	<li>Publikasikan versi ini yang akan memperbaharui semua konten.</li>
	<li>Edit konteks dengan mengklik tombol edit rekaman.<br>
		Untuk melihat perubahan tersebut, Anda perlu membuat versi baru</li>
</ul>
