<h1>Halo, {{message.userFullName}}</h1>

{{#message.sharer_name}}
<p><a href="mailto:{{message.sharer_email}}">{{message.sharer_name}}</a> telah berbagi akses ke sistem manajemen video "{{message.system_name}}" dengan Anda.

Untuk melihat dan mengelolanya, silakan buat akun di <a href="{{config.portal_url}}">%CLOUD_NAME%</a> menggunakan alamat email Anda saat ini dan ikuti instruksi selanjutnya.</p>
{{/message.sharer_name}}

{{^message.sharer_name}}
<p>Anda telah diberikan akses ke sistem manajemen video "{{message.system_name}}".

Untuk melihat dan mengelolanya, silakan buat akun di <a href="{{config.portal_url}}">%CLOUD_NAME%</a> menggunakan alamat email Anda saat ini dan ikuti instruksi selanjutnya.</p>
{{/message.sharer_name}}

<a class="btn" href="{{config.portal_url}}/authorize/register/{{message.code}}">Buat Akun</a>

