<ng-template #editMode>
    <ng-template #saveButton>
        <button class="btn btn-primary" (click)="saveSettings(); updateResourceHeading()">Save Settings</button>
    </ng-template>
    <nx-stepper [customButtonLabels]="HM_STEP_LABELS" [saveButton]="saveButton" [columns]="card.size.value.cols">
        <cdk-step>
            <!-- The cdkStepLabel could be used if you want the nx-stepper component to handle displaying the heading -->
            <!-- <ng-template cdkStepLabel>Label for use in nx-stepper component heading</ng-template> -->
            <div class="h-100">
                <h4>Select System to Monitor</h4>
                <nx-select
                    [items]="systemsDropdownItems$ | async"
                    [selected]="selectedSystem"
                    [stillLoading]="!selectedSystem"
                    (onSelected)="updateSystem($event)"
                ></nx-select>
            </div>
        </cdk-step>
        <cdk-step>
            <div class="h-100 overflow-auto">
                <h4>Select Resources to Show</h4>
                <div *ngFor="let resource of card.config.resources | keyvalue" class="d-flex mb-1">
                    <nx-checkbox [componentId]="$any(resource.key)" [(ngModel)]="$any(resource.value).value"></nx-checkbox>
                    <label class="mb-0" [for]="resource.key">
                        <span>{{$any(resource.value).name}}</span>
                    </label>
                </div>
            </div>
        </cdk-step>
        <cdk-step>
            <div class="h-100 overflow-auto">
                <h4>Select Auto Update Preferences</h4>
                <div class="mt-3">
                    <label for="autoUpdate">
                        <span>Auto Update</span>
                    </label>
                    <nx-checkbox componentId="autoUpdate" [(ngModel)]="card.config.autoUpdate"></nx-checkbox>
                </div>
                <div *ngIf="card.config.autoUpdate" class="mt-2 mb-3">
                    <label class="my-0">
                        <span>Minutes between updates</span>
                    </label>
                    <nx-numeric [min]="1" [max]="60" [(ngModel)]="card.config.updateInterval"></nx-numeric>
                </div>
            </div>
        </cdk-step>
    </nx-stepper>
</ng-template>

<ng-template #preloader>
    <nx-pre-loader [minHeight]="64"></nx-pre-loader>
</ng-template>

<ng-template #alertCounts let-source="source">
    <div *ngFor="let level of source | keyvalue" class="d-flex justify-content-between">
        <ng-template #noAlerts>
            <span>No Alerts</span>
        </ng-template>
        <ng-container *ngIf="level.key !== 'undefined'; else noAlerts">
            <span>{{LEVEL_LOOKUP[$any(level.key)] || level.key}}</span>
            <span>{{level.value}}</span>
        </ng-container>
    </div>
</ng-template>

<ng-template #byResource>
    <div class="medium-alerts">
        <div *ngFor="let resource of (medium$ | async ) | keyvalue">
            <h5>
                <a (click)="handleShowAction(resource)">{{card.config.resources[resource.key].name}}</a>
            </h5>
            <ng-container *ngTemplateOutlet="alertCounts;context{source:resource.value}"></ng-container>
        </div>
    </div>
</ng-template>

<div *ngIf="selectedSystem?.name || card.editMode; else preloader" class="hm-wrapper">
    <div *ngIf="!card.editMode; else editMode">
        <h4 [ngClass]="{'animate-rotation':loading}">
            <a (click)="handleShowAction()">{{selectedSystem?.name}}</a>
            <svg-icon nx-add-svg-src [src]="CONFIG.icons.dirTextButtons + 'reload.svg'" (click)="refreshData()"
                [svgStyle]="{'width.px': '20', 'height.px': '20', 'margin.px': '4'}" [applyClass]="true"></svg-icon>
            <span class="health-monitor-age" *ngIf="card.config.updateInterval > 1">{{healthMonitorAge ? healthMonitorAge + 'm' : 'Up to date'}}</span>
        </h4>
        <div class="resource-heading">{{resourceHeading}}</div>
        <ng-container *ngIf="!loading; else preloader">
            <ng-container [ngSwitch]="card.size.name">
                <div *ngSwitchCase="card.sizes[0].name" class="small-alerts">
                    <ng-container *ngTemplateOutlet="alertCounts;context{source:(small$ | async )}"></ng-container>
                </div>
                <div *ngSwitchCase="card.sizes[2].name">
                    <ng-container *ngTemplateOutlet="byResource"></ng-container>
                    <table cdk-table [dataSource]="large$">
                        <ng-container cdkColumnDef="resource">
                            <th cdk-header-cell *cdkHeaderCellDef>Type</th>
                            <td cdk-cell *cdkCellDef="let element"> {{element.resource}} </td>
                        </ng-container>
                        <ng-container cdkColumnDef="level">
                            <th cdk-header-cell *cdkHeaderCellDef>Level</th>
                            <td cdk-cell *cdkCellDef="let element"> {{element.level}} </td>
                        </ng-container>
                        <ng-container cdkColumnDef="message">
                            <th cdk-header-cell *cdkHeaderCellDef>Message</th>
                            <td cdk-cell *cdkCellDef="let element">
                                <a (click)="handleShowAction(element)">{{element.name}}</a>
                                &nbsp;
                                <span>{{element.message}}</span>
                            </td>
                        </ng-container>
                        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
                        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div *ngSwitchDefault>
                    <ng-container *ngTemplateOutlet="byResource"></ng-container>
                </div>
            </ng-container>
            <div *ngIf="updatingIn" class="until-update">Updating in&nbsp;{{updatingIn}}&nbsp;seconds</div>
        </ng-container>
    </div>
</div>
